/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

/* The `:not` selector ensures that the specificity is higher than the rule with
   the same selector in the pre-Next.js (i.e pre-CSS modules) global.css. */
.breachLogo:not(.email-preview img) {
  height: 1.75rem;
  display: inline-block;
}

span.breachLogo {
  line-height: 1.75rem;
  width: 1.75rem;
  border-radius: 1.75rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}
