@import "../../tokens";

.button {
  font: $text-body-md;
  font-weight: 600;
  border: 0;
  padding: $spacing-md $spacing-lg;
  border-radius: $border-radius-md;
  cursor: pointer;
  display: inline-block;
  line-height: 1;

  &.primary {
    color: $color-white;
    background-color: $color-blue-50;

    &:hover {
      background-color: $color-blue-60;
    }

    &:focus {
      outline: $boder-focus-width solid $color-blue-30;
    }

    &.destructive {
      color: $color-white;
      background-color: $color-red-60;

      &:hover {
        background-color: $color-red-70;
      }

      &:focus {
        outline: $boder-focus-width solid $color-red-30;
      }
    }

    &.small {
      padding: $spacing-sm $spacing-md;
    }
  }

  &.secondary {
    color: $color-blue-50;
    box-shadow: inset 0 0 0 2px $color-blue-50;
    background-color: transparent;
  }

  &.isLoading {
    cursor: progress;
    opacity: 0.4;
  }
}
