// This class can be used for elements in monochrome icons whose `fill` attribute determines their colour:
.colorifyFill {
  fill: currentcolor;
}

.secondaryFill {
  fill: currentColor;
}

// This class can be used for elements in monochrome icons whose `stroke` attribute determines their colour:
.colorifyStroke {
  stroke: currentcolor;
}
