@import "../../tokens";

.pill {
  font: $text-body-2xs;
  font-weight: 600;
  display: inline-block;
  min-width: 80px; // keep the width fixed

  @media screen and (min-width: $screen-md) {
    font: $text-body-xs;
    font-weight: 600;
    min-width: 120px; // keep the width fixed
  }
  text-align: center;
  padding: $spacing-sm 0;
  border-radius: $border-radius-sm;
  line-height: 1;

  &.actionNeeded {
    background: $color-red-10;
    color: $color-red-80;
  }

  &.inProgress {
    background: rgba($color-blue-50, 0.3);
    color: $color-blue-90;
  }

  &.isFixed {
    background: $color-green-10;
    color: $color-green-90;
  }
}
