@import "../../../tokens";

.falseDoorTestWrapper {
  font: $text-body-md;
  position: fixed;
  bottom: 0;
  left: 0;
  // Overlap all regular content on the site with a z-index,
  // except for ModalOverlay which, at the time of writing, has a z-index of 2
  z-index: 1;
  width: 100%;
  background-color: #ffdff0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: $spacing-xl;
  padding-inline: $spacing-sm;
  padding-block: $spacing-md;

  @media screen and (min-width: $screen-lg) {
    padding-inline: $spacing-2xl;
    padding-block: $spacing-md;
  }

  .dismiss {
    right: $spacing-sm;
    position: absolute;
    color: $color-grey-40;

    @media screen and (min-width: $screen-lg) {
      align-self: flex-start;
      margin-left: auto;
      position: static;
      right: 0;
    }

    &:focus {
      border: 1px solid $color-informational-active;
      outline: $border-focus-width solid $color-informational-focus;
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: $spacing-md;
    width: 100%;
    justify-content: center;
    padding-block: $spacing-sm;
    padding-inline: $spacing-sm;
    text-align: center;

    @media screen and (min-width: $screen-sm) {
      padding-inline: $spacing-xl;
    }

    @media screen and (min-width: $screen-md) {
      display: grid;
      text-align: start;
      grid-template-columns: 1fr 3fr 1fr;
      padding-inline: $spacing-lg;

      @media screen and (min-width: $screen-xl) {
        gap: $spacing-lg;
        padding: $spacing-sm $layout-2xl;
      }
    }

    .logoWrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      @media screen and (min-width: $screen-md) {
        width: auto;
      }

      @media screen and (min-width: $screen-lg) {
        padding-inline: $spacing-xl;
      }

      .logo {
        max-width: 200px; // Width of the Mozilla Monitor logo
      }
    }

    p {
      margin: 0;
    }

    .cta {
      text-decoration: none;
      padding-inline: $spacing-xl;
      padding-block: $spacing-sm;
      background: $color-blue-50;
      font-weight: 600;
      justify-content: center;
      color: $color-white;
      border-radius: $border-radius-xs;
      cursor: pointer;
      text-align: center;
      width: 150px; // Width of the CTA

      &:focus {
        outline: $border-focus-width solid $color-blue-30;
      }

      @media screen and (min-width: $screen-lg) {
        margin-left: auto;
        width: 200px; // Width of the CTA
      }
    }
  }
}
