:root {
  --warmGradient: linear-gradient(71deg, #972ab8, #e22951 100%, #e22851 100%);
  --takeBackControlGradient: linear-gradient(253deg, #2150c8, #712291);
  --fxaSignUpGradient:
    linear-gradient(
      103deg,
      #374dcc,
      #9456f9 0%,
      #394cca 34%,
      #312a65 69%,
      #1d1133
    );
  --inkLight: #2b1e44;
  --ink: #20123a;
  --inkDark: #1d1133;
  --padding: 16px;
  --maxWidth: 1270px;
  --headline: 40px;
  --topHeadline: 56px;
  --borderColor: #eee;
  --textLight: #5e5e72;
  --alertRed: #ee0700;
  --alertRedDark: #d10000;
  --purple: #9059ff;
  --violet1: #c689ff;
  --violet2: #ab71ff;
  --violet3: #9059ff;
  --violet4: #7542e5;
  --violet5: #592acb;
  --violet6: #45278d;
  --purple1: #f565ff;
  --purple5: #722291;
  --purple6: #332869;
  --purple7: #393473;
  --pink4: #e31587;
  --blue1: #0df;
  --blue2: #0090ed;
  --blue3: #0060df;
  --blue4: #0250bb;
  --blue5: #073072;
  --orange1: #ffa266;
  --green1: #54ffbd;
  --green2: #0ae020;
  --orange5: #ff7139;
  --orange6: #e25920;
  --bgLight: #f9f7fd;
  --paragraphFontSize: 16px;
  --grey90a3: rgba(12, 12, 13, 0.3);
  --grey0: #f5f7f9;
  --grey1: #f9f9fa;
  --grey2: #ededf0;
  --grey3: #cdcdd4;
  --grey4: #aaa;
  --grey5: #666;
  --grey6: #5e5e72;
  --grey7: #3b3b3c;
  --grey8: #42425a;
  --grey9: #202340;
  --grey10: #999;
  --monitorGradient:
    linear-gradient(
      -90deg,
      #ff9100 0%,
      #f10366 50%,
      #6173ff 100%
    );
  --vpn-purple: #c5c8fb;

  //borders;
  --br-input: 4px;

  //fonts
  --fw-400: 400;
  --fw-600: 600;
  --kanary-yellow: #ffd600;
}
