<div id="fxa-new-user-bar" class="fxa-new-user-bar top-bar" data-event-category="New User Welcome">
  <div class="row-wrapper">
    <p class="bold">{{getString "fxa-welcome-headline"}}</p>
    <p>{{getString "fxa-welcome-blurb" userEmail=signedInUser.email}}</p>
  </div>
  <div id="x-close" class="x-close">
  </div>
</div>
