<nav id="global-navigation" class="global-navigation stack">
  <div class="social-media-sharing-buttons">
    <a class="social facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ SERVER_URL }}" target="_blank" rel="noopener noreferrer" {{> analytics/social_event eventLabel="Facebook"}} aria-label="Facebook">
      {{> sprite symID="facebook"}}
    </a>
    <a class="social twitter" href="https://twitter.com/intent/tweet?url={{ SERVER_URL }}" target="_blank" rel="noopener noreferrer" {{> analytics/social_event eventLabel="Twitter"}} aria-label="Twitter">
      {{> sprite symID="twitter"}}
    </a>
  </div>
  {{#if req.session.user }}
    <div id="fxa-user-info" class="fxa-user-info">
      <span id="user-email" class="user-email">{{ req.session.user.email }}</span>
      <div class="avatar-wrapper">
        <img class="avatar" src="{{ req.session.user.avatar }}"/>
      </div>
      <div class="hover-menu">
        <a href="/user/logout">Sign out</a>
      </div>
    </div> 
  {{/if}}
  {{#unless req.session.user }}
    <button id="login-btn">
      Sign Up / Log In
    </button>
  {{/unless}}
</nav>
