<div class="scan-btn {{ class }}">
  <div class="button-link-wrapper">
    {{> sign_up_button}}
    <div class="wrap-row">
      <span>{{fluentFormat req.supportedLocales "have-an-account"}}</span>
      <a class="open-oauth">{{fluentFormat req.supportedLocales "sign-in"}}</a>
    </div>
  </div>
</div>
