{{#unless req.session.user}}
<div class="scan-btn {{ class }}">
  <div class="button-link-wrapper">
    {{> sign_up_button}}
    <div class="wrap-row">
      <span>{{getString "have-an-account"}}</span>
      <a class="open-oauth sign-in-link" data-event-category="Sign In Link" {{>analytics/fxa id="fx-monitor-sign-in-link"}}>{{getString "sign-in"}}</a>
    </div>
  </div>
</div>
{{/unless}}
