        <ul class="article-list {{ variableClasses }}">
          {{#eachFromTo (articleLinks) 0 3}}
            <li class="logo-title-wrapper flx article">
              <div class="icon-inline-wrapper">{{> (lookup . 'pathToPartial') }}</div>
              <a href="/security-tips#{{ this.class }}" class="article-link">{{ this.stringId }}{{> svg/arrow-head-right }}</a>
            </li>
          {{/eachFromTo}}
          <li class="logo-title-wrapper flx">
            <a class="article-link security-tips-link btn-transparent btn-white btn-small" href="/security-tips">{{ getString "read-more-tips" }}</a>
          </li>
        </ul>
