        <ul class="article-list {{ variableClasses }}">
          {{#eachFromTo (articleLinks) 0 3}}
            <li class="logo-title-wrapper flx article">
              <div class="icon-inline-wrapper">{{> (lookup . 'pathToPartial') }}</div>
              <a href="/security-tips#{{ this.class }}" class="article-link send-ga-ping" {{> analytics/security-tips-link linkTitle=this.title }}>{{ this.stringId }}{{> svg/arrow-head-right }}</a>
            </li>
          {{/eachFromTo}}
        </ul>
