    <div class="col-8 article-section-list-wrapper">
      <div class="article-list-content-wrap">
        {{> take-back-control/headlines }}
        {{> take-back-control/article-links }}
      </div>
    </div>
