<section class="take-back-control-gradient {{ additionalClasses }}">
  <div class="row take-back-control-banner">
    <div class="article-list-headline-wrapper jst-cntrr">
      {{> take-back-control/headlines variableClasses="dash"}}
    </div>
    <div>
      {{> take-back-control/article-links }}
    </div>
  </div>
</section>
