@import "../../../tokens";

.wrapper {
  align-items: center;
  background: linear-gradient(90deg, $color-purple-90 50%, $color-purple-60);
  color: $color-white;
  display: flex;
  padding: $layout-xs $layout-sm;
  position: relative;
  flex-direction: column;
  gap: $spacing-sm;
}

.prompt,
.prompt a {
  align-items: center;
  color: $color-white;
  display: flex;
  gap: $spacing-sm;
}

.answers {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: $spacing-sm;

  .answer {
    background-color: $color-purple-40;

    &:hover {
      background-color: $color-purple-50;
    }
  }
}

.closeButton {
  background-color: transparent;
  border-radius: $border-radius-sm;
  border-style: none;
  color: $color-white;
  cursor: pointer;
  padding: $spacing-md;
  position: absolute;
  right: 0;
  top: 0;
}
