
    <table align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="text-align: center; width: 100%;">
      <tr>
        <td valign="center" style="text-align: center;">
          <a class="body-copy button" href="{{ href }}" rel="noopener" style="text-decoration: none; color: #ffffff; border: 2px solid #ffffff; background-color: rgba(255, 255, 255, .1); padding-top: 10px; padding-bottom: 10px; min-width: 40px; max-width: 400px; box-sizing: border-box;">
            {{ value }}
          </a>
        </td>
      </tr>
    </table>
