<br />
<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="text-align: center; max-width: 603px; font-size: 12px;">
  <tr>
    <td style="border-top: 1px solid #e1e1e1;">
      <p style="padding: 10px 0px 3px 0px; margin: 0px; font-weight: 300; color: #5d5d5d;">
        We sent this email to {{ email }} because the email address opted into alerts from <a href="{{ serverUrl }}" style="color: #0060df; font-weight: 500;">Firefox Monitor</a>.
      </p>
      <p style="padding: 0px 0px 3px 0px; margin: 0px; font-weight: 300; color: #5d5d5d;">
        If you no longer want to receive alerts, please 
        <a style="color: #0060df; font-weight: 500;" href="{{ unsubscribeUrl }}" rel="noreferrer noopener">unsubscribe</a>.
      </p>
    </td>
  </tr>
  <tr>
    <td valign="center" style="margin:0px; padding: 0px; height: 80px;">
      <a rel="noopener" href="https://www.mozilla.org" style="margin: 0px; padding: 0px;">
        <img src="https://fx-breach-alerts.herokuapp.com/img/moz-bw-email.png" width="40" height="40" style="width: 40px; height: 40px;" />
      </a>
    </td>
  </tr>
  <tr>
    <td valign="top">
      <p style="padding: 0px 0px 3px 0px; margin: 0px; font-weight: 600; color: #000000;">Mozilla</p>
      <p style="padding: 0px 0px 3px 0px; margin: 0px; font-weight: 300; color: #5d5d5d;">331 E. Evelyn Avenue Mountain View CA 94041</p>
      <p style="padding: 0px; margin: 0px;">
        <a href="https://www.mozilla.org/about/legal/" rel="noopener" style="text-decoration: none; color: #0060df;" >Legal</a> | <a href="https://www.mozilla.org/privacy/websites/" rel="noopener" style="text-decoration: none; color: #0060df;">Privacy</a>
      </p>
    </td>
  </tr>
</table>
