
  <table align="center" border="0" cellpadding="0" cellspacing="0">
    <tr>
      <td>
        <table>
          <tr>
            <td align="center" bgcolor="#0060df" style="width: 100%; max-width: 530px; border-radius: 2px;">
              <a href="{{ href }}" rel="noopener" style="text-align: center; text-decoration: none; color: #ffffff; padding-top: 12px; padding-right: 30px; padding-left: 30px; padding-bottom: 12px; border: 1px solid #0060df; display: inline-block; font-size: 13px;">
               {{ buttonValue }}
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
