<center>
  <a href="{{ href }}" style="background-color: rgba(12, 12, 13, 0.1); border-radius: 2px; color: #0c0c0d; margin: 20px auto; padding-top: 20px; padding-bottom: 20px; padding-left:35px; padding-right: 35px; size: 16px; text-decoration: none;">
    {{ value }}
  </a>
</center>
