

  <a href="{{ href }}" rel="noopener" style="text-decoration: none; color: #0c0c0d; padding-top:10px;">
    <table align="center" border="0" cellpadding="0" cellspacing="0" bgcolor="#eeeeee" width="100%" style="background-color: #eeeeee; padding-top:15px; padding-bottom: 15px; border-radius:3px; text-align: center; max-width: 250px;">
      <tr>
        <td>
          {{ value }}
        </td>
      </tr>
    </table>
  </a>
