<table align="center" class="table-image" width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td>
      <div class="image">
        <img class="header-image" src="{{ serverUrl }}/img/firefox-share.png" width="100%"/>
      </div>
    </td>
  </tr>
</table>
