        <tr>
          <td><!--empty cell to align HIBP attribution with other table items--></td>
          <td>
            <p class="body-copy" style="color: #333333; font-weight: 300; font-size: 12px;">Breach data provided by <a href="https://www.haveibeenpwned.com" rel="noopener noreferrer" style="color: #0060df; font-size: 12px;">Have I Been Pwned</a></p>
          </td>
        </tr>
