
<center>
  <table align="center" border="0" cellpadding="0" cellspacing="0" style="padding-top: 20px; padding-bottom: 20px; margin: 0px;">
    <tr>
      <td valign="top" style="text-align: right" width>
        <img width="45" style="width: 45px;" src="https://monitor.firefox.com/img/firefox.png" />
      </td>
      <td valign="center" style="text-align: left; padding-left: 10px;">
        <h1 style="color: #333333; padding: 0px; margin: 0px; font-size: 30px;">Firefox <span style="color:#333333; font-weight: 300;">Monitor</span></h1>
      </td>
    </tr>
  </table>
</center>

