<div width="100%" style="color: #333333; padding-left: 30px; padding-right: 30px; text-align: center;">
  <p style="padding-top: 20px; padding-bottom: 20px;">
    You got this email because you signed up at <a href="{{ SERVER_URL }}" style="color: #000000;">Firefox Monitor</a>. 
    <a style="color: #000000;" href="{{ unsubscribeUrl }}" rel="noreferrer noopener">Unsubscribe</a>
  </p>
</div>
