<div 
  id="firefox-monitor-image-container"
  style="
    background-image: url('https://fx-breach-alerts.herokuapp.com/img/firefox-share.png');
    background-repeat: no-repeat; background-position: center center;
    background-size: cover;
    height: 315px;
    width: 100%;
    ">
</div>
