{{#each TIPS}}
  <tr>
    <td valign="top" style="width: 45px;">
      <p style="size: 9px"><b>not</b><br />svg</p>
    </td>
    <td >
      <p><b>{{ tip_title }}</b></p>
      <p>{{ summary }}</p>
    </td>
  </tr>
{{/each}}
