    <tr>
      <td colspan="2" valign="top" style="padding-top: 10px;">
        <p class="body-copy" style="color: #333333; font-weight: 300; font-size: 22px; padding-top: 30px; margin: 0px; ">
          What To Do Next
        </p>
      </td>
    </tr>
    
    <tr>
      <td colspan="2" valign="top" style="padding-top: 10px;">
        <p class="body-copy" style="color: #333333; font-weight: 400; font-size: 16px; padding: 0px; margin: 0px; ">
          Change your passwords, even for old accounts
        </p>
        <p class="body-copy" style="color: #333333; font-weight: 300; font-size: 14px; padding: 3px 0px 10px 0px; margin-top: 0px; ">
          If you can’t log in, contact the website to ask how you can recover or shut down the account. See an account you don’t recognize? The site may have changed names or someone may have created an account for you.
        </p>
      </td>
    </tr>

    <tr>
      <td colspan="2" valign="top" style="padding-top: 10px;">
        <p class="body-copy" style="color: #333333; font-weight: 400; font-size: 16px; padding: 0px; margin: 0px; ">
          If you reuse an exposed password, change it
        </p>
        <p class="body-copy" style="color: #333333; font-weight: 300; font-size: 14px; padding: 3px 0px 10px 0px; margin-top: 0px; ">
          Hackers may try to reuse your exposed password to get into other accounts. Create a different password for each website, especially for your bank account, email and other websites where you save personal information.
        </p>
      </td>
    </tr>

    <tr>
      <td colspan="2" valign="top" style="padding-top: 10px;">
        <p class="body-copy" style="color: #333333; font-weight: 400; font-size: 16px; padding: 0px; margin: 0px; ">
          Take extra steps to secure your financial accounts
        </p>
        <p class="body-copy" style="color: #333333; font-weight: 300; font-size: 14px; padding: 3px 0px 10px 0px; margin-top: 0px; ">
          Most breaches only expose emails and passwords, but some do include sensitive financial information. If your bank account or credit card numbers were included in a breach, alert your your bank to possible fraud, and monitor statements for charges you don't recognize.
        </p>
      </td>
    </tr>
