
<div style="width: 100%; padding-bottom: 30px;">
  <p class="body-copy" style="color:#ffffff; padding: 0px; margin: 0px; font-weight: 600;">Firefox Monitor Report</p>
  <p class="body-copy" style="color:#ffffff; padding: 0px; margin: 0px; font-weight: 600;">Report Date: <span class="body-copy" style="font-weight:300; color: #ffffff;">{{ date }}</span></p>
  <p class="body-copy" style="color:#ffffff; padding: 0px; margin: 0px; font-weight: 600">Email Address: <a class="body-copy" href="mailto:{{ email }}" style="color: #ffffff;">{{ email }}</a></p>
</div>
