<table border="0" cellpadding="0" cellspacing="0" style="padding-top: 20px; text-align: left;">
  {{#each TIPS}}
    <tr>
      <td valign="top" style="width: 45px;">
        <p style="font-size: 7px;"><b>not</b>svg</p>
      </td>
      <td valign="top">
        <p style="color: #333333; font-weight: 500; font-size: 15px; padding: 10px 0px 0px 0px; margin: 0px; ">{{ tip_title }}</p>
        <p style="color: #5d5d5d; font-weight: 300; font-size: 14px; padding: 0px; margin-top: 0px; ">{{ summary }}</p>
      </td>
    </tr>
  {{/each}}
</table>
