
<div class="borders" style="border-top: 1px solid #dddddd; border-bottom: 1px solid #dddddd; width: 100%; padding-top:10px; padding-bottom: 10px;">
  <p style="color:#333333; padding: 5px 0 5px 0px;"><b>Firefox Monitor Report</b></p>
  <p style="color:#333333; padding: 5px 0 5px 0px;"><b>Report Date: </b><span style="font-weight:300; color: #5d5d5d;">{{ date }}</span></p>
  <p style="color:#333333; padding: 5px 0 5px 0px;"><b>Email Address: </b><a href="mailto:{{ email }}" style="color: #5d5d5d;">{{ email }}</a></p>
</div>
