
    <tr>
      <td valign="top" style="width: 70px; padding-top: 10px;">
        <img src="{{ SERVER_URL }}/img/password_tip_icons/password-tip-{{ number }}.png" alt="Password Tip Icon" width="50" style="width: 50px;" />
      </td>
      <td valign="top" style="padding-top: 10px;">
        <p class="body-copy" style="color: #ffffff; font-weight: 500; font-size: 16px; padding: 0px; margin: 0px; ">{{ tip_title }}</p>
        <p class="body-copy" style="color: #ffffff; font-weight: 300; font-size: 14px; padding: 3px 0px 10px 0px; margin-top: 0px; ">{{ summary }}</p>
      </td>
    </tr>

