.remove-more-time {
  &-container {
    @include remove-container;
  }

  &-col {
    width: calc(50% - 12px);
  }

  &-title {
    @include ff-inter;

    font-size: 18px;
    font-weight: 400;
  }

  &-option-description {
    background-color: var(--grey2);
    padding: 20px 10px;
    border-radius: 8px;
  }

  &-selections {
    margin-top: 15px;
  }

  &-button {
    height: 60px;

    @include remove-btn;

    border-radius: 8px;

    &.continue {
      color: white;
      background-color: var(--blue3);

      &:hover {
        background-color: var(--blue4);
      }
    }

    &.cancel {
      border: 1px solid var(--alertRed);
      background-color: transparent;
      color: var(--alertRed);
    }
  }

  &-small {
    color: var(--grey5);
    font-size: 12px;
  }
}
