.remove-enroll {
  &-container {
    @include remove-container;

    p {
      line-height: 24px;
    }

    h2,
    h3,
    h4 {
      margin-top: revert; //browser defaults
    }
  }

  &-kanary-container {
    position: absolute;
    top: 0;
    right: 36px;
  }

  &-link-item {
    @include list-item-inside;
  }

  &-submit {
    margin-top: 25px;
  }
}

.remove-enrolled {
  &-btn {
    display: inline-block;
  }

  &-btn-container {
    margin-top: 20px;
  }
  &-steps-container {
    width: 80%;
    @include breakpoint(mobile) {
      width: 100%;
    }
  }
  &-step {
    margin-top: 20 px;
    padding-top: 20 px;
    border-top: 1 px solid #ccc;
  }
  &-step-icon {
    width: 100px;
    height: auto;
    margin-right: 20px;
  }
  &-step-text {
    font-size: 20px;
    @include breakpoint(mobile) {
      font-size: 16px;
    }
  }
}
