.remove-enroll {
  &-container {
    @include remove-container;

    p {
      line-height: 24px;
    }

    h2,
    h3,
    h4 {
      margin-top: revert; //browser defaults
    }
  }

  &-kanary-container {
    position: absolute;
    top: 0;
    right: 36px;
  }

  &-link-item {
    @include list-item-inside;
  }

  &-submit {
    margin-top: 25px;
  }
}

.remove-enrolled {
  &-btn {
    display: inline-block;
  }

  &-btn-container {
    margin-top: 20px;
  }
}
