.remove-kanary {
  &-logo {
    width: 185px;
  }
  &-container {
    background-color: white;
    background-image: url('/img/removal/kanary-info-bg.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    margin-top: 40px;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 8px;

    p {
      line-height: 1.5em;
    }
  }
  &-title, &-subtitle, &-signup-container {
    margin-top: 40px;
  }
  &-benefits {
    display: inline-grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }
  &-benefits-item {
    &.--featured {
      padding-left: 15px;
      position: relative;
      &:before {
        content: '';
        width: 5px;
        background-color: var(--kanary-yellow);
        display: block;
        border-radius: 2.5px;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
      }
    }
  }
  &-benefit {
    text-align: left;  
    margin: 0;
  }

  &-pricing-container {
    margin-top: 40px;
  }
  &-pricing-list {
    border-radius: 10px;
    overflow: hidden;
  }
  &-pricing-item {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
    padding: 10px;
    &:nth-child(odd){
      background-color: var(--grey2);
    }
    &.--header {
      background-color: rgba(#9059FF,.35);
      font-weight: bold;
    }
  }
  &-pricing-col {
    line-height: 1.5em;
  }
}
