.remove-faq {
  padding-top: $header-height; //MH must match header height
  &__header {
    background-color: var(--inkDark);
    padding: 84px 0;
    color: white;
  }

  &__title {
    font-size: 64px;
    max-width: 75%;
    font-weight: 600;
  }

  &__nav-col {
    width: 50%;
  }

  &__nav-item {
    margin-top: 20px;

    &:first-child {
      margin-top: 0;
    }
  }

  &__nav-link {
    color: white;

    @include ff-metropolis;

    font-weight: 600;
    font-size: 18px;
  }

  &__content-container {
    padding: 40px 0;
  }

  &__content-title {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
  }

  &__subtitle {
    @include ff-metropolis;

    font-size: 18px;
    font-weight: 600;
  }

  &__content {
    margin-top: 50px;

    &:first-child {
      margin-top: 0;
    }

    p {
      line-height: 24px;
    }
  }

  &__anchor {
    height: 0;
    display: block;
    position: absolute;
    margin-top: -100px;
  }

  &__list-item {
    @include toggle-item;

    &.is-active {
      .remove-faq__details-container {
        display: block;
      }
    }
  }

  &__toggle {
    border: 0;
    width: 32px;
    height: 32px;
    background: url('/img/removal/chevron-down-grey.svg') center no-repeat;
    &:focus, &:hover {
      filter: brightness(.5);
    }
    .remove-faq__list-item.is-active & {
      transform: rotate(180deg);
    }
  }

  &__title-container {
    width: 100%;
  }

  &__q-title {
    @include ff-metropolis;

    font-size: 22px;
    font-weight: 500;
    margin: 0;
  }

  &__details-container {
    display: none;

    p {
      line-height: 24px;
    }
  }

  &__col-3 {
    column-count: 3;
    column-gap: 20px;
    column-width: 16vw;
    display: block;
    word-break: break-word;

    @include breakpoint(tablet) {
      column-count: 2;
      column-width: 24vw;
    }

    @include breakpoint(mobile) {
      column-count: 1;
    }

    @include breakpoint(xs) {
      column-width: auto;
    }

    li {
      display: flex;
    }
  }

  &__risk-list {
    li {
      display: block;
      margin-top: 10px;

      &:first-child {
        margin-top: 0;
      }
    }
  }
}