.removal-ending {
  &-banner {
    background-color: var(--kanary-yellow);
    padding: 10px;
    text-align: center;
    position: absolute;
    top: var(--header-height);
    width: 100%;
  }
  &-content {
    margin: 0;
    @include ff-metropolis;
    font-weight: 600;
  }
  &-link {
    display: inline-flex;
    align-items: center;
    color: black;
  }

}