<aside data-ad-unit="4">
  <article>
    <h2>{{{ getString "ad-unit-4-shopping-with" }}}</h2>
    <p>{{{ getString "ad-unit-4-want-to-buy" }}}</p>
    <p>{{{ getString "ad-unit-4-shop-online" }}}</p>
    <a class="ad-unit-cta btn-small"
      href="https://relay.firefox.com/?utm_source=firefox-monitor&utm_medium=ad-unit&utm_campaign=edu" target="_blank">{{{
      getString "ad-unit-relay-cta"
      }}}</a>
  </article>
  <figure>
    <img src="/img/ad-units/ad-unit-4-alone-time.png">
  </figure>
</aside>