<aside data-ad-unit="6">
  <figure>
    <img src="img/ad-units/ad-unit-6-working-from-home.png">
  </figure>
  <article>
    <h2>{{{ getString "ad-unit-6-worry-free" }}}</h2>
    <p>{{{ getString "ad-unit-6-want-to-start" }}}</p>
    <p>{{{ getString "ad-unit-6-before-you-complete" }}}</p>
    <a class="ad-unit-cta btn-small" href="https://relay.firefox.com/" target="_blank">{{{ getString "ad-unit-relay-cta"
      }}}</a>
  </article>
</aside>