<aside class="{{ theme }}" data-ad-unit="2">
  <h2>{{{ getString "ad-unit-2-do-you-worry" }}}</h2>
  <video src="{{ getAppConstant 'EDUCATION_VIDEO_URL_VPN' }}" width="3840" height="2160" type="video/mp4"
    controls></video>
  <a class="ad-unit-cta btn-small" href="https://www.mozilla.org/en-US/products/vpn/">{{{ getString "ad-unit-vpn-cta"
    }}}</a>
</aside>