<aside class="{{ theme }}" data-ad-unit="1">
  <h2>{{{ getString "ad-unit-1-how-do-you-keep" }}}</h2>
  <video src="{{ getAppConstant 'EDUCATION_VIDEO_URL_RELAY' }}" width="3840" height="2160" type="video/mp4"
    controls></video>
  <a class="ad-unit-cta btn-small"
    href="https://relay.firefox.com/?utm_source=firefox-monitor&utm_medium=ad-unit&utm_campaign=edu" target="_blank">{{{
    getString "ad-unit-relay-cta"
    }}}</a>
</aside>