<div id="download-firefox-bar" class="download-firefox download-firefox-bar banner top-bar">
  <div class="section-wrapper">
    <div class="whole">
      <p>{{{fluentFxa req.supportedLocales "download-firefox-bar-blurb"}}}
          <a id="dl-fx-bar" data-event-category="Download Firefox Bar" {{#unless FXA_ENABLED}}{{> analytics/download_event eventLabel="Quantum - Top Bar"}}{{/unless}} class="internal-link" href="https://www.mozilla.org/firefox/new/?utm_source={{ UTM_SOURCE }}&utm_medium=referral&utm_campaign=fx_monitor_downloads&utm_content=top_download_banner" target="_blank" rel="noopener">
            {{fluentFxa req.supportedLocales "download-firefox-bar-link"}} &#187;
          </a>
      </p>
    </div>
  </div>
</div>
