<section id="download-firefox" class="download-firefox banner">
  <div class="section-wrapper">
    <div class="two-thirds">
      <div class="wrap-row">
        <div class="firefox-logo"></div>
        <h3 class="medium secondary-title">Take control of your browser</h3>
      </div>
    </div>
    <div class="third">
      <a {{> analytics/download_event eventLabel="Quantum - Page Banner"}} class="button" href="https://www.mozilla.org/firefox/new/?utm_source={{ UTM_SOURCE }}&utm_medium=referral&utm_campaign=fx_monitor_downloads&utm_content=download_banner" target="_blank" rel="noopener">Download Firefox</a>
    </div>
  </div>
</section>
