<section id="download-firefox" class="banner">
  <div class="section-wrapper">
    <div class="two-thirds">
      <div class="wrap-row">
        <img class="logo" src="/img/firefox.png" />
        <h3 class="medium secondary-title">Take control of your browser</h3>
      </div>
    </div>
    <div class="third">
      <a href="https://www.mozilla.org/firefox/new/?utm_campaign=ffxmdownloads" class="button" target="_blank" rel="noopener">Download Firefox</a>
    </div>
  </div>
</section>
