<div id="sign-up-banner" class="banner">
  <div class="section-wrapper">
    <div class="fourth subscribe-icon-wrapper">
      <img src="/img/subscribe-icon.svg" />
    </div>
    <div class="half">
      <h2 class="medium secondary-title">Subscribe to Firefox Monitor</h2>
      <p class="demi">Subscribe and Firefox Monitor will send you a full report on your compromised accounts and notify you when your accounts appear in new data breaches.</p>
    </div>
    <div class="fourth">
      {{> sign_up_button}}
    </div>
  </div>
</div>
