<div id="sign-up-banner" class="banner">
  <div class="section-wrapper">
    <div class="fourth subscribe-icon-wrapper">
      {{> sprite symID="subscribe"}}
    </div>
    <div class="half">
      <h2 class="medium secondary-title">{{fluentFormat req "signup-banner-headline"}}</h2>
      <p class="demi">{{fluentFormat req "signup-banner-blurb"}}</p>
    </div>
    <div class="fourth">
      {{> sign_up_button}}
    </div>
  </div>
</div>
