<div id="sign-up-banner" class="banner">
  <div class="section-wrapper">
    <div class="fourth subscribe-icon-wrapper">
      {{> sprite symID="subscribe"}}
    </div>
    <div class="{{#unless breachIsSensitive }} half {{/unless}} {{#if breachIsSensitive }} three-fourths {{/if}}">
      <h2 class="medium secondary-title">{{{fluentFormat req.supportedLocales "signup-banner-headline"}}}</h2>
      <p class="demi">{{{fluentFormat req.supportedLocales "signup-banner-blurb"}}}</p>
    </div>
    {{#unless breachIsSensitive}}
      <div class="fourth">
        {{> sign_up_button}}
      </div>
    {{/unless}}
  </div>
</div>
