<div id="sign-up-banner" class="banner">
  <div class="section-wrapper">
    <div class="fourth subscribe-icon-wrapper">
      {{> sprite symID="subscribe"}}
    </div>
    <div class="half">
      <h2 class="medium secondary-title">Stay safe with Firefox Monitor protection.</h2>
      <p class="demi">Sign up for Firefox Monitor. You’ll get a full report on your compromised accounts and notifications any time your accounts appear in new data breaches.</p>
    </div>
    <div class="fourth">
      {{> sign_up_button}}
    </div>
  </div>
</div>
