<section class="article-list-container container">
  <section class="row">
    <div class="col-7">
      <h2 class="headline">{{getString "take-control"}}</h2>
      <h3 class="subhead">{{getString "cant-stop-hackers"}}</h3>
    </div>
    <div class="col-5">
      <ul class="article-list">
        {{#each (articleLinks)}}
          <li class="logo-title-wrapper flx article">
            <div class="bullet"></div>
            <a href="" class="article-link">{{ this.title }}<span class="arrow">&#8594;</span></a>
          </li>
        {{/each}}
      </ul>
    </div>
  </section>
</section>
