    <div id="back-to-top-bar" class="back-to-top-bar">
      <button id="back-to-top" class="back-to-top" aria-label="{{ getString "back-to-top" }}">
        {{> svg/arrow-right }}
        {{ getString "back-to-top" }}
      </button>
    </div>
