<div class="top-bar flx jst-cntr row-full-width">
  <div class="join-fx-wrap flx">
    <span class="join-fx-img"></span>
    <div class="join-fx-copy-wrap">
      <span class="join-fx-copy">{{ getString "join-firefox" }}<a class="learn-more" target="_blank" rel="noopener" href="https://www.mozilla.org/firefox/accounts/?utm_source=monitor.firefox.com&utm_medium=banner&utm_campaign=trailhead&utm_content=protect-your-privacy">{{ getString "learn-more-link" }}</a></span>
    </div>
  </div>
</div>
