{{#each breachStats}}
  <div class="col-3 breach-stat-row {{@key}}">
    <span class="stat-headline">{{this.subhead}}</span>
    <div class="breach-stat-number flx bold {{@key}}">
      {{this.displayCount}}
    </div>
  </div>
{{/each}}