
        {{#each (getBreachStats)}}
          <div class="breach-stat-row flx {{ @key }} toggle-parent inactive">
            <div class="stat-row-title-wrap">
              <div class="breach-stat-number flx bold {{ @key }}">
                {{ this.count }}
              </div>
              <span class="stat-headline">{{ this.subhead }}</span>
            </div>
          </div>
        {{/each}}
