<div class="breach-stat-container flx {{#if breachStats.removals}}has-removals{{/if}}" >
  <div class="breach-stat-row flx">
  {{#each breachStats}}
    <div class="breach-stat-cell {{@key}} flx flx-col">
      <div class="breach-stat-metrics">
        <span class="stat-headline">{{this.subhead}}</span>
      </div>
      <div class="breach-stat-numbers">
        <span class="breach-stat-number flx bold {{@key}}">
        {{this.displayCount}}
      </span>
      </div>
    </div>
  {{/each}}
  </div>
</div>