<!--if user scanned email from a 'featured Breach' page-->
{{#if featuredBreach}}
  {{> featured_compromised_account}}
{{else}}
  <h3>Your Compromised Accounts</h3>
{{/if}}

<!--list first 5 breaches-->
{{#each_from_to foundBreaches 0 5 }}
  {{> breach_listing }}
{{/each_from_to}}

<!--display button and list remainder of breaches on click-->
 {{#if_conditional foundBreaches 5}}
  <div id="additional-breaches">
    {{#each_from_to foundBreaches 5 foundBreaches.length }}
      {{> breach_listing }}
    {{/each_from_to}}
  </div>
  <button id="show-additional-breaches" class="button">Show Additional Breaches</button>
{{/if_conditional}}

{{> hibp_attribution }}
