{{#if_conditional foundBreaches 0}}
  <div class="compromised-accounts">
    <div class="section-wrapper">
      <!--list first 5 breaches-->
      {{#each_from_to foundBreaches 0 4 }}
        <div class="half listings">
          {{> breach_listing }}
        </div>
      {{/each_from_to}}
      <!--display button and list remainder of breaches on click-->
      {{#if_conditional foundBreaches 4}}
        <div id="additional-breaches" class="section-wrapper">
          {{#each_from_to foundBreaches 4 foundBreaches.length }}
            <div class="half listings">
              {{> breach_listing }}
            </div>
          {{/each_from_to}}
        </div>
        <button id="show-additional-breaches" class="button transparent-button">Show {{ breachMath foundBreaches.length  "-" 4 }} More</button>
        {{> hibp_attribution }}
      {{/if_conditional}}
    </div><!--closes section-wrapper-->
  </div><!--closes .compromised-accounts-->
{{/if_conditional}}
