{{#if (showCsatBanner)}}
<form class="csat-banner">
  <button name="csat-close-btn" type="button"><img src="/img/svg/x-close-black.svg"></button>
  <p class="csat-question">How satisfied are you with your Firefox Monitor experience?</p>
  <label class="btn-small btn-transparent"><input type="radio" name="csat-option" value="5">Very Satisfied</label>
  <label class="btn-small btn-transparent"><input type="radio" name="csat-option" value="4">Satisfied</label>
  <label class="btn-small btn-transparent"><input type="radio" name="csat-option" value="3">Neutral</label>
  <label class="btn-small btn-transparent"><input type="radio" name="csat-option" value="2">Dissatisfied</label>
  <label class="btn-small btn-transparent"><input type="radio" name="csat-option" value="1">Very Dissatisfied</label>
</form>
{{/if}}