{{#if (showCsatBanner)}}
<aside class="csat-banner">
  <button class="csat-banner-close"><img src="/img/svg/x-close-black.svg"></button>
  <p>How satisfied are you with your Firefox Monitor experience?</p>
  <button class="btn-small btn-transparent">Very Satisfied</button>
  <button class="btn-small btn-transparent">Satisfied</button>
  <button class="btn-small btn-transparent">Neutral</button>
  <button class="btn-small btn-transparent">Dissatisfied</button>
  <button class="btn-small btn-transparent">Very Dissatisfied</button>
</aside>
{{/if}}