<div class="float-debug">
  <ul>
    <li>sessionStorage: <span id="debugSessionStorage"></span> </li>
    <li>isUserInExperiment: {{isUserInExperiment}}  </li>
    <li>experimentBranch: {{experimentBranch}}  </li>
    <li>experimentBranchB: {{experimentBranchB}}  </li>
  </ul>
</div>
