          <div class="verified email-card flx flx-col toggle-parent inactive">
            <div class="e-toggle-info-wrapper">
              <div class="e-info">
                <span class="e-address">{{ email }}</span>
                <span class="e-num-breaches">appears in {{ breaches.length }} breaches</span>
              </div>
              <div class="toggle">
                {{> svg/toggle-down }}
              </div>
            </div>
            <div class="e-breach-list">
              {{#each this.breaches }}
                <div class="breach-listing">
                  {{> breach_listing this=""}}
                </div>
              {{/each }}
            </div>
          </div>
