<!-- {{ name }} -->
<div class="share-monitor--breach">
  <div class="inset">
    <img src="/img/svg/present.svg" alt="Gift present with a bow">
    <div class="text">
      <h3 class="txt-purple7">Know someone who may have been affected by this&nbsp;breach?</h3>
      <a class="blue-link js-share-modal-breach" href="/share/{{ name }}">Send them an invitation to check their email&nbsp;address</a>
    </div>
  </div>
</div>
