<div id="shareModal" class="share-monitor--modal">
	<div class="share-monitor--modal-content txt-cntr">
		<button class="button-modal-close" id="closeShareModal" type="button" name="button"></button>
		<div class="share-monitor--modal-text">
			<h2>Share Monitor</h2>
			<p id="shareTextGeneral" class="share-monitor--modal-promo">Copy this link to share Monitor with people you care about. You can paste the link into email, text messages, social media - wherever&nbsp;you&nbsp;want.</p>
			<p id="shareTextBreach" class="hidden share-monitor--modal-promo">Share this link with someone you know who may have been involved in this breach. You can paste the link into email, text messages, social media - wherever&nbsp;you&nbsp;want.</p>
			<label class="copy-form" for="shareModalCopy">
				<input class="copy-form-input" id="shareModalInput" type="text" name="" value="" readonly="readonly">
				<button class="copy-form-btn" id="shareModalCopy" type="button" name="button">Copy <span>Link</span> </button>
			</label>
			<p class="disclaimer">Monitor won’t track whether or not you share this link. They&nbsp;can&nbsp;check their results for free. No&nbsp;account&nbsp;required.</p>
		</div>
	</div>
</div>
