<div class="share-monitor--dashboard txt-cntr">
  <img class="" src="/img/svg/present.svg" alt="Gift present with a bow">
  <h3 class="section-headline txt-purple7">Help protect your family and&nbsp;friends</h3>
  <a class="blue-link js-share-modal" href="/share/blue">Send them an invitation to check their email&nbsp;address</a>
</div>
