<div id="false-door" class="hidden">
  <div class="section-container">
    <h4>Thank you for trying Firefox Monitor</h4>
    <p>Firefox Monitor is a concept we are testing. During this test, we are not storing email addresses. This means that while we will use your email to give you real results about data breaches, we will not keep your email to alert you in case of future breaches</p>
    <p>We hope to provide this service soon, but in the meantime, you can stay up-to-date on Firefox Monitor and other new features when you sign up for the <a href="https://www.mozilla.org/newsletter/firefox/">Firefox newsletter.</a></p>
    <button class="button" id="close-false-door" tabindex="0">Close</button>
  </div>
</div>
