<div id="featured-compromised-account-headline">
  <h3 class="whole section-headline">
    <!--if their account was involved in the featured breach-->
    {{#if userAccountCompromised }}
      The account you scanned was compromised in the {{ featuredBreach.Title }} breach.
    <!--their account wasn't involved in the breach, but they still scanned their email from a 'featured breach page'-->
    {{ else }}
      Your account wasn't compromised in the {{ featuredBreach.Title }} breach.
    {{/if}}
  </h3>
</div>
