        <ul class="feature-list {{ variableClass }}">
          {{#bulletedList (monitorFeatures)}}
            <li>
              <div class="sign-up-bullet"></div>
              <p class="sign-up-feature">{{ stringId }}</p>
            </li>
          {{/bulletedList}}
        </ul>
