        <ul class="feature-list {{ variableClass }}">
          {{#each (signUpBannerBulletPoints)}}
            <li>
              <div class="sign-up-bullet"></div>
              <p class="sign-up-feature">{{ translatedString }}</p>
            </li>
          {{/each}}
        </ul>
