        <ul class="sign-up-feature-list">
          {{#each (signUpBannerBulletPoints)}}
            <li>
              <p class="sign-up-feature">{{ translatedString }}</p>
            </li>
          {{/each}}
        </ul>
