          <a class="firefox-monitor-logo stack" href="/">
            <div class="firefox-logo firefox-monitor"><!--Firefox Monitor logo--></div>
            <h1><span class="demi">Firefox</span> Monitor</h1>
          </a>
