<a class="firefox-monitor-logo" href="/" {{>analytics/internal_link eventLabel="Fx-Monitor-Logo"}}>
  <div class="firefox-logo firefox-monitor"><!--Firefox Monitor logo--></div>
  <h1 id="firefox-monitor-brand" class="firefox-monitor-brand"><span class="demi">Firefox</span> Monitor</h1>
</a>
