  <footer>
    <ul class="row-full-width">
      <li>
        <a class="footer-link" href="https://www.mozilla.org" {{>analytics/link_event eventLabel="Mozilla.org"}} {{>open-new-window}} aria-label="Open Mozilla.org in new window">
          {{> svg/Mozilla }}
        </a>
      </li>
      {{#each (getFooterLinks)}}
      <li>
        <a class="footer-link" href="{{this.href}}" {{>analytics/link_event eventLabel=this.title}} {{#if openNewWindow}}{{> open-new-window }}{{/if}}>
          {{this.stringId}}<span aria-hidden="true" class="arrow-icon show-mobile arrow">&#8594;</span>
        </a>
      </li>
      {{/each}}
    </ul>
  </footer>
