        <form id="fuzzy-form" class="fuzzy-form">
          <input type="text" id="fuzzy-find-input" class="fuzzy-find-input" placeholder="{{ getString "search-breaches" }}" />
          <button id="fuzzy-find-submit" class="fuzzy-find-submit">{{> svg/search-icon }}</button>
        </form>
