       
      <div class="fuzzy-wrapper">
        <form id="fuzzy-form" class="fuzzy-form" data-no-csrf>
          <input type="text" id="fuzzy-find-input" class="fuzzy-find-input" placeholder="{{ getString "search-breaches" }}" autocomplete="off" />
          <button id="fuzzy-find-submit" class="fuzzy-find-submit" aria-label="{{ getString "search-breaches" }}">{{> svg/search-icon }}</button>
        </form>
        <button id="fuzzy-show-all" class="fuzzy-find-show-breaches show-all-breaches" aria-label="{{ getString "see-all-breaches"}}"><span class="x-close-bg">{{> svg/x-close }}</span></button>
        <span id="no-results-blurb" class="no-results-blurb">{{ getString "no-results-blurb" }}</span>
      </div> 
