{{#if FXA_ENABLED}}
  <header class ="section-wrapper">
    <div class="whole">
      {{> firefox_monitor_logo}}
      {{> fxa_enabled/menu/fxa_navigation}}
    </div>
  </header>
{{else}}
  {{> legacy/legacy_header}}
{{/if}}
