    <header>
      <section class="content-box">
        <a class="no-underline flx-cntr" href="/" {{>analytics/internal_link eventLabel="Fx-Monitor-Logo"}}>
          <div class="sprite fx-monitor-logo"><!--Firefox Monitor logo--></div>
          <h1 class="fx-monitor"><span>Firefox</span> Monitor</h1>
        </a>
        <nav class="desktop-menu flx-cntr">
          {{> nav-links }}
          {{#if req.session.user}}
            {{> fxa-menu }}
          {{else}}
            <button class="open-oauth sign-in">Sign In</button>
          {{/if}}
        </nav>
      </section>
      <!--mobile navigation-->
      <section class="mobile-nav show-mobile">
        <nav class="mobile-menu flx-cntr content-box">
          {{> nav-links }}
        </nav>
      </section>
    </header>
