<span class="source-info">{{fluentFormat req.supportedLocales "hibp-attribution"}}<a {{> analytics/link_event eventLabel="HIBP"}} href="https://www.haveibeenpwned.com" target="_blank" rel="noopener noreferrer"> Have I Been Pwned</a></span>
