<span class="source-info">
  {{{fluentFormat req.supportedLocales "hibp-attribution" hibp-link='<a id="hibp-link" href="https://www.haveibeenpwned.com" data-analytics-event="Link" data-analytics-label="Clicked HIBP" target="_blank" rel="noopener noreferrer">Have I Been Pwned</a>'}}}
</span>
