<span class="source-info">
  {{{ getString "hibp-attribution" hibp-link='<a id="hibp-link" class="text-link medium" href="https://www.haveibeenpwned.com" data-ga-link="" data-event-category="Utility & Outbound Links" data-event-label="Clicked-HIBP" target="_blank" rel="noopener noreferrer">Have I Been Pwned</a>' }}}
</span>
