<section class="latest-breach">
  <section class="row">
    <div class="col-8 latest-breach-wrapper">
      <h3 class="latest-breach-headline">{{{getString "latest-breach" brandName="<span class='fxm'>Firefox Monitor</span>"}}}</h3>
        <div class="latest-breach-info">
          {{#each (lastAddedBreach)}}
            {{> breach_listing}}
            <div class="find-out-if flx txt-cntr">
              <a href="/?breach={{this.Name}}" class="latest-breach-link">See if you were in this breach</a>
            </div>
          {{/each}}
        </div>
    </div>
  </section>
</section>
