<section class="latest-breach container">
  <section class="row bg-white">
    <div class="col-8">
      <h3 class="subhead">{{getString "latest-breach"}}</h3>
        <div class="breach-listing">
          {{#lastAddedBreach}}
            {{> breach_listing this=./../this}}
          {{/lastAddedBreach}}
        </div>
    </div>
  </section>
</section>
