<section class="container monitor-features bg-dark">
  <div class="row">
    <div class="col-12 flx-cntr txt-cntr">
      <h2 class="headline">{{getString "monitor-your-online-accounts"}}</h2>
      <div class="flx feature-tip-group">
        {{#each (monitorFeaturesList)}}
          {{> feature-tip-group }}
        {{/each}}
      </div>
      {{> sign-up-button }}
    </div>
  </div>
</section>
