<h2>So far, so good.</h2>
<p class="demi">
  Your email address does not appear in our list of compromised accounts. That's good news. But it doesn't mean you're safe: data breaches can happen at any time in a number of ways, so take action to protect your passwords and sign up for alerts from Firefox Monitor.
</p>
