<h2 id="found-breaches">Oh, no!<br>This might be a problem.</h2>
<p class="demi">
  Your email address appears in our list of compromised accounts. Change your password on these sites and anywhere else you've used the same password. Then, take action to protect all of your accounts and sign up for alerts from Firefox Monitor.
</p>
