{{!< default }}
  <div class="section-wrapper tips" role="complementary">
    <section id="password-advice" class="whole">
      <h3 class="section-headline">Passwords = Protection</h3>
      <h4 class="section-sub-head">Your Private Information Is Only as Safe as Your Passwords</h4>
      <p>
        Your passwords protect more than your accounts, they protect every bit of personal information that resides in them. And hackers rely on bad habits, like using the same password everywhere or using common phrases (p@ssw0rd, anyone?), so that if they hack one account, they can hack many. Here are six ways to protect your accounts.
      </p>
    </section>

    {{#each passwordTips}}
      <div class="tip third">
        <div class="icon tip-icon tip-icon-{{ number }}"></div>
          <h4 class="medium">{{{ headline }}}</h4>
        <p>{{ summary }}</p>
      </div>
   {{/each}}
  </div>
