{{!< default }}
  <div class="section-wrapper tips" role="complementary">
    <section id="password-advice" class="whole">
      <h3 class="section-headline">Passwords</h3>
      <h4 class="section-sub-head">The Key to Account Security</h4>
      <p>Your passwords protect all of the personal information that resides in your online accounts, from bank balances and credit card numbers to your home address and private messages. Passwords are so valuable that thousands of passwords are stolen every day and accounts are traded on the black market.  Take these six steps to protect yours.</p>
    </section>

    {{#each passwordTips}}
     <div class="tip-container third">
      <div class="tip">
        <img src="{{ SERVER_URL }}/img/password_tip_icons/password-tip-{{ number }}.png" alt="Password Tip Icon" />
        <div class="tip-header">
          <h4 class="medium">{{{ headline }}}</h4>
        </div>
        <p>{{ summary }}</p>
      </div>
    </div>
   {{/each}}
  </div>
