<aside class="product-education {{ theme }}">
  {{#with (productEducation type)}}
  <h2>{{ headingTxt }}</h2>
  <video src="{{ videoSrc }}" poster="{{ posterSrc }}" width=" 3840" height="2160" type="video/mp4" controls></video>
  {{/with}}
</aside>