{{#with (productEducation productType)}}
<aside class="product-education">
  <h2>{{ heading }}</h2>
  <video src="{{ videoSrc }}" width=" 3840" height="2160" type="video/mp4" controls></video>
</aside>
{{/with}}