  <div class="row jst-cntr">
    <div id="scan-another-email" class="scan-another-email col-6">
      <h3 class="txt-cntr skinny-headline scan-another-email-headline">{{getString "fxa-scan-another-email"}}</h3>
      {{> forms/scan-email-form addClasses=./addClass}}
    </div>
  </div>
