<form action="/scan" class="email-scan form-group" method="post" data-no-csrf novalidate>
  <div class="input-group">
    <input class="input-group-field email-to-hash" type="email" name="email" placeholder="Enter Email Address" aria-label="Enter Email Address" tabindex="0" autocomplete="off" />
    <span id="invalid-email-message" class="error-message">Must be a valid email.</span>
  </div>
    <input type="hidden" name="emailHash" />
    {{#if featuredBreach}}
      <input id="featured" type="hidden" name="featuredBreach" value="{{ featuredBreach.Name }}"/>
    {{/if}}
    <div class="input-group-button">
      <input id="scan-email" type="submit" class="button submit" value="Search" tabindex="0"/>
      <img class="loader" src="img/loader.gif" alt="loading data" />
    </div>
</form>
<span class="privacy-policy">Your email will not be stored. <br>Find out more in our <a href="https://www.mozilla.org/privacy/firefox/" aria-label="Mozilla Firefox privacy policy">Privacy Policy.</a></span>
