<section id="scan-another-email" class="scan-another-email container bg-white">
  <div class="row jst-cntr">
    <div class="col-6">
      <span class="skinny-headline txt-cntr">{{getString "fxa-scan-another-email"}}</span>
      {{> scan-form }}
    </div>
  </div>
</section>
