<section id="scan-another-email" class="scan-another-email">
  <div class="section-wrapper">
    <div class="half">
      <span class="section-headline">{{fluentFormat req.supportedLocales "scan-another-email"}}</span>
      {{> scan_form}}
    </div>
  </div>
</section>
