{{#if foundBreaches }}
  <p>Your email address appears in our list of compromised accounts. Keep scrolling to see the publicly available breached accounts associated with the email you scanned and subscribe to Firefox Monitor for a full report including sensitive breaches, tips on protecting your accounts, and alerts if your account is compromised in the future.</p>
{{ else }}
  <p class="demi">
    Your email address does not appear in our list of compromised accounts. That's good news. But it doesn't mean you're safe: data breaches can happen at any time in a number of ways, so take action to protect your passwords and sign up for alerts from Firefox Monitor.
  </p>
{{/if}}
