  <div class="row jst-cntr">
    <div id="scan-another-email" class="scan-another-email col-6 txt-cntr">
      <h3 class="scan-another-email-headline section-headline txt-purple7 bold mw-500">{{getString "fxa-scan-another-email"}}</h3>
      {{> forms/scan-email-form addClasses=./addClass}}
    </div>
  </div>
