<div id="sign-up-button-group">
  <div class="section-wrapper">
    <div class="fourth">
      <img src="img/Password_Tip_1@2x.png" />
    </div>
    <div class="half">
      <span class="bold">Subscribe to Firefox Monitor</span>
      <p class="demi">Subscribe to Firefox Monitor for a full report on your compromised accounts (including sensitive sites and spam lists).</p>
    </div>
    <div class="fourth">
      {{> sign_up_button}}
    </div>
  </div>
</div>
