<div id="sign-up-button-group">
  <button class="button" id="sign-up">Sign up for alerts</button>
  <p class="demi">Get an alert if your account information gets compromised.</p>

    <div class="reveal grid-x" id="subscribe-modal" data-reveal>
      <div class="cell small-1"></div>
      <div class="cell small-10">
        <br>
        <h3 class="text-justify cell">Subscribe to Breach Alerts</h3>
        <br>

        <p class="cell">Explanation of what the user will get if they subscribe to breach alerts.</p>
        <br>

        <a id="subscribe-fxa-btn" class="button sign-in-btn cell">Subscribe with Firefox Accounts</a>

        <div class="grid-x cell">
          <div class="cell small-5"><hr></div>
          <div class="cell small-2 center-center">OR</div>
          <div class="cell small-5"><hr></div>
        </div>
        <br>

        <div class="cell grid-x">
          <form class="cell small-12" action="/user/add" method="post">
            <input id="subscribe-email-input" type="email" name="email" placeholder="Enter Email">
            <button id="subscribe-email-btn" type="submit" class="button cell submit-email" disabled>Subscribe with Email Account</button>
          </form>
        </div>
        <br>
      </div>
      <div class="cell small-1"></div>
    </div>
</div>
