        <div id="sign-up-button-group">
          <button class="button" id="sign-up">Sign up for alerts</button>
          <p class="demi">Get an alert if your account information gets compromised.</p>
        </div>
