<button class="open-oauth sign-up-banner-button util-btn {{ variableClasses }}" data-event-category="Sign Up Button" {{>analytics/fxa id="fx-monitor-sign-up-button"}}>
  {{getString buttonValue}}
</button>
