<div id="subscribe-to-ffxm" class="modal-content">
  <h3 class="section-headline">Subscribe to Firefox Monitor</h3>
  <p>Firefox Monitor is a service that collects information about data breaches and alerts users when their online accounts are exposed to hackers.</p>
  <button id="subscribe-fxa-btn" class="button transparent-button">Subscribe with Firefox Account</button>
  <form action="/user/add" id="subscribe-form" class="form-group" method="post" novalidate data-no-csrf>
    <div class="input-group">
      <input id="subscribe-email-input" class="input-group-field" type="email" name="email" placeholder="Subscribe with Email Account" minlength="1" aria-label="Enter Email Address" tabindex="0" autocomplete="off" />
      <span id="invalid-signup-email-message" class="error-message">Must be a valid email.</span>
    </div>
    <div class="checkbox-group">
      <input id="additional-emails-checkbox" type="checkbox" name="additional-emails" value="additional-emails" />
      <label for="additional-emails-checkbox">Get the lastest news from Mozilla and Firefox.</label>
    </div>
    <div class="input-group-button">
      <img class="loader" src="/img/loader.gif" alt="loading data" />
      <input id="subscribe-submit" type="submit" class="button submit-email transparent-button" value="Submit" tabindex="0" />
    </div>
  </form>
  <button class="close-modal transparent-button">Close</button>
</div>
