<div id="sign-up-banner">
  <div class="section-wrapper">
    <div class="fourth subscribe-icon-wrapper">
      <img src="/img/subscribe-icon.svg" />
    </div>
    <div class="half">
      <span class="medium">Subscribe to Firefox Monitor</span>
      <p class="demi">Subscribe to Firefox Monitor for a full report on your compromised accounts (including sensitive sites and spam lists).</p>
    </div>
    <div class="fourth">
      {{> sign_up_button}}
    </div>
  </div>
</div>
