<button class="button sign-up-button {{#if FXA_ENABLED}} open-oauth{{/if}}" id="sign-up" data-event-category="Sign Up Button" {{>analytics/fxa id="fx-monitor-sign-up-button"}}>
  {{#if FXA_ENABLED}}
    {{fluentFormat req.supportedLocales "sign-up"}}
  {{else}}
    {{fluentFormat req.supportedLocales "get-your-report"}}
  {{/if}}
</button>
