<div class="half social_container">
  <ul class="social-media-sharing-buttons">
    <li>
      <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ SERVER_URL }}" target="_blank" rel="noopener noreferrer" {{> analytics/social_event eventLabel="Facebook"}} aria-label="Facebook">
        {{> sprite symID="facebook"}}
        <span>{{fluentFormat req.supportedLocales "share"}}</span>
      </a>
    </li>
    <li>
      <a class="twitter" href="https://twitter.com/intent/tweet?url={{ SERVER_URL }}" target="_blank" rel="noopener noreferrer" {{> analytics/social_event eventLabel="Twitter"}} aria-label="Twitter">
        {{> sprite symID="twitter"}}
        <span>{{fluentFormat req.supportedLocales "tweet"}}</span>
      </a>
    </li>
  </ul>
</div>
