<ul class="social-media-sharing-buttons">
  <li>
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Find%20out%20if%20your%20email%20addresses%20have%20been%20hacked%20at%20https://monitor.firefox.com.">
      Tweet
      <img src="/img/social_media_icons/twitter.svg" />
    </a>
  </li>
  <li>
    Share
   <img class="facebook-button" src="/img/social_media_icons/facebook.svg" />
  </li>
</ul>
