<ul class="social-media-sharing-buttons">
  <li>
    <img class="facebook-button" alt="Share Firefox Monitor on Facebook" src="/img/social_media_icons/social-facebook.svg" />
    Share
  </li>
  <li>
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Find%20out%20if%20your%20email%20addresses%20have%20been%20hacked%20at%20https://monitor.firefox.com.">
      <img alt="Share Firefox Monitor on Twitter" src="/img/social_media_icons/social-twitter.svg" />
      Tweet
    </a>
  </li>
</ul>
