<ul class="social-media-sharing-buttons">
  <li>
    <a href="https://www.facebook.com/sharer/sharer.php?u={{ SERVER_URL}}" rel="noopener noreferrer" data-analytics-event="facebook" class="sendGA">
    <img class="facebook-button" alt="Share Firefox Monitor on Facebook" src="/img/social_media_icons/social-facebook.svg" />
    Share
    </a>
  </li>
  <li>
    <a href={{ encodeURI "Have your accounts been leaked or stolen in a data breach? Find out at Firefox Monitor. Search our database and sign up for alerts." }} rel="noopener noreferrer" data-analytics-event="twitter" class="twitter-share-button sendGA">
      <img alt="Share Firefox Monitor on Twitter" src="/img/social_media_icons/social-twitter.svg" />
      Tweet
    </a>
  </li>
</ul>
