<ul class="social-media-sharing-buttons">
  <li>
    <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Find%20out%20if%20your%20email%20addresses%20have%20been%20hacked%20at%20https://monitor.firefox.com.">
      <img src="/img/social_media_icons/twitter.svg" />
    </a>
  </li>
  <li>
   <img src="/img/social_media_icons/facebook.svg" />
  </li>
  <li>
    <a href="mailto:?&subject=Firefox%20Monitor%20%3A%20Protect%20Your%20Data&body=Firefox%20Monitor%20%3A%20Get%20Michelle%20to%20whip%20up%20a%20blurb%20about%20Firefox%20Monitor%20that%20goes%20here%3F%20%0A%0Ahttps%3A%2F%2Fmonitor.firefox.com/" target="_blank" rel="noopener noreferrer" aria-label="Email"><img src="/img/social_media_icons/mail.svg" /></a>
  </li>
</ul>
