<ul class="social-media-sharing-buttons">
  <li>
    <a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ SERVER_URL }}" target="_blank" rel="noopener noreferrer" {{> analytics/social_event eventLabel="Facebook"}} aria-label="Facebook">
      {{> sprite symID="facebook"}}
      {{> sprite symID="facebook-round"}}
      <span>Share</span>
    </a>
  </li>
  <li>
    <a class="twitter" href="https://twitter.com/intent/tweet?url={{ SERVER_URL }}" target="_blank" rel="noopener noreferrer" {{> analytics/social_event eventLabel="Twitter"}} aria-label="Twitter">
      {{> sprite symID="twitter"}}
      {{> sprite symID="twitter-round"}}
      <span>Tweet</span>
    </a>
  </li>
</ul>
