
{{!< default }}
<div id="password-advice" class="section-container">
  <div class="section-wrapper">
    <h3>Passwords</h3>
    <h4>The Key to Account Security</h4>
    <p>Your passwords protect all of the personal information that resides in your online accounts, from bank balances and credit card numbers to your home address and private messages. Passwords are so valuable that thousands of passwords are stolen every day and accounts are traded on the black market.  Take these six steps to protect yours.</p>
  </div>
</div>
<div id="tips-container" class="section-container">
  <div class="tips-wrapper">

    <!-- tip #1-->
    <div class="tip-container">
      <div class="tip">
        <div class="svg-background">
          <img src="img/Password_Tip_1@2x.png" alt="Use a different password for every account">
          <span class="tip-numeral demi">1</span>
        </div>
        <div class="tip-header">
          <h4>Use a different password<br>for every account</h4>
        </div>
        <p>You can't prevent a data breach, but you can limit your exposure by always using different passwords for different websites.</p>
      </div><!--closes tip-->
    </div><!--closes tip-container 1-->

    <!-- tip # 2 -->
    <div class="tip-container">
      <div class="tip">
        <div class="svg-background">
          <img src="img/Password_Tip_2@2x.png" alt="Create strong passwords">
          <span class="tip-numeral demi">2</span>
        </div>
        <div class="tip-header">
          <h4>Create strong<br>passwords</h4>
        </div>
        <p>Hackers try to steal passwords by using lists of common passwords and by guessing. The longer and more random your password is, the harder it will be to steal.</p>
      </div><!--closes tip-->
    </div><!--closes tip-container 2-->

    <!-- tip #3 -->
    <div class="tip-container">
      <div class="tip">
        <div class="svg-background">
          <img src="img/Password_Tip_3@2x.png" alt="Make strong security questions">
          <span class="tip-numeral demi">3</span>
        </div>
        <div class="tip-header">
          <h4>Make strong<br>security questions</h4>
        </div>
        <p>Websites don't care if your security questions are accurate - they only care that your answers match every time. So give answers to the security questions that are long and random, like your passwords.</p>
      </div><!--closes tip-->
    </div><!--closes tip-container 3-->

    <!-- tip # 4 -->
    <div class="tip-container">
      <div class="tip">
        <div class="svg-background">
          <img src="img/Password_Tip_4@2x.png" alt="Use a password manager">
          <span class="tip-numeral demi">4</span>
        </div>
        <div class="tip-header">
          <h4>Use a password<br>manager</h4>
        </div>
        <p>Password managers like 1Password, LastPass, or Dashlane can generate strong passwords for you, remember them for you, and fill them into websites so you don't have to type them in.</p>
      </div><!--closes tip-->
    </div><!--closes tip-container 4-->

    <!-- tip # 5 -->
    <div class="tip-container">
      <div class="tip">
        <div class="svg-background">
          <img src="img/Password_Tip_5@2x.png" alt="Use two-factor authentication">
          <span class="tip-numeral demi">5</span>
        </div>
        <div class="tip-header">
          <h4>Use two-factor<br>authentication</h4>
        </div>
        <p>Websites that offer two-factor authentication (also known as 2FA) will commonly register your mobile number or provide you with an access code to install an app. When you log in to the site, you will be prompted to enter a code sent to your phone or respond to a message on the app before gaining access.</p>
      </div><!--closes tip-->
    </div><!--closes tip-container 5-->

    <!-- tip # 6 -->
    <div class="tip-container">
      <div class="tip">
        <div class="svg-background">
          <img src="img/Password_Tip_6@2x.png" alt="Sign up for alerts from Firefox Monitor">
          <span class="tip-numeral demi">6</span>
        </div>
        <div class="tip-header">
          <h4>Sign up for alerts from<br>Firefox Monitor</h4>
        </div>
        <p>We'll let you know if your account information is compromised in a data breach or exposed to hackers in some other way.</p>
      </div><!--closes tip-->
    </div><!--closes tip-container 6-->
  </div>
</div>

