<div id="vpnPromoBanner" class="vpn-promo-banner closed">
	<div class="vpn-promo-banner-wrapper">
		<img alt="Mozilla VPN" class="vpn-promo-logo" src="/img/svg/logos/mozilla-vpn.svg"/>
		<div class="vpn-promo-copy">
			<strong>Now’s the time to boost your safety online.</strong>
			<span>Mozilla’s Virtual Private Network helps shield your internet connection from hackers and spies.</span>
		</div>
		<a href="#">
			Get Mozilla VPN
		</a>
		<button id="vpnPromoCloseButton" type="button" name="button"><img src="/img/svg/x-close-black.svg"/></button>
	</div>
</div>
