<aside class="vpn-banner">
	{{#with (getIpInfo)}}
	<section class="vpn-banner-top">
		<label>Your Location: <output>{{ shortLocation }}</output>&nbsp; • </label>
		<label><output class="vpn-banner-red">Not protected</output> by Mozilla VPN. </label>
		<label>Expand for more <img class="vpn-banner-chevron" src="/img/svg/chevron.svg" width="16" height="16"></label>
	</section>
	<section class="vpn-banner-bottom">
		<h2 class="vpn-banner-title">Protect your IP address and browse securely in 3 steps</h2>
		<div class="vpn-banner-lists">
			<ul class="status-list">
				<li>Current status: <output class="vpn-banner-red">Not protected ⚠</output></li>
				<li>IP address: <output>{{ ip }}</output></li>
				<li>Location: <output>{{ fullLocation }}</output></li>
				<li><a class="vpn-banner-cta" href="https://vpn.mozilla.org/" target="_blank">Get Mozilla VPN</a></li>
			</ul>
			<ol class="step-list">
				<li>
					<figure><img src="/img/svg/laptop.svg">
						<figcaption>Subscribe to Mozilla VPN</figcaption>
					</figure>
				</li>
				<li>
					<figure><img src="/img/svg/globe.svg">
						<figcaption>Select a VPN location</figcaption>
					</figure>
				</li>
				<li>
					<figure><img src="/img/svg/vpn.svg">
						<figcaption>Activate VPN and browse securely</figcaption>
					</figure>
				</li>
			</ol>
		</div>
		<button class="vpn-banner-close"></button>
		</section>
	{{/with}}
</aside>
