<div id="vpnPromoBanner" class="vpn-promo-banner closed">
	<div class="vpn-promo-banner-wrapper">
		<img alt="Mozilla VPN" class="vpn-promo-logo" src="/img/svg/logos/mozilla-vpn.svg"/>
        <div class="btn-white">TESTING IP: {{{ getIpLocation }}}</div>

      
		<div class="vpn-promo-copy">
			<strong>{{ getStringWithFallback "vpn-promo-headline-new" "vpn-promo-headline" }}</strong>
			<span>{{ getStringWithFallback "vpn-promo-copy-new" "vpn-promo-copy" }}</span>
		</div>
		<a class="vpn-promo-cta" href="https://www.mozilla.org/products/vpn/?utm_source=monitor&utm_medium=monitor&utm_campaign=mozillavpn-monitor-top-banner">{{ getString "vpn-promo-cta" }}</a>
		<button id="vpnPromoCloseButton" type="button" name="button" data-event-category="vpn-promo-close"><img src="/img/svg/x-close-black.svg"/></button>
	</div>
</div>
