<div id="what-to-do">
  <div class="section-wrapper">
    <h3 class="whole section-headline">What To Do</h3>
    <div class="fourth">
      <span class="numeral">1</span>
      <p>
        <span class="bold">Change your password</span> on these sites and anywhere else you've used the same password.
      </p>
    </div>
    <div class="fourth">
      <span class="numeral">2</span>
      <p>
        Make your answers to <span class="bold">security questions</span> just as strong as your passwords.
      </p>
    </div>
    <div class="fourth">
      <span class="numeral">3</span>
      <p>
        <span class="bold">Use password managers</span> like 1Password, LastPass, or Dashlane to generate strong passwords for you, remember them for you, and fill them into websites so you don't have to type them in.
      </p>
    </div>
    <div class="fourth">
      <span class="numeral">4</span>
      <p>
        <span class="bold">Subscribe</span> for alerts from Firefox Monitor to learn sooner about your compromised accounts.
      </p>
    </div>
  </div>
</div>
