<ol id="what-to-do">
  <li>
    <span>1</span>
    <span class="bold">Change your password</span> on these sites and anywhere else you've used the same password.
  </li>
  <li>
    <span>2</span>
    Make your answers to <span class="bold">security questions</span> just as strong as your passwords.
  </li>
  <li>
    <span>3</span>
    <span class="bold">Use password managers</span> like 1Password, LastPass, or Dashlane to generate strong passwords for you, remember them for you, and fill them into websites so you don't have to type them in.
  </li>
  <li>
    <span>4</span>
    <span class="bold">Subscribe</span> for alerts from Firefox Monitor to learn sooner about your compromised accounts.
  </li>
  <li>
    <form action="/scan" class="email-scan" method="post">
      <label class="medium">Scan another email address</label>
      <div class="input-group">
        <input class="input-group-field email-to-hash" type="email" placeholder="Enter Email">
        <input type="hidden" name="emailHash">
        <div class="input-group-button">
          <img src="img/Search.svg" alt="search icon" />
          <input id="submit-email" type="submit" class="button" value="">
        </div>
      </div>
    </form>
  </li>
</ol>
