<div id="what-to-do" class="{{ class  }}">
  <div class="section-wrapper drop-shadow">
    <h3 class="whole section-headline">{{getString "what-to-do-headline"}}</h3>
    {{#loop 1 4 1}}
      <div class="half">
        <div class="num-icon">
          {{> what_to_do_svg number=this }}
        </div>
        <div class="wrap-col">
          <p class="medium">{{getStringID ../req.supportedLocales "what-to-do-subhead-" this}}</p>
          <p>{{getStringID ../req.supportedLocales "what-to-do-blurb-" this}}</p>
        </div>
      </div>
    {{/loop}}
  </div>
</div>

