<div id="what-to-do">
  <div class="section-wrapper drop-shadow">
    <h3 class="whole section-headline">What To Do</h3>
    <div class="fourth">
      {{> what_to_do_svg number=1 }}
      <p><span class="bold">Change your password</span> on these sites and anywhere else you've used the same password.</p>
    </div>
    <div class="fourth">
      {{> what_to_do_svg number=2 }}
      <p>Make your answers to <span class="bold">security questions</span> just as strong as your passwords.</p>
    </div>
    <div class="fourth">
      {{> what_to_do_svg number=3 }}
      <p><span class="bold">Use password managers</span> like 1Password, LastPass, or Dashlane to generate strong passwords, remember them, and fill them into websites so you don't have to.</p>
    </div>
    <div class="fourth">
      {{> what_to_do_svg number=4 }}
      <p><span class="bold">Subscribe</span> to alerts from Firefox Monitor to learn sooner about your compromised accounts.</p>
    </div>
  </div>
</div>
