<ol id="what-to-do">
  <li>What to Do</li>
  <li>
    <span class="numeral">1</span>
    <span class="bold">Change your password</span> on these sites and anywhere else you've used the same password.
  </li>
  <li>
    <span class="numeral">2</span>
    Make your answers to <span class="bold">security questions</span> just as strong as your passwords.
  </li>
  <li>
    <span class="numeral">3</span>
    <span class="bold">Use password managers</span> like 1Password, LastPass, or Dashlane to generate strong passwords for you, remember them for you, and fill them into websites so you don't have to type them in.
  </li>
  <li>
    <span class="numeral">4</span>
    <span class="bold">Subscribe</span> for alerts from Firefox Monitor to learn sooner about your compromised accounts.
  </li>
  <li>
    <span class="scan-another-email">Scan another email address.</span> 
    {{> scan_form }}
  </li>
</ol>
