## Secrets (get these from a team member)

OAUTH_CLIENT_SECRET=
SMTP_URL=

# Have I Been Pwned setup
HIBP_KANON_API_TOKEN=
HIBP_API_TOKEN=
HIBP_NOTIFY_TOKEN=

# OneRep setup
ONEREP_API_KEY=
ONEREP_WEBHOOK_SECRET=

# Used for `npm run create-location-data`
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=



## Settings you might want to customise

ADMINS=youraddress@mozilla.com,youraddress+anotheraccount@mozilla.com
DATABASE_URL="postgres://blurts:blurts@localhost:5432/blurts"
REDIS_URL=redis://redis.mock

# Set these to be able to run end-to-end tests locally
E2E_TEST_ACCOUNT_EMAIL=
E2E_TEST_ACCOUNT_PASSWORD=
E2E_TEST_ACCOUNT_EMAIL_ZERO_BROKERS=
E2E_TEST_ACCOUNT_EMAIL_ZERO_BREACHES_ZERO_BROKERS=
E2E_TEST_ACCOUNT_EMAIL_EXPOSURES_STARTED=
E2E_TEST_PAYPAL_LOGIN =
E2E_TEST_PAYPAL_PASSWORD =



## Good defaults for a local setup:

APP_ENV=local
SERVER_URL=http://localhost:6060
PORT=6060
NEXTAUTH_URL=http://localhost:6060
# A random string, see
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=r7nKAKDWV0Bl53GHgQ/kA/EJCM2zvuH+8G3wZtwbXEA=
# This needs to match the "From:" address for the AWS account linked to $SMTP_URL
EMAIL_FROM="Mozilla Monitor Stage <breach-alerts@stage.mozaws.net>"
# Whether GA4 sends data or not. NOTE: must be set in build environment.
NEXT_PUBLIC_GA4_DEBUG_MODE=true
SUBSCRIPTION_BILLING_AMOUNT_YEARLY_US=13.37
SUBSCRIPTION_BILLING_AMOUNT_MONTHLY_US=42.42
SUBSCRIPTION_BILLING_AMOUNT_BUNDLE_INDIVIDUAL_US=4242
SUBSCRIPTION_BILLING_AMOUNT_BUNDLE_YEARLY_US=42

# HIBP setup
HIBP_KANON_API_ROOT=https://enterprise.stage-api.haveibeenpwned.com

# Sentry setup
SENTRY_DSN=https://573f784b5cc7481ebf8c0c385d2ad776@o1069899.ingest.sentry.io/4504612374052864
NEXT_PUBLIC_SENTRY_DSN=https://573f784b5cc7481ebf8c0c385d2ad776@o1069899.ingest.sentry.io/4504612374052864

# SubPlat 2.0 URL, product and plan IDs, used for Plus subscriptions:
FXA_SUBSCRIPTIONS_URL=https://accounts.stage.mozaws.net/subscriptions
PREMIUM_PRODUCT_ID=prod_NErZh679W62lai
PREMIUM_PLAN_ID_MONTHLY_US=price_1MUNq0Kb9q6OnNsL4BoJgepf
PREMIUM_PLAN_ID_YEARLY_US=price_1NvqawKb9q6OnNsLRTnYrtrV

# SubPlat 3.0 URL and offering ID, used for Plus subscriptions:
SUBPLAT_SUBSCRIPTIONS_URL=https://payments-next.stage.fxa.nonprod.webservices.mozgcp.net
SUBPLAT_MONITOR_OFFERING_ID=monitorplusstage

# Mozilla Accounts URLs
FXA_SETTINGS_URL=https://accounts.stage.mozaws.net/settings
OAUTH_CLIENT_ID=edd29a80019d61a1
# Set based on https://accounts.stage.mozaws.net/.well-known/openid-configuration
OAUTH_AUTHORIZATION_URI=https://accounts.stage.mozaws.net/authorization
OAUTH_METRICS_FLOW_URI=https://accounts.stage.mozaws.net/metrics-flow
OAUTH_PROFILE_URI=https://profile.stage.mozaws.net/v1/profile
OAUTH_TOKEN_URI=https://oauth.stage.mozaws.net/v1/token
OAUTH_ACCOUNT_URI=https://oauth.stage.mozaws.net/v1

# Mozilla privacy product URLs
FIREFOX_RELAY_LANDING_URL=https://monitor-stage.allizom.org
MOZILLA_VPN_LANDING_URL=https://www-dev.allizom.org/products/vpn

# Which environment to run end-to-end tests against:
E2E_TEST_ENV=local
E2E_TEST_BASE_URL=http://localhost:6060

# Used for `npm run create-location-data`
AWS_REGION=us-east-1
S3_BUCKET=firefoxmonitor-dev-monitor-cdn-dev-static-website

# Data broker removal estimates data
DATA_BROKER_REMOVAL_ESTIMATES_DATA=[]

# GCP PubSub settings - see the PubSub heading in the README
GCP_PUBSUB_PROJECT_ID=your-project-name
GCP_PUBSUB_TOPIC_NAME=hibp-breaches
GCP_PUBSUB_SUBSCRIPTION_NAME=hibp-cron
PUBSUB_EMULATOR_HOST=localhost:8085
