node_modules
.node-version
.env
src/.env
coverage
.coveralls.yml
.DS_Store
breach_hashsets
version.json
loadtests/__pycache__
loadtests/venv
.tmp
public/dist
dist
**/test-results/
**/playwright-report/
**/playwright/.cache/
**/storageState.json
state.json
src/client/images/logo_cache/
src/.venv
