{
  "extends": [
    "stylelint-config-standard"
  ],
  "rules": {
    "alpha-value-notation": "number",
    "import-notation": "string",
    "no-descending-specificity": [
      true,
      {
        "severity": "warning",
        "ignore": [
          "selectors-within-list"
        ]
      }
    ],
    "property-no-vendor-prefix": null,
    "selector-type-no-unknown": [
      true,
      {
        "ignore": [
          "custom-elements"
        ]
      }
    ],
    "string-quotes": "single"
  }
}
