openapi: "3.1.1"
info:
  title: Monitor Breach Alerts API
  description: |
    Monitor's external API for Firefox clients.

    Remote Settings owns breach facts, this API owns per-user resolution state. The client joins them on the HIBP breach name, returned here as `id`.

    "Monitored" means the account's verified primary and secondary email addresses.
  version: "1.0.0"
  license:
    name: MPL-2.0
    identifier: MPL-2.0
# The web app already owns /api/v1.
servers:
  - url: https://monitor.mozilla.org/api/firefox/v1
    description: Production endpoint
  - url: https://monitor-stage.allizom.org/api/firefox/v1
    description: Stage endpoint
  - url: https://dev.monitor.nonprod.webservices.mozgcp.net/api/firefox/v1
    description: Dev endpoint
  - url: http://localhost:6060/api/firefox/v1
    description: Local development server
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      # We introspect the token with FxA.
      description: An OAuth token granted by Firefox Accounts (FxA), carrying the `https://identity.mozilla.com/apps/monitor` scope. Treat it as opaque.
  schemas:
    Error:
      type: object
      description: Body of every non-2xx response. Branch on `code`. `message` is for logs and bug reports, it is not stable, so do not match on it.
      required:
        - code
        - message
      properties:
        code:
          description: Stable, machine-readable cause. Kebab-case, like the data class values.
          type: string
          enum:
            - token-invalid
            - missing-scope
            - no-monitor-account
            - invalid-request
            - not-found
            - rate-limited
            - unavailable
        message:
          type: string
    DataClass:
      description: A kind of data leaked in a breach. This API handles `passwords` alone. Remote Settings serves the same value in HIBP's Title Case, `Passwords`. Expect more values later, so treat this as an open set rather than generating a closed type from it.
      type: string
      enum:
        - passwords
    UserBreachState:
      type: object
      description: Per-email resolution state for one breach.
      required:
        - email
        - resolvedDataClasses
      properties:
        email:
          description: The impacted email address
          type: string
          format: email
        resolvedDataClasses:
          # No timestamp, we store a checked list.
          description: Data classes this user has marked resolved for this breach, in the privacy panel or on the Monitor website. Scoped to `passwords`, so resolutions of other exposures are not reported here.
          type: array
          items:
            $ref: "#/components/schemas/DataClass"

    UserBreach:
      type: object
      description: One breach affecting this user, with resolution state per affected email.
      required:
        - id
        - breachedAccounts
      properties:
        id:
          # Not the internal numeric breach id.
          description: The HIBP breach name, for example `Adobe`. Firefox joins the breach metadata locally from the `fxmonitor-breaches` Remote Settings collection.
          type: string
        breachedAccounts:
          type: array
          items:
            $ref: "#/components/schemas/UserBreachState"

  responses:
    Unauthorized:
      description: No usable token. The `Authorization` header is missing or malformed, or FxA reports the token as inactive or expired.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: token-invalid
            message: FxA reports this token as inactive.
    Forbidden:
      description: |
        The token is valid but does not grant access: either it lacks the Monitor scope, or the account has no Monitor subscriber. Monitor serves existing accounts only and never creates one.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            missingScope:
              summary: Token does not carry the Monitor scope
              value:
                code: missing-scope
                message: This token lacks the https://identity.mozilla.com/apps/monitor scope.
            noMonitorAccount:
              summary: FxA account has never signed up for Monitor
              value:
                code: no-monitor-account
                message: This Firefox account has no Monitor subscriber.
    TooManyRequests:
      description: Rate limited. Wait the interval in `Retry-After`, then retry.
      headers:
        Retry-After:
          required: true
          description: Seconds to wait before retrying.
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: rate-limited
            message: Too many requests. Retry after 60 seconds.
    ServiceUnavailable:
      description: Monitor is unavailable. Safe to retry, after the interval in `Retry-After` when it is present.
      headers:
        Retry-After:
          required: false
          description: Seconds to wait before retrying.
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: unavailable
            message: Monitor is temporarily unavailable.

paths:
  /user/breaches:
    get:
      summary: List password breaches affecting this user
      # Passwords only, the panel's one action.
      description: |
        Breaches that leaked passwords, with `passwords` resolution state for each monitored email the breach affected.

        **Freshness.** When HIBP is unavailable we serve the last known breach data as a normal `200`, with no staleness signal.

        **Cadence.** Poll no more than hourly, and once a day is enough. Breaches reach HIBP weeks or months after the incident, so polling harder gains nothing, and the `429` threshold is set with this range in mind.

      parameters:
        - name: domain
          in: query
          required: false
          description: Filter by the breached site's primary domain, matched exactly. A breach filed under `twitter.com` does not match `x.com`.
          schema:
            type: string
            minLength: 1
          examples:
            example:
              summary: Example domain
              value: example.com
        - name: includeSensitive
          in: query
          required: false
          description: Include breaches marked sensitive.
          schema:
            type: boolean
            default: false

      responses:
        "200":
          description: |
            Breaches affecting emails this user is monitoring.

            Absence is authoritative. A breach missing from this list means we checked and this user is not affected by it, not that we failed to look. An empty array means the same for every breach.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserBreach"
              examples:
                hasBreaches:
                  summary: Breaches found
                  value:
                    - id: "Adobe"
                      breachedAccounts:
                        - email: "alice@example.com"
                          resolvedDataClasses: ["passwords"]
                noResults:
                  summary: No breaches found
                  value: []
        "400":
          description: A query parameter failed validation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: invalid-request
                message: "domain must not be empty."
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /user/breaches/resolutions:
    post:
      summary: Mark password breaches resolved
      description: |
        Mark data classes resolved for one or more breaches. Resolutions only move one way, this API cannot unresolve a data class.

        Idempotent per `(email, dataClass, breachId)`. Repeated `breachId` entries merge, and order does not matter.

        Atomic: every targeted email and data class updates, or none does.

        Every address in `emails` must be monitored by the authenticated user.

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              items:
                type: object
                additionalProperties: false
                required:
                  - dataClasses
                  - breachId
                properties:
                  emails:
                    type: array
                    minItems: 1
                    description: Monitored email addresses to apply the update to. If omitted, applies to every monitored address the referenced breach affected.
                    items:
                      type: string
                      format: email
                  dataClasses:
                    type: array
                    minItems: 1
                    description: Data classes to mark resolved for the selected emails.
                    items:
                      $ref: "#/components/schemas/DataClass"
                  breachId:
                    description: The HIBP breach name, as returned by `GET /user/breaches` in `id`.
                    type: string
            examples:
              resolveMultipleBreaches:
                summary: Resolve multiple breaches
                value:
                  - breachId: "Adobe"
                    dataClasses: ["passwords"]
                  - breachId: "LinkedIn"
                    dataClasses: ["passwords"]
                    emails: ["alice@example.com"]
              resolvePasswordsOneEmail:
                summary: Resolve passwords for one email in one breach
                value:
                  - emails: ["alice@example.com"]
                    dataClasses: ["passwords"]
                    breachId: "Adobe"
      responses:
        "204":
          description: Resolution state updated successfully.
        "400":
          description: Invalid request, for example an empty batch, an empty `dataClasses` array, or a malformed email address.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                unknownDataClass:
                  summary: Data class outside the accepted set
                  value:
                    code: invalid-request
                    message: "dataClasses[0] must be one of: passwords."
                malformedEmail:
                  summary: Email is not a valid address
                  value:
                    code: invalid-request
                    message: "emails[0] is not a valid email address."
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: An unknown `breachId`, a breach this endpoint does not serve, or an email address this user does not monitor, which includes an address the user owns but has not verified. All give the same code and message on purpose, so the response cannot be used to work out which addresses exist on an account.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: not-found
                message: One or more of the referenced breaches or email addresses was not found.
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
