openapi: "3.1.1"
info:
  title: Monitor Breach Alerts API
  description: |
    Monitor's external API for Firefox clients.

    Remote Settings owns breach facts, this API owns per-user resolution state. The client joins them on the HIBP breach name, returned here as `id`.

    "Monitored" means the account's verified primary and secondary email addresses.
  version: "1.0.0"
  license:
    name: MPL-2.0
    identifier: MPL-2.0
# The web app already owns /api/v1.
servers:
  - url: https://monitor.mozilla.org/api/firefox/v1
    description: Production endpoint
  - url: https://monitor-stage.allizom.org/api/firefox/v1
    description: Stage endpoint
  - url: https://dev.monitor.nonprod.webservices.mozgcp.net/api/firefox/v1
    description: Dev endpoint
  - url: http://localhost:6060/api/firefox/v1
    description: Local development server
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      # We introspect the token with FxA.
      description: An OAuth token granted by Firefox Accounts (FxA), carrying the `https://identity.mozilla.com/apps/monitor` scope. Treat it as opaque.
  schemas:
    Error:
      type: object
      description: Body of every non-2xx response we generate. Our WAF can answer first, and those responses carry neither this body nor a `code`. Branch on `code`. `message` is for logs and bug reports, it is not stable, so do not match on it.
      required:
        - code
        - message
      properties:
        code:
          description: Stable, machine-readable cause, kebab-case. Today `token-invalid`, `missing-scope`, `no-monitor-account`, `invalid-request`, `not-found`, `rate-limited`, `internal-error`, `unavailable`. We may add values in the future, so fall back to the status code for one you do not recognise.
          type: string
        message:
          type: string
    DataClass:
      description: A data class you can mark resolved. Closed set, we reject anything else with a `400`. Remote Settings serves the same values in HIBP's Title Case, `Passwords` and `Email addresses`.
      type: string
      enum:
        - passwords
        - email-addresses
    ResolvedDataClass:
      description: A data class we report as resolved. `passwords` and `email-addresses` today, but this is an open set, so accept a value you do not recognise instead of rejecting the response.
      type: string
    BreachResolution:
      description: One item of a `POST /user/breaches/resolutions` body. Names a breach and the data classes to mark resolved, applied to every address in `emails`, or to every address the breach affected when `emails` is omitted.
      type: object
      additionalProperties: false
      required:
        - dataClasses
        - breachId
      properties:
        emails:
          type: array
          minItems: 1
          description: Monitored email addresses to apply the update to. If omitted, applies to every monitored address the referenced breach affected.
          items:
            type: string
            format: email
        dataClasses:
          type: array
          minItems: 1
          description: Data classes to mark resolved for the selected emails. Each must be one the referenced breach actually leaked, so a breach that leaked only email addresses takes `email-addresses`, not `passwords`. Sending one it did not leak is a `400`, so refresh your Remote Settings copy before retrying.
          items:
            $ref: "#/components/schemas/DataClass"
        breachId:
          description: The HIBP breach name, as returned by `GET /user/breaches` in `id`.
          type: string
    UserBreachState:
      type: object
      description: One entry of `breachedAccounts`. What a single address has resolved for the breach holding it. Each address carries its own list, so two addresses in the same breach can differ.
      required:
        - email
        - resolvedDataClasses
      properties:
        email:
          description: A monitored address the breach affected.
          type: string
          format: email
        resolvedDataClasses:
          # No timestamp, we store a checked list.
          description: Data classes this user has marked resolved for this breach, in the privacy panel or on the Monitor website. A breach is resolved once this array holds every `Passwords` or `Email addresses` the Remote Settings record lists. That record can carry other data classes, and only the ones this API serves appear here.
          type: array
          items:
            $ref: "#/components/schemas/ResolvedDataClass"

    UserBreach:
      type: object
      description: One item of the `GET /user/breaches` response. A breach, plus one `UserBreachState` for each monitored address it affected.
      required:
        - id
        - breachedAccounts
      properties:
        id:
          # Not the internal numeric breach id.
          description: The HIBP breach name, for example `Adobe`. It is the `Name` of the matching `fxmonitor-breaches` record, matched exactly and case sensitively.
          type: string
        breachedAccounts:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/UserBreachState"

  responses:
    Unauthorized:
      description: No usable token. The `Authorization` header is missing or malformed, or FxA reports the token as inactive or expired.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: token-invalid
            message: FxA reports this token as inactive.
    Forbidden:
      description: |
        The token is valid but does not grant access: either it lacks the Monitor scope, or the account has no Monitor subscriber. Monitor serves existing accounts only and never creates one.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          examples:
            missingScope:
              summary: Token does not carry the Monitor scope
              value:
                code: missing-scope
                message: This token lacks the https://identity.mozilla.com/apps/monitor scope.
            noMonitorAccount:
              summary: FxA account has never signed up for Monitor
              value:
                code: no-monitor-account
                message: This Firefox account has no Monitor subscriber.
    # TODO(MNTOR-4119): set the threshold, and decide app or edge.
    TooManyRequests:
      description: Rate limited. Wait the interval in `Retry-After` if it is present, otherwise back off and retry.
      headers:
        Retry-After:
          required: false
          description: Seconds to wait before retrying.
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: rate-limited
            message: Too many requests. Retry after 60 seconds.
    InternalError:
      description: Something failed on our side. Retry, and keep any state you already hold.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: internal-error
            message: Monitor could not complete this request.
    ServiceUnavailable:
      description: Monitor is unavailable. Safe to retry, after the interval in `Retry-After` when it is present.
      headers:
        Retry-After:
          required: false
          description: Seconds to wait before retrying.
          schema:
            type: integer
            minimum: 1
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/Error"
          example:
            code: unavailable
            message: Monitor is temporarily unavailable.

paths:
  /user/breaches:
    get:
      operationId: listUserBreaches
      summary: List breaches affecting this user
      # Passwords and emails, what the panel acts on.
      description: |
        Breaches that leaked passwords or email addresses, with resolution state for each monitored email the breach affected.

        Sensitive breaches, as HIBP marks them, are never returned. The privacy panel must not surface one, so there is no parameter to ask for them. Remote Settings does carry them, flagged, because the credential manager is allowed to.

        **Freshness.** Breach metadata comes from a catalog we refresh every 10 minutes, so a new breach can take that long to appear. The per user match is live on every request and is not cached, so there is no last known result to serve when it fails.

        **Joining.** Almost every `id` resolves in `fxmonitor-breaches`, but the collection is slower than this API. It publishes daily, and each batch is signed only after a person reviews it, deliberately, because it ships to every Firefox. So a breach can be live here for days before Firefox sees it, and a HIBP rename retires an id. Skip an id you cannot resolve rather than erroring, and pick it up on a later poll.

        **Cadence.** Poll no more than hourly, and once a day is enough. Breaches reach HIBP weeks or months after the incident, so polling harder gains nothing.

      parameters:
        - name: domain
          in: query
          required: false
          description: Filter by the breached site's primary domain, matched exactly. A breach filed under `twitter.com` does not match `x.com`.
          schema:
            type: string
            minLength: 1
          examples:
            example:
              summary: Example domain
              value: example.com
      responses:
        "200":
          description: |
            Breaches affecting emails this user is monitoring.

            A breach missing from this list means we checked and this user is not affected by it. An empty array means that is true for every breach. A `200` is never a partial answer, so when the lookup fails we send a `503` instead.
          headers:
            Cache-Control:
              description: Always `private, no-store`. This response is scoped to one user and must never be cached by a shared intermediary.
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserBreach"
              examples:
                hasBreaches:
                  summary: Breaches found
                  value:
                    - id: "Adobe"
                      breachedAccounts:
                        - email: "alice@example.com"
                          resolvedDataClasses: ["passwords"]
                    - id: "Facebook"
                      breachedAccounts:
                        - email: "alice@example.com"
                          resolvedDataClasses: []
                noResults:
                  summary: No breaches found
                  value: []
        "400":
          description: A query parameter failed validation.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: invalid-request
                message: "domain must not be empty."
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
          description: We could not check this user against HIBP, so we do not know what they are affected by. Keep the breaches you already hold, do not clear them, and retry.

  /user/breaches/resolutions:
    post:
      operationId: createBreachResolutions
      summary: Mark breach data classes resolved
      description: |
        Mark data classes resolved for one or more breaches. Resolutions only move one way, this API cannot unresolve a data class.

        Idempotent per `(email, dataClass, breachId)`. Repeated `breachId` entries merge, and order does not matter.

        Atomic: every targeted email and data class updates, or none does.

        Every address in `emails` must be monitored by the authenticated user, and affected by the referenced breach.

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              items:
                $ref: "#/components/schemas/BreachResolution"
            examples:
              resolveMultipleBreaches:
                summary: Resolve multiple breaches
                value:
                  - breachId: "Adobe"
                    dataClasses: ["passwords"]
                  - breachId: "LinkedIn"
                    dataClasses: ["passwords"]
                    emails: ["alice@example.com"]
              resolvePasswordsOneEmail:
                summary: Resolve passwords for one email in one breach
                value:
                  - emails: ["alice@example.com"]
                    dataClasses: ["passwords"]
                    breachId: "Adobe"
              resolveEmailOnlyBreach:
                summary: A breach that leaked no passwords takes email-addresses
                value:
                  - breachId: "Facebook"
                    dataClasses: ["email-addresses"]
      responses:
        "204":
          description: Resolution state updated successfully.
        "400":
          description: Invalid request, for example an empty batch, an empty `dataClasses` array, a malformed email address, or a data class the referenced breach never leaked.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              examples:
                unknownDataClass:
                  summary: Data class outside the accepted set
                  value:
                    code: invalid-request
                    message: "dataClasses[0] must be one of: passwords, email-addresses."
                malformedEmail:
                  summary: Email is not a valid address
                  value:
                    code: invalid-request
                    message: "emails[0] is not a valid email address."
                dataClassNotInBreach:
                  summary: Breach never leaked the requested data class
                  value:
                    code: invalid-request
                    message: The Facebook breach did not leak passwords.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: |
            Nothing here to resolve, for one of:

            - an unknown `breachId`, or a breach this endpoint does not serve
            - an address this user does not monitor, including one they own but have not verified
            - a monitored address the referenced breach did not affect

            All give the same code and message, so the response does not say which of them applied.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Error"
              example:
                code: not-found
                message: One or more of the referenced breaches or email addresses was not found.
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "500":
          $ref: "#/components/responses/InternalError"
          description: Something failed on our side. Treat the batch as not applied and retry it, repeats are safe.
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
