openapi: "3.1.1"
info:
  title: Monitor Breach Alerts API
  description: |
    Monitor's external API for Firefox clients.

    Two systems own two halves of the picture, in two different vocabularies.
    Remote Settings owns breach facts and serves HIBP's Title Case, for example
    `Passwords`. This API owns per-user resolution state and uses kebab-case, for
    example `passwords`. The client joins the two on the HIBP breach name, which
    this API returns as `id`.

    "Monitored", used throughout, means the account's primary email address plus any
    secondary addresses, verified ones only. An unverified address is not monitored:
    it is never returned here, and a resolution sent for one is rejected.
  version: "1.0.0"
# The web app already owns /api/v1.
servers:
  - url: https://monitor.mozilla.org/api/firefox/v1
    description: Production endpoint
  - url: https://monitor-stage.allizom.org/api/firefox/v1
    description: Stage endpoint
  - url: https://dev.monitor.nonprod.webservices.mozgcp.net/api/firefox/v1
    description: Dev endpoint
  - url: http://localhost:6060/api/firefox/v1
    description: Local development server
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      # FxA owns the token format.
      description: |
        An OAuth token granted by Firefox Accounts (FxA), carrying the
        `https://identity.mozilla.com/apps/monitor` scope.

        We introspect the token with FxA, so this contract asserts no token format: do not
        rely on it being a JWT. Requests are scoped to the token's subject and never touch
        another user's data.
  schemas:
    DataClass:
      description: >
        A kind of data leaked in a breach. This API handles `passwords` alone, since
        the privacy panel's one action is "Mark as done" on a password breach. Note
        that this API uses kebab-case while Remote Settings serves HIBP's Title Case,
        for example `Passwords`, so clients map between the two. This is staying an enum,
        even though we only have one value right now, as adding values later stays backwards
        compatible.
      type: string
      enum:
        - passwords
    UserBreachState:
      type: object
      description: Object describing the current breach state and resolutions
      required:
        - email
        - resolvedDataClasses
      properties:
        email:
          description: The impacted email address
          type: string
          format: email
        resolvedDataClasses:
          description: >
            Data classes this user has marked resolved for this breach, whether in the
            privacy panel or on the Monitor website. Monitor stores a checked list and
            nothing more, so this array carries the data classes alone with no timestamp.
            Scoped to `passwords`, matching the breaches this endpoint returns; a user's
            resolutions of other exposures on the Monitor website are not reported here.
          type: array
          items:
            $ref: "#/components/schemas/DataClass"

    UserBreach:
      type: object
      description: A breach affecting 1 or more email addresses tracked by a Monitor User, and resolution actions taken
      required:
        - id
        - breachedAccounts
      properties:
        id:
          description: >
            The HIBP breach name, for example `Adobe`. Firefox already holds this key
            from the `fxmonitor-breaches` Remote Settings collection, so it joins the
            breach metadata locally. This is not Monitor's internal numeric breach id.
          type: string
        breachedAccounts:
          type: array
          items:
            $ref: "#/components/schemas/UserBreachState"

  responses:
    Unauthorized:
      description: >
        No usable token. The `Authorization` header is missing or malformed, or FxA reports
        the token as inactive or expired.
    Forbidden:
      description: >
        The token is valid but does not grant access, for one of two reasons. Either it lacks
        the `https://identity.mozilla.com/apps/monitor` scope, or the FxA account behind it
        has no Monitor subscriber. This integration serves existing Monitor accounts only and
        never creates one.
    TooManyRequests:
      description: Rate limited. Wait the interval in `Retry-After`, then retry.
      headers:
        Retry-After:
          required: true
          description: Seconds to wait before retrying.
          schema:
            type: integer
            minimum: 1
    ServiceUnavailable:
      description: >
        Monitor is unavailable. This covers our own failures only; an unreachable HIBP is not
        one of them, since we serve last known breach data as a normal `200` instead. Safe to
        retry.

paths:
  /user/breaches:
    get:
      description: |
        Get breaches for an authenticated user. Returns a list of breaches; each item includes
        per-email user state for monitored emails affected by that breach.

        Scoped to breaches that leaked passwords, and to `passwords` resolution state. The
        privacy panel acts on passwords alone, and a breach exposure reveals that a person
        holds an account on a site, so this endpoint returns the narrowest answer that
        serves the panel rather than the user's full exposure history. Firefox holds every
        breach's data classes locally via Remote Settings, so it needs no filter to narrow
        this further.

        **Freshness.** When HIBP is unavailable we serve the last known breach data as a
        normal `200`. The response carries no staleness signal. A client has no useful
        action to take on one. Breaches typically reach HIBP weeks or months after the incident,
        so data that is hours behind is not meaningfully worse.

      parameters:
        - name: domain
          in: query
          required: false
          description: >
            Filter breaches by the breached site's primary domain, matched exactly, for example
            "example.com". Site renames are out of scope for this contract: a breach filed under
            `twitter.com` does not match `x.com`.
          schema:
            type: string
            minLength: 1
          examples:
            example:
              summary: Example domain
              value: example.com
        - name: includeSensitive
          in: query
          required: false
          description: >
            When set to `true`, includes breaches marked as sensitive in the response.
            By default, sensitive breaches are excluded.
          schema:
            type: boolean
          examples:
            include:
              summary: Include sensitive breaches
              value: true

      responses:
        "200":
          description: |
            Breaches affecting emails this user is monitoring.

            Absence is authoritative. A breach missing from this list means we checked and
            this user is not affected by it, not that we failed to look. An empty array
            means the same for every breach. This is what lets a client confidently render
            a "your info was not in this breach" state.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserBreach"
              examples:
                hasBreaches:
                  summary: Breaches found
                  value:
                    - id: "Adobe"
                      breachedAccounts:
                        - email: "alice@example.com"
                          resolvedDataClasses: ["passwords"]
                noResults:
                  summary: No breaches found
                  value: []
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"

  /user/breaches/resolutions:
    post:
      description: |
        Bulk endpoint for breach resolutions.

        Mark data classes resolved for one or more breaches across one or more monitored
        email addresses. Resolutions only move one way: there is no way to unresolve a
        data class through this API.

        This operation is idempotent per `(email, dataClass, breachId)`. Repeating the same
        request results in the same stored state and does not produce an error.

        If `emails` is omitted within an individual resolution item, 
        the update applies to all monitored email addresses affected by the breach referenced by `breachId`
        for the authenticated user.

        **Authorization and privacy**
        - All `emails` provided must be monitored by the authenticated user.
        - For privacy reasons, if any provided email address is not associated with the authenticated
          user, the server treats the request as if the resource does not exist and returns
          `404 Not Found`.
        - An address the user owns but has not verified gets that same `404`. It is not a
          monitored address, and answering identically for both cases keeps the response
          from revealing which addresses exist on the account.

        **Atomicity**
        - Requests are atomic: the update is applied to all targeted emails and dataclasses, or to none.

        **Validation**
        - A data class the referenced breach never leaked is a `400`, not a silent skip.
          Firefox holds every breach's data classes locally via Remote Settings, so it can
          avoid sending one, and accepting it would write state no interface ever surfaces.

        **Repeated input**
        - Repeated `breachId` entries are accepted and merged, taking the union of the
          `(email, dataClass)` pairs they imply. An item that omits `emails` contributes every
          monitored address affected by that breach. Resolutions only move one way, so
          duplicates cannot contradict each other and the result does not depend on order.

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              minItems: 1
              items:
                type: object
                additionalProperties: false
                required:
                  - dataClasses
                  - breachId
                properties:
                  emails:
                    type: array
                    minItems: 1
                    description: >
                      Monitored email addresses to apply the update to. If omitted, applies to all
                      monitored email addresses affected by the referenced breach.
                    items:
                      type: string
                      format: email
                  dataClasses:
                    type: array
                    minItems: 1
                    description: Data classes to mark resolved for the selected emails.
                    items:
                      $ref: "#/components/schemas/DataClass"
                  breachId:
                    description: >
                      The HIBP breach name, for example `Adobe`. The same identifier
                      the `GET /user/breaches` response returns as `id`, not Monitor's
                      internal numeric breach id.
                    type: string
            examples:
              resolveMultipleBreaches:
                summary: Resolve multiple breaches
                value:
                  - breachId: "Adobe"
                    dataClasses: ["passwords"]
                  - breachId: "LinkedIn"
                    dataClasses: ["passwords"]
                    emails: ["alice@example.com"]
              resolvePasswordsOneEmail:
                summary: Resolve passwords for one email in one breach
                value:
                  - emails: ["alice@example.com"]
                    dataClasses: ["passwords"]
                    breachId: "Adobe"
      responses:
        "204":
          description: Resolution state updated successfully.
        # Matches the web app's per-breach resolve.
        "400":
          description: Invalid request, for example an empty batch, an empty `dataClasses` array,
            a malformed email address, or a data class the referenced breach never leaked.
        "401":
          $ref: "#/components/responses/Unauthorized"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          description: Breach or email not found (or not visible to this user)
        "429":
          $ref: "#/components/responses/TooManyRequests"
        "503":
          $ref: "#/components/responses/ServiceUnavailable"
