openapi: "3.1.1"
info:
  title: Monitor Breach Alerts API
  description: Monitor's external API for Firefox clients
  version: "1.0.0"
# The web app already owns /api/v1.
servers:
  - url: https://monitor.mozilla.org/api/firefox/v1
    description: Production endpoint
  - url: https://monitor-stage.allizom.org/api/firefox/v1
    description: Stage endpoint
  - url: https://dev.monitor.nonprod.webservices.mozgcp.net/api/firefox/v1
    description: Dev endpoint
  - url: http://localhost:6060/api/firefox/v1
    description: Local development server
security:
  - bearerAuth: []
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: >
        Token granted by Firefox Accounts (FxA).
        The server validates the token (signature, issuer, audience, expiry) and derives the
        authenticated user from the token subject (`sub`). All `/user/*` endpoints are scoped
        to the authenticated subject and never return or modify data for any other user.
  schemas:
    UserBreachState:
      type: object
      description: Object describing the current breach state and resolutions
      required:
        - email
        - resolvedDataClasses
      properties:
        email:
          description: The impacted email address
          type: string
          format: email
        resolvedDataClasses:
          description: >
            Data classes this user has marked resolved for this breach, for example after
            changing their password. Monitor stores a checked list and nothing more. There
            is no resolution timestamp in the database to expose, so this array carries the
            data classes alone.
          type: array
          items:
            type: string

    UserBreach:
      type: object
      description: A breach affecting 1 or more email addresses tracked by a Monitor User, and resolution actions taken
      required:
        - id
        - breachedAccounts
      properties:
        id:
          description: >
            The HIBP breach name, for example `Adobe`. Firefox already holds this key
            from the `fxmonitor-breaches` Remote Settings collection, so it joins the
            breach metadata locally. This is not Monitor's internal numeric breach id.
          type: string
        breachedAccounts:
          type: array
          items:
            $ref: "#/components/schemas/UserBreachState"

paths:
  /user/breaches:
    get:
      description: >
        Get breaches for an authenticated user. Returns a list of breaches; each item includes
        per-email user state for monitored emails affected by that breach.

      parameters:
        - name: domain
          in: query
          required: false
          description: >
            Filter breaches by the breached site's primary domain (exact match), e.g. "example.com".
          schema:
            type: string
            minLength: 1
          examples:
            example:
              summary: Example domain
              value: example.com
        - name: dataClasses
          in: query
          required: false
          description: >
            Filter breaches to those that leaked any (but not necessarily all) of the specified
            data classes. This filters on the breach's own data classes, which the response no
            longer carries; Firefox reads them from Remote Settings.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          examples:
            passwords:
              summary: Breaches that include passwords
              value: ["passwords"]
            pii:
              summary: Breaches that include passwords or email addresses
              value: ["passwords", "email-addresses"]
        - name: unresolvedDataClasses
          in: query
          required: false
          description: >
            Filter breaches to those where one or more of the specified dataclasses
            are still unresolved for the authenticated user, for at least one breached account.
            A breach matches if any of the specified dataclasses are unresolved 
            for at least one monitored email. Note that the breached accounts in the response are
            not filtered by this parameter; the client will receive the complete set of breached account states
            for the given breach.
          schema:
            type: array
            items:
              type: string
          style: form
          explode: true
          examples:
            passwords:
              summary: Breaches with unresolved passwords
              value: ["passwords"]
        - name: includeSensitive
          in: query
          required: false
          description: >
            When set to `true`, includes breaches marked as sensitive in the response.
            By default, sensitive breaches are excluded.
          schema:
            type: boolean
          examples:
            include:
              summary: Include sensitive breaches
              value: true

      responses:
        "200":
          description: List of breaches associated with emails the user is monitoring
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/UserBreach"
              examples:
                hasBreaches:
                  summary: Breaches found
                  value:
                    - id: "Adobe"
                      breachedAccounts:
                        - email: "alice@example.com"
                          resolvedDataClasses: ["passwords"]
                noResults:
                  summary: No breaches found
                  value: []
        "401":
          description: Authentication required
        "403":
          description: Not authorized

  /user/breaches/resolutions:
    post:
      description: |
        Bulk endpoint for breach resolutions.

        Mark data classes resolved for one or more breaches across one or more monitored
        email addresses. Resolutions only move one way: there is no way to unresolve a
        data class through this API.

        This operation is idempotent per `(email, dataClass, breachId)`. Repeating the same
        request results in the same stored state and does not produce an error.

        If `emails` is omitted within an individual resolution item, 
        the update applies to all monitored email addresses affected by the breach referenced by `breachId`
        for the authenticated user.

        **Authorization and privacy**
        - All `emails` provided must be monitored by the authenticated user.
        - For privacy reasons, if any provided email address is not associated with the authenticated
          user, the server treats the request as if the resource does not exist and returns
          `404 Not Found`.

        **Atomicity**
        - Requests are atomic: the update is applied to all targeted emails and dataclasses, or to none.

      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                additionalProperties: false
                required:
                  - dataClasses
                  - breachId
                properties:
                  emails:
                    type: array
                    minItems: 1
                    description: >
                      Monitored email addresses to apply the update to. If omitted, applies to all
                      monitored email addresses affected by the referenced breach.
                    items:
                      type: string
                      format: email
                  dataClasses:
                    type: array
                    minItems: 1
                    description: Data classes to mark resolved for the selected emails.
                    items:
                      type: string
                  breachId:
                    description: >
                      The HIBP breach name, for example `Adobe`. The same identifier
                      the `GET /user/breaches` response returns as `id`, not Monitor's
                      internal numeric breach id.
                    type: string
            examples:
              resolveMultipleBreaches:
                summary: Resolve multiple breaches
                value:
                  - breachId: "Adobe"
                    dataClasses: ["passwords"]
                  - breachId: "LinkedIn"
                    dataClasses: ["passwords"]
                    emails: ["alice@example.com"]
              resolvePasswordsOneEmail:
                summary: Resolve passwords for one email in one breach
                value:
                  - emails: ["alice@example.com"]
                    dataClasses: ["passwords"]
                    breachId: "Adobe"
      responses:
        "204":
          description: Resolution state updated successfully.
        "400":
          description: Invalid request (e.g., empty dataClasses, invalid email string format, non-unique breach IDs).
        "401":
          description: Authentication required
        "403":
          description: Not authorized
        "404":
          description: Breach or email not found (or not visible to this user)
