<!DOCTYPE html>
<html lang="en">
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600" rel="stylesheet">
    <link rel="stylesheet" href="/css/vendor/foundation.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <script type="text/javascript" src="/js/vendor/jquery.js" defer></script>
    <script type="text/javascript" src="/js/vendor/foundation.min.js" defer></script>
    <script type="text/javascript" src="/js/test.js" defer></script>
  </head>

  <body>
   
    <header class ="top-bar">
      <div class="section-wrapper">
        <div class="topBarLeft">
          <a href="/" alt="Firefox Monitor">
            <h2><img alt="Firefox Logo" class="logo" src="/img/firefox.png" /><span class="medium">Firefox</span> Monitor</h2>
          </a>
        </div>
      </div>
    </header>



      {{{ body }}}




  </body>

</html>
