<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,600" rel="stylesheet" />
    <link rel="stylesheet" href="/css/app.css">
    <script type="text/javascript" src="/js/monitor.js" defer></script>
  </head>
  <body>
    <header class ="top-bar">
      <div class="section-wrapper">
        <div class="top-bar-left">
          <a href="/" alt="Firefox Monitor">
            <h1><img alt="Firefox Logo" class="logo" src="/img/firefox.png" /><span class="medium">Firefox</span> Monitor</h1>
          </a>
        </div>
      
        {{#if breach}}
          <div class="top-bar-right">
            {{> sign_up_header }}
          </div>
        {{/if}}
      </div>
    </header>

      {{{ body }}}
    <div id="footer">
     <div class="section-wrapper">
      <div class="footer-left">
        <a href="https://www.mozilla.org" alt="Mozilla"><img src="/img/moz-logo-bw-rgb.svg" alt="Mozilla Logo"></a>
        <div class="link-wrapper">
          <a href="/">Terms</a>
          <a href="/">Privacy</a>
        </div>
      </div>
      <div class="footer-right">
        <p>Portions of this content are &copy; 1998-2018 by individual mozilla.org contributors. Content available under a <a href="/">Creative Commons license</a>.</p>
      </div>
     </div>
    </div>
  </body>
</html>

