<!DOCTYPE html>
<html lang="en">
  <head>
     <meta charset="utf-8" />
    <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
    <link rel="stylesheet" href="/css/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <meta name="description" content="Firefox Monitor notifies users when their credentials have possibly been leaked or stolen in a data breach. Powered by haveibeenpwned.com." />
    <meta property="og:title" content="Firefox Monitor" />
    <meta property="og:description" content="Protect yourself from hackers." />
    <meta name="twitter:card" content="summary" />
    <meta property="og:url" content="{{ SERVER_URL }}" />
    <meta property="og:image" content="{{ SERVER_URL }}/img/firefox-share.png" />
    <meta name="theme-color" content="#002275" />
    <title>{{ title }}</title>
    <script type="text/javascript" src="/js/vendor/dnt-helper.js"></script>
    <script type="text/javascript" src="/js/tracking_protection.js" defer></script>
    <script type="text/javascript" src="/js/monitor.js" defer></script>
    <link rel="icon" href="/img/favicons/favicon-32.png" sizes="32x32" />
    <link rel="icon" href="/img/favicons/favicon-96.png" sizes="96x96" />
    <link rel="icon" href="/img/favicons/favicon-128.png" sizes="128x128" />
    <link rel="icon" href="/img/favicons/favicon-228.png" sizes="228x228" />
  </head>
  <body>
    <div id="content-wrap" class="content-wrap">
      <img id="header-wave" class="wave" src="/img/wave.svg" />
      {{> subscribe_modal/subscribe_modal_wrapper}}
      <header class ="section-wrapper">
        <div class="half">
          <a class="wrap-row" href="/">
            <img alt="Firefox Logo" class="logo" src="/img/firefox.png" />
            <h1><span class="demi">Firefox</span> Monitor</h1>
          </a>
        </div>
        <div class="half">
          {{> social_media_sharing_buttons}}
        </div>
      </header>
        {{{ body }}}
      <img id="footer-wave" class="wave" src="/img/wave.svg" />
    </div>
    <footer id="footer">
      <div class="section-wrapper">
        <div class="fourth">
          <a class="footer-logo-wrapper" href="https://www.mozilla.org" rel="noopener noreferrer"><img src="/img/moz-logo-bw-rgb.svg" alt="Mozilla Logo" /></a>
          <p>Portions of this content are &copy; 1998-2018 by individual mozilla.org contributors. <br />Content available under a <a href="https://www.mozilla.org/foundation/licensing/website-content/" rel="noopener noreferrer">Creative Commons license</a>.</p>
        </div>
        <ul class="fourth">
          <li>Support</li>
          <li><a href="https://qsurvey.mozilla.com/s3/Firefox-Monitor-Feedback" rel="noopener noreferrer">Give Feedback</a></li>
          <li><a id="GitHub-logo" href="https://github.com/mozilla/blurts-server/" rel="noopener noreferrer"><img src="/img/github.svg" alt="Github Logo" /></a></li>
        </ul>
        <ul class="fourth">
          <li>Legal</li>
          <li><a href="https://www.mozilla.org/about/legal/" rel="noopener noreferrer">Terms</a></li>
          <li><a href="https://www.mozilla.org/privacy/websites/" rel="noopener noreferrer">Privacy</a></li>
        </ul>
        <ul class="fourth">
          <li>Firefox</li>
          <li><a href="https://www.mozilla.org/firefox/new/" rel="noopener noreferrer">Download Firefox</a></li>
          <li><a href="https://www.mozilla.org/firefox/mobile/" rel="noopener noreferrer">Download Firefox Mobile</a></li>
          <li><a href="https://www.mozilla.org/firefox/features/" rel="noopener noreferrer">Features</a></li>
          <li><a href="https://www.mozilla.org/firefox/channel/desktop/" rel="noopener noreferrer">Beta, Nightly, Developer Edition</a></li>
        </ul>
      </div>
    </footer>
  </body>
</html>
