<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/css/vendor/foundation.min.css">
    <link rel="stylesheet" href="/css/app.css">
    <script type="text/javascript" src="/js/vendor/jquery.js" defer></script>
    <script type="text/javascript" src="/js/vendor/foundation.min.js" defer></script>
    <script type="text/javascript" src="/js/test.js" defer></script>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <a href="/"><h2><span class="bold">Firefox</span> Breach Alert</h2></a>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="/">About</a></li>
          <li><a href="#tips">Tips</a></li>
          <li><a class="button" data-open="subscribe-modal">Subscribe</a></li>
        </ul>
      </div>
    </div>

    <div class="grid-x grid-padding-x grid-padding-y">
      {{{ body }}}
    </div>

  </body>

</html>
