<!DOCTYPE html>
<html lang="{{ locale }}">
  <head>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/dist/app.css">
    <link rel="stylesheet" href="/css/partials/email_l10n_testing.css">
    <link rel="stylesheet" href="https://code.cdn.mozilla.net/fonts/fira.css">
    <meta name="partialport" content="width=device-width, initial-scale=1.0, partialport-fit=cover" />
    <title>Firefox Monitor: Email L10n</title>
    <script type="text/javascript" src="/dist/app.js" defer></script>

    {{#if ENABLE_PONTOON_JS}}
      <script src="https://pontoon.mozilla.org/pontoon.js"></script>
    {{/if}}

  </head>
  <body data-server-url="{{ SERVER_URL }}" class="email-locale-testing">
    <section class="container">
      <div class="row jst-cntr">
        <section class="email-test-wrapper">
            <p class="email-subject">
              <span class="bold">Subject: </span>{{ emailSubject }}
            </p>
          <div class="email-content">
            <section class="email-body">
              <img class="l10n-fxm-logo" src="/img/firefox-monitor-logo.png" alt="Firefox Monitor Logo" />
              <img class="l10n-fxm-logotype" src="/img/email_images/fxm-lg-drk.png" alt="Firefox Monitor" />
              {{#unless preFxaEmail}}
                <h2 class="email-hl">
                  {{{ getEmailHeader }}}
                </h2>
              {{/unless}}
              {{> (lookup . 'whichPartial')}}
              {{> email_partials/email_button href=ctaHref }}
            </section>
            {{#showProducts}}
            <section class="email-other-products">
              {{> email_partials/email_products }}
            </section>
            {{/showProducts}}
            {{#showFaqs}}
              <section class="faq-sumo-links">
                {{> email_partials/email_faqs }}
              </section>
            {{/showFaqs}}
          </div><!--email-content-->
          <section class="email-footer">
            {{> email_partials/email_disclaimers }}
            {{> email_partials/email_footer }}
          </section>
        </section>
        <nav class="l10n-nav">
          <a href="/email-l10n">Verification Email</a>
          <a href="/email-l10n/?partial=report&type=singleBreach">Report with Single Breach</a>
          <a href="/email-l10n/?partial=report&type=multipleBreaches">Report with Multiple Breaches</a>
          <a href="/email-l10n/?partial=report&type=noBreaches">Report with No Breaches</a>
          <a href="/email-l10n/?partial=report&type=breachAlert">Breach Alert</a>
          <a href="/email-l10n/?partial=pre-fxa&type=pre-fxa">Pre-FxA Subscriber</a>
        </nav>
      </div>
    </section>
  </body>
</html>
