<!doctype html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

  <title>Firefox Monitor</title>

  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body {
      font: normal 16px/1.2 sans-serif;
      color: black;
    }

    h1,
    p {
      max-width: 600px;
      margin: 12px auto;
      padding: 0 24px;
    }

    a {
      color: #592ACB;
      text-decoration: none;
    }

    table {
      table-layout: fixed;
    }

    @media screen and (max-width:600px) {
      .header-image {
        display: none;
      }
    }

    @media (prefers-color-scheme: dark) {
      .logo > td {
        background-image: url({{ SERVER_URL }}/img/email_images/monitor-logo-transparent-dark-mode.png)
      }
    }
  </style>

</head>

<body style="font: normal 16px/1.2 sans-serif; color: black">
  <table style="width: 100%; max-width:1080px; margin: auto; text-align: center;" role="presentation" border="0"
    cellpadding="0" cellspacing="0">
    {{> email_partials/email-header }}
    {{> (lookup . 'whichPartial') }}
    {{> email_partials/email-footer }}
  </table>
</body>

</html>