@use "../../../../../../../../tokens";

.cancelDialogContents,
.cancelDialogButtons {
  display: flex;
  gap: tokens.$spacing-md;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.cancelDialogContents {
  gap: tokens.$spacing-lg;
}
