@use "../../../../../../../../tokens";

.profileForm {
  display: flex;
  flex-direction: column;
  gap: tokens.$spacing-md;
  width: 100%;

  legend {
    display: contents;

    & > span {
      min-width: calc(tokens.$content-xs * 0.5);
    }
  }

  fieldset {
    border: 0;
    display: flex;
    padding: 0;
    margin: 0;
    min-width: 0;
  }

  strong,
  p {
    font: tokens.$text-body-sm;
  }

  strong {
    font-weight: 600;
  }

  p {
    color: tokens.$color-grey-40;
  }
}

.profileFormButtons {
  align-items: flex-end;
  display: flex;
  gap: tokens.$spacing-md;
  justify-content: flex-end;
}

.profileFormItem {
  display: flex;
  gap: tokens.$spacing-md;
}

.formInputs {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  gap: tokens.$spacing-sm;
}

.inputWrapper {
  align-items: center;
  display: flex;
  gap: tokens.$spacing-xs;
}

.addItemButtonWrapper {
  .button {
    color: tokens.$color-purple-70;
    font: tokens.$text-body-sm;
    font-weight: 600;
    gap: tokens.$spacing-xs;
    padding: tokens.$spacing-xs tokens.$spacing-xs tokens.$spacing-xs 0;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.itemDob {
  font-weight: 400;
}

.cancelDialogContents,
.cancelDialogButtons {
  display: flex;
  gap: tokens.$spacing-md;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.cancelDialogContents {
  gap: tokens.$spacing-lg;
}
