@use "../../../../../tokens";

.banner {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: tokens.$layout-sm;
  max-width: tokens.$content-lg;
  padding: 0 tokens.$layout-sm;
  text-align: center;

  &Header {
    display: flex;
    flex-direction: column;
    gap: tokens.$spacing-sm;

    h2 {
      font-weight: 600;
    }

    strong {
      color: tokens.$color-purple-70;
    }
  }

  .ctaButton {
    display: flex;
    gap: tokens.$spacing-sm;
  }
}
