@import "../../../../../tokens";

.section {
  background-color: $color-grey-05;
  padding: $layout-sm;

  h2 {
    font-weight: 700;
  }
}

.content,
.header {
  display: flex;
  flex-direction: column;
  gap: $layout-sm;
  max-width: $content-lg;
}

.header {
  align-items: center;
  gap: $spacing-sm;
  text-align: center;
}

.logosWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-xs;
  justify-content: center;
  padding: 0;

  @media screen and (min-width: $screen-lg) {
    padding: 0 $layout-sm;
  }

  .logo {
    align-items: center;
    display: flex;

    img {
      padding: $spacing-xs 0;
    }
  }
}
