@import "../../../../tokens";

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0 $layout-2xs;

  @media screen and (min-width: $screen-sm) {
    padding: 0 $layout-sm;
  }

  @media screen and (min-width: $screen-lg) {
    padding: 0 $layout-md;
  }

  section {
    display: flex;
    justify-content: center;
    padding: $layout-sm;
  }
}
