@import "../../../../tokens";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $layout-md;
  height: 100%;
  padding: 0 $layout-2xs $layout-sm;

  @media screen and (min-width: $screen-sm) {
    padding: 0 $layout-sm $layout-sm;
  }

  @media screen and (min-width: $screen-lg) {
    padding: 0 $layout-md $layout-sm;
  }

  section {
    align-items: center;
    border-radius: $border-radius-xl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $layout-sm;
    width: 100%;
  }

  h1 {
    font: $text-title-sm;
  }

  h2,
  h3 {
    font: $text-title-xs;
  }

  h4 {
    font: $text-title-2xs;
  }

  h1,
  h2,
  h3,
  h4 {
    font-family: var(--font-inter);
    font-weight: 400;
    line-height: 1.25em;
  }
}
