@import "../../../../tokens";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $layout-md;
  height: 100%;
  padding: 0 $layout-2xs;

  @media screen and (min-width: $screen-sm) {
    padding: 0 $layout-sm;
  }

  @media screen and (min-width: $screen-lg) {
    padding: 0 $layout-md;
  }

  section {
    display: flex;
    justify-content: center;
  }

  h1 {
    font: $text-title-sm;
  }

  h2,
  h3 {
    font: $text-title-xs;
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-inter);
    font-weight: 400;
    line-height: 1.25em;
  }
}
