@import "../tokens";

.container {
  max-width: $content-xl;

  @media screen and (min-width: $screen-md) {
    padding-left: $layout-sm;
  }

  h2 {
    font: $text-body-lg;
    font-weight: 600;
  }

  .exposuresArea {
    margin-top: $layout-sm;

    .exposureList {
      list-style: none;
      padding: $layout-xs 0;
      display: flex;
      flex-direction: column;
      gap: $spacing-md;
    }
  }
}
