@import "../tokens";

.container {
  padding-left: $layout-sm;
  max-width: $content-xl;
 
  h2 {
    font: $text-body-lg;
    font-weight: 600;
  }

  .exposuresArea {
    margin-top: $layout-sm;

    .exposureList {
      list-style: none;
      padding-top: $layout-xs;
      padding-left: 0;
      margin: 0;
  
      .exposureListItem {
        margin-bottom: $spacing-md;
      }
    }
  }
}
