@import "../tokens";

.container {
  display: flex;
  flex-direction: row;
  position: relative;
  border: 1px solid rgba($color-purple-50, 0.2);
  border-radius: $border-radius-md;
  padding: $layout-lg $spacing-xl;
  background-image: url("./images/dashboard-top-banner-wave.svg");
  background-size: cover;
  background-position: center;

  .content {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;

    h3 {
      font: $text-title-2xs;
    }

    .cta {
      align-self: start;
    }
  }

  & > * {
    flex: 1;
  }

}
