/* Rock/Medium */

/* Rock/Medium/Gray 4 */

/* Path-9 */

/* Neutral/Grey/Grey 10 */

/* Background */

/* Secondary/Purple/Purple 5 */
background: #e7dfff;

/* Layer_1 */
width: 87.96px;
height: 106px;

/* Vector */

/* Vector */

position: absolute;
left: 0.93%;
right: 0.94%;
top: 0.77%;
bottom: 0.78%;

border: 2.25532px solid #010101;
