@import "../../../../tokens";

.inputContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $spacing-lg $spacing-xl;
  padding: $spacing-lg 0;
  width: 100%;

  @media screen and (max-width: $content-md) {
    grid-template-columns: 1fr;
  }
}
.infoList {
  columns: 2;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: $spacing-lg;
}

.infoItem {
  padding: $spacing-sm 0;
}
