@import "../../../../tokens";

.inputContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $spacing-lg $spacing-xl;
  padding: $spacing-lg 0;
  width: 100%;

  @media screen and (max-width: $screen-lg) {
    grid-template-columns: 1fr;
  }
}
.infoList {
  align-items: center;
  columns: 2;
  font: $text-body-lg;
  gap: $spacing-lg;
  list-style: none;
  margin: 0;
  padding-inline-start: var(--exposureDetailsIconWidth);
  padding: 0;

  @media screen and (max-width: $screen-sm) {
    columns: 1;
  }
}

.infoItem {
  display: flex;
  gap: $spacing-xs;
  padding: $spacing-sm 0;
}
