<div class="remove-filter-controls">

  <ul class="remove-filter-list flx flx-row">
    <li class="remove-filter-list-item"><a
        href="/user/remove-data?show_form=true"
        class="btn-violet-secondary btn-transparent btn-small"
      >{{getRemoveString "remove-dash-manage-info"}}</a></li>
    {{!--<li class="remove-filter-list-item">
      <a href="#" class="remove-filter-list-button" role="button">
        <img src="/img/svg/remove-filter-date-icon.svg" alt="{{ getRemoveString "remove-filter-date"}}" class="remove-filter-list-icon"/>
      </a>
    </li>
    <li class="remove-filter-list-item">
      <a href="#" class="remove-filter-list-button" role="button">
        <img src="/img/svg/remove-filter-list-icon.svg" alt="{{ getRemoveString "remove-filter-list"}}" class="remove-filter-list-icon"/>
      </a>
    </li> --}}
  </ul>
