<div class="remove-dash-kanary-header-container flx flx-end">
  <div class="remove-dash-kanary-header">
    <div class="remove-dash-kanary-poweredby flx jst-cntr">
      <img
        src="/img/removal/kanary-poweredby.svg"
        alt="Powered by Kanary"
        class="remove-dash-kanary-logo"
      />
    </div>
    <div class="remove-dash-kanary-more flx jst-cntr">
      <a
        href="http://thekanary.com"
        class="remove-dash-kanary-more-link flx jst-cntr"
      >
        <span class="remove-dash-kanary-more-text">{{getString
            "dash-remove-kanary-more"
          }}</span>
        <img
          class="remove-dash-kanary-more-arrow"
          src="/img/svg/chevron-right-black.svg"
          alt="{{getString "dash-remove-kanary-more"}} arrow"
          class="remove-dash-kanary-chevron-right"
        />
      </a>
    </div>
  </div>
</div>