<div class="remove-faq__title-container flx cntr space-between">
  <h4 class="remove-faq__q-title">{{alt}}</h4>
  <div class="remove-faq__toggle-container">
    <button id="{{altid}}" class="remove-faq__toggle js-remove-faq-toggle">
      <span class="sr-only" for="{{altid}}">{{getRemoveString "remove-expand"}}</span>
    </button>
  </div>
</div>