<div class="removal-ending-banner flx jst-cntr">
  <p class="removal-ending-content">The Data Removal pilot is ending. Want to continue your
    protection?
    <a href="/user/remove-pilot-ended" class="removal-ending-link">Find out more
      <img
        class="removal-ending-arrow"
        src="/img/removal/chevron-right-black.svg"
      />
    </a>
  </p>
</div>