<div class="remove-faq__title-container flx cntr space-between">
  <h4 class="remove-faq__q-title">{{alt}}</h4>
  <div class="remove-faq__toggle-container">
    <a href="" class="remove-faq__toggle js-remove-faq-toggle">
      <img
        src="/img/svg/chevron-down-grey.svg"
        alt="View Answer to this Question"
        class="remove-faq__toggle-img"
      />
    </a>
  </div>
</div>