{{#unless pilotEnded}}
<a class="remove-kanary-info-close" href="/user/remove-data"><img src="/img/svg/x-close-black.svg"></a>
<p class="mw-860"><strong>Firefox Monitor's data removal pilot is coming to an end on May 20, 2022.</strong> Thank you
  for taking part in this journey to test the feature with us! If you are interested in continuing your data removal
  coverage, please consider signing up directly with Kanary, while we at Mozilla evaluate next steps for our offering.
</p>
{{/unless}}
<div class="mw-860 flx flx-col remove-kanary-container">
  <div class="flx jst-cntr flx-col">
    <img
      class="remove-kanary-logo"
      src="/img/removal/kanary-logo.svg"
      alt="Kanary Logo"
    />
    <h2 class="remove-kanary-title">Keep Your Personal Information Private With Kanary</h2>
  </div>

  <h3 class="remove-kanary-subtitle">What Kanary offers</h3>
  <div class="remove-kanary-benefits-container">
    <ul class="remove-kanary-benefits flx flx-row">
      <li class="remove-kanary-benefits-item flx flx-col align-start">
        <h4 class="remove-kanary-benefit">Broad Coverage</h4>
        <p>Find and remove personal information from over 1,000 websites.</p>
      </li>
      <li class="remove-kanary-benefits-item flx flx-col align-start">
        <h4 class="remove-kanary-benefit">Privacy for Loved Ones</h4>
        <p>Privacy is a team sport. Add up to 6 members to your account to cover
          monitoring and removals for those you care about.</p>
      </li>
      <li class="remove-kanary-benefits-item flx flx-col align-start">
        <h4 class="remove-kanary-benefit">Ongoing Monitoring</h4>
        <p>Monthly scans check for new exposures and resurfaced listings on the
          worst sites. You can trigger a new scan whenever you want, as often as
          you want.</p>
      </li>
      <li class="remove-kanary-benefits-item flx flx-col align-start">
        <h4 class="remove-kanary-benefit">Responsive Support</h4>
        <p>Our support team is available to help with questions and escalate or
          research challenging removals.</p>
      </li>
      <li class="remove-kanary-benefits-item flx flx-col align-start">
        <h4 class="remove-kanary-benefit">Accurate Identification</h4>
        <p>Include multiple addresses, name variations, emails and phone numbers
          to find accurate exposures.</p>
      </li>
      <li
        class="remove-kanary-benefits-item --featured flx flx-col align-start"
      >
        <h4 class="remove-kanary-benefit">Questions before continuing?</h4>
        <p>We’d love to hear from you:<br />
          <a href="mailto:hello@thekanary.com">hello@thekanary.com</a>
        </p>
      </li>
    </ul>
  </div>
  <div class="remove-kanary-pricing-container">
    <ul class="remove-kanary-pricing-list">
      <li class="remove-kanary-pricing-item --header">
        <div class="remove-kanary-pricing-col">Plan</div>
        <div class="remove-kanary-pricing-col">Price</div>
        <div class="remove-kanary-pricing-col">Coverage</div>
      </li>
      <li class="remove-kanary-pricing-item">
        <div class="remove-kanary-pricing-col">Individual</div>
        <div class="remove-kanary-pricing-col">$9.99/month<br />
          $89.99/year
        </div>
        <div class="remove-kanary-pricing-col">Just You</div>
      </li>
      <li class="remove-kanary-pricing-item">
        <div class="remove-kanary-pricing-col">Family</div>
        <div class="remove-kanary-pricing-col">$14.99/month<br />
          $89.99/year
        </div>
        <div class="remove-kanary-pricing-col">You + 5 others</div>
      </li>
    </ul>
  </div>
  <div class="remove-kanary-signup-container flx flx-col cntr">
    <a
      class="btn-big btn-blue remove-enrolled-btn"
      href="{{ conversionUrl }}"
      target="_blank"
      rel="noopener noreferrer"
    >Sign up with Kanary</a>
    <p><a
        href="https://www.thekanary.com"
        target="_blank"
        rel="noopener noreferrer"
      >Find out more about what Kanary offers at www.thekanary.com</a></p>
  </div>
</div>