{{!< default_email }}

  <table align="center" border="0" cellspacing="0" cellpadding="0" width="100%" style="text-align: center; padding-top: 30px; padding-left: 10px; padding-right: 10px; margin: 0px;">
    <tr>
      <td valign="top" style="padding-top: 30px; padding-bottom: 30px;">
        <p class="body-copy" style="font-weight: 300; width: 100%; font-size: 17px; margin: 0px; color: #ffffff;">Verify your email address for a full report of your accounts.</p>
      </td>
    </tr>
  </table>
  <table border="0" cellspacing="0" cellpadding="0" width="100%" style="width: 100%;">
    <tr>
      <td>
        {{>email_button href=verifyUrl value="Verify Your Subscription"}}
      </td>
    </tr>
  </table>
