{{!< default_email }}

  <table align="center" border="0" cellspacing="0" cellpadding="0" width="100%" style="text-align: center; margin: 0px">
    <tr>
      <td valign="top" style="padding-top: 30px; padding-bottom: 10px;">
        <p class="body-copy" style="font-weight: 300; width: 100%; font-size: 18px; margin: 0px; color: #333333;">Click or tap to confirm your email address.</p>
        <p class="body-copy" style="font-weight: 300; width: 100%; font-size: 18px; margin: 0px; color: #333333;">You'll then receive your full Firefox Monitor report.</p>
      </td>
    </tr>
  </table>
  <table border="0" cellspacing="0" cellpadding="0" width="100%" style="width: 100%; padding-top: 30px;">
    <tr>
      <td>
        {{>email_button href=verifyUrl value="Verify Your Subscription"}}
      </td>
    </tr>
  </table>
    <table border="0" cellspacing="0" cellpadding="0" width="100%" style="width: 100%; padding-bottom: 30px; padding-top: 30px; text-align: center;">
    <tr>
      <td>
        <p class="legal-copy" style="font-weight:300; font-size: 12px; color: #4a4a4f; display: inline-block; max-width: 250px; text-align: center;">This is an automated email; if you received it in error, no action is required.</p>
      </td>
    </tr>
  </table>
