{{!< default_email }}


<div style="padding-left: 20px; padding-right: 20px; padding-bottom: 20px; text-align: center;">
  <table align="center" style="padding-top: 30px; padding-bottom: 0px; margin: 0px auto 5px auto; text-align: left;">
    <tr>
      <td valign="top" width="50px">
        <img width="40px" height="40px" style="margin-right: 10px;" src="https://monitor.firefox.com/img/firefox.png" />
      </td>
      <td valign="top">
        <h1 style="color: #333333; margin: 0px; padding: 0;">Firefox <span style="color:#333333; font-weight: 300;">Monitor</span></h1>
      </td>
    </tr>
  </table>
  <p style="padding-bottom: 20px; padding-top: 10px; margin: 0px 0px 30px 0px; size: 17px;">Verify your email address for a full report of your accounts.</p>

  {{>email_button href=verifyUrl value="Verify Your Subscription"}}
</div>
