{{!< default_email}}


<div style="width: 100%; max-width: 603px;">
  <table border="0" cellpadding="0" cellspacing="0" style="text-align: left; width: 100%;">
    <tr>
      <td>
        {{> report_header_details}}
      </td>
    </tr>
  </table>
  <table border="0" cellpadding="0" cellspacing="0" style="text-align: left; padding-top: 10px; width: 100%;">
    <tr>
      <td>
        {{> report_list_headline}}
      </td>
    </tr>
  </table>
  <table border="0" cellpadding="0" cellspacing="0" style="text-align: left; padding-top: 10px;">
    {{#if breachAlert}}
        {{> breach_alert}}
    {{/if}}
    {{#if unsafeBreachesForEmail}}
      {{#if breachAlert}}
        <tr>
          <td colspan="2">
            <h2 class="body-copy" style="color: #333333; font-size: 22px; font-weight: 300; width: 100%">Website Breaches</h2>
              <p class="body-copy" style="color: #333333; font-size: 15px;">
                Your email appears in our database of compromised accounts. Read about each one and learn what you can do to protect your passwords. Don't forget to sign up for Firefox Monitor with all the email addresses you use for online accounts.
              </p>
          </td>
        </tr>
        {{/if}}
      {{#each unsafeBreachesForEmail}}
        {{> email_single_breach SERVER_URL=../SERVER_URL}}
      {{/each}}
      <tr>
        <td><!--empty cell to align HIBP attribution with other table items--></td>
        <td>
          <p class="body-copy" style="color: #333333">Breach data provided by <a href="https://www.haveibeenpwned.com" rel="noopener noreferrer" style="color: #0060df">Have I Been Pwned</a></p>
        </td>
      </tr>
      {{> report_what_to_do_next}}
    {{else}}
      {{#eachFromTo TIPS 0 3 }}
        {{> report_password_tips SERVER_URL=../SERVER_URL}}
      {{/eachFromTo}}
    {{/if}}<!--unsafeBreachesForEmail-->
  </table>
  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding-top: 20px; padding-bottom: 20px; margin: 0px;">
    <tr>
      <td>
        {{>email_button href=SERVER_URL value="Scan another email in Firefox Monitor"}}
      </td>
    </tr>
  </table>
</div>

