{{!< default_email}}


<div style="width: 100%; max-width: 603px;">
  <table border="0" cellpadding="0" cellspacing="0" style="text-align: left; width: 100%;">
    <tr>
      <td>
        {{> report_header_details}}
      </td>
    </tr>
  </table>
  <table border="0" cellpadding="0" cellspacing="0" style="text-align: left; padding-top: 10px; width: 100%;">
    <tr>
      <td>
        {{> report_list_headline}}
      </td>
    </tr>
  </table>
  <table border="0" cellpadding="0" cellspacing="0" style="text-align: left; padding-top: 10px;">
    {{#if breachAlert}}
      {{> breach_alert supportedLocales=supportedLocales}}
      {{> email_hibp_attribution}}
      {{> report_what_to_do_next}}
    {{else}}
      {{#if unsafeBreachesForEmail}}
        {{#each unsafeBreachesForEmail}}
          {{> email_single_breach SERVER_URL=../SERVER_URL req=../req}}
        {{/each}}
        {{> email_hibp_attribution}}
        {{> report_what_to_do_next}}
      {{else}}
        {{#eachFromTo TIPS 0 3}}
          {{> report_password_tips SERVER_URL=../SERVER_URL req=../req}}
        {{/eachFromTo}}
      {{/if}}<!--unsafeBreachesForEmail-->
    {{/if}}<!--breachAlert-->
  </table>
  <table border="0" cellpadding="0" cellspacing="0" width="100%" style="padding-top: 20px; padding-bottom: 20px; margin: 0px;">
    <tr>
      <td>
        {{>email_button href=SERVER_URL value="Scan another email in Firefox Monitor"}}
      </td>
    </tr>
  </table>
</div>

