{{!< default }}
  <div class="cell"></div>

  <div class="cell small-1"></div>

  <div class="cell small-10">
    <h2>Email verification sent</h2>
    <br>
    <p>We've emailed <strong>{{ email }}</strong>. Please confirm your email address by visiting the link in the email.</p>
  </div>

  <div class="cell small-1"></div>
