{{!< default }}
<div class="subscribe-message-wrapper">
  <div class="subscribe-message">
    <p>We've emailed <strong>{{ email }}</strong>. Please confirm your email address by visiting the link in the email.</p>
  </div>
</div>
