{{!< default }}
    <div class="top-bar">
      <div class="top-bar-left">
        <h1><a href="/">Firefox Breach Alert</a></h1>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="/">About</a></li>
          <li><a href="#tips">Tips</a></li>
          <li><a class="button" data-open="subscribe-modal">Subscribe</a></li>
        </ul>
      </div>
    </div>

    <div class="grid-x grid-margin-x grid-padding-x grid-margin-y grid-padding-y">
      <div class="cell">
        <h2>Email verification sent</h2>
      </div>

      <div class="cell">
        <p>We've emailed <strong>{{ email }}</strong>. Please confirm your email address by visiting the link in the email.</p>
      </div>
