{{!< default }}
  <div class="cell"></div>

  <div class="cell small-1"></div>

  <div class="cell small-10">
    <h2>Confirmed! You're Subscribed</h2>
  </div>

  <div class="cell small-1"></div>

  <div class="cell small-1"></div>

  <div class="cell small-5">
    <h4>{{ email }}</h4>
    <p>Quick recap of what the user will get from being subscribed.</p>
    <br>
    <a class="button" data-open="share-modal">Share</a>
  </div>

  <div class="cell small-5"></div>

  <div class="cell small-1"></div>
