{{!< default }}
<div class="subscribe-message-wrapper">
  <div class="subscribe-message">
      <h4>Your Email Is Confirmed!</h4>
      <h5>You will receive Firefox Monitor notifications at {{ email }}.</h5>
      <button class="button" data-open="share-modal">Share</button>
  </div>
</div>
