{{!< default }}
<div id="confirmation" class="sub-page-content">
  <div class="section-wrapper centered-content">
    <h3 class="section-headline whole">
      Confirmed!<br />
      You're Subscribed
    </h3>
    <p class="whole sub-head">Firefox Monitor will email you a full report shortly, and will send an email alert if your account appears in new reported breaches.</p>
    <h4 class="whole medium secondary-title">Tell your friends about Firefox Monitor</h4>
    {{> social_media_sharing_buttons}}
  </div>
</div>
