
<main id="dashboard" class="dashboard">
  <div class="row">
    <div class="col-8">
      <p class="welcome-back">Welcome back <span class="bold">{{ req.session.user.fxa_profile_json.email }}</span></p>
    </div>
  </div>
  <div class="row dashboard-wrap-reverse">

    <!-- verified emails table -->
    <div class="col-12 dash-stats">
      <h2 class="skinny-headline breach-summary">Breach Summary</h2>
      {{> breach-stats addClasses="user-stats"}}
    </div>
      <div class="col-12 email-table">
        <h2 class="skinny-headline">Email Addresses</h2>
          {{#each verifiedEmails }}
            {{> email-card }}
          {{/each}}
      </div>

      <!-- unverified emails table -->
      <div class="col-12 unverified email-table">
        <h2 class="skinny-headline">Pending Verification</h2>
        {{#each unverifiedEmails}}
          <div class="unverified email-card">
            <div class="unverified e-toggle-info-wrapper">
              <span class="unverified-e-address">{{ this.email }}</span>
              <button class="resend-email">Resend Verification Email</button>
            </div>
          </div>
        {{/each}}
      </div>

  </div><!--closes row-->
</main>
