<main class="container dash">
  <div class="row">
    <div class="col-6">
      <p class="welcome-back">Welcome back <span class="bold">{{ req.session.user.fxa_profile_json.email }}</span></p>
      <h2 class="skinny-headline">Breach Summary</h2>
    </div>
  </div>
</main>
