{{!< default }}
<div id="error-page-content" class="error-page-content section-wrapper">
  <div class="half">
    <h2 class="section-headline">Error</h2>
    <p id="error-message"> Page not found. </p>
  </div>
</div>
