{{!< default }}
    <div class="top-bar">
      <div class="top-bar-left">
        <h1><a href="/"><b>Firefox</b> Breach Alert</a></h1>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="/">About</a></li>
          <li><a href="#tips">Tips</a></li>
          <li><a class="button" data-open="subscribe-modal">Subscribe</a></li>
        </ul>
      </div>
    </div>

    <div class="grid-x grid-padding-x grid-padding-y">

      <div class="cell small-12 gray-bg"></div>

      <div class="cell small-1 gray-bg"></div>

      <div class="cell small-4 gray-bg">
        <h2>Helpful Subtitle Here</h2>
        <p>Brief explanation of what breaches are</p>
        <p>Simple reason and explanation as to what scanning will do and why the user should do it.</p>
        <form action="/scan" method="post">
          <div class="input-group">
            <input class="input-group-field email-to-hash" type="email" name="email">
            <div class="input-group-button">
              <input id="submit-email" type="submit" class="button" value="Scan">
            </div>
          </div>
        </form>
      </div>

      <div class="cell small-6 gray-bg">
        <img alt="placeholder" class="thumbnail" src="https://placehold.it/750x350">
      </div>

      <div class="cell small-1 gray-bg"></div>

      <hr>

      <div class="cell text-center">
        <h2>Quick Tips</h2>
      </div>

      <div class="cell small-1"></div>

      <div class="cell small-5">
        <h3>Use 2FA</h3>
        <p>It's great</p>
      </div>
      <div class="cell small-5">
        <img alt="placeholder" class="thumbnail" src="https://placehold.it/450x210">
      </div>

      <div class="cell small-1"></div>

      <div class="cell small-1"></div>

      <div class="cell small-5">
        <img alt="placeholder" class="thumbnail" src="https://placehold.it/450x210">
      </div>
      <div class="cell small-5">
        <h3>Use unique, strong passwords on every site</h3>
        <p>It's great</p>
      </div>

      <div class="cell small-1"></div>

      <div class="cell small-1"></div>

      <div class="cell small-5">
        <h3>Use a Password Manager</h3>
        <p>It's great</p>
      </div>
      <div class="cell small-5">
        <img alt="placeholder" class="thumbnail" src="https://placehold.it/450x210">
      </div>

      <div class="cell small-1"></div>

    <div class="reveal" id="subscribe-modal" data-reveal>
      <h3>Subscribe to Breach Alerts</h3>
      <p>Explanation of what the user will get if they subscribe to breach alerts.</p>
      <a id="subscribe-fxa-btn" class="button sign-in-btn">Subscribe with Firefox Accounts</a>
      <div class="grid-x">
        <div class="cell small-5"><hr></div>
        <div class="cell small-2">or</div>
        <div class="cell small-5"><hr></div>
      </div>
      <form action="/subscribe" method="post">
        <input type="email" name="email">
        <button type="submit" class="button" disabled>Subscribe with Email Account</button>
      </form>
    </div>
