<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Firefox Breach Alerts</title>
    <link rel="stylesheet" href="/css/vendor/foundation.min.css">
    <script type="text/javascript" src="/js/vendor/jquery.js" defer></script>
    <script type="text/javascript" src="/js/vendor/foundation.min.js" defer></script>
  </head>

  <body>
    <div class="top-bar">
      <div class="top-bar-left">
        <h1><a href="/">Firefox Breach Alert</a></h1>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="/">About</a></li>
          <li><a href="#tips">Tips</a></li>
          <li><a class="button" data-open="subscribe-modal">Subscribe</a></li>
        </ul>
      </div>
    </div>

    <div class="grid-x grid-margin-x grid-padding-x grid-margin-y grid-padding-y">

      <div class="cell small-6">
        <h2>Helpful Subtitle Here</h2>
        <p>Brief explanation of what breaches are</p>
        <p>Simple reason and explanation as to what scanning will do and why the user should do it.</p>
        <form action="/scan" method="post">
          <div class="input-group">
            <input class="input-group-field" type="email" name="email">
            <div class="input-group-button">
              <input type="submit" class="button" value="Scan">
            </div>
          </div>
        </form>
      </div>

      <div class="cell small-6">
        <img alt="placeholder" class="thumbnail" src="https://placehold.it/750x350">
      </div>

    </div>

    <div class="reveal" id="subscribe-modal" data-reveal>
      <h3>Subscribe to Breach Alerts</h3>
      <p>Explanation of what the user will get if they subscribe to breach alerts.</p>
      <a href="#" class="button sign-in-btn" onclick="doOauth();">Subscribe with Firefox Accounts</a>
      <div class="grid-x">
        <div class="cell small-5"><hr></div>
        <div class="cell small-2">or</div>
        <div class="cell small-5"><hr></div>
      </div>
      <form action="/subscribe" method="post">
        <input type="email" name="email">
        <input type="submit" class="button" value="Subscribe with Email Account">
      </form>
    </div>

  </body>

</html>
