{{!< default }}
  <div class="cell small-12 gray-bg"></div>
  <div class="cell small-12 gray-bg"></div>

  <div class="cell small-1 gray-bg"></div>

  <div class="cell small-4 gray-bg">
    <h3>Helpful Subtitle Here</h3>
    <br>
    <p>Brief explanation of what breaches are</p>
    <p>Simple reason and explanation as to what scanning will do and why the user should do it.</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat hendrerit !nibus.
    </p>
    <br>
    <form action="/scan" class="email-scan" method="post">
      <div class="input-group">
        <input class="input-group-field email-to-hash" type="email" name="email">
        <div class="input-group-button">
          <input id="submit-email" type="submit" class="button" value="Scan">
        </div>
      </div>
    </form>
  </div>

  <div class="cell small-6 gray-bg padding-start">
    <img alt="placeholder" class="thumbnail" src="https://placehold.it/720x480">
  </div>

  <div class="cell small-1 gray-bg"></div>

  <hr>

  <div class="cell"></div>

  <a name="tips"></a>
  <div class="cell text-center">
    <h3>Quick Tips</h3>
  </div>

  <div class="cell"></div>

  <div class="cell small-1"></div>

  <div class="cell small-5">
    <h3>Use 2FA</h3>
    <br>
    <p>It's great</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat hendrerit !nibus. Donec eu auctor eros. Donec venenatis, eros id suscipit scelerisque, leo orci porta felis, vitae rutrum ipsum odio eu lectus.
    </p>
  </div>
  <div class="cell small-5">
    <img alt="placeholder" class="thumbnail" src="https://placehold.it/550x310">
  </div>

  <div class="cell small-1"></div>

  <div class="cell small-1"></div>

  <div class="cell small-5">
    <img alt="placeholder" class="thumbnail" src="https://placehold.it/550x310">
  </div>
  <div class="cell small-5">
    <h3>Use unique, strong passwords</h3>
    <br>
    <p>It's great</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat hendrerit !nibus. Donec eu auctor eros. Donec venenatis, eros id suscipit scelerisque, leo orci porta felis, vitae rutrum ipsum odio eu lectus.
    </p>
  </div>

  <div class="cell small-1"></div>

  <div class="cell small-1"></div>

  <div class="cell small-5">
    <h3>Use a Password Manager</h3>
    <br>
    <p>It's great</p>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec volutpat hendrerit !nibus. Donec eu auctor eros. Donec venenatis, eros id suscipit scelerisque, leo orci porta felis, vitae rutrum ipsum odio eu lectus.
    </p>
  </div>
  <div class="cell small-5 padding">
    <img alt="placeholder" class="thumbnail" src="https://placehold.it/550x310">
  </div>

  <div class="cell small-1"></div>
