{{!< default }}
<main>
  <div class="section-wrapper">
    <div class="half">
      <h2 class="section-headline">Protect yourself from hackers.<br />Start here.</h2>
        {{#if featuredBreach }}
          <p class="demi">See if your account was exposed in the <span class="bold">{{ featuredBreach.Name }}</span> breach or other data breaches.</p>
        {{else}}
          <p class="demi">Enter your email to find out if your account has been compromised.</p>
        {{/if}}
        {{> scan_form }}
    </div>
    <div class="half">
        {{#if featuredBreach}}
          {{> featured_breach }}
        {{ else }}
          <p>Let Firefox Monitor help you stay safe online.  Find out what hackers already know about you and get alerts when data breaches put you at risk.</p>
        {{/if}}
    </div>
  </div>
</main>

{{> sign_up_banner}}
{{> tips }}
