{{!< default }}

<main class="container monitor-homepage">
  <section class="row spc-btwn">
    <div class="col-6">
      <h2 class="big-headline">{{getString "landing-headline"}}</h2>
        <h3 class="subhead">{{getString "fxa-landing-blurb"}}</h3>
        {{> forms/scan-email-form addClasses="inline" }}
    </div>
  </section>
</main>

{{> latest-breach }}
{{> article-list }}
{{> sign-up-banners/monitor-features }}
