{{!< default }}
<main>
  <div class="section-wrapper">
    <div class="half">
      <div class="banner-content">
        {{#if breach }}
          {{> banner_breach }}
        {{ else }}
          {{> protect_yourself }}
        {{/if}}
        </div>
    </div>

    <div class="half">
      <img id="arrow-divider" src="img/arrow_divider.png" alt="" />
      <div class="banner-content">
        {{#if breach}}
          {{> protect_yourself }}
        {{ else }}  
          {{> sign_up_button}}
          {{> social_media_sharing_buttons}}
        {{/if}}
      </div>
    </div>
  </div>
</main>
{{> tips }}
