{{!< default }}

<main class="container monitor-homepage">
  <section class="row spc-btwn">
    <div class="col-6">
      <h2 class="big-headline">{{getString "landing-headline"}}</h2>
    </div>
    <div class="col-5 homepage-scan-form">
      <h3 class="main-subhead">{{getString "fxa-landing-blurb"}}</h3>
      {{> scan_form }}
    </div>
  </section>
</main>

{{!-- {{> latest-breach }} --}}
{{> article-list }}
{{> monitor-features }}
