{{!< default }}
<div id="banner-info" class="section-container">
    <div id="banner-sections-wrapper">
        <div id="banner-left">
            <div class="banner-content">
                {{> protect_yourself }}
            </div>
        </div><!--closes banner-left-->
        <div id="banner-right">
            <img id="arrow-divider" src="img/banner_arrow.svg" />
            <div class="banner-content">
                {{> sign_up }}
            </div>
        </div><!--close banner-right -->
    </div>
</div>
  {{> tips }}