<main class="container scan-results">
  <div class="row">
    <div class="col-6">
      {{#if scannedEmailId }}
        <p id="scanned-email-address">Results for <span id="scannedEmail" data-scanned-email-id={{ scannedEmailId }} class="bold"></span></p>
      {{/if}}
      <h2 id="scan-result-headline">{{{fluentNestedBold "guest-scan-results-headline" breachCount=foundBreaches.length}}}</h2>
      {{> breach-stats }}
    </div>
  </div>
</main>
<section class="container bg-white">
  <div class="row found-breaches">
    {{#eachFromTo foundBreaches 0 4}}
      <div class="breach-listing">
        {{> breach_listing this= ./../this}}
      </div>
    {{/eachFromTo}}
    {{#ifCompare foundBreaches.length ">" 4}}
    <div id="show-additional-breaches-wrapper" class="col-12 show">
      <button id="show-additional-breaches" class="utility-button" data-event-category="Show All Breaches Button">{{getString "show-all"}}</button>
    </div>
    <div id="additional-breaches" class="show-additional-breaches hide flx">
      {{#eachFromTo foundBreaches 4 foundBreaches.length}}
        <div class="breach-listing">
          {{> breach_listing this= ./../this}}
        </div>
      {{/eachFromTo}}
    </div>
    {{/ifCompare}}
  </div>
</section>
