{{!< default }}
<main>
  <div class="section-wrapper">
    <div class="half">
      <div class="banner-content">
        {{#if foundBreaches }}
          {{> oh_no }}
        {{ else }}
          {{> no_breaches }}
        {{/if}}
      </div>
    </div>

    <div class="half">
      <img id="arrow-divider" src="img/arrow_divider.png" alt="" />
      <div class="banner-content">
        {{> sign_up }}
      </div>
    </div>
  </div>
</main>

{{#if foundBreaches }}
  <div class="compromised-accounts section-wrapper">
    <div class="two-thirds">{{> compromised_accounts }}</div>
    <div class="third">{{> what_to_do }}</div>
  </div>
{{ else }}
  {{> tips }}
{{/if}}
