{{!< default }}
<main class="scan-results">
  <div class="section-wrapper">
    <div class="half">
      {{#if featuredBreach }}
        {{> featured_compromised_account_headline}}
      {{else}}
        {{> scan_results_header}}
      {{/if}}
    </div>
    <div class="wrap">
      <div class="half">
        {{#if featuredBreach }}
          {{> featured_breach }}
        {{ else }}
          {{> scan_results_blurb }}
        {{/if}}
      </div>
      <div class="half">
        {{> sign_up_button }}
      </div>
    </div>
  </div>
</main>

{{#if foundBreaches }}
  {{> compromised_accounts }}
  {{> what_to_do }}
  {{> scan_another_email}}
{{ else }}
  <div id="scan-another-email-container">
    {{> scan_another_email}}
  </div>
  {{> tips }}
{{/if}}
