{{!< default }}

    <div class="top-bar">
      <div class="top-bar-left">
        <h1><a href="/">Firefox Breach Alerts</a></h1>
      </div>
      <div class="top-bar-right">
        <ul class="menu">
          <li><a href="/">About</a></li>
          <li><a href="#tips">Tips</a></li>
          <li><a class="button" data-open="subscribe-modal">Subscribe</a></li>
        </ul>
      </div>
    </div>

    <div class="grid-x grid-margin-x grid-padding-x grid-margin-y grid-padding-y">

      <div class="cell small-7">
        {{#if foundBreaches }}
          <h2>Uh oh! Here are your results</h2>
        {{ else }}
          <h2>Whew! No breaches found</h2>
        {{/if}}

        <h3>{{ email }}</h3>
        <p><a href="">Notify me</a> about the next breach</p>
      </div>

      <div class="cell small-5">
        <form action="/scan" method="post">
          <div class="input-group">
            <input class="input-group-field email-to-hash" type="email" name="email" placeholder="Enter Email">
            <div class="input-group-button">
              <input id="submit-email" type="submit" class="button" value="Try Again">
            </div>
          </div>
        </form>
      </div>

      <div class="cell small-7">
        {{#each foundBreaches }}
          <div class="callout alert"><img src="http://via.placeholder.com/100x100">{{ name }}</div>
        {{/each}}
        <p>
          Text explaining that you should tell your friends about this great feature and why.
        </p>
        <a class="button" data-open="share-modal">Share</a>
      </div>

      <div class="cell small-5">
        <strong>Next Steps:</strong>
        <p>
          Make sure to change your password on all websites that have been breached,
          and that you don't use the breached password in other areas.
        </p>
      </div>

    </div>

