{{!< default }}
  <div class="cell small-12 gray-bg"></div>
  <div class="cell small-12 gray-bg"></div>

  <div class="cell small-1 gray-bg"></div>
  <div class="cell small-10 gray-bg">
    {{#if foundBreaches }}
      <h3>Uh oh! Here are your results.</h3>
    {{ else }}
      <h3>Whew! No breaches found.</h3>
    {{/if}}
  </div>
  <div class="cell small-1 gray-bg"></div>

  <div class="cell small-1 gray-bg"></div>

  <div class="cell small-6 gray-bg">
    <h4>{{ email }}</h4>
    <p><a href="">Notify me</a> about the next breach.</p>
  </div>

  <div class="cell small-4 gray-bg center-center">
    <form action="/scan" method="post" class="full-width">
      <div class="input-group">
        <input class="input-group-field email-to-hash" type="email" name="email" placeholder="Enter Email">
        <div class="input-group-button">
          <input id="submit-email" type="submit" class="button" value="Try Again">
        </div>
      </div>
    </form>
  </div>

  <div class="cell small-1 gray-bg"></div>

  <div class="cell small-1 gray-bg"></div>

  <div class="cell small-6 gray-bg">
    {{#each foundBreaches }}
      <div class="callout breach-item-container">
        <img src="http://via.placeholder.com/100x100">
        <div >
          <h4>{{ name }}</h4>
          <p>Passwords and usernames were stolen. Breach most likely occurred in late 2011.</p>
        </div>
      </div>
    {{/each}}
    <br>
    <p>
      Text explaining that you should tell your friends about this great feature and why.
    </p>
    <br>
    <a class="button" data-open="share-modal">Share</a>
  </div>

  <div class="cell small-4 gray-bg">
    <h4>Next Steps:</h4>
    <p>
      Make sure to change your password on all websites that have been breached,
      and that you don't use the breached password in other areas.
    </p>
  </div>

  <div class="cell small-1 gray-bg"></div>

