{{!< default }}

<section id="subpage" class="subpage container clear-header" data-analytics-id="{{ analyticsID }}">
  <section class="row-full-width flx-col">
    <h2 class="subpage-headline" >{{{ headline }}}</h2>
    <p class="subpage-subhead">{{{ subhead }}}</p>
    {{#if whichPartial}}
      {{> (lookup . 'whichPartial') }}
    {{/if}}
  </section>
</section>
