{{!< default }}

<section id="subpage" class="subpage" data-analytics-id="{{ analyticsID }}">
  <section class="section-wrapper">
    <h2 class="section-headline whole" >{{{ headline }}}</h2>
    <p class="sub-head whole">{{{ subhead }}}</p>
    {{#if whichPartial}}
      {{> (lookup . 'whichPartial') }}
    {{/if}}
  </section>
</section>
