.all-breaches-main {
  padding-top: 6rem;
  padding-bottom: 0;
}

.breaches-loader {
  position: absolute;
  z-index: 101;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 1);
  transition: all 0.3s ease;
}

.all-breaches-main .big-headline {
  margin: auto auto var(--margin) 0;
}

.breach-filter span {
  pointer-events: none;
}

/* fixed-filters */
.fixed-filters {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  background-color: rgba(249, 249, 250, 1);
  box-shadow: 2px 2px 10px rgba(212, 210, 210, 0);
  z-index: 100;
  padding: 0 var(--padding) var(--padding) var(--padding);
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

button.back-to-top {
  border: none;
  padding: 0;
  position: absolute;
  right: var(--padding);
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

button.back-to-top svg {
  display: block;
  transform: rotate(270deg);
  border: 2px solid rgba(21, 20, 23, 0.04);
  height: 30px;
  width: 30px;
  padding: 6px;
  border-radius: 4rem;
  margin: 0 auto 0.5rem auto;
}

button.back-to-top:focus,
button.back-to-top:hover {
  box-shadow: none !important;
  border: none !important;
}

.fixed-filters.show-filters {
  box-shadow: 2px 2px 10px rgba(212, 210, 210, 1);
  transform: translateY(0);
  transition: transform 0.3s ease;
}

/* breach filters */
.breach-filters {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  margin-top: 0.5rem;
}

.breach-filter {
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
  padding: 0.1rem 0.5rem;
  font-size: 0.7rem;
  border-radius: 0.15rem;
  font-family: "FirefoxSharpSans", Arial, Helvetica, sans-serif;
  font-weight: 500;
  display: inline-flex;
  cursor: pointer;
  align-items: center;
  visibility: visible;
  pointer-events: all;
  color: rgba(255, 255, 255, 0.9);
}

.breach-filter.show-all-breaches {
  background-color: rgba(0, 0, 0, 0);
  border-color: var(--color);
  color: var(--color) !important;
}

.breach-filter.show-all-breaches:hover {
  border: 2px solid transparent;
  background-color: rgba(0, 0, 0, 0.9);
}

.breach-filter,
.filter-wrapper:hover .breach-filter {
  transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out;
}

.col-12.filters {
  padding-top: 0;
  padding-bottom: 0;
}

.filter-border-top {
  border-top: 1px solid #eee;
  padding-top: 1rem;
}

/* div surrounding individual breach-filters */
.filter-wrapper {
  display: inline-flex;
  padding: 0 0.25rem 0.25rem 0;
  pointer-events: none;
}

.breach-filter.showing .plus-sign-wrap {
  background-color: rgba(0, 0, 0, 0.2);
  transform: rotate(45deg) scale(0.7);
  transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.breach-filter.hidden .plus-sign-wrap {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.15s ease-in-out;
}

.plus-sign-wrap {
  display: flex;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 50%;
  margin-left: 0.5rem;
  padding: 4px;
  pointer-events: none;
  transform: scale(0.7);
  transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out;
}

svg.plus-sign {
  pointer-events: none;
  transform: scale(0.7);
}

svg.plus-sign path,
.breach-filter.showing svg.plus-sign path {
  fill: rgba(255, 255, 255, 1);
}

.breach-filter.hidden svg.plus-sign path {
  fill: var(--color);
}

/* breach-cards */

.all-breaches {
  padding: var(--padding);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

/* breach-card colors */

.all-breaches-wrapper,
.found-breaches {
  --website: var(--blue);
  --websiteDark: #4439dd;
  --dataAggregator: goldenrod;
  --dataAggregatorDark: rgb(194, 147, 27);
  --sensitive: orangered;
  --sensitiveDark: rgb(230, 63, 2);
  --unverified: rgb(113, 146, 75);
  --unverifiedDark: rgb(93, 121, 62);
  --spamList: rgb(204, 18, 221);
  --spamListDark: rgb(185, 16, 201);
}

/* breach-filter, top of breach-card coloring */

.breach-filter.showing {
  color: rgba(255, 255, 255, 1);
}

.breach-filter.website-breach,
.breach-filter.website-breach.showing,
.breach-filter.website-breach.hidden:hover,
.breach-card-title-wrapper.website-breach {
  background-color: var(--website);
}

.breach-filter.sensitive-breach,
.breach-filter.sensitive-breach.showing,
.breach-filter.sensitive-breach.hidden:hover,
.breach-card-title-wrapper.sensitive-breach {
  background-color: var(--sensitive);
}

.breach-filter.unverified-breach,
.breach-filter.unverified-breach.showing,
.breach-filter.unverified-breach.hidden:hover,
.breach-card-title-wrapper.unverified-breach {
  background-color: var(--unverified);
}

.breach-filter.breach-filter.data-aggregator-breach,
.breach-filter.data-aggregator-breach.showing,
.breach-filter.data-aggregator-breach.hidden:hover,
.breach-card-title-wrapper.data-aggregator-breach {
  background-color: var(--dataAggregator);
}

.breach-filter.spam-list-breach,
.breach-filter.spam-list-breach.showing,
.breach-filter.spam-list-breach.hidden:hover,
.breach-card-title-wrapper.spam-list-breach {
  background-color: var(--spamList);
}

/* breach filters (breaches hidden) */

.breach-filter.hidden {
  background-color: transparent !important;
  color: var(--color);
}

.breach-filter.website-breach.hidden {
  border-color: var(--website);
}

.breach-filter.sensitive-breach.hidden {
  border-color: var(--sensitive);
}

.breach-filter.unverified-breach.hidden {
  border-color: var(--unverified);
}

.breach-filter.data-aggregator-breach.hidden {
  border-color: var(--dataAggregator);
}

.breach-filter.spam-list-breach.hidden {
  border-color: var(--spamList);
}

.breach-filter:hover,
.breach-filter.hidden:hover {
  color: rgba(255, 255, 255, 1) !important;
  opacity: 1;
}

/* breach-filter:hover coloring */

.breach-filter.spam-list-breach:hover {
  background-color: var(--spamListDark) !important;
}

.breach-filter.sensitive-breach:hover {
  background-color: var(--sensitiveDark) !important;
}

.breach-filter.website-breach:hover {
  background-color: var(--websiteDark) !important;
}

.breach-filter.data-aggregator-breach:hover {
  background-color: var(--dataAggregatorDark) !important;
}

.breach-filter.unverified-breach:hover {
  background-color: var(--unverifiedDark) !important;
}

.breach-card.hide {
  width: 0;
  max-width: 0;
  min-width: 0;
  max-height: 0;
  visibility: hidden;
  transition: all 0.15s ease-in-out;
  animation: hide 0.15s ease-in-out forwards;
}

@media screen and (max-width: 800px) {
  .fixed-filters {
    flex-direction: column;
    padding: var(--padding);
  }

  button.back-to-top {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    right: auto;
    margin-top: var(--margin);
  }

  button.back-to-top svg {
    margin: 0;
    display: inline-block;
    height: 20px;
    width: 20px;
    padding: 3px;
    margin-right: var(--margin);
  }
}

@keyframes hide {
  0% {
    opacity: 1;
    visibility: visibility;
  }

  50% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    max-height: 0;
    max-width: 0;
    opacity: 0;
    padding: 0;
    margin: 0;
  }
}
