main.all-breaches-main {
  min-height: auto;
  color: var(--grey1);
}

.hide-breaches,
.lazy-img {
  opacity: 0;
}

.breach-logo.lazy-loaded {
  opacity: 1;
}

.hide-breaches,
.lazy-img,
.lazy-img.lazy-loaded {
  transition: opacity 0.15s ease;
}

.fuzzy-wrapper {
  position: relative;
  display: flex;
  max-width: 357px;
  margin: auto;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

button#show-all-breaches {
  position: absolute;
  right: 1rem;
  bottom: 0;
  top: 0;
  margin: auto;
  min-width: 1.25rem;
  min-height: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  border: none;
  border-radius: 50%;
  padding: 0;
  opacity: 0;
  transition: opacity 0.15s ease-in-out;
}

#no-results-blurb {
  pointer-events: none;
  opacity: 0;
  display: flex;
  margin: auto;
  background-color: var(--violet3);
  color: rgba(255, 255, 255, 1);
  padding: 0.5rem 1rem;
  position: absolute;
  bottom: -14px;
  right: 1rem;
  transform: translateY(0);
  border-radius: 4px;
  transition: all 0.15s ease-in-out;
}

#no-results-blurb.show {
  opacity: 1;
  box-shadow: 2px 3px 10px -1px #3339422e, -2px -3px 10px 1px #33394205;
  transition: all 0.15s ease-in-out;
}

#no-results-blurb.show::before {
  height: 1rem;
  width: 1rem;
  transform: rotate(45deg);
  background-color: var(--violet3);
  position: absolute;
  top: -4px;
  z-index: -1;
  content: "";
  display: inline-block;
}

#no-results-blurb.show,
#no-results-blur.show::before {
  transform: translateY(7px);
  transition: all 0.15s ease-in-out;
}

button#show-all-breaches.show {
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
}

.x-close-bg {
  background-color: var(--grey3);
  border-radius: 50%;
  display: flex;
  height: 1.25rem;
  width: 1.25rem;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.x-close-bg svg path {
  fill: var(--grey1);
}

.ab-bg.top-level {
  min-height: 98vh;
}

.all-breaches-headline {
  color: var(--color);
  max-width: 500px;
  text-align: center;
  margin: auto;
}

.fuzzy-form {
  max-width: 357px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 0.25rem;
  position: relative;
  margin: 1rem auto;
}

.fuzzy-find-input {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(12, 12, 13, 0.3);
  width: 100%;
  display: inline-block;
  border-radius: 0.25rem;
  text-indent: 3rem;
}

.fuzzy-find-input,
.fuzzy-find-submit {
  min-height: 3.5rem;
}

input#fuzzy-find-input::placeholder,
input#fuzzy-find-input {
  font-size: 1rem;
}

.fuzzy-find-submit {
  position: absolute;
  left: 0.5rem;
  top: 0;
  bottom: 0;
  margin: auto;
  color: var(--grey2);
  border: none;
  display: flex;
  align-items: center;
}

.fuzzy-find-input:focus,
.fuzzy-find-input:active,
.fuzzy-find-submit:active,
.fuzzy-find-submit:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.search-icon {
  pointer-events: none;
}

.lazy-img {
  opacity: 0;
  transition: all 0.2s ease;
}

.lazy-loaded {
  opacity: 1;
  transition: all 0.2s ease;
}

.breaches-loader {
  position: absolute;
  z-index: 101;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 1);
  transition: all 0.1s ease;
}

.breach-filter span {
  pointer-events: none;
}

.ab.breach-card {
  max-width: 30%;
  margin: 1rem;
}

/* back-to-top-bar */
.back-to-top-bar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  justify-content: center;
  background-color: var(--color);
  box-shadow: 2px 2px 10px rgba(247, 247, 247, 0);
  z-index: 100;
  padding: var(--padding);
  transform: translateY(-100%);
  transition: transform 0.3s ease;
}

button.back-to-top {
  border: none;
  padding: 0;
  position: absolute;
  right: calc(var(--padding) * 2);
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  color: rgba(255, 255, 255, 1);
}

button.back-to-top svg {
  display: block;
  transform: rotate(270deg);
  border: 2px solid var(--grey2);
  height: 30px;
  width: 30px;
  padding: 6px;
  border-radius: 4rem;
  margin: 0 auto 0.5rem auto;
}

button.back-to-top:focus,
button.back-to-top:hover {
  box-shadow: none !important;
  border: none !important;
}

.back-to-top-bar.show-bar {
  box-shadow: 2px 2px 10px rgb(24, 24, 24);
  transform: translateY(0);
  padding: 4rem;
  transition: transform 0.3s ease, box-shadow 0.15s ease;
}

.plus-sign-wrap {
  display: flex;
  background-color: rgba(0, 0, 0, 0.07);
  border-radius: 50%;
  margin-left: 0.5rem;
  padding: 4px;
  pointer-events: none;
  transform: scale(0.7);
  transition: background-color 0.15s ease-in-out, transform 0.15s ease-in-out;
}

/* breach-cards */
.all-breaches {
  padding: var(--margin);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media screen and (max-width: 1000px) {
  .ab.breach-card.three-up {
    flex: 1 1 45%;
    max-width: 460px;
  }
}

@media screen and (max-width: 800px) {
  .all-breaches {
    padding: var(--padding);
  }

  .back-to-top-bar {
    flex-direction: column;
  }

  .ab.breach-card.three-up {
    max-width: 100%;
    margin: 0.5rem auto;
    flex: 1 1 100%;
  }

  button.back-to-top {
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    right: auto;
    margin-top: var(--margin);
  }

  button.back-to-top svg {
    margin: 0;
    display: inline-block;
    height: 20px;
    width: 20px;
    padding: 3px;
    margin-right: var(--margin);
  }
}
