* {
  box-sizing: border-box;
}

html,
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: rgba(255, 255, 255, 1);
  font-family: 'Fira Sans', helvetica, arial, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1.5;

  --softCorners: 4px;
  --gap: 20px;
  --darker: rgba(0, 33, 117, 0.25);
  --maxWidthHalf: 500px;

  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}

body {
  background-image:
    linear-gradient(
      140deg,
      rgba(69, 161, 255, 1),
      rgba(10, 132, 255, 1),
      rgba(0, 96, 223, 1),
      rgba(0, 96, 223, 1),
      rgba(0, 62, 170, 1)
    );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
  position: relative;
  overflow: scroll;
  min-height: 100vh;
  height: 100%;
  padding-bottom: 15vh;
  text-rendering: optimizeLegibility;
}

body,
p {
  text-rendering: optimizeLegibility;
}

h3 {
  font-size: 1.9375rem;
}

h4 {
  font-size: 1.5625rem;
}

h3,
h4 {
  line-height: 1.4;
}

h1,
h2,
h3 {
  letter-spacing: -0.77px;
  white-space: nowrap;
}

div,
form,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
ul {
  margin: 0;
  padding: 0;
}

a {
  line-height: inherit;
  color: #0060df;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.15s cubic-bezier(0.07, 0.95, 0, 1);
}

a:hover {
  transition: all 0.15s cubic-bezier(0.07, 0.95, 0, 1);
}

img {
  user-select: none;
  -webkit-user-select: none;
  display: inline-block;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

/* // structure  */

.section-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: calc(var(--gap) * 2) calc(var(--gap) * 1.5);
  justify-content: space-between;
  max-width: 1400px;
  min-width: 300px;
  margin: auto;
  overflow: hidden;
}

.whole {
  margin: auto;
  flex: 0 0 calc(100% - var(--gap));
}

.fourth {
  flex: 0 0 calc(25% - var(--gap));
}

.third {
  flex: 1 1 calc(33.3% - var(--gap));
  min-width: 300px;
}

.two-thirds {
  flex: 1 1 calc(66.7% - var(--gap));
  display: flex;
}

.half {
  flex: 1 1 calc(50% - var(--gap));
}

.fourth,
.third,
.two-thirds,
.half {
  margin: calc(var(--gap) / 2);
}

.whole,
.half,
.third,
.two-thirds,
.fourth {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* // forms */

.input-group {
  display: flex;
  width: 100%;
}

.input-group-field {
  flex: 1 1 0;
  margin: 0;
  white-space: nowrap;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #cacaca;
  background-color: #fefefe;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0a0a0a;
  transition: all 0.15s ease-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0.5rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow: visible;
  height: 55px;
  text-indent: 0.65rem;
}

button,
.button {
  font-family: inherit;
  font-size: 20px;
  padding: 0.85em 1em;
  -webkit-appearance: none;
  border: none;
  border-radius: var(--softCorners);
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #0060df;
  color: #fefefe;
  width: 100%;
  height: 55px;
  text-indent: 0;
  white-space: nowrap;
}

.button[disabled] {
  opacity: 0.7 !important;
  pointer-events: none;
}

input::placeholder {
  color: rgba(0, 0, 0, 1);
  transition: all 0.15s ease-out;
}

input:focus::placeholder {
  color: rgba(0, 0, 0, 0);
  transition: all 0.15s ease-out;
}

.button:focus,
.button:hover {
  color: #fefefe;
  outline: none;
}

.input-group-button input {
  align-self: stretch;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1rem;
}

[type="button"],
[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: var(--softCorners);
}

a img {
  border: 0;
}

/* end legacy foundation css */

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
}

.demi {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

/* form stuff  */

form input:focus {
  outline: none;
}

form span {
  display: block;
  font-size: calc(11px + 0.15vw);
  margin-top: calc(5px + 0.35vw);
  margin-bottom: calc(5px + 0.15vw);
}

.input-group-button {
  transition: all 0.15s ease-out;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: var(--softCorners);
  border-bottom-right-radius: var(--softCorners);
  overflow: hidden;
  position: relative;
  min-width: 100px;
  pointer-events: all;
  cursor: pointer;
}

.form-group .button {
  margin: auto;
  border-radius: 0;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: right;
}

.input-group input[type="email"] {
  border-right: none;
}

.form-group img {
  z-index: 1;
  position: absolute;
  left: 12px;
  margin: auto;
  top: 0;
  bottom: 0;
  opacity: 1;
  pointer-events: none;
}

.form-group .loader {
  visibility: hidden;
  height: 0;
  width: 0;
  opacity: 0;
  left: 0;
  right: 0;
}

.form-group.loading-data .button,
.form-group.loading-data input::placeholder,
.form-group.loading-data input {
  color: rgba(0, 0, 0, 0) !important;
}

.form-group.loading-data .loader {
  display: block;
  opacity: 0.58;
  width: 25px;
  height: auto;
  visibility: visible;
}

.form-group.loading-data .search-icon {
  opacity: 0;
}

.button:hover {
  background-color: #0052be;
}

.form-group,
.form-group.loading-data,
.form-group input,
.form-group.loading-data input {
  transition: all 0.15s ease-out;
}

/* header **************** */

header {
  padding-top: 0;
  padding-bottom: 0;
  background: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  min-height: 90px;
  height: calc(var(--gap) * 5);
}

header a {
  color: inherit;
  display: flex;
  align-items: center;
}

header a h1 {
  font-size: calc(27px + 0.5vw);
  letter-spacing: -0.77px;
}

header h1 span.medium {
  letter-spacing: 0.77px;
}

img.logo {
  margin-right: var(--gap);
  width: auto !important;
  height: 55px;
}

/* sign up button in header on {{breach}} */

header > div {
  display: inline-flex;
  align-self: flex-end;
  align-items: center;
  height: 100%;
}

header #sign-up-button-group {
  flex-flow: row-reverse;
  display: inline-flex;
  align-items: center;
  max-width: var(--maxWidthHalf);
}

header #sign-up-button-group p {
  margin: 0 0 0 0;
  line-height: 1.2;
  font-size: 17px;
  text-align: right;
}

header #sign-up {
  background-color: rgb(0, 62, 170);
  margin-left: calc(10px + 0.25vh + 0.25vw);
  margin-bottom: 0;
  font-size: 17px !important;
  max-width: 180px;
}

header #sign-up:hover {
  background-color: rgb(0, 57, 156);
}

/* main banner content  */

main {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 0.9);
  padding: 0 0 0 0;
  margin: 0 0 0 0;
}

main .section-wrapper {
  padding-top: 0;
  padding-bottom: 0;
  min-height: 40vh;
}

main div.half {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  min-height: 400px;
}

main div.half:last-of-type {
  align-items: center;
  justify-content: center;
  padding-left: 10%;
}

.banner-content {
  max-width: 500px;
  min-width: 300px;
  padding-top: calc(var(--gap) * 2);
  padding-bottom: calc(var(--gap) * 2);
}

img#arrow-divider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  pointer-events: none;
}

main h2,
main h3 {
  font-size: calc(1.55em + 0.35vw);
  line-height: 1.25em;
}

main p {
  margin-bottom: var(--gap);
  margin-top: var(--gap);
  line-height: 150%;
}

main .account {
  flex-direction: column;
  border-bottom: 0;
}

main .account .image-wrap {
  max-width: 90px;
  max-height: 90px;
  margin-top: auto;
  margin-bottom: auto;
}

.image-wrap img {
  margin-top: 5px;
  margin-bottom: calc(var(--gap / 2));
  width: 100%;
}

main .account span.medium {
  color: #d10022;
}

main span.breach-info {
  margin-top: calc(5px + 0.25vh + 0.25vw);
  width: 100%;
  font-weight: 400;
}

#breach-title-wrapper {
  display: flex;
  align-items: center;
}

/* tips *************************** */

#password-advice {
  text-align: center;
  flex-direction: column;
  background: rgba(255, 255, 255, 0.04);
  margin-top: calc(var(--gap) * 2);
  margin-bottom: calc(var(--gap) * 2);
  padding: calc(var(--gap) * 2);
}

#password-advice p {
  margin: var(--gap);
}

.tip-container {
  margin-top: calc(var(--gap) * 2);
  margin-bottom: calc(var(--gap) * 2);
}

.tip {
  min-height: 400px;
  height: 100%;
  text-align: center;
  position: relative;
  border: 1px solid rgba(0, 34, 117, 0);
  border-radius: var(--softCorners);
  background-color: rgba(255, 255, 255, 0.05);
  transition: background-color 0.15s ease-out;
}

.tip:hover {
  background-color: rgba(0, 0, 0, 0.03);
  transition: background-color 0.15s ease-out;
}

.tip p {
  padding-top: var(--gap);
  padding-left: calc(var(--gap) * 2);
  padding-right: calc(var(--gap) * 2);
  padding-bottom: calc(var(--gap) * 2);
}

.tip-header {
  background: rgba(0, 34, 117, 0.7);
  color: rgb(255, 255, 255);
  padding-top: calc(var(--gap) * 3.5);
  padding-bottom: calc(var(--gap) * 1.5);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.tip-header h4 {
  font-weight: 400;
  font-size: 20px;
}

.tip-numeral {
  font-size: 22px;
  line-height: 10px;
  margin-top: 10px;
}

.svg-background {
  background: rgb(255, 255, 255);
  border-radius: 50%;
  height: calc(var(--gap) * 4);
  width: calc(var(--gap) * 4);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: calc(var(--gap) / 2);
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: rgb(0, 34, 117);
  box-sizing: border-box;
}

.svg-background img {
  max-width: 80%;
  max-height: 60%;
}

/* ////// subscribe window */

#subscribe-modal {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.38);
  transition: all 0.15s ease-out;
}

body.show-subscribe-modal {
  overflow: hidden;
}

body.show-subscribe-modal #subscribe-modal {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  cursor: pointer;
  transition: all 0.15s ease-out;
}

#subscribe-modal .modal-wrapper {
  margin: auto;
  border-radius: var(--softCorners);
  background: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: calc(var(--gap) * 3);
  max-width: var(--maxWidthHalf);
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 2px 13px rgba(0, 0, 0, 0.28);
  display: flex;
  align-content: center;
  align-items: center;
  cursor: default;
  transition: all 0.15s ease;
}

#modal-content {
  margin: auto;
  max-width: 400px;
  text-align: center;
}

#subscribe-modal p {
  line-height: 1.7;
  font-size: 14px;
  max-width: 100%;
  width: 100%;
  margin: var(--gap) auto var(--gap) auto;
  padding: 0 10px 0 10px;
}

#subscribe-modal span {
  display: block;
  line-height: 4rem;
}

#subscribe-modal span::before,
#subscribe-modal span::after {
  content: "";
  height: 1.5px;
  background-color: rgba(0, 0, 0, 0.3);
  width: var(--gap);
  display: inline-block;
  vertical-align: middle;
  margin: 0 var(--gap) 0 var(--gap);
}

#subscribe-modal .input-group-button {
  min-width: calc(var(--gap) * 4);
}

#subscribe-modal input[type="email"],
#subscribe-modal .button {
  padding: 0 0 0 0;
  font-size: 16px;
}

#subscribe-modal .button {
  text-align: center;
}

#subscribe-fxa-btn {
  background: rgba(255, 255, 255, 0);
  border: 1px solid rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 1);
}

/* ///// compromised accounts  */

.compromised-accounts > * {
  align-items: flex-start;
  flex-direction: column;
}

.compromised-accounts h3,
#what-to-do li:first-of-type {
  margin-bottom: calc(var(--gap) * 2);
}

.compromised-accounts h3 {
  white-space: normal;
  margin-top: calc(var(--gap) * 1.5);
  max-width: var(--maxWidthHalf);
}

.compromised-accounts.section-wrapper .two-thirds {
  justify-content: flex-start;
  align-items: flex-start;
}

.compromised-accounts .two-thirds > * {
  max-width: calc(100% - var(--gap) * 4);
  width: 100%;
}

#featured-compromised-account .account {
  margin-bottom: calc(var(--gap) * 4);
  padding-bottom: calc(var(--gap) * 4);
}

#show-additional-breaches {
  background-color: rgb(69, 161, 255);
  margin-top: calc(var(--gap) * 3);
  max-width: var(--maxWidthHalf);
  transition: all 0.2s ease;
}

#show-additional-breaches.hide,
#additional-breaches {
  visibility: hidden;
  height: 0;
  transition: all 0.25s ease-out;
}

#additional-breaches,
#additional-breaches .account {
  opacity: 0;
  transition: all 0.25s ease;
}

#additional-breaches.show-breaches,
#additional-breaches.show-breaches .account {
  opacity: 1;
  visibility: visible;
  transition: all 0.25s ease;
}

.account {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid var(--darker);
  padding: var(--gap) 0 var(--gap) 0;
}

.account .image-wrap {
  align-self: flex-start;
  margin-right: var(--gap);
  overflow: hidden;
  max-width: 60px;
  width: 60px;
  min-width: 60px;
}

span.breach-info {
  display: block;
}

#what-to-do {
  list-style: none;
  background-color: var(--darker);
  padding: calc(var(--gap) * 1.5);
  margin-bottom: calc(var(--gap) * 4);
}

#what-to-do span.numeral,
#what-to-do li:first-of-type {
  display: block;
  font-size: 32px;
}

#what-to-do li {
  margin-bottom: calc(var(--gap) * 1.5);
  line-height: 1.4;
}

#what-to-do .form-group img {
  right: 0;
  left: 0;
  transition: all 0.1s ease-out;
}

#what-to-do form .input-group-button {
  width: 50px;
  min-width: 50px;
}

#what-to-do .input-group {
  position: relative;
  border-radius: var(--softCorners);
  overflow: hidden;
  border: 1px solid rgba(215, 0, 32, 0);
}

#what-to-do #invalid-email-message {
  display: block !important;
  margin-bottom: 5px;
  color: rgb(255, 255, 255);
  transition: all 0.1s ease-out;
}

#what-to-do .input-group-button {
  background-color: rgb(69, 161, 255);
}

#what-to-do .form-group .button {
  color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}

#what-to-do .form-group .button[disabled] {
  background-color: rgba(0, 62, 170, 0.6);
}

#what-to-do [type=email] {
  border: none !important;
  box-shadow: none !important;
}

#what-to-do .form-group.invalid img {
  opacity: 0.3;
  transition: all 0.1s ease-out;
}

.form-group.invalid #invalid-email-message {
  visibility: visible;
  opacity: 1;
  transition: all 0.1s ease-out;
}

#invalid-email-message {
  margin-top: 0 !important;
  visibility: hidden;
  color: rgb(43, 43, 43);
  opacity: 0;
}

.scan-another-email {
  margin-top: var(--gap);
  font-weight: 600;
  display: inline-block;
}

#what-to-do form span {
  display: none !important;
}

.compromised-accounts .source-info a {
  color: rgb(255, 255, 255) !important;
}

/* //// HIBP ATTRIBUTION */

.source-info {
  margin-top: calc(15px + 0.5vh + 0.5vw);
  font-size: 15px;
  width: 100%;
}

.source-info a {
  font-weight: 600;
}

/* //// FOOTER */

footer {
  background-color: rgba(255, 255, 255, 1);
  color: rgba(0, 0, 0, 1);
  min-height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 13px;
}

footer a {
  font-weight: 400;
  color: rgba(0, 0, 0, 1);
  opacity: 1;
}

footer a:hover {
  opacity: 0.8;
}

footer a,
footer a:hover {
  transition: all 0.15s ease-out;
}

footer .two-thirds,
.footer-links {
  justify-content: flex-start;
  align-items: center;
}

.footer-links > *,
footer .two-thirds > * {
  margin-right: var(--gap);
}

.footer-links {
  display: flex;
}

#GitHub-logo {
  min-width: 20px;
  margin-left: 1px;
  padding-bottom: 3px;
}

.footer-logo-wrapper {
  min-width: 120px;
}

/* // media screens */

@media screen and (max-width: 1000px) {
  main .section-wrapper {
    padding: 0 0 0 0;
  }

  main h2,
  main h3 {
    white-space: normal;
  }

  main .half {
    flex: 0 0 100%;
    margin: 0 0 0 0;
    display: flex;
    align-content: center;
    justify-content: center;
  }

  .banner-content {
    padding: calc(var(--gap) * 2);
    min-width: 0;
  }

  main .half:last-of-type {
    background-color: #f9f9fa;
    padding-left: 0 !important;
  }

  img#arrow-divider {
    display: none;
  }

  #what-to-do {
    margin-top: calc(var(--gap) * 2);
  }

  .compromised-accounts .two-thirds {
    align-items: center;
  }

  .compromised-accounts .two-thirds > * {
    max-width: 100%;
  }

  .compromised-accounts .source-info {
    width: 100%;
    text-align: center;
  }

  #show-additional-breaches {
    align-self: center;
  }

  #what-to-do span.numeral,
  #what-to-do p {
    display: inline-block;
  }

  #what-to-do li {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    padding-bottom: calc(var(--gap) * 1.5);
    padding-top: calc(var(--gap) * 1.5);
  }

  #what-to-do li:first-of-type {
    text-align: center;
  }

  #what-to-do li,
  #what-to-do li:first-of-type {
    margin-bottom: 0;
  }

  #what-to-do li:last-of-type {
    flex-direction: column;
    border-bottom: none;
    align-items: flex-start;
  }

  #what-to-do li:last-of-type > * {
    width: 100%;
  }

  #what-to-do p {
    width: 90%;
  }

  .input-group {
    max-width: 100% !important;
  }

  footer div {
    text-align: center;
    justify-content: center !important;
  }
}

@media screen and (max-width: 786px) {
  header #sign-up-button-group {
    display: none;
  }

  body {
    padding-bottom: 23vh;
  }

  #password-advice {
    padding-left: var(--gap);
    padding-right: var(--gap);
  }
}

@media screen and (max-width: 480px) {
  body {
    padding-bottom: 30vh;
  }

  #what-to-do li:first-of-type {
    padding-bottom: var(--gap);
  }

  #what-to-do li {
    flex-direction: column;
  }

  .compromised-accounts .account {
    flex-direction: column;
  }

  #password-advice p {
    margin: var(--gap) 0 0 0;
  }

  footer .two-thirds {
    flex-direction: column;
  }

  .footer-links {
    margin-top: var(--gap);
  }
}
