
html,
body {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  color: #fff;
  font-family: 'Fira Sans', helvetica, arial, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1.5;
}

body {
  background-image:
    linear-gradient(
      140deg,
      rgba(69, 161, 255, 1),
      rgba(10, 132, 255, 1),
      rgba(0, 96, 223, 1),
      rgba(0, 96, 223, 1),
      rgba(0, 62, 170, 1)
    );
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
  position: relative;
  overflow: scroll;
}

body,
p {
  text-rendering: optimizeLegibility;
}

h3 {
  font-size: 1.9375rem;
}

h4 {
  font-size: 1.5625rem;
}

h3,
h4 {
  line-height: 1.4;
}

div,
form,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
ul {
  margin: 0;
  padding: 0;
}

.input-group {
  display: flex;
  width: 100%;
}

a {
  line-height: inherit;
  color: #0060df;
  text-decoration: none;
  cursor: pointer;
  transition: all cubic-bezier(0.07, 0.95, 0, 1);
}

a:hover {
  transition: all cubic-bezier(0.07, 0.95, 0, 1);
}

.input-group-field {
  flex: 1 1 0;
  margin: 0;
  white-space: nowrap;
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border: 1px solid #cacaca;
  background-color: #fefefe;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  font-family: inherit;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #0a0a0a;
  transition: box-shadow 0.2s, border-color 0.2s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 0.5rem;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  overflow: visible;
  height: 55px;
}

.button {
  margin: 0 0 1rem 0;
  font-family: inherit;
  padding: 0.85em 1em;
  padding-top: 0.85em;
  padding-bottom: 0.85em;
  -webkit-appearance: none;
  border: 1px solid transparent;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: transparent;
  border-radius: 3px;
  transition: all 0.2s ease-out;
  font-size: 0.9rem;
  line-height: 1;
  text-align: center;
  cursor: pointer;
  background-color: #0060df;
  color: #fefefe;
  width: 100%;
}

img {
  user-select: none;
  -webkit-user-select: none;
  display: inline-block;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

input::placeholder {
  color: rgba(0, 0, 0, 1);
}

input:focus::placeholder {
  color: rgba(0, 0, 0, 0);
}

.button:focus,
.button:hover {
  color: #fefefe;
  outline: none;
}

.email-scan .input-group > :last-child > * {
  border-radius: 0 3px 3px 0;
}

.input-group-button input {
  align-self: stretch;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 1rem;
  white-space: nowrap;
}

[type="button"],
[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 3px;
}

a img {
  border: 0;
}

/* end legacy foundation css */

h1,
h2,
h3,
h4,
h5 {
  margin-bottom: 0;
  font-family: 'Fira Sans', sans-serif !important;
  font-weight: 300;
  text-rendering: optimizeLegibility;
}

.demi {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

#banner-sections-wrapper,
.section-wrapper,
.tips-wrapper,
#compromised-accounts-wrapper {
  max-width: 1300px;
  min-width: 800px;
  width: 100%;
}

.section-wrapper {
  margin: auto auto;
  overflow: hidden;
  text-align: center;
}

/* header **************** */

.logo-wrapper {
  max-height: 100px;
  min-height: 80px;
  height: 10vh;
}

.top-bar,
footer {
  flex-wrap: nowrap;
  display: flex;
  align-items: center;
}

.top-bar,
.section-container,
footer {
  padding-left: calc(4.33vw + 0.625rem);
  padding-right: calc(4.33vw + 0.625rem);
}

header.top-bar {
  padding-top: 0;
  padding-bottom: 0;
  background: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
  min-height: 90px;
  height: 9vh;
  max-height: 100px;
}

.top-bar-left a,
.top-bar-left a h2,
.top-bar-left {
  height: 100%;
}

.top-bar-left a {
  color: inherit;
  display: flex;
  align-items: center;
}

.top-bar-left a h1 {
  font-size: calc(27px + 0.5vw);
  letter-spacing: -0.77px;
}

img.logo {
  margin-right: 20px;
  width: auto !important;
  height: 55px;
}

/* banner-info **************** */

.section-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

#banner-info {
  background: white;
  background-color: #fff;
  color: black;
  overflow: hidden;
}

#banner-sections-wrapper {
  min-height: 300px;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: auto auto;
  text-align: left;
}

#banner-left,
#banner-right {
  flex: 1 1 auto;
  display: flex;
  padding-top: calc(2.5rem + 0.5vw);
  padding-bottom: calc(2.5rem + 0.5vw);
  position: relative;
}

#banner-left {
  padding-right: 4.5rem;
}

#banner-left .account {
  flex-direction: column;
  border-bottom: 0 !important;
  padding: 0 0 0 0;
}

.banner-content .account .image-wrap {
  max-width: 90px;
  max-height: 90px;
  margin-top: auto;
  margin-bottom: auto;
}

.banner-content span.medium {
  color: #d10022;
}

.banner-content span.breach-info {
  margin-top: calc(5px + 0.25vh + 0.25vw);
  width: 100%;
  font-weight: 400;
}

#breach-title-date span.breach-info {
  margin-top: 0;
}

.banner-content span.breach-info span.medium {
  display: block;
}

#breach-title-wrapper {
  display: flex;
  margin-bottom: calc(0.5vh + 0.5vw);
}

#breach-title-date {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
}

#breach-title-date h3,
#breach-title-date span {
  white-space: nowrap;
}

#banner-right {
  padding-left: 4.5rem;
}

#banner-right img#arrow-divider {
  position: absolute;
  top: -5%;
  bottom: -5%;
  left: -11%;
  height: 110%;
  pointer-events: none;
}

.banner-content {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex: 1 1 auto;
  height: 100%;
  flex-flow: column;
  min-width: 350px;
  max-width: 500px;
}

#banner-right .banner-content {
  align-items: center;
  margin: auto;
}

.banner-content p {
  max-width: 520px;
  line-height: 1.3;
  font-size: 17px;
}

#sign-up-button-group p.demi {
  padding-top: 0;
}

.banner-content p,
.banner-content .email-scan {
  padding-top: 2rem;
  margin-bottom: 0;
}

.banner-content h2 {
  line-height: 1.3;
  font-size: calc(24px + 0.5vw);
  white-space: nowrap;
}

.banner-content .email-scan {
  max-width: 385px;
}

.input-group > :first-child {
  min-width: 300px;
  text-indent: 0.65rem;
}

.banner-content .email-scan input {
  border-right: none !important;
}

.banner-content form input:focus {
  outline: none;
}

div.input-group {
  margin-bottom: 4px;
}

form span {
  font-size: 13px;
}

.input-group-button {
  transition: all 0.2s ease-out;
  border-radius: 0 3px 3px 0;
  position: relative;
  min-width: 100px;
  pointer-events: all;
  cursor: pointer;
}

.form-group .button {
  margin: auto;
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: right;
}

.form-group img {
  z-index: 1;
  position: absolute;
  left: 12px;
  margin: auto;
  top: 0;
  bottom: 0;
  opacity: 1;
  pointer-events: none;
}

.form-group .loader {
  visibility: hidden;
  height: 0;
  width: 0;
  opacity: 0;
  left: 0;
  right: 0;
}

.form-group.loading-data .button,
.form-group.loading-data input::placeholder,
.form-group.loading-data input {
  color: rgba(0, 0, 0, 0) !important;
}

.form-group.loading-data .loader {
  display: block;
  opacity: 0.58;
  width: 25px;
  height: auto;
  visibility: visible;
}

.form-group.loading-data .search-icon {
  opacity: 0;
}

.button:hover {
  background-color: #0052be;
}

.form-group,
.form-group.loading-data,
.form-group input,
.form-group.loading-data input {
  transition: all 0.2s ease-out;
}

/* sign up for alerts button + message *************************** */

#sign-up-button-group {
  min-width: 300px;
  max-width: 400px;
  width: calc(300px + 1vw);
  font-size: 17px;
  line-height: 21px;
}

#sign-up-button-group button {
  width: 100%;
  height: 60px;
  font-size: 20px;
}

/* tips *************************** */

#tips-container {
  padding-bottom: calc(4.33vw + 0.625rem);
}

#password-advice {
  margin-top: calc(4.33vw + 0.625rem);
}

#password-advice p {
  margin: calc(0.66vw + 0.625rem) auto calc(0.66vw + 0.625rem) auto;
  width: 70%;
}

.tips-wrapper {
  display: inline-flex;
  margin: auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tip-container {
  margin-top: calc(30px + 3vw);
  min-width: 250px;
  width: 100%;
  flex-basis: 32%;
}

.tip {
  min-height: 400px;
  height: 100%;
  text-align: center;
  position: relative;
  border: 1px solid #002275;
  border-radius: 4px;
  background: rgba(0, 0, 0, 0);
  transition: all 0.2s ease-out;
}

.tip:hover {
  background: rgba(0, 0, 0, 0.03);
  transition: all 0.2s ease-out;
}

.tip p {
  margin: 0 0 0 0;
  font-size: 17px;
  padding-top: calc(10px + 0.55vw);
  padding-left: calc(10px + 1vw + 1vh);
  padding-right: calc(10px + 1vw + 1vh);
  padding-bottom: calc(10px + 0.55vw);
  line-height: 1.7;
  text-align: center;
}

.tip-header {
  background: #002275;
  color: #fff;
  padding-top: calc(45px + 1.95vw);
  padding-bottom: calc(10px + 0.55vw);
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

.tip-header h4 {
  font-weight: 400;
  font-size: 18px;
  text-align: center;
}

.tip-numeral {
  font-size: 22px;
  line-height: 10px;
  margin-top: 10px;
}

.svg-background {
  background: #fff;
  border-radius: 50%;
  height: calc(60px + 1.95vw);
  width: calc(60px + 1.95vw);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: calc(2px + 0.5vw);
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  color: #002275;
  box-sizing: border-box;
}

.svg-background img {
  max-width: 80%;
  max-height: 60%;
}

#subscribe-modal {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.38);
  transition: all 0.2s ease-out;
}

body.show-subscribe-modal {
  overflow: hidden;
}

body.show-subscribe-modal #subscribe-modal {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
  cursor: pointer;
  transition: all 0.2s ease-out;
}

#subscribe-modal .modal-wrapper {
  margin: auto;
  border-radius: 2px;
  background: #fff;
  color: #000;
  padding: calc(30px + 1vw);
  width: 40vw;
  min-width: 300px;
  max-width: 600px;
  text-align: center;
  box-sizing: border-box;
  box-shadow: 0 0 9px rgba(0, 0, 0, 0.18);
  display: flex;
  align-content: center;
  align-items: center;
  cursor: default;
  transition: all 0.2s ease;
}

.modal-content {
  margin: auto;
}

#subscribe-modal div p {
  line-height: 1.7;
  font-size: 14px;
  max-width: 100%;
  width: 100%;
  padding-top: 0;
}

#subscribe-modal div h3 {
  font-size: 1.3rem;
}

#subscribe-modal div button {
  width: 100%;
}

#subscribe-modal form {
  max-width: 100%;
}

#subscribe-modal span {
  display: block;
  line-height: 4rem;
}

#subscribe-modal span::before,
#subscribe-modal span::after {
  content: "";
  height: 2px;
  background-color: rgba(0, 0, 0, 0.3);
  width: 10px;
  display: inline-block;
  vertical-align: middle;
  margin: 0 15px 0 15px;
}

#subscribe-modal p {
  margin: 10px auto 20px auto;
  padding: 0 10px 0 10px;
  box-sizing: border-box;
}

#subscribe-fxa-btn {
  margin-bottom: 0;
  margin-top: 2rem;
}

#subscribe-modal input {
  height: 40px;
  margin-bottom: 15px;
  font-size: 14px;
  border-radius: 3px 3px 3px 3px;
}

#subscribe-email-btn {
  text-align: center;
  position: relative !important;
}

.subscribe-message-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.subscribe-message {
  border: 1px solid rgba(255, 255, 255, 0.21);
  border-radius: 3px;
  background-color: rgba(255, 255, 255, 0.07);
  max-width: 400px;
  min-width: 300px;
  padding: 7vh;
  margin: auto;
  text-align: center;
  pointer-events: all;
}

.subscribe-message h5 {
  margin: 0.5rem 0 1rem 0;
}

.page-wrap {
  margin-bottom: 10vh;
  min-height: 81vh;
}

/* compromised accounts ********** */

#compromised-accounts-wrapper {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: calc(2.5rem + 0.5vw);
  padding-bottom: calc(2.5rem + 0.5vw);
  flex-wrap: nowrap;
  width: 100%;
}

#compromised-accounts {
  display: flex;
  flex-direction: column;
}

#compromised-accounts h3,
#what-to-do li:first-of-type {
  margin-bottom: calc(15px + 1vh + 1vw);
}

.column-container-twothirds {
  flex-basis: 66%;
  align-self: flex-start;
  margin-right: 3%;
  width: 100%;
}

.column-container-third {
  flex-basis: 30%;
}

.account {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #00217550;
  padding: 2vh 0 2vh 0;
}

.account .image-wrap {
  flex-basis: 16%;
  align-self: flex-start;
  margin-right: calc(15px + 0.5vh + 0.5vw);
  border-radius: 9%;
  overflow: hidden;
  max-width: 60px;
  width: 60px;
  min-width: 60px;
}

span.breach-info {
  display: block;
}

#what-to-do {
  font-size: 17px;
  list-style: none;
  background-color: rgba(0, 33, 117, 0.227);
  padding: calc(15px + 0.5vh + 0.5vw);
  min-width: 250px;
  max-width: 400px;
}

#what-to-do span.numeral,
#what-to-do li:first-of-type {
  display: block;
  font-size: 32px;
  line-height: 1.05;
}

#what-to-do li {
  margin-bottom: calc(15px + 0.5vh + 0.5vw);
  line-height: 1.4;
}

#what-to-do form label {
  color: #fff;
  font-size: 17px;
}

#what-to-do .input-group-button img {
  right: 0;
  left: 0;
  margin: auto;
}

#what-do-do form {
  width: 100%;
}

#what-to-do form .input-group > :first-child {
  height: 55px;
  min-width: 100px;
  width: 100%;
  text-indent: 10px;
}

#what-to-do form .input-group-button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50px;
  min-width: 50px;
}

#what-to-do .input-group {
  position: relative;
  border-radius: 6px;
  overflow: hidden;
  border: 1px solid #d7002000;
}

#what-to-do input[type=email] {
  box-shadow: none !important;
}

#what-to-do #invalid-email-message {
  display: block !important;
  margin-bottom: 5px;
  color: white;
}

#what-to-do .input-group-button .button {
  background-color: #0a84ff;
  color: rgba(0, 0, 0, 0);
}

#what-to-do [type=email] {
  border: none !important;
  box-shadow: none !important;
}

.button[disabled] {
  opacity: 0.6 !important;
  pointer-events: none;
}

.button[disabled]:hover {
  background-color: #0060df !important;
}

.form-group.invalid #invalid-email-message {
  visibility: visible;
  opacity: 1;
  transition: all 0.2s ease-out;
}

#invalid-email-message {
  visibility: hidden;
  color: #2b2b2b;
  opacity: 0;
}

#what-to-do .scan-another-email {
  margin-top: 1vh;
  font-weight: 600;
  display: inline-block;
}

#what-to-do form span {
  display: none !important;
}

.source-info {
  margin-top: calc(15px + 0.5vh + 0.5vw);
  font-size: 15px;
}

.source-info a {
  font-weight: 600;
}

#compromised-accounts .source-info a {
  color: #fff !important;
}

/* sign up button in header on {{breach}} */

.top-bar-right {
  display: inline-flex;
  align-self: flex-end;
  align-items: center;
  height: 100%;
}

.top-bar-right #sign-up-button-group {
  display: inline-flex;
  flex-flow: row-reverse;
  align-items: center;
}

.top-bar-right p {
  margin: 0 0 0 0;
  line-height: 1.2;
  font-size: 17px;
  text-align: right;
  min-width: 300px;
}

.top-bar-right #sign-up {
  background-color: #0052be;
  margin-left: calc(10px + 0.25vh + 0.25vw);
  margin-bottom: 0;
  height: 55px;
  font-size: 17px;
  min-width: 180px;
  white-space: nowrap;
}

.top-bar-right #sign-up:hover {
  background-color: #00399c;
}

.top-bar .section-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: nowrap;
}

footer {
  background-color: #fff;
  height: 10vh;
  max-height: 150px;
}

footer p {
  font-size: 14px;
}

footer a {
  font-weight: 400;
  color: #000;
}

footer a:hover {
  color: rgba(0, 0, 0, 0.702);
}

footer .section-wrapper {
  display: inline-flex;
  justify-content: space-between;
  color: #000;
  height: 100%;
}

.footer-left,
.footer-right {
  display: flex;
  align-items: center;
  width: 31.333%;
  text-align: left;
}

.footer-left a {
  margin-right: 2em;
}

#GitHub-logo {
  min-width: 20px;
  margin-left: 1px;
  padding-bottom: 3px;
}

.footer-nav {
  display: inline-flex;
  flex-basis: 40%;
  justify-content: space-around;
}

.footer-logo-wrapper {
  flex-basis: 33.333%;
  min-width: 120px;
  max-width: 170px;
  margin-right: 1em;
}
