* {
  box-sizing: border-box;
}

.show-mobile {
  display: none;
  visibility: hidden;
}

html,
body {
  --accentLightBlue: #00b4f5;
  --warmGradient: linear-gradient(200deg, #e22850 0%, #e31587 30%, #952bb9 100%);
  --bluePurpleGradient: linear-gradient(220deg, var(--blue4) 0%, var(--violet5) 55%, var(--purple5) 100%);
  --borderColors: var(--blue) #c78d20 #ff7e88 #ac3eff;
  --inkLight: #2b1e44;
  --color: #20123a;
  --textLight: #686869;
  --paragraphColor: var(--grey1);
  --padding: 2rem;
  --maxWidth: 1200px;
  --margin: 1rem;
  --headline: 2.1rem;
  --bigHeadline: 2.2rem;
  --skinnyHeadline: 1.9rem;
  --subhead: 1.1rem;
  --lineHeight: 180%;
  --radius: 0.25rem;
  --blue: #4f42ff;
  --borderColor: #eee;
  --textLight: #5e5e72;
  --alertRed: #ff4f5e;
  --purple: #9059ff;
  --violet1: #c689ff;
  --violet2: #ab71ff;
  --violet3: #9059ff;
  --violet4: #7542e5;
  --violet5: #592acb;
  --purple1: #f565ff;
  --purple2: #d74cf0;
  --purple3: #b833e1;
  --purple4: #952bb9;
  --purple5: #722291;
  --pink4: #e31587;
  --blue1: #0df;
  --blue2: #0090ed;
  --blue3: #0060df;
  --blue4: #0250bb;
  --blue5: #073072;
  --orange1: #ffa266;
  --green1: #54ffbd;
  --orange5: #ff7139;
  --orange6: #e25920;
  --bgLight: rgba(249, 249, 250, 1);
  --buttonFontSize: 0.9rem;
  --paragraphFontSize: 1.1rem;
  --grey1: #f9f9fa;
  --grey2: #ededf0;
  --grey3: #cdcdd4;
  --grey6: #5e5e72;
  --grey4: #9595a3;
  --grey5: #7a7a8b;
  --grey8: #42425a;
  --grey9: #202340;
  --monitorGradient: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);

  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: var(--grey1);
  scroll-behavior: smooth;
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 300;
  font-size: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
  -webkit-overflow-scrolling: touch;
}

.warm-gradient {
  background: var(--warmGradient);
}

.cool-gradient {
  background: var(--bluePurpleGradient);
}

.feature-title {
  color: var(--color);
}

.fx-monitor {
  color: var(--grey1);
}

/* light color group */
.landing-headline,
.landing-subhead,
.article-list-subhead,
.article-list-headline,
.latest-breach-headline,
.scan-results-headline,
.scan-res-subhead,
.scanned-email-address {
  color: var(--grey1);
}

.fxm {
  font-weight: 600;
  white-space: nowrap;
}

p,
.paragraph {
  line-height: var(--lineHeight);
  font-size: var(--paragraphFontSize);
}

.medium {
  font-weight: 500;
}

.demi {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.desc {
  max-width: 320px;
  font-weight: 300;
}

h1,
h2,
h3,
.nav-link,
button,
input[type="submit"] {
  font-family: "FirefoxSharpSans", --apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1,
h2,
h3,
.section-headline {
  margin-top: 0;
}

.headline {
  font-size: var(--headline);
  font-weight: 700;
}

.wrap-headline {
  max-width: 550px;
}

.skinny-headline {
  font-size: var(--headline);
  font-weight: 500;
  max-width: 480px;
}

.headline,
.skinny-headline {
  line-height: 115%;
  margin: 0 auto 0.55rem 0;
}

.subhead {
  font-weight: 400;
  line-height: 175%;
  max-width: 600px;
  padding-right: 5%;
  font-size: 1.1rem;
  margin: 0 auto var(--margin) 0;
}

h4.feature {
  font-weight: 300;
}

a {
  text-decoration: none;
  opacity: 1;
}

a:hover {
  opacity: 0.8;
}

button.text-link {
  border: 0;
  padding: 0;
  text-align: left;
  font-family: "Inter UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

button.text-link,
.text-link,
.footer-link {
  color: var(--blue3);
}

.text-link:hover {
  text-decoration: underline;
}

.button {
  width: 100%;
  text-align: center;
  padding: var(--padding);
  display: block;
  margin: var(--margin) 0;
}

/* button:focus, */
div:focus,
input:focus {
  border: 2px solid #4f42ff14;
  box-shadow: 0 0 0 1px #4f42ff6e, 0 0 0 4px #4f42ff1f;
  outline: none;
}

button:focus,
a:focus {
  outline: none;
}

button,
a.btn-light,
a.btn-dark {
  cursor: pointer;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  border-radius: 0.25rem;
  min-height: 2rem;
  font-size: var(--buttonFontSize);
  font-family: "FirefoxSharpSans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  transition: border 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.btn-light {
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 1);
  padding: 0.75rem 2rem;
}

.btn-dark,
.email-card .btn-light {
  color: var(--grey8);
  border: 1px solid #cdcdd482;
  padding: 0.75rem 1rem;
}

.btn-dark:hover,
.email-card .btn-light:hover {
  color: var(--grey8);
  background-color: #ededf099;
  border: 1px solid var(--grey2);
}

.btn-light:hover,
a.btn-light:hover {
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0);
  opacity: 1;
  transition: border 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.btn-light:active,
a.btn-light:active {
  border: 1px solid var(-violet4);
  background-color: var(--violet4);
  transition: border 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.btn-light:focus,
.btn-light:active {
  border-width: 1px;
  outline: none;
}

.arrow-head-btn {
  align-items: center;
}

ul {
  padding: 0;
  display: flex;
  flex-direction: column;
}

ul li {
  display: inline-flex;
  align-items: center;
}

.container {
  justify-content: center;
  flex-direction: column;
  padding-top: calc(var(--padding) * 2);
  padding-bottom: calc(var(--padding) * 2);
  position: relative;
}

.row {
  justify-content: space-between;
  padding: 0.75rem;
  max-width: var(--maxWidth);
}

.row-full-width {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 2.75rem;
}

.row,
.row-full-width {
  margin: auto;
}

.container,
.row-full-width,
.row {
  width: 100%;
}

.container,
.row-full-width,
.row,
.col-4,
.col-5,
.col-6,
.col-7,
.col-12,
.flx,
.flx-cntr,
.flx-row {
  display: flex;
}

.cntr {
  align-content: center;
  align-items: center;
}

.flx-cntr {
  align-items: center;
}

.flx-col {
  flex-direction: column;
}

.flx-row {
  flex-direction: row;
}

.space-between {
  justify-content: space-between;
}

.margin-zero {
  margin: 0;
}

.col-4 {
  flex: 1 1 33.333%;
  max-width: 366px;
}

.col-5 {
  flex: 1 1 41.66666667%;
  max-width: 41.66666667%;
}

.col-6 {
  flex: 1 1 50%;
  max-width: 500px;
  min-width: 300px;
}

.col-7 {
  flex: 1 1 58.33333333%;
  max-width: 58.33333333%;
}

.col-8 {
  flex: 1 1 66.66666667%;
  min-width: 66.66666667%;
  max-width: 66.66666667%;
}

.col-9 {
  flex: 1 1 75%;
  min-width: 75%;
  max-width: 75%;
}

.col-12 {
  flex: 1 1 calc(100% - var(--padding));
  width: 100%;
  flex-direction: column;
}

.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-12 {
  padding: var(--padding);
  flex-direction: column;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.padding-top-zero {
  padding-top: 0;
}

.padding-zero {
  padding: 0;
}

.no-vertical-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.col {
  flex-direction: column;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.txt-cntr {
  text-align: center;
}

.jst-cntr {
  justify-content: center;
  align-items: center;
}

.bg-white {
  background-color: white;
}

.bg-light {
  background-color: var(--grey1);
}

.bg-ink-light {
  background-color: var(--inkLight);
}

.bg-dark {
  background-color: var(--color);
}

.card.bg-dark {
  background: var(--color);
  color: rgba(255, 255, 255, 1);
}

.drop-shadow {
  transform: scale(1);
  box-shadow: 1px 1px 10px #4444440e;
  transition: box-shadow 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.drop-shadow:hover {
  transform: scale(1.01);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  transition: box-shadow 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.card {
  border: 1px solid #eee;
  border-radius: 0.35rem;
  background-color: rgba(255, 255, 255, 1);
  margin-bottom: var(--margin);
}

.source-info a,
.source-info {
  color: var(--grey8);
  font-size: 0.9rem;
}

/* SPRITES */
div.sprite {
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.title-wrapper {
  display: inline-block;
}

.bullet,
.logo-wrapper {
  width: 1.5rem;
  min-height: 10px;
  margin-right: 0.5rem;
  display: inline-flex;
}

.bullet {
  background-color: rgba(36, 34, 45, 0);
  border-width: 2px;
  border-radius: 50%;
  height: 1.25rem;
  width: 1.25rem;
  transition: all 0.1s ease-in;
  border-style: inset;
  border-color: var(--borderColors);
  margin-right: calc(var(--padding) / 2);
}

.arrow-head-right {
  margin-left: 0.35rem;
}

li:hover .bullet {
  border-width: 3px;
  transition: all 0.1s ease-in;
}

.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.1s ease, visibility 0.1s ease 0.2s, max-height 0.1s ease 0.2s, padding 0.1s ease 0.2s;
}

.hide {
  padding: 0;
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  transition: opacity 0.1s ease, visibility 0.1s ease 0.2s, max-height 0.1s ease 0.2s, padding 0.1s ease 0.2s;
}

.hide > * {
  padding: 0;
  max-height: 0;
  visibility: hidden;
  margin: 0 auto !important;
}

.clear-header {
  min-height: 90vh;
  padding-top: 12rem;
}

.toggle-parent.active .toggle svg {
  transform: rotate(180deg);
}

.toggle-parent.inactive .toggle-child {
  display: none;
}

@media screen and (max-width: 1200px) {
  body {
    --maxWidth: 1000px;
  }
}

@media screen and (max-width: 800px) {
  body {
    --maxWidth: 600px;
    --bigHeadline: 2.5rem;
  }

  .hide-mobile {
    display: none !important;
    visibility: hidden;
  }

  .headline-col {
    padding-bottom: 0;
  }

  .show-mobile {
    display: flex;
    visibility: visible;
  }

  .col-4,
  .col-5,
  .col-6,
  .col-7 {
    max-width: 100%;
    padding: 0 var(--padding);
  }

  .col-4,
  .col-8,
  .col-9 {
    max-width: 100%;
    width: 100%;
    margin: auto;
  }

  .row {
    flex-direction: column;
  }
}

@media screen and (max-width: 600px) {
  body {
    --paragraphFontSize: 1rem;
  }

  .col-5,
  .col-6,
  .col-7,
  .col-12 {
    margin: auto;
    width: 100%;
  }

  .row-full-width {
    padding: 1.5rem 1.5rem;
  }

  .card {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 500px) {
  body {
    --padding: 1rem;
    --bigHeadline: 2rem;
    --skinnyHeadline: 1.4rem;
    --subhead: 1.1rem;
  }

  .headline {
    margin-bottom: 1rem;
  }

  .subhead {
    padding-right: 3%;
  }
}
