* {
  box-sizing: border-box;
}

.show-mobile {
  display: none;
  visibility: hidden;
}

html,
body {
  --warmGradient: linear-gradient(71deg, #972ab8, #e22951 100%, #e22851 100%);
  --bluePurpleGradient: linear-gradient(220deg, var(--blue4) 0%, var(--violet5) 55%, var(--purple5) 100%);
  --inkLight: #2b1e44;
  --color: #20123a;
  --textLight: #686869;
  --padding: 2rem;
  --maxWidth: 1200px;
  --margin: 1rem;
  --headline: 2.5rem;
  --topHeadline: 3.25rem;
  --skinnyHeadline: 1.9rem;
  --subhead: 1.1rem;
  --lineHeight: 180%;
  --radius: 0.5rem;
  --borderColor: #eee;
  --textLight: #5e5e72;
  --alertRed: #ff4f5e;
  --purple: #9059ff;
  --violet1: #c689ff;
  --violet2: #ab71ff;
  --violet3: #9059ff;
  --violet4: #7542e5;
  --violet5: #592acb;
  --purple1: #f565ff;
  --purple5: #722291;
  --purple6: #332869;
  --purple7: #393473;
  --pink4: #e31587;
  --blue1: #0df;
  --blue2: #0090ed;
  --blue3: #0060df;
  --blue4: #0250bb;
  --blue5: #073072;
  --orange1: #ffa266;
  --green1: #54ffbd;
  --orange5: #ff7139;
  --orange6: #e25920;
  --bgLight: #f9f7fd;
  --buttonFontSize: 0.9rem;
  --paragraphFontSize: 1.1rem;
  --grey1: #f9f9fa;
  --grey2: #ededf0;
  --grey3: #cdcdd4;
  --grey6: #5e5e72;
  --grey8: #42425a;
  --grey9: #202340;
  --monitorGradient: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);

  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #f9f7fd;
  scroll-behavior: smooth;
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cool-gradient {
  background: var(--bluePurpleGradient);
}

.feature-title {
  color: var(--color);
}

.fx-monitor {
  color: var(--grey1);
}

p,
.paragraph {
  line-height: var(--lineHeight);
  font-size: var(--paragraphFontSize);
}

.medium {
  font-weight: 500;
}

.demi {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.desc {
  max-width: 320px;
}

h1,
h2 {
  font-family: "Metropolis", sans-serif;
}

h3,
.nav-link,
button,
input[type="submit"] {
  font-family: "Metropolis", sans-serif;
  font-weight: 600;
}

h1,
h2,
h3,
.section-headline {
  margin-top: 0;
}

.section-headline {
  font-size: 24px;
}

.top-headline {
  font-size: var(--topHeadline);
  font-weight: 700;
  line-height: 130%;
}

.wrap-headline {
  max-width: 550px;
}

.skinny-headline {
  font-weight: 600;
  max-width: 480px;
}

.headline,
.skinny-headline {
  font-size: var(--headline);
  margin: 0 auto 0.55rem 0;
}

.subhead {
  font-weight: 400;
  line-height: 175%;
  max-width: 600px;
  padding-right: 5%;
  font-size: 1.1rem;
  margin: 0 auto var(--margin) 0;
}

h4.feature {
  font-weight: 400;
}

a {
  text-decoration: none;
  opacity: 1;
}

a:hover {
  opacity: 0.8;
}

button.text-link {
  border: 0;
  padding: 0;
  text-align: left;
  font-family: "Inter UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
}

button.text-link,
.text-link,
.footer-link {
  color: var(--blue3);
}

.text-link:hover {
  text-decoration: underline;
}

.button {
  width: 100%;
  text-align: center;
  padding: var(--padding);
  display: block;
  margin: var(--margin) 0;
}

/* button:focus, */
div:focus,
input:focus {
  border: 2px solid #4f42ff14;
  box-shadow: 0 0 0 1px #4f42ff6e, 0 0 0 4px #4f42ff1f;
  outline: none;
}

button:focus,
a:focus {
  outline: none;
}

button,
a.btn-light,
a.btn-dark {
  cursor: pointer;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  border-radius: 8px;
  min-height: 2rem;
  font-size: var(--buttonFontSize);
  font-weight: 600;
  font-family: "Metropolis", sans-serif;
  transition: border 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.btn-light {
  border: 1px solid rgba(255, 255, 255, 0.5);
  color: rgba(255, 255, 255, 1);
  padding: 0.75rem 1rem;
}

.btn-dark,
.email-card .btn-light {
  color: var(--grey8);
  border: 1px solid #cdcdd482;
  padding: 0.75rem 1rem;
}

.btn-dark:hover,
.email-card .btn-light:hover {
  color: var(--grey8);
  background-color: #ededf099;
  border: 1px solid var(--grey2);
}

.btn-light:hover,
a.btn-light:hover {
  background-color: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0);
  opacity: 1;
  transition: border 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.btn-light:active,
a.btn-light:active {
  border: 1px solid var(-violet4);
  background-color: var(--violet4);
  transition: border 0.1s ease-in-out, background-color 0.1s ease-in-out;
}

.btn-light:focus,
.btn-light:active {
  border-width: 1px;
  outline: none;
}

.btn-grey {
  padding: 0.5rem 1.25rem;
  background-color: #e7e7eb;
  border: 1px solid #e7e7eb;
  color: var(--purple6);
  font-size: 14px;
  border-radius: 4px;
  font-weight: 600;
  font-family: "Metropolis", sans-serif;
  transition: all 0.15s ease;
}

.btn-grey:hover {
  opacity: 1;
  background-color: #dbdbdf;
  border: 1px solid #dbdbdf;
  transition: all 0.15s ease;
}

.btn-grey:active {
  background-color: #d0d0d4;
  border: 1px solid #d0d0d4;
  color: var(--grey8);
}

.arrow-head-btn {
  align-items: center;
}

ul {
  padding: 0;
  display: flex;
  flex-direction: column;
}

ul li {
  display: inline-flex;
  align-items: center;
}

.container {
  justify-content: center;
  flex-direction: column;
  padding-top: calc(var(--padding) * 2);
  padding-bottom: calc(var(--padding) * 2);
  position: relative;
}

.row {
  justify-content: space-between;
  padding: 0.75rem;
  max-width: var(--maxWidth);
}

.row-full-width {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.5rem 2.75rem;
}

.row,
.row-full-width {
  margin: auto;
}

.container,
.row-full-width,
.row {
  width: 100%;
}

.container,
.row-full-width,
.row,
.col-6,
.col-12,
.flx,
.flx-cntr,
.flx-row {
  display: flex;
}

.cntr {
  align-content: center;
  align-items: center;
}

.flx-cntr {
  align-items: center;
}

.flx-col {
  flex-direction: column;
}

.flx-row {
  flex-direction: row;
}

.flx-end {
  justify-content: flex-end;
}

.flx-auto {
  flex: 1 1 auto;
}

.space-between {
  justify-content: space-between;
}

.margin-zero {
  margin: 0;
}

.col-6 {
  flex: 1 1 50%;
  max-width: 50%;
  min-width: 300px;
}

.col-8 {
  flex: 1 1 66.66666667%;
  min-width: 66.66666667%;
  max-width: 66.66666667%;
}

.col-9 {
  flex: 1 1 75%;
  min-width: 75%;
  max-width: 75%;
}

.col-12 {
  flex: 1 1 calc(100% - var(--padding));
  width: 100%;
  flex-direction: column;
  padding: var(--padding);
  margin-right: auto;
  margin-left: auto;
}

.col-6,
.col-8,
.col-9 {
  padding: var(--padding);
  flex-direction: column;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.padding-top-zero {
  padding-top: 0;
}

.padding-zero {
  padding: 0;
}

.no-vertical-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.col {
  flex-direction: column;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.txt-cntr {
  text-align: center;
}

.txt-purple7 {
  color: var(--purple7);
}

.jst-cntr {
  justify-content: center;
  align-items: center;
}

.bg-white {
  background-color: rgba(255, 255, 255, 1);
}

.ab-bg,
.sr {
  background-attachment: fixed;
  background-size: cover;
}

.ab-bg {
  background-image: url("/img/svg/ab-bg.svg");
  background-position: bottom left;
}

.sr {
  background-image: url("/img/svg/scan-res-bg.svg");
  background-position: top center;
}

.bg-light {
  background-color: #f9f7fd;
}

.bg-dark {
  background-color: var(--color);
  color: rgba(255, 255, 255, 1);
}

.drop-shadow {
  transform: scale(1);
  box-shadow: 0 0 1px 1px #607d8b08, 1px 1px 10px #4341571a;
  transition: box-shadow 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.drop-shadow:hover {
  transform: scale(1.01);
  box-shadow: 1px 1px 10px #4341573a;
  transition: box-shadow 0.15s ease-in-out, transform 0.15s ease-in-out;
}

.source-info a,
.source-info {
  color: var(--grey8);
  font-size: 0.9rem;
}

/* SPRITES */
div.sprite {
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.title-wrapper {
  display: inline-block;
}

.logo-wrapper {
  width: 1.5rem;
  min-height: 10px;
  margin-right: 0.5rem;
  display: inline-flex;
}

.arrow-head-right {
  margin-left: 0.25rem;
  vertical-align: middle;
}

.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.1s ease, visibility 0.1s ease 0.2s, max-height 0.1s ease 0.2s, padding 0.1s ease 0.2s;
}

.hide {
  padding: 0;
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  transition: opacity 0.1s ease, visibility 0.1s ease 0.2s, max-height 0.1s ease 0.2s, padding 0.1s ease 0.2s;
}

.hide > * {
  padding: 0;
  max-height: 0;
  visibility: hidden;
  margin: 0 auto !important;
}

.clear-header {
  padding-top: 12rem;
}

.toggle-parent.active .toggle svg {
  transform: rotate(180deg);
}

.toggle-parent.inactive .toggle-child {
  display: none;
}

@media screen and (max-width: 1200px) {
  body {
    --maxWidth: 1000px;
  }
}

@media screen and (max-width: 800px) {
  body {
    --maxWidth: 600px;
    --topHeadline: 2.8rem;
    --headline: 2.4rem;
  }

  .hide-mobile {
    display: none !important;
    visibility: hidden;
  }

  .show-mobile {
    display: flex;
    visibility: visible;
  }

  .col-6 {
    max-width: 100%;
    padding: 0 var(--padding);
  }

  .col-8,
  .col-9 {
    max-width: 100%;
    width: 100%;
    margin: auto;
  }

  .row {
    flex-direction: column;
  }

  .row-9 {
    max-width: 75%;
    width: 75%;
    display: flex;
    padding: 0 var(--padding);
  }
}

@media screen and (max-width: 600px) {
  body {
    --paragraphFontSize: 1rem;
    --topHeadline: 2.3rem;
    --headline: 2.2rem;
  }

  .col-6,
  .col-12 {
    margin: auto;
    width: 100%;
  }

  .row-full-width {
    padding: 1.5rem 1.75rem;
  }

  .arrow-head-right {
    margin-left: 0.15rem;
  }
}

@media screen and (max-width: 500px) {
  body {
    --padding: 1rem;
    --skinnyHeadline: 1.4rem;
    --subhead: 1.1rem;
  }

  body.bento-open {
    position: fixed;
  }

  .row-full-width {
    padding: 24px;
  }

  .headline {
    margin-bottom: 1rem;
  }

  .subhead {
    padding-right: 3%;
  }
}
