.articles {
  background-color: rgba(255, 255, 255, 1);
}

.article-list > * {
  margin-bottom: 1.5rem;
}

.article-list {
  margin-top: 1.5rem;
}

.more-articles {
  display: inline-flex;
  justify-content: flex-start;
  margin-left: 1.5rem;
  margin-bottom: 0;
}

.article-list a {
  font-weight: 500;
}
