main.breach-detail {
  min-height: 40vh;
  color: var(--grey1);
}

.bg-split {
  background-image: linear-gradient(rgba(255, 255, 255, 0) 50%, #fff 0);
}

.breach-type:hover {
  text-decoration: underline;
}

.detail-section {
  padding: 40px 0;
}

.feat-img.change-password {
  background-image: url("/img/svg/change-password.svg");
}

.feat-img.stronger-password {
  background-image: url("/img/svg/stronger-password.svg");
}

.feat-img.manage-password {
  background-image: url("/img/svg/manage-password.svg");
}

.feat-img.data-compromised {
  background-image: url("/img/svg/data-compromised.svg");
  margin-top: 0 !important;
}

.feat-img.protect-personal-info {
  background-image: url("/img/svg/protect-personal-info.svg");
  margin-top: 0 !important;
}

.breach-detail-headline {
  margin: auto auto 8px auto;
  color: var(--ink);
}

.breach-detail-logo-wrapper {
  margin-bottom: var(--padding);
}

.breach-detail-logo.breach-logo {
  max-width: 10rem;
  max-height: 10rem;
}

.glyph {
  display: flex;
  margin-right: 16px;
}

.overview,
.overview p {
  font-size: 16px;
}

.overview p {
  margin: 20px 0;
}

.additional-data-types {
  display: block;
  margin: 0;
}

.additional-data-types-wrapper .source-info {
  margin-left: 0;
}

.breach-type {
  margin-top: 8px;
  font-size: 14px;
  color: var(--grey6);
}

.priority-data-classes-list {
  width: 100%;
  flex-wrap: wrap;
}

.lower-priority-data-types {
  margin-top: 0;
  margin-bottom: 24px;
}

.priority-data-type {
  margin-top: var(--padding);
  margin-bottom: var(--padding);
}

.data-type {
  font-weight: 600;
}

.data-type,
.data-action {
  margin: 0;
}

.what-to-do-tips {
  padding-bottom: 0;
}

@media screen and (max-width: 800px) {
  .priority-data-type {
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 600px) {
  .what-to-do-tips h2.section-headline {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
}
