.breach-card {
  display: flex;
  flex-direction: column;
  border-radius: var(--radius);

  /* color: var(--color); */
  overflow: hidden;
  margin: 0.5rem;
  transform: scale(1);
}

.scan-res.breach-card {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.scan-res .breach-card-title-wrapper {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

a.breach-card:focus,
a.latest-breach-link {
  border: none;
  outline: none;
  box-shadow: none;
}

.latest-breach-link {
  color: var(--blue4);
}

.breach-card-title-wrapper {
  padding: var(--margin);
  justify-content: space-between;
  align-content: center;
  width: 100%;
}

.breach-info-wrapper {
  height: 100%;
  justify-content: space-between;
  padding: var(--margin);

  /* background-color: rgba(255, 255, 255, 1); */
}

.breach-logo {
  max-height: 1.15rem;
  max-width: 3rem;
}

.demi.key {
  font-size: 0.9rem;
}

.breach-card-link-wrap {
  padding-top: 1rem;
}

.breach-title.demi,
.breach-info {
  display: block;
  font-size: 0.85rem;
}

.breach-info {
  line-height: 150%;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.breach-title,
.breach-info .key {
  font-weight: 500;
}

.breach-info .key {
  margin-right: 0.5rem;
}

/* breach card inside email card */
.email-card-breach-wrapper {
  border-radius: var(--radius);
  overflow: hidden;
}

a.breach-card:hover {
  opacity: 1;
}

.two-up {
  flex: 1 1 45%;
  margin: 1rem;
}

.three-up {
  flex: 1 1 30%;
  min-width: 260px;
}

@media screen and (max-width: 1000px) {
  .three-up {
    max-width: 48%;
    flex: 1 1 48%;
  }

  .breach-card.ec.two-up {
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 800px) {
  .breach-card {
    margin: 0.5rem var(--margin);
  }

  .two-up,
  .three-up {
    max-width: 100%;
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 500px) {
  .breach-card {
    margin: 0.5rem 0;
  }
}
