.breach-stat-number {
  align-items: center;
  font-size: 1.75rem;
  width: 4rem;
  height: 3rem;
  justify-content: center;
  border-right: 1px solid rgba(219, 219, 219, 0.9);
  margin: 0.15rem;
}

.stat-subhead {
  font-size: 0.7rem;
}

.stat-headline {
  text-transform: uppercase;
  letter-spacing: 0.5px;
  font-size: 0.8rem;
}

.breach-stats {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid rgba(219, 219, 219, 0.9);
  border-radius: var(--radius);
  overflow: hidden;
  display: flex;
  flex-direction: column-reverse;
  margin: auto;
  width: 100%;
  max-width: 360px;
}

.breach-stats > * {
  margin-bottom: 0;
}

.breach-stat-row {
  width: 100%;
  border-bottom: 1px solid rgba(219, 219, 219, 0.9);
}

.breach-stat-row.flx:first-of-type {
  border-bottom: 0;
}

.breach-stat-label {
  padding-left: 1rem;
  justify-content: center;
  flex-direction: column;
}
