.breach-card {
  --logoDmns: 1.5rem;
  --logoMargin: 1rem;
  --breachInfoPadding: calc(var(--logoMargin) * 2 + var(--logoDmns));

  padding: 1.5rem  3.25rem 1.5rem 1.5rem;
  border-radius: 0.7rem;
  display: flex;
  flex-direction: row;
  overflow: hidden;
  margin: 0.5rem;
  transform: scale(1);
  color: var(--color);
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: all 0.15s ease-in-out;
}

a.breach-card:hover {
  opacity: 1;
}

.breach-key {
  font-size: 12px;
  margin-top: 0.75rem;
  color: #5b5b5b;
}

.breach-value {
  font-size: 15px;
  color: var(--color);
  font-weight: 500;
}

.breach-key,
.breach-value {
  line-height: 1.2rem;
}

.breach-card:hover {
  transform: scale(1.01);
  transition: all 0.15s ease-in-out;
}

a.breach-card:focus,
a.latest-breach-link {
  border: 1px solid rgba(255, 255, 255, 0);
  outline: none;
  box-shadow: none;
  transition: all 0.15s ease-in-out;
}

.latest-breach-link,
.more-about-this-breach {
  display: flex;
  align-items: center;
  color: var(--blue4);
  font-weight: 500;
  opacity: 1;
  transition: all 0.15s ease-in-out;
}

.latest-breach-link:hover,
.more-about-this-breach:hover {
  text-decoration: underline;
  transition: all 0.15s ease-in-out;
}

a.latest-breach-link {
  font-weight: 500;
  color: var(--blue4);
  padding-left: 4rem;
  padding-bottom: 1.5rem;
}

.breach-card-title-wrapper {
  padding: 0 var(--logoMargin);
  align-content: center;
  width: 100%;
}

.breach-title {
  padding-top: 2px;
  font-size: 18px;
  font-weight: 600;
}

.breach-info-wrapper {
  height: 100%;
  justify-content: space-between;
}

.breach-logo {
  max-height: var(--logoDmns);
  max-width: var(--logoDmns);
}

.latest-breach .breach-logo {
  max-height: 2.5rem;
  max-width: 2.5rem;
}

.breach-logo-wrapper { /* reduce jumping on lazyload */
  content: "";
  display: block;
  min-height: var(--logoDmns);
  min-width: var(--logoDmns);
  max-height: var(--logoDmns);
  max-width: var(--logoDmns);
  margin-right: var(--logoMargin);
}

.latest-breach .breach-logo-wrapper {
  margin-left: 1.5rem;
}

.breach-card-link-wrap {
  padding-top: 1.25rem;
}

.breach-title,
.breach-value,
.breach-key {
  display: block;
}

/* breach card inside email card */

.two-up {
  flex: 1 1 45%;
  margin: 1rem;
  max-width: 46%; /* prevent stretching in scan results */
}

.email-card .two-up {
  max-width: 100%;
}

.three-up {
  flex: 1 1 30%;
  min-width: 260px;
}

@media screen and (max-width: 1000px) {
  .three-up {
    max-width: 48%;
    flex: 1 1 48%;
  }

  .breach-card.ec.two-up {
    flex: 1 1 100%;
    display: none;
  }

  .email-card.active .breach-card.ec.two-up {
    display: flex;
  }
}

@media screen and (max-width: 800px) {
  .breach-card {
    margin: 0.5rem var(--margin);
  }

  .two-up,
  .three-up {
    max-width: 100%;
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 500px) {
  .breach-card {
    margin: 0.5rem 0;
  }
}
