.breach-listing .breach-logo-title {
  width: 100%;
  padding: 1rem 2rem;
  border-bottom: 1px solid #eee;
}

.breach-info-wrap {
  padding: 1rem 2rem 2rem 2rem;
}

.breach-listing .logo-wrapper {
  display: inline-block;
  min-width: 1rem;
  max-width: 1rem;
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
}

img.breach-listing-logo {
  max-height: 1rem;
  max-width: 1rem;
}

.breach-title.key,
.breach-listing a,
.breach-info {
  display: block;
  font-size: 0.85rem;
}

.breach-info {
  line-height: 150%;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.breach-title,
.breach-info .key {
  font-weight: 600;
}

.breach-info .key {
  margin-right: 0.25rem;
}

.breach-listing a {
  margin-top: 1rem;
  text-decoration: underline;
}

@media screen and (max-width: 500px) {
  .breach-info-wrap {
    padding: 1rem 1rem 2rem 1rem;
  }

  .breach-logo-title.logo-title-wrapper {
    padding: 1rem;
  }
}
