.monitoredEmails {
  background-color: var(--violet3);
}

.numBreaches {
  background-color: var(--violet4);
}

.passwords {
  background-color: var(--violet5);
}

.breach-stat-number,
.stat-headline {
  color: rgba(255, 255, 255, 1);
  justify-content: center;
  width: 100%;
}

.breach-stat-number {
  font-size: 56px;
  line-height: 1.14;
  min-width: 60px;
}

.breach-stat-row {
  padding: 32px var(--padding);
  max-width: 31.25%;
  border-radius: 8px;
}

.stat-row-title-wrap {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.stat-headline {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  text-align: center;
}

.dash-stats {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: calc(var(--padding) * 4);
}

@media screen and (max-width: 800px) {
  .dash-stats {
    flex-direction: column;
  }

  .breach-stat-row {
    max-width: 100%;
    padding: 16px;
    margin-bottom: 16px;
  }

  .stat-row-title-wrap {
    flex-direction: row;
    align-items: center;
  }

  .stat-headline {
    text-align: left;
  }

  .breach-stat-number {
    width: auto;
    font-size: 30px;
  }
}
