.breach-card {
  --logoDmns: 24px;
  --logoMargin: 20px;

  padding: 20px;
  border-radius: 8px;
  display: flex;
  margin: 0.5rem;
  color: var(--ink);
  background-color: rgba(255, 255, 255, 1);
}

.breach-key {
  font-size: 12px;
  margin-top: 8px;
  color: #5b5b5b;
}

.breach-value {
  font-size: 14px;
  color: var(--ink);
  font-weight: 500;
}

.breach-key,
.breach-value {
  line-height: 1.5;
}

.breach-title {
  padding-top: 2px;
  font-size: 18px;
  font-weight: 600;
  font-family: "Metropolis", sans-serif;
}

.breach-info-wrapper {
  height: 100%;
  justify-content: space-between;
}

.breach-logo {
  max-height: var(--logoDmns);
  max-width: var(--logoDmns);
}

.breach-logo-wrapper { /* reduce jumping on lazyload */
  content: "";
  display: block;
  min-height: var(--logoDmns);
  min-width: var(--logoDmns);
  max-height: var(--logoDmns);
  max-width: var(--logoDmns);
  margin-right: var(--logoMargin);
}

.latest-breach .breach-logo-wrapper {
  margin-left: 20px;
}

.breach-card-link-wrap {
  padding-top: 12px;
}

.breach-title,
.breach-value,
.breach-key {
  display: block;
}

/* breach card inside email card */

.two-up {
  flex: 1 1 45%;
  margin: var(--padding);
  max-width: 46%; /* prevent stretching in scan results */
}

.scan-res-breaches .two-up {
  flex: 1 1 47%;
  margin: var(--padding) 8px;
  max-width: 47%;
}

.three-up {
  flex: 1 1 30%;
  min-width: 260px;
}

@media screen and (max-width: 1000px) {
  .three-up {
    max-width: 48%;
    flex: 1 1 48%;
  }

  .email-card.active .breach-card.ec.two-up {
    display: flex;
  }
}

@media screen and (max-width: 800px) {
  .breach-card {
    margin: 0.75rem 0;
  }

  .two-up,
  .scan-res-breaches .two-up,
  .three-up {
    max-width: 100%;
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 500px) {
  .breach-card {
    margin: 0.5rem 0;
  }
}
