.breach-listing {
  border: 1px solid rgba(238, 238, 238, 1);
  background-color: rgba(255, 255, 255, 0);
  overflow: hidden;
  border-radius: var(--radius);
  flex: 1 1 40%;
  margin: var(--margin);
  max-width: calc(50% - var(--padding));
  transition: all 0.2s ease;
}

.breach-listing:hover {
  border: 1px solid rgba(255, 255, 255, 1);
  background-color: rgba(255, 255, 255, 1);
  transition: all 0.2s ease;
}

.breach-listing .breach-logo-title {
  width: 100%;
  padding: 1rem 2rem;
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  background-color: var(--color);
  color: rgba(255, 255, 255, 0.95);
}

.breach-info-wrap {
  padding: 1rem 2rem;
}

.breach-listing .logo-wrapper {
  display: inline-block;
  min-width: 1rem;
  max-width: 1rem;
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
}

img.breach-listing-logo {
  max-height: 1rem;
  max-width: 1rem;
}

.breach-title.key,
.breach-listing a,
.breach-info {
  display: block;
  font-size: 0.85rem;
}

.breach-info {
  line-height: 150%;
  font-weight: 300;
  margin-bottom: 0.5rem;
}

.breach-title,
.breach-info .key {
  font-weight: 500;
}

.breach-info .key {
  margin-right: 0.5rem;
}

.breach-listing a {
  padding: 0 var(--padding) var(--padding) var(--padding);
  margin: auto auto 0 0;
}

@media screen and (max-width: 500px) {
  .breach-info-wrap,
  .breach-logo-title.logo-title-wrapper {
    padding: var(--padding);
  }

  .breach-listing a {
    padding-bottom: 1.5rem;
  }
}
