.welcome-back {
  font-size: 1.1rem;
  font-family: "FirefoxSharpSans", Arial, Helvetica, sans-serif;
  display: inline-block;
}

h2.pref-headline {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 0;
  letter-spacing: 0.02em;
}

h3.pref-section-headline {
  color: #332869;
  font-size: 24px;
  margin: calc(var(--padding) + var(--margin)) 0 var(--padding) 0;
}

h3.pref-section-headline.remove {
  margin-bottom: 1rem;
}

h2.pref-headline.breach-summary {
  margin-bottom: calc(var(--padding) + var(--margin));
}

.pref {
  width: 100%;
  max-width: 60%;
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-self: center;
  padding: 0;
}

.pref.remove {
  margin: 6rem 0;
}

.pref .col-9 {
  width: 100%;
  max-width: 100%;
}

.container.preferences {
  background-size: auto;
}

.manage-emails.btn-dark {
  margin: var(--margin) 0;
}

button.resend-email {
  min-height: 0;
}

.remove-fxm {
  color: var(--alertRed);
  font-weight: 700;
  align-items: center;
  font-size: 1.3rem;
}

.remove-fxm .arrow-head-right path {
  fill: var(--alertRed);
}

.email-pref {
  margin: 3rem 0 0.75rem 0;
  font-weight: 500;
  color: #686869;
}

.email-pref.fxa-primary-email {
  margin-top: 0;
}

.email-verification-required {
  color: var(--alertRed);
  font-weight: 500;
  display: flex;
  align-items: center;
}

.email-verification-required::before {
  content: "";
  background-image: url(/img/svg/data-compromised.svg);
  background-repeat: no-repeat;
  background-position: bottom center;
  margin-right: 0.5rem;
  width: 1rem;
  height: 1rem;
  display: inline-block;
}

.radio-label span.bold {
  color: var(--color);
}

.trash-can {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  pointer-events: none;
  margin: auto;
}

.link-header-wrapper {
  margin: var(--padding) 0;
}

.email-cards {
  width: 100%;
}

.dash-add-email-hl {
  font-size: 28px;
  margin: calc(var(--margin) + 0.5rem) auto;
}

span.dashboard-email-sent {
  background-color: var(--green1);
  color: #084036;
  padding: 0.5rem 0.75rem;
  margin: calc(var(--margin) + 0.5rem) auto 0.5rem auto;
  font-size: 14px;
}

p.confirm-submit {
  color: #686869;
  font-size: 14px;
  margin: 0 auto;
  letter-spacing: 0.01em;
}

.dashboard-add-email {
  width: 100%;
  padding: var(--margin) var(--margin) calc(var(--padding) * 3) var(--margin);
}

@media screen and (max-width: 1100px) {
  .email-cards .e-info {
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 900px) {
  .pref {
    max-width: 100%;
    padding: 0 var(--padding);
  }
}

@media screen and (max-width: 800px) {
  .email-cards,
  .col-9.no-vertical-padding {
    padding: 1rem;
  }
}

@media screen and (max-width: 600px) {
  h2.pref-headline {
    font-size: 2rem;
  }

  h2.pref-headline.breach-summary {
    margin-bottom: var(--margin);
  }

  .link-header-wrapper {
    margin-bottom: 0;
  }

  .dashboard.clear-header {
    padding-top: 12rem;
  }

  .welcome-back,
  .section-headline.dash {
    font-size: 1.1rem;
    text-align: left;
  }

  .welcome-back {
    padding-top: 0;
  }

  .pref {
    padding: 0 0.5rem;
  }

  h3.pref-section-headline {
    margin: 3rem 0 2rem 0;
  }

  .email-cards,
  .col-9.no-vertical-padding {
    padding: 0.5rem;
  }
}
