
.email-card.preferences .e-info {
  border-bottom: none;
  padding-bottom: 0;
  flex-direction: column;
  width: auto;
}

.email-card.preferences {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #e8e8e8;
  margin: 0 0 1rem 0;
  border-radius: 0.25rem;
}

.e-info { /* email address info */
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  border-bottom: 2px solid #e8e8e8;
  padding-bottom: 10px;
  width: 100%;
}

.preferences .e-info {
  align-items: flex-start;
}

.preferences .e-num-breaches {
  margin-top: 0.25rem;
}

.e-address {
  font-size: 1.1rem;
  margin-right: 0.5rem;
  font-family: "FirefoxSharpSans", Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: var(--purple6);
}

.e-address span.light {
  font-weight: 300;
  color: var(--grey6);
  font-size: 0.75rem;
}

.e-num-breaches {
  font-weight: 400;
  font-size: 0.9rem;
  display: block;
  color: var(--grey6);
  font-family: "FirefoxSharpSans", Arial, Helvetica, sans-serif;
}

.e-num-breaches .bold {
  color: var(--violet4);
}

.email-card-breach-wrapper {
  padding: 0 var(--margin);
  display: flex;
  flex: 1 1 50%;
  min-width: 250px;
  justify-content: flex-start;
  align-items: flex-start;
  align-items: stretch;
}

.email-card.active .email-card-breach-wrapper {
  padding: var(--margin);
}

.breach-title-wrapper.ec {
  border-bottom: 1px solid var(--borderColor);
}

/* email breach lists */

.e-breach-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  transition: all 0.2s ease;
}

.e-breach-list .breach-card {
  max-height: 0;
  transition: all 0.2s ease;
}

.active .e-breach-list .breach-card {
  max-height: 10000px;
  transition: all 0.2s ease;
}

.show-remaining-breaches.btn-grey {
  margin: 1rem auto;
  display: flex;
}

.show-remaining-breaches.hide {
  display: none;
}

.email-card.active .e-breach-list {
  visibility: visible;
  opacity: 1;
  max-height: 20000px;
  padding-top: 1rem;
  transition: all 0.3s ease;
}

.email-card.active .show-additional-breaches.hide .breach-card,
.email-card.inactive .show-additinal-breaches.hide .breach-card {
  display: none !important;
}

/* new breaches */
.new-breach-message-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.preferences .new-breach-message-wrapper {
  display: none;
}

.new-breach-message-wrapper.hide-mobile {
  position: absolute;
  right: 0;
}

.new-breach-icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
}

.new-breach-message {
  color: var(--alertRed);
  font-weight: 600;
  font-size: 12px;
}

.breach-card.ec.new-breach {
  border: 1px solid var(--alertRed);
}

.breach-card.ec {
  border: 1px solid rgba(0, 0, 0, 0);
  background-color: rgba(255, 255, 255, 1);
  color: var(--color);
}

.e-toggle-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  position: relative;
}

.svg-wrap {
  border-width: 0;
  border-radius: 0.25rem;
  padding: 0.5rem 0 0 0;
  pointer-events: all;
  text-align: left;
}

/* preferences buttons/options */
.remove-email .x-close {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  pointer-events: none;
}

.remove-email .x-close path {
  fill: var(--color);
}

.button-resend-wrapper {
  margin-top: 0.5rem;
  align-items: center;
}

.change-primary-email,
.remove-fxm,
.resend-email {
  pointer-events: all;
  transition: all 0.15s ease;
}

.change-primary-email:hover {
  border: 1px solid var(--grey3) !important;
  background-color: transparent;
  color: var(--grey9);
  opacity: 1;
  transition: all 0.15s ease;
}

.resend-email {
  padding: 0.5rem 0;
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
}

.email-sent {
  opacity: 0.5;
  transition: opacity 0.15s ease-in-out;
}

.sending {
  padding-left: 1rem;
}

.remove-fxm:hover,
.remove-fxm:focus,
.toggle.svg-wrap:focus,
.toggle.svg-wrap:hover,
.resend-email:hover,
.resend-email:focus {
  outline: none;
  border: none;
  text-decoration: underline;
  box-shadow: none;
  text-align: left;
  pointer-events: all;
}

.remove-fxm,
.resend-email {
  text-align: left;
  padding: 0;
  border-width: 0;
}

.remove-fxm:hover {
  text-decoration: none;
  color: #cf434f;
  transition: color 0.15s ease-in-out;
}

form.remove-email:hover svg path,
.remove-fxm:hover svg path {
  fill: #cf434f;
  transition: fill 0.15s ease-in-out;
}

.toggle {
  height: 100%;
  transition: all 0.1s ease;
  width: 100%;
}

.show-email-breaches.toggle {
  pointer-events: none; /* prevent toggling on desktop */
  display: none;
  right: 0;
  left: 0;
}

svg.toggle-down {
  border-radius: 50%;
  margin: auto;
  right: var(--padding);
  transition: all 0.2s ease;
  pointer-events: none;
}

.email-card .toggle,
svg.toggle-down {
  position: absolute;
  top: 0;
  bottom: 0;
}

svg.toggle-down path {
  fill: var(--grey6);
}

.email-card.active .toggle-down {
  transform: rotate(180deg);
  transition: all 0.1s ease;
}

form.remove-email {
  pointer-events: all;
  padding: 0;
}

form.remove-email,
input.remove-email-submit {
  border: none !important;
  border-radius: 50% !important;
  height: 1.5rem !important;
  width: 1.5rem !important;
  position: relative;
  pointer-events: all;
  cursor: pointer;
}

form.remove-email svg path {
  fill: var(--alertRed);
  transition: fill 0.15s ease-in-out;
}

input.remove-email-submit {
  background-color: transparent !important;
}

@media screen and (max-width: 800px) {
  .email-card {
    margin: 0.5rem 0;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 0.25rem;
    border: 1px solid #e8e8e8;
  }

  .dash-attribution {
    margin-top: 1.5rem;
  }

  .e-info {
    border-bottom: none;
    padding-bottom: 0;
  }

  .e-num-breaches {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    font-style: italic;
    font-weight: 300;
  }

  .toggle.show-email-breaches {
    pointer-events: all;
    display: flex;
  }

  .email-card-breach-wrapper {
    padding: var(--margin) 0;
    flex: 1 1 100%;
  }

  .ec.breach-card {
    flex: 1 1 100%;
  }

  .email-card.active .email-card-breach-wrapper {
    padding: var(--margin) 0;
  }

  .new-breach-message-wrapper.show-mobile {
    display: flex;
    margin: 1rem 1rem 0 auto;
  }

  .pref .new-breach-message-wrapper.show-mobile {
    display: none !important;
  }

  .e-breach-list {
    padding: 0 1rem;
  }

  .email-card.active .e-breach-list {
    padding: 1rem;
  }

  .manage-emails.show-mobile {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .e-address,
  .radio-label {
    font-size: 1rem;
  }

  .email-card {
    padding: 1rem 0;
  }

  .email-pref {
    margin-top: 2rem;
  }

  .e-num-breaches,
  .resend-email,
  .change-primary-email {
    font-size: 0.85rem;
  }

  .button-resend-wrapper,
  .e-num-breaches {
    margin-top: 0.35rem;
  }

  .e-toggle-info-wrapper {
    padding: 0 1rem;
  }

  .change-primary-email {
    width: 100%;
    margin: var(--margin) 0 0 0;
    text-align: center;
  }

  .resend-email:hover {
    background-color: transparent;
  }
}
