body.email-locale-testing {
  background: rgb(237, 237, 240);
  background-color: rgb(237, 237, 240);
  background-image: none;
  color: rgba(12, 12, 13, 0.7);
}

body.email-locale-testing .section-wrapper {
  justify-content: center;
  position: relative;
  flex-wrap: nowrap;
}

.email-test-wrapper {
  width: 600px;
}

.email-locale-testing nav {
  margin: 30px;
}

.email-locale-testing nav a {
  color: rgb(0, 0, 0);
  display: block;
  font-size: 13px;
  margin: 10px 0;
}

.email-logo,
.email-body,
.email-footer {
  padding: 30px;
}

.email-content {
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 2px 2px 5px rgba(119, 136, 153, 0.361);
}

.email-test-wrapper .firefox-logo,
.email-test-wrapper h1 {
  display: inline-block;
}

.email-body {
  background: rgb(255, 255, 255);
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.email-footer {
  font-size: 13px;
}

.email-footer img {
  height: 40px;
  width: 40px;
  margin-top: 20px;
}

.email-footer a {
  color: rgb(0, 96, 223);
}

.footer-copy {
  margin: 10px 0;
}

.email-test-wrapper .firefox-logo {
  max-width: auto;
  width: auto;
  height: 70px;
  background: none;
}

.verify-email,
.email-footer {
  text-align: center;
}

.email-button-wrapper {
  background-color: transparent !important;
}

.email-button-wrapper .email-button {
  padding: 10px 30px !important;
  display: inline-block;
  border-radius: 3px !important;
  background-color: rgb(0, 96, 223);
}

.email-headline-copy {
  margin-top: 30px !important;
}

.email-footer tr,
.email-body tr {
  display: flex;
  justify-content: center;
}

.email-footer,
.email-headline-copy h2:last-of-type,
.email-wtd {
  margin-top: 15px;
}

td {
  overflow: hidden;
}

td.logomark-wrapper {
  width: 70px;
}

td h1.firefox-logotype {
  font-size: 2rem;
  font-weight: 400 !important;
  color: rgb(255, 255, 255);
}

table.table-button tr {
  display: flex !important;
  justify-content: center !important;
}

.email-main-copy tr {
  justify-content: flex-start;
  margin-top: 30px !important;
}

p.body-copy.email-sub-head {
  font-size: 21px;
}

.email-wtd-step td:last-of-type p:first-of-type,
p.body-copy.medium {
  font-weight: 500 !important;
}

p.body-copy.medium span,
p.body-copy.medium a {
  margin-left: 6px;
  color: rgba(12, 12, 13, 0.7);
}

.email-wtd td,
td.email-pwt-image,
td.email-breach-image {
  min-width: 60px;
}

td.email-pwt-image img {
  width: 50px;
  min-width: 50px;
}

.verify-email,
.email-main-copy,
table.table-button,
.email-breach-listing {
  margin-bottom: 30px;
}

body.email-locale-testing,
td h1.firefox-logotype span,
.email-test-wrapper,
.email-locale-testing nav a,
p.body-copy.medium span,
p.body-copy.medium a {
  font-weight: 300;
}
