@font-face {
  font-family: 'FirefoxSharpSans';
  font-style: normal;
  font-weight: 700;
  src:
    url("/fonts/FirefoxSharpSans/FirefoxSharpSans-Bold.woff2") format("woff2"),
    url("/fonts/FirefoxSharpSans/FirefoxSharpSans-Bold.woff") format("woff");
}

@font-face {
  font-family: 'FirefoxSharpSans';
  font-style: italic;
  font-weight: 700;
  src:
    url("/fonts/FirefoxSharpSans/FirefoxSharpSans-BoldIt.woff2") format("woff2"),
    url("/fonts/FirefoxSharpSans/FirefoxSharpSans-BoldIt.woff") format("woff");
}

@font-face {
  font-family: 'FirefoxSharpSans';
  font-style: normal;
  font-weight: 500;
  src:
    url("/fonts/FirefoxSharpSans/FirefoxSharpSans-Medium.woff2") format("woff2"),
    url("/fonts/FirefoxSharpSans/FirefoxSharpSans-Medium.woff") format("woff");
}

@font-face {
  font-family: 'FirefoxSharpSans';
  font-style: italic;
  font-weight: 500;
  src:
    url("/fonts/FirefoxSharpSans/FirefoxSharpSans-MediumIt.woff2") format("woff2"),
    url("/fonts/FirefoxSharpSans/FirefoxSharpSans-MediumIt.woff") format("woff");
}
