.how-fxm-works {
  flex-direction: row;
}

.how-fxm-works-blurb {
  font-size: 1rem;
}

.about-fxm {
  color: rgba(255, 255, 255, 1);
  background-color: #20123aa3;
}

.about-noodles {
  background-color: var(--ink);
  background-image: url("/img/landing/background-noodle-right.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 100%;
}

.fx-monitor-svg {
  background-image: url("/img/svg/fx-monitor.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  width: 3rem;
  height: 6rem;
  margin-bottom: var(--padding);
}

.fxm-card-wrap {
  flex: 1;
  padding: 0 calc(var(--padding) * 2) calc(var(--padding) * 2) 0;
}

.about-cta {
  display: flex;
  margin: 0 !important;
  align-self: flex-start;
}

@media screen and (max-width: 1100px) {
  .about-row {
    justify-content: center;
  }

  .about-row .content-wrap {
    flex: 1 1 66.66666667%;
    max-width: 66.66666667%;
    margin: auto;
  }

  .how-fxm-works {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .about-row .content-wrap {
    max-width: 100%;
  }
}
