.how-fxm-headline {
  margin-top: 0;
}

.how-fxm-works {
  flex-direction: row;
}

.about-fxm {
  color: rgba(255, 255, 255, 1);
  background-color: #1d1133e0;
}

.about-noodles {
  background-color: var(--ink);
  background-image: url("/img/landing/background-noodle-right.svg");
  background-repeat: no-repeat;
  background-position: right;
  background-size: auto 100%;
}

.fx-monitor-svg {
  background-image: url("/img/svg/fx-monitor.svg");
  background-repeat: no-repeat;
  background-position: bottom left;
  background-size: contain;
  width: 3rem;
  height: 6rem;
  margin-bottom: var(--padding);
}

.fxm-card-wrap {
  flex: 1;
  padding: var(--padding);
  margin: 0 auto var(--padding) auto;
}

.about-cta.btn-transparent.btn-small {
  margin: 0 auto;
}

@media screen and (max-width: 1100px) {
  .about-row {
    justify-content: center;
  }

  .about-row .content-wrap {
    flex: 1 1 66.66666667%;
    max-width: 66.66666667%;
    margin: auto;
  }

  .how-fxm-works {
    flex-direction: column;
  }
}

@media screen and (max-width: 800px) {
  .about-row .content-wrap {
    max-width: 100%;
  }
}
