footer {
  background-color: rgba(255, 255, 255, 1);
  border-top: 1px solid var(--borderColor);
  width: 100%;
  margin: auto auto 0 auto;
}

ul.footer-links {
  justify-content: flex-end;
}

.footer-link-wrapper {
  margin-left: var(--padding);
}

.footer-link-wrapper.moz-link {
  margin: auto auto auto 0;
}

svg.Mozilla-logo {
  min-width: 7rem;
  max-width: 7rem;
}

@media screen and (max-width: 800px) {
  footer ul.row-full-width {
    flex-direction: column;
  }

  .footer-link-wrapper,
  .footer-link {
    width: 100%;
    margin-left: 0;
  }

  .footer-link {
    padding: 0.75rem 0;
  }

  .mozilla-logo-wrapper {
    padding: 0;
  }
}

@media screen and (max-width: 800px) {
  ul.row-full-width {
    padding: 1.75rem;
  }
}
