footer {
  border-top: 1px solid var(--borderColor);
  width: 100%;
  margin: auto auto 0 auto;
}

svg.Mozilla-logo {
  min-width: 7rem;
  max-width: 7rem;
}

@media screen and (max-width: 800px) {
  footer ul.row-full-width {
    flex-direction: column;
    padding: 1.75rem;
  }

  .footer-link-wrapper,
  .footer-link {
    width: 100%;
  }

  .footer-link {
    padding: 0.75rem 0;
  }

  .mozilla-logo-wrapper {
    padding: 0;
  }
}

/* @media screen and (max-width: 600px) {
  footer ul.row-full-width {
    padding: 2.25rem;
  }
} */
