/* FORMS */

form,
.form-wrap {
  width: 100%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgba(255, 255, 255, 0) inset;
}

.form-group.loading-data .loader {
  display: block;
  opacity: 0.58;
  width: 25px;
  height: auto;
  visibility: visible;
}

.form-desc {
  max-width: 260px;
  z-index: 1;
  font-size: 12px;
  line-height: 1.5;
  margin: 12px auto;
}

input[type="submit"],
input[type="email"] {
  height: 48px;
  width: 100%;
  border-style: solid;
  border-width: 1px;
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: 4px;
}

.go-to-dash:focus,
.close-modal-btn:focus,
input[type="text"]:focus,
input[type="radio"]:focus ~ .checkmark,
input:focus,
.radio-button-group:focus {
  border: 1px solid rgb(40, 97, 205);
  box-shadow: 0 0 0 1px rgb(63, 97, 217), 0 0 0 4px rgba(63, 97, 217, 0.3);
  outline: none;
}

.email-scan {
  flex-direction: column;
  max-width: 320px;
  margin: auto;
}

.input-group,
.input-group-button {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
}

.form-group .error-message {
  display: block;
  background: rgba(215, 0, 34, 1);
  border-radius: 3px;
  color: rgba(255, 255, 255, 1);
  padding: 5px 12px;
  position: absolute;
  bottom: -22px;
  left: -1px;
  z-index: 1;
  font-size: 13px;
  opacity: 0;
  pointer-events: none;
}

.form-group .error-message::before {
  opacity: 0;
  background: rgba(215, 0, 34, 1);
  top: -7px;
  content: '';
  height: 16px;
  position: absolute;
  text-indent: -999px;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  white-space: nowrap;
  width: 16px;
  z-index: -1;
}

.form-group.invalid .error-message,
.form-group.invalid .error-message::before {
  opacity: 1;
}

.form-group.invalid input[type="email"] {
  border: 1px solid var(--red50);
  box-shadow: 0 0 0 1px rgba(255, 0, 55, 0.514), 0 0 0 4px rgba(255, 0, 55, 0.3);
}

.loader {
  z-index: 1;
  position: absolute;
  visibility: hidden;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  pointer-events: none;
}

input::placeholder {
  color: #737373;
}

.form-group.loading-data .button,
.form-group.loading-data input::placeholder,
.form-group.loading-data input {
  color: rgba(0, 0, 0, 0) !important;
}

input[type="email"] {
  font-size: 16px;
  text-indent: var(--padding);
  background-color: rgba(255, 255, 255, 1);
  color: var(--ink);
  border: 1px solid var(--grey90a3);
  margin-bottom: 12px;
  transition: all 0.1s ease-out;
}

input[type="submit"] {
  font-size: 16px;
  border-width: 2px;
  background-color: var(--blue3);
  color: rgba(255, 255, 255, 1);
  font-weight: 600;
  border-color: var(--blue3);
  letter-spacing: 0.01em;
  cursor: pointer;
  transition: all 0.15s ease;
}

input[type="submit"]:hover {
  background-color: var(--blue4);
  border-color: var(--blue4);
  transition: all 0.15s ease;
}

input[type="submit"]:active {
  background-color: var(--blue5);
  border-color: var(--blue5);
  transition: all 0.15s ease;
}

form.invalid input[type="submit"]:focus {
  border: 2px solid var(--red50);
  box-shadow: 0 0 0 1px rgba(255, 0, 55, 0.514), 0 0 0 4px rgba(255, 0, 55, 0.3);
}

input.email-add {
  color: var(--ink);
  border-color: var(--grey90a3);
  background-color: rgba(255, 255, 255, 1);
}

input.unsub {
  padding: 0;
  cursor: pointer;
}

/* radio buttons */

input[type="radio"] {
  opacity: 0;
}

.checkmark {
  background-color: rgba(255, 255, 255, 1);
  height: 24px;
  width: 24px;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  margin: auto;
  border: 1px solid var(--grey90a3);
  transition: background-color 0.15s ease-in-out;
}

.radio-container:hover .checkmark::after {
  opacity: 1;
  background-color: rgba(12, 12, 13, 0.04);
  transition: background-color 0.15s ease-in-out;
}

input[type="radio"] ~ .checkmark::after {
  position: absolute;
  content: "";
  display: block;
  height: 12px;
  width: 12px;
  opacity: 0;
  flex: 1;
  border-radius: 100%;
  background-color: rgba(245, 245, 245, 0);
  pointer-events: none;
  transition: all 0.2s ease;
}

input[type="radio"]:checked ~ .checkmark::after {
  opacity: 1;
  background-color: var(--violet3);
  transition: all 0.4s ease;
}

input[type="radio"]:checked:hover ~ .checkmark::after {
  opacity: 1;
  background-color: var(--violet3);
  transition: all 0.2s ease;
}

input[type="radio"]:focus ~ .checkmark {
  border: 1px solid var(--grey90a3);
  box-shadow: 0 0 0 1px rgba(12, 12, 13, 0), 0 0 0 3px rgba(12, 12, 13, 0.05);
}

.add-new-email-form {
  display: flex;
}

.add-new-email-form .input-group {
  width: 100%;
  margin-right: 1rem;
}

.add-new-email-form .input-group-button {
  width: auto;
  max-width: auto;
}

.add-new-email-form input::placeholder {
  color: #737373;
}

.dashboard-add-email .add-new-email-form {
  flex-direction: column;
  max-width: 320px;
  margin: auto;
}

.radio-container input[type="radio"] {
  width: 0;
  margin: 0;
}

.radio-container {
  margin-bottom: 24px;
  display: flex;
}

.radio-container:last-of-type {
  margin-bottom: 0;
}

.radio-label {
  padding-left: 32px;
  font-weight: 400;
  color: var(--grey8);
  font-size: 16px;
  line-height: 1.5;
  padding-top: 2px;
}

@media screen and (max-width: 800px) {
  button.internal-link,
  input.transparent-button,
  input[type="submit"],
  input::placeholder {
    font-size: 15px;
  }

  .radio-label {
    font-size: 0.9rem;
  }

  .add-new-email-form {
    flex-direction: column;
  }
}
