header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color);
  z-index: 2;
  box-shadow: 0 0 5px 0 #20123a1c;
  transition: all 0.2s ease;
}

header.show-shadow {
  box-shadow: 2px 2px 10px rgba(24, 24, 24, 0.75);
  transition: all 0.2s ease;
}

.show-nav-bars {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  transform-origin: top;
  opacity: 1;
  max-height: 200px;
  transition: all 0.3s ease;
}

.hide-nav-bars {
  transform: translateY(-60px);
  -webkit-transform: translateY(-60px);
  transform-origin: top;
  opacity: 0;
  max-height: 0;
  transition: all 0.3s ease;
}

.fxm-branding {
  position: relative;
}

.fx-monitor-logo-wrapper,
.desktop-menu {
  flex: 1 1 100%;
}

.fx-monitor-logo-wrapper:hover {
  opacity: 1;
}

/* Fx-Monitor logo */
.sprite.fx-monitor-logo {
  background: url("/img/gradient-sprites.png") -281px 0;
  min-width: 40px;
  height: 40px;
}

.fx-monitor-logotype {
  background: url("/img/svg/fx-monitor-logotype.svg");
  width: 100%;
  margin-left: var(--margin);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  height: 28px;
}

/* navigation */
nav {
  flex: 1;
  justify-content: flex-end;
}

.nav-link {
  background-color: rgba(255, 255, 255, 0);
  padding-right: calc(1rem + 1vw);
  padding-left: calc(1rem + 1vw);
  justify-content: center;
  color: rgba(255, 255, 255, 0.9);
  font-weight: 500;
}

.active-link {
  font-weight: 700;
  position: relative;
}

.active-link-underline::after {
  height: 0.15rem;
  background: var(--monitorGradient);
  opacity: 0;
  display: block;
  content: "";
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
}

.active-link-underline.active-link::after {
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
}

.drop-down-menu {
  display: none;
}

.sign-in {
  margin-left: 1rem;
  white-space: nowrap;
}

.sign-in:hover {
  background-color: var(--blue4);
  border: 1px solid var(--blue4);
}

.sign-in:active {
  background-color: var(--blue5);
  border: 1px solid var(--blue5);
}

.sign-in:focus,
.sign-in:active {
  border-width: 1px;
  outline: none;
  box-shadow: none;
}

.signed-in-as-wrap {
  display: flex;
  position: relative;
  margin-bottom: 1rem;
  padding: 0.5rem 0;
}

.signed-in-as-wrap::after {
  content: "";
  height: 1.5px;
  background: var(--monitorGradient);
  width: 100%;
  display: block;
  position: absolute;
  bottom: 0;
}

.signed-in-as {
  padding: 0.75rem 2rem;
  color: #9595a3;
  font-size: 0.95rem;
}

.nav-user-email {
  display: block;
  color: var(--color);
  font-weight: 600;
  padding-top: 2px;
  font-size: 1.1rem;
}

/* signed-in user avatar */
.avatar-wrapper {
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: 2px solid rgba(0, 0, 0, 0);
}

.fxa-menu-wrapper {
  cursor: pointer;
  margin-left: 1rem;
  position: relative;
}

.avatar-wrapper,
.avatar {
  height: 36px;
  width: 36px;
}

/* signed-in user menu */
.fxa-menu {
  padding-top: 3.25rem;
  height: 10rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  pointer-events: none;
  transition: all 0.15s ease-in-out;
}

.fxa-menu-links {
  background-color: rgb(249, 247, 253);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  padding-bottom: 1rem;
  visibility: hidden;
  border-radius: var(--radius);
  overflow: hidden;
  transition: visibility 0.15s ease;
}

.fxa-menu::before {
  max-height: 0.75rem;
  content: "";
  display: block;
  position: absolute;
  top: 44px;
  right: 12px;
  height: 0.75rem;
  width: 0.75rem;
  background-color: rgb(249, 247, 253);
  opacity: 1;
  margin: auto;
  z-index: 2;
  transform: rotateX;
  transform: rotate(45deg);
  visibility: hidden;
}

.fxa-menu-wrapper:hover .fxa-menu::before {
  visibility: visible;
}

.menu-open .close-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.fxa-menu-wrapper:hover .fxa-menu-links,
.fxa-menu:hover .fxa-menu-links,
.menu-open .fxa-menu-links,
.fxa-menu-links:hover {
  display: flex;
  visibility: visible;
  transition: visibility 0.15s ease;
}

.fxa-menu-wrapper:hover .fxa-menu {
  pointer-events: all;
}

.fxa-menu-link {
  padding: 0.75rem 2rem;
  color: rgba(21, 20, 23, 0.77);
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.15s ease;
}

.fxa-menu-link:focus,
.fxa-menu-link:active {
  background-color: rgba(238, 238, 238, 0.502);
  box-shadow: none;
}

.fxa-menu-link:hover {
  background-color: rgba(155, 155, 165, 0.15);
  transition: all 0.15s ease;
}

.top-bar {
  z-index: 1;
  position: relative;
  background-color: #1d1133;
  padding: 1rem 1.75rem;
  border-bottom: 1px solid #2b2156;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
}

.learn-more {
  margin-left: 0.5rem;
  color: rgba(255, 255, 255, 1);
  text-decoration: underline;
  white-space: nowrap;
}

.join-fx-wrap {
  align-items: center;
}

.join-fx-img {
  content: "";
  background-image: url("/img/firefox-master-logo.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  min-width: 24px;
  height: 24px;
  margin: auto 16px auto auto;
}

@media screen and (max-width: 800px) {
  .desktop-menu {
    flex: 1 1 auto;
  }

  .fx-monitor-logotype {
    margin-left: 0.25rem;
    height: 25px;
  }

  .top-bar {
    font-size: 14px;
  }

  .desktop-menu .nav-link {
    display: none;
  }

  .active-link::after {
    display: none;
  }

  .mobile-nav {
    visibility: visible;
    background-color: #1c1033;
    box-shadow: 0 2px 2px -1px #0202024d;
    transition: all 0.2s ease;
    padding: 0;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    cursor: pointer;
  }

  .mobile-menu a.nav-link {
    color: rgba(255, 255, 255, 0.9);
    padding: 0.75rem 1rem;
    border-radius: 4px;
    transition: all 0.15s ease-in-out;
  }

  .mobile-menu .nav-link:hover {
    background-color: var(--color);
    opacity: 1;
    transition: all 0.15s ease-in-out;
  }

  .mobile-menu {
    margin: auto;
    border-radius: 0;
    flex-direction: column;
    flex-wrap: wrap;
    visibility: hidden;
    padding: 0 1.75rem;
    max-height: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--inkLight);
    z-index: 0;
    color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    transition: all 0.25s ease;
  }

  .mobile-menu-open .mobile-menu {
    top: 3rem;
    max-height: 1000px;
    visibility: visible;
    color: rgba(255, 255, 255, 1);
    padding-top: 1rem;
    padding-bottom: 1rem;
    transition: all 0.15s ease;
  }

  .nav-link.drop-down-menu,
  .mobile-menu-open .nav-link {
    display: block;
  }

  .nav-link.drop-down-menu {
    -webkit-user-select: none;
    pointer-events: none;
    padding: 1rem 2.75rem;
    background-color: var(--inkLight);
    width: 100%;
    z-index: 1;
    border-bottom: 1px solid var(--inkLight);
    transition: border-bottom 0.15s ease;
  }

  .mobile-menu-open .drop-down-menu {
    border-bottom: 1px solid var(--color);
    transition: border-bottom 0.15s ease;
  }

  .mobile-menu-open svg.toggle-down {
    transform: rotate(180deg);
    transition: transform 0.15s ease;
  }

  .drop-down-menu svg.toggle-down {
    opacity: 0.7;
    right: 2.75rem;
  }

  .drop-down-menu .toggle-down path {
    fill: rgba(255, 255, 255, 1);
  }

  .nav-link {
    padding-left: 2.75rem;
    padding-right: 2.75rem;
    text-align: left;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .drop-down-menu svg.toggle-down {
    right: 2rem;
  }

  .top-bar {
    text-align: left;
    font-size: 12px;
  }

  .nav-user-email {
    font-size: 1rem;
  }

  .sprite.fx-monitor-logo {
    transform: scale(0.9);
  }

  .fx-monitor-logotype {
    height: 18px;
  }

  .sign-in {
    padding: 0.65rem 1.35rem;
  }

  .mobile-menu {
    padding: 1rem 0.75rem;
  }

  .nav-link.drop-down-menu,
  .mobile-menu-open .nav-link {
    display: block;
  }

  .nav-link.drop-down-menu {
    padding: 1rem 1.75rem;
  }
}
