header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: var(--color);
  z-index: 2;
  box-shadow: 0 0 5px 0 #20123a1c;
}

.fx-monitor {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
  letter-spacing: 0.5px;
  display: inline-flex;
}

/* Fx-Monitor logo */
.sprite.fx-monitor-logo {
  background: url("/img/gradient-sprites.png") -281px 0;
  min-width: 40px;
  height: 40px;
}

.fx-monitor span {
  font-weight: 700;
  margin: auto 3px auto 5px;
}

/* navigation */
nav {
  flex: 1;
  justify-content: flex-end;
}

.nav-link {
  padding-right: calc(1rem + 1vw);
  padding-left: calc(1rem + 1vw);
  text-align: center;
  justify-content: center;
  font-size: 0.85rem;
  color: rgba(255, 255, 255, 0.9);
}

.nav-link.active-link {
  font-weight: 700;
}

.drop-down-menu {
  display: none;
}

/* sign-in button */
.sign-in {
  background-color: transparent;
  border-color: rgba(255, 255, 255, 1);
  border-width: 1px;
  border-radius: 0.25rem;
  color: rgba(255, 255, 255, 1);
  margin-left: 1rem;
  min-height: 2rem;
  padding: 0.75rem 2rem;
  white-space: nowrap;
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out;
}

.sign-in:hover {
  border-color: var(--violet5);
  border-width: 1px;
  background-color: var(--violet5);
  color: rgba(255, 255, 255, 1);
  transition: background-color 0.15s ease-in-out, color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.sign-in:focus,
.sign-in:active {
  border-width: 1px;
  outline: none;
  box-shadow: none;
}

.signed-in-as {
  border-bottom: 1px solid var(--grey2);
  margin-bottom: 1rem;
  padding: 1.25rem 1rem;
  color: #9595a3;
  font-size: 0.85rem;
}

.nav-user-email {
  display: block;
  color: var(--color);
  font-weight: 600;
  padding-top: 2px;
  font-size: 0.9rem;
}

/* mobile-menu */
.mobile-menu {
  padding: 0 1rem;
}

.mobile-menu a {
  background-color: rgba(255, 255, 255, 0);
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  flex: 1 1 auto;
}

.mobile-menu a:hover {
  background-color: var(--color);
  transition: background-color 0.15s ease-in-out;
}

/* signed-in user avatar */
.avatar-wrapper {
  border-radius: 50%;
  display: inline-flex;
  position: relative;
  overflow: hidden;
  border: 2px solid rgba(0, 0, 0, 0);
}

.fxa-menu-wrapper {
  cursor: pointer;
  margin-left: 1rem;
  position: relative;
}

.avatar-wrapper,
.avatar {
  height: 30px;
  width: 30px;
}

/* signed-in user menu */
.fxa-menu {
  padding-top: 3rem;
  height: 10rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
  min-width: 250px;
  pointer-events: none;
}

.fxa-menu-links {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  display: none;
  flex-direction: column;
  min-width: calc(12rem + 1vw);
  opacity: 0;
  padding-bottom: 1rem;
  visibility: hidden;
  border-radius: var(--radius);
  overflow: hidden;
}

.menu-open .close-menu {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 2;
}

.fxa-menu-wrapper:hover .fxa-menu-links,
.fxa-menu:hover .fxa-menu-links,
.menu-open .fxa-menu-links,
.fxa-menu-links:hover {
  display: flex;
  opacity: 1;
  visibility: visible;
}

.fxa-menu-wrapper:hover .fxa-menu {
  pointer-events: all;
}

.fxa-menu-link {
  padding: 0.5rem 1rem;
  color: rgba(21, 20, 23, 0.77);
  background-color: rgba(255, 255, 255, 0);
}

.fxa-menu-link:focus,
.fxa-menu-link:active {
  background-color: rgba(238, 238, 238, 0.502);
  border-bottom: 1px solid rgba(238, 238, 238, 0.502);
  border-top: none;
  border-left: none;
  border-right: none;
  box-shadow: none;
}

.fxa-menu-link:hover {
  background-color: rgba(155, 155, 165, 0.06);
}

@media screen and (max-width: 800px) {
  .fx-monitor {
    font-size: 1.4rem;
  }

  .desktop-menu .nav-link {
    display: none;
  }

  .mobile-nav {
    background-color: #1c1033;
  }

  .mobile-menu a {
    color: rgba(255, 255, 255, 0.9);
    border-left: 1px solid rgba(53, 53, 49, 0.035);
    border-right: 1px solid rgba(53, 53, 49, 0.035);
    padding-left: 0;
    padding-right: 0;
  }

  .mobile-menu a.nav-link:first-of-type {
    border-right: 0;
  }

  .mobile-menu a:last-of-type {
    border-left: 0;
  }
}

@media screen and (max-width: 600px) {
  .fx-monitor {
    font-size: 1.25rem;
  }

  .fx-monitor span {
    margin-left: 1px;
  }

  .sprite.fx-monitor-logo {
    transform: scale(0.9);
  }

  .sign-in {
    padding: 0.5rem 1.25rem;
  }

  .mobile-nav {
    padding: 0;
    flex-wrap: wrap;
    flex-direction: column;
    position: relative;
    cursor: pointer;
    border-bottom: 1px solid var(--color);
  }

  .mobile-menu {
    margin: auto;
    border-radius: 0;
    flex-direction: column;
    flex-wrap: wrap;
    visibility: hidden;
    padding: 0 1rem;
    max-height: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--inkLight);
    z-index: 0;
    color: rgba(255, 255, 255, 0);
    -webkit-user-select: none;
    transition: all 0.25s ease;
  }

  .mobile-menu-open .mobile-menu {
    top: 3rem;
    max-height: 1000px;
    visibility: visible;

    /* display: block; */
    color: rgba(255, 255, 255, 1);
    padding: 1rem;
    box-shadow: inset 0 2px 5px #0006;
    transition: all 0.15s ease;
  }

  .mobile-menu-open a.nav-link {
    display: block;
  }

  .drop-down-menu {
    display: flex;
    padding: var(--margin);
    pointer-events: none;
    background-color: var(--inkLight);
    z-index: 1;
  }

  .drop-down-menu,
  a.nav-link {
    border: none !important;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: left;
    width: 100%;
  }
}
