.latest-breach {
  margin: 0;
}

.latest-breach-wrapper {
  overflow: hidden;
  border-radius: 1rem;
  background-color: #20123abf;
}

.breach-card.latest-breach {
  color: rgba(255, 255, 255, 1);
}

.latest-breach-headline {
  font-size: 0.85rem;
  text-align: center;
  margin-bottom: 0;
  padding: 1.5rem 1rem 1.25rem 1rem;
  font-weight: 200;
  letter-spacing: 1px;
}

.latest-breach .breach-card-title-wrapper {
  margin: 0 auto 0.5rem 0;
}

.latest-breach .breach-card-link-wrap {
  display: none;
}

.latest-breach .breach-info-wrapper,
.latest-breach .breach-card-title-wrapper {
  padding: 0;
  background-color: rgba(255, 255, 255, 0);
}

.latest-breach-info {
  padding: var(--margin);
  background-image: linear-gradient(to bottom, #07307226, var(--color));
  border-top: 1px solid #0060df0f;
}

.latest-breach-info .breach-title {
  color: rgba(255, 255, 255, 1);
}

.latest-breach-container,
.latest-breach-link,
.latest-breach .breach-title,
.latest-breach .breach-info,
.latest-breach .demi.key {
  font-size: 1rem;
}

.latest-breach-link {
  margin-top: var(--margin);
  display: block;
  color: #00b4f5;
}

@media screen and (max-width: 900px) {
  .latest-breach .key {
    display: block;
  }
}

@media screen and (max-width: 800px) {
  .latest-breach-info {
    padding: var(--padding);
  }

  .latest-breach-wrapper {
    margin-bottom: 8vh;
  }

  .latest-breach .key {
    display: inline-block;
  }
}

@media screen and (max-width: 600px) {
  .latest-breach-headline {
    margin-bottom: 0;
    padding: 1rem;
    font-size: 0.9rem;
    line-height: 150%;
  }

  .fxm {
    display: block;
  }
}

@media screen and (max-width: 500px) {
  .latest-breach-wrapper {
    margin-bottom: 6vh;
  }
}
