@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 700;
  src: url("/fonts/Metropolis/Metropolis-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 600;
  src: url("/fonts/Metropolis/Metropolis-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: "Metropolis";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Metropolis/Metropolis-Medium.woff2") format("woff2");
}
