.monitor-features {
  background: rgb(27, 26, 29);
  color: rgba(255, 255, 255, 1);
}

.monitor-features .content {
  border-radius: 3px;
  max-width: 260px;
  display: inline-flex;
}

h3.feature-title {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

h4.feature-subhead {
  font-weight: 300;
  line-height: 1.5rem;
  margin-top: 0;
}

.monitor-features .flx {
  width: 100%;
  margin-top: 2rem;
  justify-content: space-between;
}

.feat-img {
  height: 4rem;
  width: 4rem;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin: 1rem auto;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.3s ease;
}

.monitor-features .content:hover .feat-img,
.feat-img:hover {
  background-color: rgba(255, 255, 255, 0.08);
  transition: all 0.3s ease;
}

@media screen and (max-width: 800px) {
  .monitor-features .content {
    max-width: 300px;
    margin-bottom: 4rem;
  }

  .monitor-features .flx {
    flex-direction: column;
    align-items: center;
  }
}
