.monitor-homepage {
  min-height: 92vh;
  background-color: var(--color);
  background-image: url(/img/landing/background-noodle-top2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  position: relative;
}

.monitor-homepage.featured-breach {
  min-height: 97vh;
}

.monitor-homepage.sensitive-landing {
  min-height: 70vh;
}

.featured-breach h2.landing-headline {
  font-size: 40px;
}

.landing-bottom-bar {
  background-image: url(/img/landing/background-noodle-middle.svg), var(--bluePurpleGradient), linear-gradient(to bottom, rgba(144, 89, 255, 0.24), rgba(144, 89, 255, 0));
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  position: relative;
  padding-top: 0;
}

/* sensitive featured breach */

.landing-bottom-bar.sensitive-breach,
.gradient-container.sensitive-breach,
.row.sensitive-breach {
  padding-top: 0;
}

.sb-top-container {
  position: absolute;
  bottom: -1px;
  z-index: 1;
  padding: 0 var(--padding);
  width: 100%;
}

.sb-top-wrapper.row {
  content: "";
  width: 100%;
  max-width: var(--maxWidth);
}

.sb-top {
  background-color: rgba(255, 255, 255, 1);
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  min-height: 4rem;
  width: 100%;
}

.sensitive-breach .gradient-inset {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.landing-sensitive-info {
  color: var(--grey1);
  text-align: left;
  max-width: 800px;
  max-width: var(--maxWidth);
  margin-bottom: 4rem;
}

.sb-callout-body {
  font-size: 1.2rem;
}

.sensitive-breach .feat-headline-wrapper {
  padding-top: 0;
  padding-bottom: 0;
}

h3.sb-callout {
  font-size: 24px;
  margin: 3rem auto 0 auto;
}

.landing-content {
  text-align: center;
}

.landing-content .form-desc {
  color: var(--grey2);
}

.landing-subhead {
  padding: 0;
  margin: 0.5rem auto var(--margin) auto;
  max-width: 450px;
  font-size: 1.25rem;
}

.landing-headline,
.landing-subhead {
  color: var(--grey1);
}

.landing-feat-list {
  margin: 0 auto var(--padding) auto;
}

.landing-headline {
  margin: auto;
  max-width: 700px;
}

.landing-content form {
  max-width: 400px;
  margin: auto;
}

.landing-headline .bold {
  color: var(--violet2);
}

.landing-sign-up-btn {
  max-width: 350px;
}

@media screen and (max-width: 900px) {
  .landing-content {
    max-width: 700px;
  }

  .monitor-homepage.featured-breach {
    min-height: 100vh;
  }

  .featured-breach h2.landing-headline,
  h2.landing-headline,
  .landing-subhead {
    text-align: left !important;
    margin: 0 auto 0.5rem 0;
    max-width: 100%;
  }

  .sb-callout-body {
    font-size: 1rem;
  }

  .landing-subhead {
    padding-right: 10%;
  }

  .landing-feat-list {
    margin: 1rem auto 2rem 0;
  }

  .landing-content form,
  .landing-sign-up-btn {
    margin-left: 0;
    max-width: 100%;
  }

  .landing-content form {
    margin-top: 1rem;
  }
}

@media screen and (max-width: 600px) {
  .monitor-homepage {
    min-height: 96vh;
  }

  .landing-content .form-desc {
    padding-bottom: 3rem;
  }
}
