.monitor-homepage {
  min-height: 90vh;
  background-color: var(--inkDark);
  background-image: url(/img/landing/background-noodle-top2.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom center;
  position: relative;
}

.featured-breach h2.landing-headline {
  font-size: 40px;
  max-width: 600px;
  margin-bottom: 0;
}

.landing-bottom-bar {
  background-image: url(/img/landing/background-noodle-middle.svg), linear-gradient(224deg, #2150c8, #712291);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  position: relative;
  padding-top: 0;
}

.landing-bottom-bar .take-back-control-banner {
  margin: 88px auto 40px auto;
}

/* sensitive featured breach */

.landing-bottom-bar.sensitive-breach,
.gradient-container.sensitive-breach,
.row.sensitive-breach {
  padding-top: 0;
}

.sb-top-container {
  position: absolute;
  bottom: -1px;
  z-index: 1;
  padding: 0 var(--padding);
  width: 100%;
}

.sb-top-wrapper.row {
  content: "";
  width: 100%;
  max-width: var(--maxWidth);
}

.sb-top {
  background-color: rgba(255, 255, 255, 0.95);
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  min-height: 4rem;
  width: 100%;
}

.sensitive-breach .gradient-inset {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.landing-sensitive-info {
  color: var(--grey1);
  text-align: left;
  max-width: 800px;
  max-width: var(--maxWidth);
  margin-bottom: 4rem;
}

.sb-callout-body {
  font-size: 18px;
  line-height: 1.5;
  color: var(--grey2);
}

.sensitive-breach .feat-headline-wrapper {
  padding-top: 0;
  padding-bottom: 0;
}

h3.sb-callout {
  font-size: 24px;
  margin: 3rem auto 0 auto;
  font-weight: 700;
}

.sb-callout,
.sb-callout-body {
  max-width: 600px;
}

.landing-content {
  text-align: center;
}

.landing-content .form-desc {
  color: var(--grey2);
  margin-bottom: calc(var(--padding) * 3);
}

.landing-subhead {
  padding: 0;
  margin: 0 auto calc(var(--padding) * 2) auto;
  max-width: 560px;
  font-size: 24px;
  line-height: 1.17;
}

.landing-headline,
.landing-subhead {
  color: var(--grey1);
}

.landing-headline {
  margin: auto auto 22px auto;
  max-width: 750px;
}

.landing-content form {
  max-width: 320px;
  margin: auto;
}

.landing-headline .bold {
  color: var(--violet2);
}

@media screen and (max-width: 800px) {
  .landing-content {
    max-width: 600px;
  }

  .monitor-homepage.featured-breach {
    min-height: 100vh;
  }

  .featured-breach h2.landing-headline,
  h2.landing-headline,
  .landing-subhead {
    margin: 0 auto 12px auto;
  }

  .landing-subhead {
    font-size: 20px;
    max-width: 500px;
  }

  .landing-content form {
    margin-top: 8px;
  }
}

@media screen and (max-width: 600px) {
  .monitor-homepage {
    min-height: 86vh;
  }

  .landing-bottom-bar .take-back-control-banner {
    margin: 68px auto 20px auto;
  }
}

@media screen and (max-width: 500px) {
  .landing-content {
    max-width: 400px;
  }

  .landing-content form {
    max-width: 100%;
  }

  .landing-subhead {
    font-size: 16px;
    line-height: 1.5;
  }

  .landing-subhead,
  .landing-headline {
    text-align: left;
  }

  .featured-breach h2.landing-headline {
    text-align: center;
    font-size: var(--topHeadline);
  }
}
