main.container.monitor-homepage {
  min-height: 75vh;
  padding: 0;
}

.monitor-homepage h3 {
  margin-top: var(--margin);
}

.homepage-scan-form {
  border: 1px solid #eee;
  border-radius: var(--radius);
}

@media screen and (max-width: 800px) {
  .monitor-homepage .row {
    flex-direction: column;
  }
}
