.col-9.sign-up-wrapper,
.col-9.found-breaches {
  padding: 0;
  flex-direction: row;
  display: inline-flex;
}

.scan-res-subhead,
.scanned-email-address,
.scan-results-headline {
  text-align: center;
  max-width: 100%;
}

.found-breaches,
.show-additional-breaches {
  flex-wrap: wrap;
  justify-content: space-between;
}

.row.scan-results,
.user-found-breaches {
  margin: 0 auto;
}

.scan-res-subhead {
  margin: var(--margin) auto auto auto;
}

.scanned-email-address .bold,
.scan-results-headline span.bold,
.scan-res-subhead span.bold {
  color: var(--violet1);
}

@media screen and (max-width: 800px) {
  .scanned-email-address,
  .scan-results-headline,
  .scan-res-subhead {
    text-align: left;
    margin-left: 0;
    max-width: 400px;
  }
}
