.security-tips.clear-header {
  min-height: auto;
}

.articles .col-9 {
  width: 100%;
  max-width: 100%;
  justify-content: center;
}

.security-tip-list-item {
  align-items: flex-start;
  margin-bottom: 1.75rem;
  flex: 1 1 45%;
}

.articles {
  color: var(--grey8);
}

.security-tips {
  color: var(--grey1);
}

.security-tip-list {
  margin-top: var(--padding);
  flex-direction: row;
  flex-wrap: wrap;
}

.st-intro-wrap {
  padding: 0 var(--padding);
  border-left: 0.5rem solid var(--grey2);
}

.st-intro {
  font-size: 1.2rem;
  font-style: italic;
  line-height: 220%;
}

.security-tip-link {
  display: inline;
  font-size: 1.1rem;
  font-weight: 600;
  color: var(--grey1);
  align-items: center;
  font-family: "Metropolis", sans-serif;
}

.security-tip-link-subhead {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1rem;
  max-width: 400px;
  opacity: 0.9;
}

.article-icon {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: 1rem;
}

.ico {
  width: 3rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom-width: 4px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-style: solid;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}

.security-tip-subhead {
  max-width: 230px;
  line-height: 1.3;
  margin-bottom: 6rem;
  display: block;
  font-family: "Metropolis", sans-serif;
}

.ico svg.icon-inline path {
  fill: var(--grey8);
}

body {
  --howHackersWork: var(--orange6);
  --strongerPasswords: var(--blue2);
  --stepsToProtect: var(--purple1);
  --fiveMyths: var(--violet1);
  --nextSteps: #e31587;
  --afterBreach: #3fe1b0;
}

.how-hackers-work {
  border-bottom-color: var(--howHackersWork);
  color: var(--howHackersWork);
}

.strong-passwords {
  border-bottom-color: var(--strongerPasswords);
  color: var(--strongerPasswords);
}

.after-breach {
  border-bottom-color: var(--afterBreach);
  color: var(--afterBreach);
}

.steps-to-protect {
  border-bottom-color: var(--stepsToProtect);
  color: var(--stepsToProtect);
}

.five-myths {
  border-bottom-color: var(--fiveMyths);
  color: var(--fiveMyths);
}

.next-steps {
  border-bottom-color: var(--nextSteps);
  color: var(--nextSteps);
}

.security-tip-link svg path {
  fill: rgba(255, 255, 255, 1);
}

.how-hackers-work-list {
  margin-top: calc(var(--padding) * 2);
}

.myth {
  color: var(--violet3);
  display: block;
  margin-right: 1rem;
}

.article-icon .icon-inline {
  opacity: 1;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.article-wrapper {
  padding-top: 12rem;
  padding-bottom: 0;
}

.article-wrapper,
.st-intro-wrap {
  width: 75%;
  margin: auto;
}

.article-headline {
  color: var(--ink);
  font-size: 3rem;
  font-weight: 700;
}

.article-list-item,
.article-paragraph {
  font-size: 1.1rem;
  line-height: 200%;
  opacity: 0.9;
}

a.st-copy-link {
  color: var(--blue3);
}

.article-paragraph .bold {
  color: var(--ink);
}

a.st-copy-link:hover,
a.st-link:hover {
  text-decoration: underline;
}

.st-list-header {
  margin-top: 2rem;
  color: var(--ink);
  font-size: 1.1rem;
}

.article-list-item {
  margin-bottom: 0.5rem;
}

.article-list-item::before {
  content: "\2022";
  display: inline-block;
  margin-right: 1rem;
  font-size: 1.5rem;
  color: var(--ink);
  align-self: flex-start;
}

.article-subhead {
  font-size: 1.5rem;
  display: inline-block;
  font-weight: 500;
}

h3.article-subhead,
.toggle-subhead {
  margin: 2.5rem auto 0 auto;
  font-weight: 700;
  color: var(--ink);
}

.steps-to-protect::before {
  background-color: var(--blue3);
}

.icon-inline-wrapper {
  display: flex;
  align-items: center;
  margin-right: 1.5rem;
}

.icon-inline {
  min-width: 1.5rem;
  max-width: 1.5rem;
  max-height: 1.5rem;
  opacity: 0.9;
}

.st-headline {
  margin: 0;
  line-height: 200%;
  display: inline;
}

.st-list,
.st-subhead {
  margin: 0;
  padding: var(--padding) calc(30px + 2rem) 0;
}

.st-list-item {
  margin: 0.75rem 0;
  position: relative;
}

.st-list-item::before {
  content: "\2022";
  display: inline-block;
  margin-right: 0.75rem;
}

a.st-link {
  color: var(--blue3);
  display: block;
  margin-top: 1rem;
}

.st-icon {
  margin-right: 2rem;
}

.st-headline .bold {
  display: block;
  text-transform: uppercase;
  font-size: 1.3rem;
}

.st-call-out {
  margin: calc(var(--padding) * 2) auto;
  border-radius: 0.7rem;
  background: var(--monitorGradient);
  padding: 2px;
  box-shadow: 0 0 10px 1px rgba(205, 205, 212, 0.78);
}

.inset {
  background-color: var(--bgLight);
  border-radius: 0.575rem;
  padding: calc(var(--padding) * 2);
}

/* password dos and don't list */

.pw-tip-item {
  width: 100%;
}

.pw-tip-item.flx:nth-child(odd) {
  background-color: rgba(32, 18, 58, 0.031);
}

.pw-do-hl,
.pw-do {
  border-right: 1px solid var(--grey2);
}

.pw-tip-headlines {
  position: relative;
}

.pw-tip-headlines::after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 3px;
  display: block;
  content: "";
  background: var(--monitorGradient);
}

.pw-tip-headlines,
.do-dont-hl {
  width: 100%;
}

.do-dont-hl {
  padding: 2rem 1rem;
  flex: 1 1 50%;
}

.do-dont-hl h4 {
  align-items: center;
  font-size: 1.5rem;
  position: relative;
  color: var(--blue5);
}

.icon-dont::before {
  background-image: url("/img/svg/x-close-red.svg");
}

.icon-do::before {
  background-image: url("/img/svg/green-check.svg");
}

.icon-do::before,
.icon-dont::before {
  left: -2.5rem;
  content: "";
  width: 2rem;
  height: 2rem;
  background-size: contain;
  background-position: center center;
  display: inline-block;
  position: absolute;
}

.do-dont-wrap {
  padding: var(--padding);
  flex: 1 1 50%;
}

.do-dont {
  width: 80%;
  line-height: 150%;
  font-size: 1.1rem;
  font-weight: 500;
  color: var(--ink);
}

.password-tip-list {
  flex-wrap: wrap;
}

.pw-tip-table {
  border-radius: 0.7rem;
  box-shadow: 0 0 10px 1px rgba(205, 205, 212, 0.78);
}

.password-tip-list-headline {
  padding: calc(var(--padding) * 2) var(--padding);
  margin-bottom: 0;
  font-size: 2.25rem;
}

.do-list-item,
.dont-list-item {
  padding: var(--padding);
  display: flex;
  align-items: center;
  min-height: 70px;
}

.article-toggle {
  padding: 0;
  position: relative;
  width: 5rem;
  min-width: 100%;
  pointer-events: none;
  transition: background-color 0.15s ease-in-out;
}

.article-toggle:hover {
  background-color: var(--grey2);
  transition: background-color 0.15s ease-in-out;
}

.article-toggle svg.toggle-down {
  display: none;
}

.drop-cap {
  font-size: 40px;
  color: var(--orange6);
  font-weight: 700;
  display: block;
  float: left;
  padding-top: 5px;
  margin-bottom: -10px;
  padding-right: 3px;
}

@media screen and (max-width: 950px) {
  .security-tip-list-item .article-icon,
  .security-tip-link-subhead {
    display: none;
  }

  .security-tip-list-item {
    margin-bottom: 1.25rem;
    flex: 1 1 100%;
    width: 100%;
  }
}

@media screen and (max-width: 800px) {
  .pw-tip-headlines::after {
    display: none;
  }

  .do-dont-wrap {
    flex: 1 1 100% !important;
    border: none;
  }

  .pw-tip-table {
    background-color: rgba(0, 0, 0, 0);
    box-shadow: none;
  }

  .pw-tip-item {
    flex-direction: column;
    margin-bottom: 3rem;
    border-radius: 0.7rem;
    overflow: hidden;
    border: none !important;
  }

  .security-tips-headline {
    font-size: var(--headline);
  }

  .security-tip-link {
    font-size: 1rem;
  }

  .article-wrapper,
  .st-intro-wrap {
    width: 100%;
    max-width: 100%;
  }

  .do-dont-hl-mobile {
    position: relative;
    font-weight: bold;
    font-size: 1.25rem;
    margin-bottom: 0.25rem;
    color: var(--blue5);
  }

  .do-dont-hl-mobile::before {
    width: 1.5rem;
    height: 1.5rem;
    left: -2.15rem;
  }

  .do-dont-hl {
    display: none;
  }

  .do-dont {
    text-align: left;
    display: flex;
    flex-direction: column;
  }

  .pw-do {
    background-color: rgba(255, 255, 255, 1);
  }

  .pw-dont {
    position: relative;
    background-color: rgba(32, 18, 58, 0.05);
  }

  .pw-dont::before {
    width: 1.25rem;
    height: 1.25rem;
    background-color: white;
    display: block;
    content: "";
    position: absolute;
    top: -0.75rem;
    transform: rotate(45deg);
  }
}

@media screen and (max-width: 600px) { /* some articles become toggled closed */
  .st-intro,
  .article-list-item,
  .article-paragraph {
    font-size: 1rem;
  }

  .st-intro-wrap {
    padding: 0;
    border-left: none;
  }

  .article-headline {
    font-size: var(--headline);
  }

  .drop-cap {
    font-size: 28px;
    padding-right: 1px;
    margin-bottom: -6px;
  }

  .article-list-item::before {
    margin-right: 0.75rem;
  }

  .article-list-item {
    line-height: 180%;
  }

  .st-toggle {
    margin-bottom: var(--padding);
  }

  .toggle.article-toggle {
    pointer-events: all;
    margin-bottom: 0;
  }

  .st-toggle-wrapper {
    border-bottom: 1px solid var(--grey3);
    border-radius: 0;
    padding: var(--padding) 0;
    margin: 1rem 0;
  }

  .st-icon {
    display: none;
  }

  .st-next-steps .st-toggle-wrapper {
    border: 1px solid var(--grey8);
    border-radius: 0.25rem;
    padding: var(--padding);
  }

  .article-toggle svg.toggle-down {
    right: var(--padding);
    display: inline-block;
  }

  .toggle-subhead {
    font-weight: 500;
    font-size: 1rem;
    padding-right: calc(var(--padding) * 3);
    margin: auto;
  }

  .myth {
    display: block;
  }

  .icon-inline {
    min-width: 1.15rem;
    max-width: 1.15rem;
    max-height: 1.15rem;
  }

  .icon-inline-wrapper {
    margin-right: 1rem;
  }

  .security-tip-list-item {
    padding-right: 13%;
  }

  .logo-title-wrapper .arrow-head-right {
    margin-left: 0;
  }

  .do-dont-wrap {
    padding: calc(var(--padding) * 2) var(--padding);
  }

  .st-subhead {
    padding: 1rem 0;
  }

  .st-call-out {
    margin: calc(var(--padding) * 3) auto;
  }
}
