.security-tip-list-item {
  align-items: flex-start;
  margin-bottom: 2rem;
  flex: 1 1 45%;
  background-image: url("img/landing/background-noodle-top3.svg");
}

.articles {
  color: var(--grey8);
}

.security-tips-headline {
  font-size: 2.8rem;
  max-width: 600px;
  margin-top: 10vh;
  color: var(--grey8);
}

.security-tips {
  color: var(--grey8);
}

.article-lead-in {
  font-size: 1.2rem;
  max-width: 700px;
  opacity: 0.8;
}

.security-tip-list {
  border-top: 1px solid var(--borderColor);
  border-bottom: 1px solid var(--borderColor);
  padding: calc(var(--padding) * 2) 0 var(--padding) 0;
  margin-top: calc(var(--padding) * 2);
}

.security-tip-link {
  font-size: 1.2rem;
  font-weight: 700;
  font-family: "FirefoxSharpSans", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: var(--grey8);
}

.security-tip-subhead {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 0.9rem;
  max-width: 380px;
}

.article-icon {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: 1rem;
}

/* .how-hackers-work {
  color: var(--orange6);
}

.strong-passwords {
  color: var(--blue3);
}

.after-breach {
  color: var(--violet3);
}

.steps-to-protect {
  color: #008787;
}

.five-myths {
  color: var(--purple3);
}

.next-steps {
  color: #e31587;
} */

.article-icon .icon-inline {
  opacity: 0.7;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.article-wrapper {
  padding-top: 10rem;
}

.article-headline {
  font-size: 3rem;
}

.article-list-item,
.article-paragraph {
  font-size: 1.2rem;
}

.article-subhead {
  font-size: 1.5rem;
  margin-top: 3rem;
  margin-bottom: 0;
}

@media screen and (max-width: 800px) {
  .security-tips-headline,
  .article-headline {
    font-size: var(--headline);
  }

  .security-tip-link {
    font-size: 1rem;
  }

  .article-subhead {
    font-size: 1.5rem;
  }

  .article-lead-in {
    display: none;
  }
}
