.sign-up-banner {
  border-radius: var(--radius);
  display: flex;
  flex-direction: row;
  width: 100%;
  padding: var(--padding);
  justify-content: space-between;
}

.scan-res.sign-up-banner {
  background: var(--bluePurpleGradient);
  margin-bottom: 4rem;
}

.scan-results-sign-up .col-9.sign-up-wrapper {
  padding: 1rem;
}

.sign-up-bullet {
  height: 0.5rem;
  width: 0.5rem;
  display: inline-block;
  content: "";
  background-color: rgba(255, 255, 255, 1);
  border-radius: 50%;
  margin-right: var(--margin);
}

.sign-up-headline {
  font-size: 2rem;
  color: rgba(255, 255, 255, 1);
  max-width: 350px;
  margin: auto auto auto 0;
}

.sign-up-feature {
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  margin: 0.25rem 0;
}

.sign-up-banner .feature-tip-group {
  margin-bottom: calc(var(--padding) * 2);
}

.account-not-required {
  margin-top: var(--margin);
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.7);
  text-align: center;
}

.sign-up-cta {
  max-width: 200px;
  justify-content: center;
  margin-left: var(--margin);
}

.col-9 .sign-up-cta {
  max-width: 300px;
  text-align: center;
}

@media screen and (max-width: 1100px) {
  .scan-results-sign-up .sign-up-banner {
    flex-direction: column;
  }

  .scan-results-sign-up .sign-up-headline {
    text-align: center;
    margin: auto auto 1rem auto;
    max-width: 380px;
  }

  .scan-results-sign-up ul.feature-list {
    display: flex;
    align-items: flex-start;
    margin: 1rem auto 2rem auto;
  }

  .scan-results-sign-up .sign-up-cta {
    max-width: 380px;
    margin: auto;
  }
}

@media screen and (max-width: 800px) {
  .sign-up-banner {
    flex-wrap: wrap;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }

  .sign-up-cta {
    margin-left: 0;
    max-width: 400px;
  }

  .sign-up-headline {
    margin: auto auto 3rem auto;
    font-size: 2rem;
  }

  .sign-up-headline,
  .sign-up-cta {
    text-align: center;
  }

  .sign-up-banner,
  .sign-up-headline-list-wrapper {
    justify-content: center;
    align-items: center;
  }

  .col-12.feat-headline-wrapper {
    padding-top: 0;
    padding-bottom: 0;
  }
}
