<!-- legacy -->
{{#ifCompare foundBreaches.length ">" 1}}
    <div class="compromised-accounts">
      <div class="section-wrapper">
        <!--show first 4 foundBreaches-->
        {{#eachFromTo foundBreaches 0 4 }}
          {{> breach_listing req=../req}}
        {{/eachFromTo}}
        {{#ifCompare foundBreaches.length "<=" 4}}
          <div class="whole align-left">
            {{> hibp_attribution}}
          </div>
        {{/ifCompare}}
        <!--display "Show More" button and show remaining breaches onclick if foundBreaches.length > 4-->
        {{#ifCompare foundBreaches.length ">" 4}}
          <div id="additional-breaches" class="section-wrapper">
            {{#eachFromTo foundBreaches 4 foundBreaches.length }}
              {{> breach_listing req=../req}}
            {{/eachFromTo}}
          </div>
          <button id="show-additional-breaches" class="button transparent-button" data-event-category="Show All Breaches Button">{{fluentFormat req.supportedLocales "show-more-breaches"}}</button>
          {{> hibp_attribution }}
        {{/ifCompare}}
      </div>
    </div>
  {{/ifCompare}}
