<header class ="section-wrapper">
  <div class="half">
    <a class="wrap-row" href="/">
      <div class="firefox-logo firefox-monitor"><!--Firefox Monitor logo--></div>
      <h1><span class="demi">Firefox</span> Monitor</h1>
    </a>
  </div>
  <div class="half social_container">
    {{> social_media_sharing_buttons}}
  </div>
</header>
