@import "../../tokens";

.wrapper {
  height: 100%;
  display: flex;
}

.mainMenu {
  display: none;

  @media screen and (min-width: $screen-xl) {
    flex: 0 0 auto;
    display: flex;
    flex-direction: column;

    .homeLink {
      height: $tab-bar-height;
      display: flex;
      align-items: center;
      padding: $spacing-xl $spacing-2xl;
      border-bottom: 1px solid $color-grey-10;

      &:hover {
        box-shadow: $box-shadow-sm;
      }

      &:focus {
        border-bottom-color: $color-blue-50;
      }

      img {
        width: auto;
        height: $layout-sm;
      }
    }

    ul {
      display: flex;
      flex-direction: column;
      padding: 0;
      list-style-type: none;

      a {
        display: block;
        padding: $spacing-md $spacing-lg;
        color: $color-grey-40;
        font-weight: 500;
        border-bottom: 1px solid $color-grey-10;
        text-decoration: none;

        &.isActive {
          color: $color-purple-70;
        }

        &:hover {
          background-color: $color-purple-50;
          color: $color-white;
          text-decoration: underline;
        }
      }
    }
  }
}

.content {
  height: 100%;
  display: flex;
  width: 100%;
  flex-direction: column;

  .page {
    flex: 1 0 auto;
  }
}

.footer {
  background-color: $color-black;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: $spacing-xl;
  padding-block: $spacing-xl;

  .mozillaLink {
    padding: 0 $spacing-md;

    &:hover img {
      background-color: $color-purple-50;
    }
  }

  .externalLinks {
    flex: 1 0 auto;
    display: flex;
    padding: 0;
    list-style-type: none;
    flex-direction: column;

    a {
      display: block;
      color: $color-grey-05;
      font-weight: 500;
      text-decoration: none;
      padding: $spacing-sm $spacing-md;

      &:hover {
        color: $color-purple-50;
      }
    }
  }

  @media screen and (min-width: $screen-lg) {
    flex-direction: row;
    align-items: center;
    padding-block: 0;

    .externalLinks {
      flex-direction: row;
      justify-content: flex-end;
      padding: 0 $spacing-2xl;
    }

    .mozillaLink {
      padding: $spacing-md $spacing-2xl;
    }
  }
}
