@import "../../../tokens";

.notification[role="alert"] {
  position: absolute;
  top: $spacing-xs;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  gap: $spacing-md;
  padding: $spacing-xs;
  min-width: $content-sm;
  background-color: $color-blue-50;
  color: $color-white;
  border-radius: $border-radius-sm;
  box-shadow: $box-shadow-sm;
  animation: fade-in 400ms;

  span {
    padding: $spacing-sm $spacing-md;
  }

  .dismissButton {
    padding: $spacing-md;
    background-color: transparent;
    border-style: none;
    color: $color-white;
    border-radius: $border-radius-sm;
    cursor: pointer;

    &:hover {
      background-color: $color-blue-60;
    }
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
