@use "../../../tokens";

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: tokens.$spacing-lg tokens.$spacing-md;
  background-color: tokens.$color-white;

  @media screen and (min-width: tokens.$screen-md) {
    padding-inline: tokens.$layout-lg;
  }

  h1 {
    font: tokens.$text-title-3xs;
  }

  .logo {
    max-width: 250px;
    width: 100%;
    max-height: 2rem;
  }

  button {
    flex-shrink: 0;
  }
}

.content {
  flex: 1 0 auto;
}
