@import "../../../tokens";

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;

  // See https://fkhadra.github.io/react-toastify/how-to-style#override-css-variabless
  --toastify-color-light: #{$color-white};
  --toastify-color-dark: #{$color-grey-50};
  --toastify-color-info: #{$color-blue-50};
  --toastify-color-success: #{$color-green-50};
  --toastify-color-warning: #{$color-yellow-50};
  --toastify-color-error: #{$color-red-60};

  --toastify-text-color-info: #{$color-white};
  --toastify-text-color-success: #{$color-grey-50};
  --toastify-text-color-warning: #{$color-grey-50};
  --toastify-text-color-error: #{$color-white};

  --toastify-toast-min-height: $layout-md;
  --toastify-toast-max-height: $layout-md;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-lg $layout-xl;
  background-color: $color-white;
  gap: $spacing-lg;

  h1 {
    font: $text-title-3xs;
  }

  .logo {
    max-width: 250px;
    width: 100%;
    height: auto;
  }

  button {
    flex-shrink: 0;
  }

  &.navDesktop {
    ul {
      display: flex;

      a {
        color: $color-black;
        text-decoration: none;
        font-weight: 600;
        padding: $spacing-sm $spacing-md;

        &:hover {
          color: $color-purple-70;
          text-decoration: underline;
        }
      }
    }

    @media screen and (max-width: $screen-xl) {
      display: none;
    }
  }
}

.content {
  flex: 1 0 auto;
}
