@import "../../../tokens";

.form {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-lg;

  input {
    flex: 1 0 auto;
    border-radius: $border-radius-md;
    border: 1px solid $color-grey-20;
    padding: $spacing-md;
    font: $text-body-md;
  }

  button {
    flex: 1 0 auto;
    font: $text-body-md;
    font-weight: 600;
  }

  label {
    font: $text-body-sm;
    font-weight: 500;
  }
}
