@use "../../../tokens";

.form {
  display: flex;
  flex-wrap: wrap;
  gap: tokens.$spacing-lg;

  input {
    flex: 1 0 auto;
    border-radius: tokens.$border-radius-md;
    border: 1px solid tokens.$color-grey-20;
    padding: tokens.$spacing-md;
    font: tokens.$text-body-md;
  }

  button {
    flex: 1 0 auto;
    font: tokens.$text-body-md;
    font-weight: 600;
  }

  label {
    font: tokens.$text-body-sm;
    font-weight: 500;
  }
}
