@import "../../../../../../../tokens";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $layout-xs;

  .radioGroup {
    display: flex;
    flex-direction: column;
    gap: $layout-xs;
    justify-content: space-between;
    width: 100%;

    label {
      align-items: center;
      display: flex;
      gap: $layout-xs;
      justify-content: space-between;

      @media screen and (min-width: $content-md) {
        gap: $layout-md;
      }

      div {
        display: flex;
        flex-direction: column;
        gap: $spacing-xs;
      }

      svg {
        flex: 0 0 auto;
      }
    }

    .radioInputs {
      display: flex;
      flex-direction: column;
      font: $text-body-sm;
      gap: $spacing-sm;
    }
  }

  .switchInput {
    display: flex;
    justify-content: space-between;
  }
}
