@use "../../../../../../../tokens";

.banner {
  align-items: center;
  background: tokens.$color-green-20;
  border-radius: tokens.$border-radius-lg;
  display: flex;
  gap: tokens.$spacing-md;
  padding: tokens.$spacing-sm tokens.$spacing-sm tokens.$spacing-sm
    tokens.$spacing-md;
  width: 100%;
}

.content {
  padding: tokens.$spacing-sm 0;
}

.closeButton {
  align-self: flex-start;
  margin-left: auto;
}
