@use "../../../../../../../tokens";

.banner {
  align-items: center;
  background: tokens.$color-green-20;
  border-radius: tokens.$border-radius-lg;
  display: flex;
  font: tokens.$text-body-md;
  gap: tokens.$spacing-md;
  padding: tokens.$spacing-sm tokens.$spacing-sm tokens.$spacing-sm
    tokens.$spacing-md;
  width: 100%;

  svg {
    flex: 0 0 auto;
  }
}

.content {
  padding: tokens.$spacing-sm 0;

  p {
    font: tokens.$text-body-sm;
  }
}

.closeButton {
  align-self: flex-start;
  flex: 0 0 auto;
  margin-left: auto;
}
