span.x-close-bg,
svg.x-close {
  pointer-events: none;
}

.hide-breaches,
.lazy-img {
  opacity: 0;
}

.breach-logo.lazy-loaded {
  opacity: 1;
}

.hide-breaches,
.lazy-img,
.lazy-img.lazy-loaded {
  transition: opacity 0.15s ease;
}

.fuzzy-wrapper {
  position: relative;
  display: flex;
  max-width: 320px;
  margin: auto;
  width: 100%;
  align-items: center;
  flex-direction: column;
}

button.fuzzy-find-show-breaches {
  position: absolute;
  right: 16px;
  bottom: 0;
  top: 0;
  margin: auto;
  min-width: 1.25rem;
  min-height: 1.25rem;
  width: 1.25rem;
  height: 1.25rem;
  border: none;
  border-radius: 50%;
  padding: 0;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

.show-all-breaches.btn-violet-primary {
  margin: var(--padding) auto calc(var(--padding) * 3) auto;
}

#no-results-blurb {
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  pointer-events: none;
  display: none;
  opacity: 0;
  margin: 48px auto auto auto;
  color: var(--purple7);
  transition: all 0.15s ease-in-out;
}

#no-results-blurb.show {
  display: inline-block;
  opacity: 1;
  transition: all 0.1s ease-in-out;
}

button.fuzzy-find-show-breaches.show {
  opacity: 1;
  transition: opacity 0.15s ease-in-out;
}

.x-close-bg {
  background-color: var(--grey3);
  border-radius: 50%;
  display: flex;
  height: 1.25rem;
  width: 1.25rem;
  align-items: center;
  justify-content: center;
  padding: 2px;
}

.x-close-bg svg path {
  fill: var(--grey1);
}

.ab-bg.top-level {
  min-height: 98vh;
}

.all-breaches-headline {
  color: var(--ink);
  margin: auto;
}

.fuzzy-form {
  max-width: 320px;
  background-color: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.1);
  position: relative;
  margin: 20px auto;
}

.fuzzy-find-input {
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid var(--grey90a3);
  width: 100%;
  display: inline-block;
  border-radius: 4px;
  text-indent: 36px;
}

.fuzzy-find-input,
.fuzzy-find-submit {
  min-height: 50px;
}

input#fuzzy-find-input::placeholder,
input#fuzzy-find-input {
  font-size: 16px;
  color: #474747;
}

.fuzzy-find-submit {
  position: absolute;
  left: 8px;
  top: 0;
  bottom: 0;
  margin: auto;
  color: var(--grey2);
  border: none;
  display: flex;
  align-items: center;
}

.fuzzy-find-input:focus,
.fuzzy-find-input:active,
.fuzzy-find-submit:active,
.fuzzy-find-submit:focus {
  border: none;
  outline: none;
  box-shadow: none;
}

.search-icon {
  pointer-events: none;
}

.lazy-img {
  opacity: 0;
  transition: all 0.2s ease;
}

.lazy-loaded {
  opacity: 1;
  transition: all 0.2s ease;
}

.breaches-loader {
  position: absolute;
  z-index: 101;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 1);
  transition: all 0.1s ease;
}

.ab.breach-card {
  max-width: 31%;
  margin: 12px;
}

.all-breaches {
  padding: var(--padding);
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

@media screen and (max-width: 1000px) {
  .ab.breach-card.three-up {
    flex: 1 1 45%;
    max-width: 45%;
  }
}

@media screen and (max-width: 800px) {
  .all-breaches {
    padding: var(--padding);
  }

  .ab.breach-card.three-up {
    max-width: 100%;
    margin: 0.5rem auto;
    flex: 1 1 100%;
  }
}
