* {
  box-sizing: border-box;
}

.show-mobile {
  display: none;
  visibility: hidden;
}

html,
body {
  --warmGradient: linear-gradient(71deg, #972ab8, #e22951 100%, #e22851 100%);
  --takeBackControlGradient: linear-gradient(253deg, #2150c8, #712291);
  --fxaSignUpGradient: linear-gradient(103deg, #374dcc, #9456f9 0%, #394cca 34%, #312a65 69%, #1d1133);
  --inkLight: #2b1e44;
  --ink: #20123a;
  --inkDark: #1d1133;
  --textLight: #686869;
  --padding: 16px;
  --maxWidth: 1270px;
  --headline: 40px;
  --topHeadline: 56px;
  --borderColor: #eee;
  --textLight: #5e5e72;
  --alertRed: #ff4f5e;
  --purple: #9059ff;
  --violet1: #c689ff;
  --violet2: #ab71ff;
  --violet3: #9059ff;
  --violet4: #7542e5;
  --violet5: #592acb;
  --violet6: #45278d;
  --purple1: #f565ff;
  --purple5: #722291;
  --purple6: #332869;
  --purple7: #393473;
  --pink4: #e31587;
  --blue1: #0df;
  --blue2: #0090ed;
  --blue3: #0060df;
  --blue4: #0250bb;
  --blue5: #073072;
  --orange1: #ffa266;
  --green1: #54ffbd;
  --orange5: #ff7139;
  --orange6: #e25920;
  --bgLight: #f9f7fd;
  --paragraphFontSize: 16px;
  --grey90a3: rgba(12, 12, 13, 0.3);
  --grey1: #f9f9fa;
  --grey2: #ededf0;
  --grey3: #cdcdd4;
  --grey6: #5e5e72;
  --grey8: #42425a;
  --grey9: #202340;
  --monitorGradient: linear-gradient(-90deg, #ff9100 0%, #f10366 50%, #6173ff 100%);
  --vpn-purple: #c5c8fb;

  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  background-color: #f9f7fd;
  scroll-behavior: smooth;
  font-family: "Inter UI", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 400;
  font-size: 15px;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100vh;
  width: 100vw;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fxa-signup-gradient {
  background: var(--fxaSignUpGradient);
}

.take-back-control-gradient {
  background: var(--takeBackControlGradient);
}

.fx-monitor {
  color: var(--grey1);
}

p,
.paragraph {
  font-size: var(--paragraphFontSize);
}

.medium {
  font-weight: 500;
}

.demi {
  font-weight: 600;
}

.bold {
  font-weight: 700;
}

.overflow-break {
  max-width: 100%;
  overflow-wrap: break-word;
}

.desc {
  max-width: 320px;
}

.ff-Met {
  font-family: "Metropolis", sans-serif;
}

h1,
h2 {
  font-family: "Metropolis", sans-serif;
}

h3,
.nav-link,
button,
input[type="submit"] {
  font-family: "Metropolis", sans-serif;
  font-weight: 600;
}

h1,
h2,
h3,
.section-headline {
  margin-top: 0;
}

.section-headline {
  font-size: 24px;
  font-weight: 700;
}

.small-section-headline {
  font-size: 20px;
  margin-bottom: 16px;
}

.top-headline {
  font-size: var(--topHeadline);
  font-weight: 700;
  line-height: 1.14;
}

.mw-360 {
  max-width: 360px;
}

.mw-500 {
  max-width: 500px;
}

.mw-550 {
  max-width: 550px;
}

.mw-860 {
  width: 100%;
  max-width: 860px;
  padding-left: 36px;
  padding-right: 36px;
  margin: auto;
}

.headline {
  font-size: var(--headline);
  margin: 0 auto 0.55rem 0;
}

.subhead {
  font-weight: 400;
  line-height: 1.5;
  max-width: 600px;
  padding-right: 5%;
  font-size: 16px;
  margin: 0 auto var(--padding) 0;
}

a {
  text-decoration: none;
}

button.text-link {
  border: 0;
  padding: 0;
  text-align: left;
}

.blue-link {
  color: var(--blue3);
  font-family: "Metropolis", sans-serif;
  font-weight: 600;
}

.text-link:hover,
.blue-link:hover {
  text-decoration: underline;
  color: var(--blue4);
}

.blue-link:active {
  color: var(--blue5);
}

div:focus,
input:focus {
  border: 2px solid #4f42ff14;
  box-shadow: 0 0 0 1px #4f42ff6e, 0 0 0 4px #4f42ff1f;
  outline: none;
}

button:focus,
a:focus {
  outline: none;
}

button {
  cursor: pointer;
  justify-content: center;
  text-align: center;
  background: transparent;
  border-style: solid;
}

.btn-white {
  border-color: rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
}

.btn-white:hover,
.btn-white:focus {
  color: #cfcfd8;
  border-color: #cfcfd8;
}

.btn-white:active {
  color: #9f9fad;
  border-color: #9f9fad;
}

.btn-red {
  border-color: var(--alertRed);
  color: var(--alertRed);
}

.btn-red:hover {
  border-color: #cf434f;
  color: #cf434f;
}

.btn-violet-secondary {
  color: var(--violet4);
  border-color: var(--violet4);
}

.btn-violet-secondary:hover,
.btn-violet-secondary:focus {
  color: var(--violet5);
  border-color: var(--violet5);
}

.btn-violet-secondary:active {
  color: var(--violet6);
  border-color: var(--violet6);
}

.btn-blue-primary:active,
.btn-transparent:active,
.btn-violet-primary:active,
input[type="submit"]:active {
  box-shadow: 0 2px 8px 0 rgba(14, 13, 26, 0.12), 0 3px 1px -2px rgba(7, 48, 114, 0.12), 0 2px 4px 0 rgba(34, 0, 51, 0.04), 0 0 0 1px rgba(32, 18, 58, 0.04);
}

button.btn-ghost {
  border: none;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  min-height: 48px;
  align-self: center;
  color: var(--purple7);
  min-width: 200px;
}

.btn-blue-primary,
button.btn-violet-primary {
  border-radius: 8px;
  min-height: 48px;
  font-size: 16px;
  max-width: 320px;
  font-weight: 600;
  width: 100%;
  color: rgba(255, 255, 255, 1);
  padding-right: var(--padding);
  padding-left: var(--padding);
}

.btn-blue-primary {
  border-radius: 4px;
  background-color: #0060df;
  border: 1px solid #0060df;
  align-self: center;
}

.btn-blue-primary:hover {
  background-color: var(--blue4);
  border-color: var(--blue4);
}

.btn-violet-primary {
  background-color: var(--violet4);
  border: 1px solid var(--violet4);
}

.btn-violet-primary:hover {
  background-color: var(--violet5);
  border-color: var(--violet5);
}

.btn-violet-primary:active {
  background-color: var(--violet6);
  border-color: var(--violet6);
}

.btn-transparent {
  display: inline-flex;
  align-content: center;
  border-style: solid;
  border-width: 2px;
  font-family: "Metropolis", sans-serif;
  font-weight: 600;
  align-items: center;
}

a.btn-transparent:hover {
  text-decoration: none;
}

.btn-small {
  font-size: 14px;
  border-radius: 4px;
  min-height: 32px;
  padding: 4px 12px;
}

.btn-big {
  font-size: 16px;
  border-radius: 8px;
  min-height: 40px;
  padding: 8px 16px;
}

a,
button,
a:hover,
button:hover,
a:focus,
button:focus,
a:active,
button:active {
  transition: all 0.15s ease-in-out;
}

ul {
  padding: 0;
  display: flex;
  flex-direction: column;
}

ul li {
  display: inline-flex;
  align-items: center;
}

.container {
  justify-content: center;
  flex-direction: column;
  padding-top: calc(var(--padding) * 2);
  padding-bottom: calc(var(--padding) * 2);
  position: relative;
}

.row {
  justify-content: space-between;
  padding: 0.75rem;
  max-width: var(--maxWidth);
}

.row-full-width {
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px 36px;
}

.row,
.row-full-width {
  margin: auto;
}

.container,
.row-full-width,
.row {
  width: 100%;
}

.container,
.row-full-width,
.row,
.col-6,
.col-12,
.flx,
.flx-cntr,
.flx-row {
  display: flex;
}

.cntr {
  align-content: center;
  align-items: center;
}

.flx-cntr {
  align-items: center;
}

.flx-col {
  flex-direction: column;
}

.flx-row {
  flex-direction: row;
}

.flx-end {
  justify-content: flex-end;
}

.flx-auto {
  flex: 1 1 auto;
}

.space-between {
  justify-content: space-between;
}

.margin-zero {
  margin: 0;
}

.col-6 {
  flex: 1 1 50%;
  max-width: 50%;
  min-width: 300px;
}

.col-8 {
  flex: 1 1 66.66666667%;
  min-width: 66.66666667%;
  max-width: 66.66666667%;
}

.mw-700 {
  padding: 0 24px;
  max-width: 744px;
  width: 100%;
  overflow-wrap: break-word;
}

.col-9 {
  flex: 1 1 75%;
  min-width: 75%;
  max-width: 75%;
}

.col-12 {
  flex: 1 1 calc(100% - var(--padding));
  width: 100%;
  flex-direction: column;
  padding: var(--padding);
  margin-right: auto;
  margin-left: auto;
}

.col-6,
.col-8,
.col-9 {
  padding: var(--padding);
  flex-direction: column;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.padding-top-zero {
  padding-top: 0;
}

.no-vertical-padding {
  padding-top: 0;
  padding-bottom: 0;
}

.col {
  flex-direction: column;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.txt-light {
  color: var(--grey8);
  line-height: 1.5;
}

.txt-cntr {
  text-align: center;
}

.txt-purple7 {
  color: var(--purple7);
}

.jst-cntr {
  justify-content: center;
  align-items: center;
}

.bg-white {
  background-color: rgba(255, 255, 255, 1);
}

.ab-bg {
  background-attachment: fixed;
  background-image: url("/img/svg/ab-bg.svg");
  background-position: bottom left;
  background-position: top center;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.sr {
  background-image: url("/img/svg/scan-res-bg.svg");
  background-position: top center;
  background-attachment: fixed;
  background-size: cover;
}

.bg-light {
  background-color: #f9f7fd;
}

.bg-dark {
  background-color: var(--inkDark);
  color: rgba(255, 255, 255, 1);
}

.drop-shadow {
  box-shadow: 0 0 1px 1px #607d8b08, 1px 1px 10px #4341571a;
  transition: all 0.15s ease-in-out;
}

.drop-shadow:hover {
  box-shadow: 0 0 1px 1px #607d8b12, 1px 1px 12px #4341574d;
  transition: all 0.15s ease-in-out;
}

.source-info {
  display: block;
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
}

.source-info a,
.source-info {
  color: var(--textLight);
  font-size: 14px;
}

.source-info a {
  font-weight: 600;
}

.source-info a:hover {
  color: var(--grey8);
}

.source-info a:active {
  color: var(--grey9);
}

/* SPRITES */
div.sprite {
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.title-wrapper {
  display: inline-block;
}

.logo-wrapper {
  width: 1.5rem;
  min-height: 10px;
  margin-right: 0.5rem;
  display: inline-flex;
}

.arrow-head-right {
  margin-left: 4px;
  vertical-align: text-bottom;
}

.show {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.1s ease, visibility 0.1s ease 0.2s, max-height 0.1s ease 0.2s, padding 0.1s ease 0.2s;
}

.hide {
  padding: 0;
  opacity: 0;
  max-height: 0;
  visibility: hidden;
  transition: opacity 0.1s ease, visibility 0.1s ease 0.2s, max-height 0.1s ease 0.2s, padding 0.1s ease 0.2s;
}

.hide > * {
  padding: 0;
  max-height: 0;
  visibility: hidden;
  margin: 0 auto !important;
}

.clear-header {
  padding-top: 10rem;
}

.toggle-parent.active .toggle svg {
  transform: rotate(180deg);
}

.toggle-parent.inactive .toggle-child {
  display: none;
}

.nav-link:hover,
.footer-link:hover {
  color: #cfcfd8;
}

.nav-link:active,
.footer-link:active {
  color: #9f9fad;
}

@media screen and (max-width: 1200px) {
  body {
    --maxWidth: 1000px;
  }
}

@media screen and (max-width: 800px) {
  body {
    --maxWidth: 600px;
    --topHeadline: 43px;
    --headline: 36px;
  }

  .clear-header {
    padding-top: 11rem;
  }

  .hide-mobile {
    display: none !important;
    visibility: hidden;
  }

  .show-mobile {
    display: flex;
    visibility: visible;
  }

  .mw-700 {
    max-width: var(--maxWidth);
  }

  .col-6 {
    max-width: 100%;
    padding: 0 var(--padding);
  }

  .col-8,
  .col-9 {
    max-width: 100%;
    width: 100%;
    margin: auto;
  }

  .mw-860 {
    max-width: 600px;
  }

  .row {
    flex-direction: column;
  }

  .row-9 {
    max-width: 75%;
    width: 75%;
    display: flex;
    padding: 0 var(--padding);
  }
}

@media screen and (max-width: 600px) {
  .col-6,
  .col-12 {
    margin: auto;
    width: 100%;
  }

  .row-full-width {
    padding: 20px 24px;
  }

  .mw-860 {
    padding-left: 24px;
    padding-right: 24px;
  }

  .arrow-head-right {
    margin-left: 0.15rem;
  }
}

@media screen and (max-width: 500px) {
  body {
    --skinnyHeadline: 1.4rem;
    --topHeadline: 36px;
    --headline: 32px;
  }

  .col-6 {
    min-width: auto;
  }

  body.bento-open {
    position: fixed;
  }

  .headline {
    margin-bottom: 16px;
  }

  .subhead {
    padding-right: 3%;
  }
}
