
.email-card.preferences .e-info {
  border-bottom: none;
  padding-bottom: 0;
  flex-direction: column;
  width: auto;
}

.e-info-content {
  flex-wrap: wrap;
  flex: 1;
}

.preferences .e-info-content {
  flex-direction: column;
}

.email-card {
  width: 100%;
}

.email-card.breaches-dash {
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 60px;
}

.email-card.breaches-dash:last-of-type,
.breaches-dash.zero-breaches,
.breaches-dash.zero-unresolved-breaches {
  margin-bottom: 32px;
}

.email-card.preferences {
  padding: 20px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid #e8e8e8;
  margin: 0 0 16px;
  border-radius: 4px;
}

.email-card.primary-email-card.preferences {
  margin-bottom: 0;
}

.e-info { /* email address info */
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  border-bottom: 2px solid #e8e8e8;
  padding-bottom: 12px;
  max-width: 100%;
  width: 100%;
  flex-wrap: wrap;
}

.preferences .e-info {
  align-items: flex-start;
  max-width: 90%;
}

.preferences .e-num-breaches {
  margin-top: 4px;
  font-size: 14px;
  color: var(--grey8);
}

.preferences .e-address {
  font-size: 16px;
}

.preferences .e-address::after {
  display: none;
}

.e-address {
  font-size: 20px;
  font-weight: 600;
  color: var(--purple6);
  max-width: 100%;
  overflow-wrap: break-word;
}

.e-address span.light {
  font-weight: 300;
  color: var(--grey6);
  font-size: 0.75rem;
}

.e-num-breaches {
  font-size: 20px;
  display: block;
  color: var(--purple6);
}

.e-address::after {
  content: "-";
  margin: auto 6px;
  font-weight: 400;
}

.breach-title-wrapper.ec {
  border-bottom: 1px solid var(--borderColor);
}

/* email breach lists */

.e-breach-list {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
  visibility: hidden;
  margin: auto;
  max-width: 780px;
  opacity: 0;
  max-height: 0;
  transition: all 0.2s ease;
}

.e-breach-list .breach-card {
  max-height: 0;
  transition: all 0.2s ease;
}

.active .e-breach-list .breach-card {
  max-height: 10000px;
  transition: all 0.2s ease;
}

.active .show-additional-breaches.hide .breach-card {
  display: none;
  max-height: 0;
}

.show-remaining-breaches-wrapper {
  width: 100%;
}

.show-remaining-breaches.btn-violet-secondary {
  margin: 16px auto auto auto;
}

.show-remaining-breaches.hide {
  display: none;
}

.email-card.active .e-breach-list {
  visibility: visible;
  opacity: 1;
  max-height: 1000000px;
  padding-top: 16px;
  transition: all 0.3s ease;
}

.email-card.zero-unresolved-breaches .e-breach-list,
.email-card.active .hide-additional-breaches.hide .breach-card,
.email-card.inactive .hide-additional-breaches.hide .breach-card {
  display: none;
}

.breach-card.resolved-breach-card {
  visibility: hidden;
  display: none;
}

.email-card.zero-unresolved-breaches.show-resolved-breach-cards.active .e-breach-list,
.show-resolved-breach-cards .breach-card.resolved-breach-card {
  visibility: visible;
  opacity: 0.6;
  display: flex !important;
  transition: all 0.25s ease;
}

.hide-resolved-message,
.show-resolved-breach-cards span.show-resolved-message {
  visibility: hidden;
  display: none;
}

.show-resolved-breach-cards span.hide-resolved-message {
  display: flex;
  visibility: visible;
}

button.toggle-resolved-breaches {
  margin: auto 0 auto auto;
  border: 0;
  font-size: 14px;
  color: #42435a;
  pointer-events: all;
}

.e-toggle-info-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  position: relative;
}

.svg-wrap {
  border-width: 0;
  border-radius: 0.25rem;
  padding: 0.5rem 0 0 0;
  pointer-events: all;
  text-align: left;
}

/* preferences buttons/options */
.remove-email .x-close {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  pointer-events: none;
}

.remove-email .x-close path {
  fill: var(--ink);
}

.button-resend-wrapper {
  margin-top: 0.5rem;
  align-items: center;
}

.change-primary-email,
.remove-fxm,
.resend-email {
  pointer-events: all;
  transition: all 0.15s ease;
}

.resend-email,
.change-primary-email {
  font-size: 14px;
}

.resend-email {
  min-height: 0;
  text-align: left;
  padding: 0;
  border-width: 0;
  transition: opacity 0.15s ease-in-out;
}

.sending {
  margin-left: 16px;
  font-size: 12px;
  background: #3fe1b0;
  color: rgba(255, 255, 255, 1);
  padding: 2px 4px;
  border-radius: 4px;
  font-weight: 600;
}

.change-primary-email:hover,
.change-primary-email:focus,
.toggle.svg-wrap:focus,
.toggle.svg-wrap:hover,
.resend-email:hover,
.resend-email:focus {
  outline: none;
  border: none;
  text-decoration: underline;
  box-shadow: none;
  text-align: left;
  pointer-events: all;
}

form.remove-email:hover svg path {
  fill: #cf434f;
  transition: fill 0.15s ease-in-out;
}

.toggle {
  height: 100%;
  transition: all 0.1s ease;
  width: 100%;
}

.show-email-breaches.toggle {
  pointer-events: none; /* prevent toggling on desktop */
  display: none;
  right: 0;
  left: 0;
}

svg.toggle-down {
  border-radius: 50%;
  margin: auto;
  right: 4px;
  transition: all 0.2s ease;
  pointer-events: none;
}

.email-card .toggle,
svg.toggle-down {
  position: absolute;
  top: 0;
  bottom: 0;
}

svg.toggle-down path {
  fill: var(--grey6);
}

.email-card.active .toggle-down {
  transform: rotate(180deg);
  transition: all 0.1s ease;
}

form.remove-email {
  pointer-events: all;
  padding: 0;
}

form.remove-email,
input.remove-email-submit {
  border: none !important;
  border-radius: 50% !important;
  height: 1.5rem !important;
  width: 1.5rem !important;
  position: relative;
  pointer-events: all;
  cursor: pointer;
}

form.remove-email svg path {
  fill: var(--alertRed);
  transition: fill 0.15s ease-in-out;
}

input.remove-email-submit {
  background-color: transparent !important;
}

@media screen and (max-width: 1100px) {
  .e-address {
    font-size: 16px;
  }

  .e-num-breaches {
    font-size: 14px;
  }
}

@media screen and (max-width: 800px) {
  .e-info-content {
    flex-direction: column;
    width: 100%;
  }

  .email-card {
    padding: 20px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    border: 1px solid #e8e8e8;
  }

  .email-card.breaches-dash:last-of-type,
  .email-card.breaches-dash {
    margin: 8px 0;
    padding: 20px;
  }

  .dash-attribution {
    margin-top: 8px;
  }

  .e-info {
    border-bottom: none;
    padding-bottom: 0;
  }

  .breaches-dash:not(.zero-breaches) .e-address {
    max-width: 85%;
  }

  .e-num-breaches {
    margin-top: 4px;
    color: var(--grey8);
  }

  .breach-card.resolved-breach-card {
    display: flex;
    visibility: visible;
  }

  .toggle-resolved-breaches,
  .ec.breach-card, /* Hide breach cards until the email-card is toggled down */
  .active .show-additional-breaches.hide .ec.breach-card, /* Hides any breaches gated behind "Show Remaining Breaches" button when there are more than 4 to an email. */
  .active .show-remaining-breaches.hide, /* Hide "Show Remaining Breaches"" button after it has been clicked */
  .e-address::after,
  .show-remaining-breaches {
    display: none;
  }

  .email-card.zero-unresolved-breaches .e-breach-list,
  .email-card.zero-unresolved-breaches.active .e-breach-list,
  .active .show-remaining-breaches {
    display: flex;
  }

  .toggle.show-email-breaches {
    pointer-events: all;
    display: flex;
  }

  .ec.breach-card {
    flex: 1 1 100%;
  }
}

@media screen and (max-width: 600px) {
  .e-address,
  .radio-label {
    font-size: 1rem;
  }

  .email-card.new-breaches {
    margin-top: 0;
  }

  .e-num-breaches,
  .resend-email,
  .change-primary-email {
    font-size: 0.85rem;
  }

  .button-resend-wrapper,
  .e-num-breaches {
    margin-top: 0.35rem;
  }

  .change-primary-email {
    width: 100%;
    margin: var(--padding) 0 0 0;
    text-align: center;
  }

  .resend-email:hover {
    background-color: transparent;
  }
}
