.product-promo {
  position: relative;
  overflow: hidden;
  border-radius: 16px;
  padding: 32px 42px;
  color: rgba(255, 255, 255, 1);
  text-align: left;
  background-position: 104%;
  background-size: auto 104%;
  background-repeat: no-repeat;
  border: 1px solid transparent;
}

.promo-copy {
  padding-right: 13%;
}

.promo-monitor {
  background-color: #393473;
  background-image: url("/img/svg/promos/promo-bg-monitor.svg");
}

.promo-mobile {
  background-color: #123474;
  background-image: url("/img/svg/promos/promo-bg-mobile.svg");
}

/* QR Code */
.product-promo.promo-mobile::after {
  background: #fff;
  border-radius: 4px;
  background-image: url("/img/svg/promos/mobile-qr-gradient.svg");
  content: "";
  width: 60px;
  height: 60px;
  position: absolute;
  right: 42px;
  bottom: 32px;
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center center;
}

.promo-lockwise {
  background-image: url("/img/svg/promos/promo-bg-lockwise.svg");
}

.promo-fpn {
  background-image: url("/img/svg/promos/promo-bg-fpn.svg");
}

.promo-ecosystem {
  background-image: url("/img/svg/promos/promo-bg-ecosystem.svg");
}

.promo-lockwise,
.promo-fpn,
.promo-ecosystem {
  background-color: #1e1338;
}

.promo-monitor > .promo-content::before {
  background-image: url("/img/svg/fxa-tout-yellow-env.svg");
}

.promo-mobile > .promo-content::before {
  background-image: url("/img/svg/logos/fx-logo.svg");
}

.promo-lockwise > .promo-content::before {
  background-image: url("/img/svg/logos/fx-lockwise.svg");
}

.promo-fpn > .promo-content::before {
  background-image: url("/img/svg/logos/fpn-logo.svg");
}

.promo-ecosystem > .promo-content::before {
  background-image: url("/img/svg/logos/fx-master-logo.svg");
}

.promo-content::before {
  margin-right: 36px;
  min-width: 66px;
  min-height: 66px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top center;
  content: "";
  display: inline-block;
}

.promo-headline {
  font-size: 24px;
  line-height: 1.17;
  margin: 0 auto 8px 0;
}

.promo-body {
  font-size: 16px;
  line-height: 1.5;
  margin: 0 auto 16px auto;
}

.promo-cta {
  border-color: rgba(255, 255, 255, 1);
  border-radius: 8px;
  min-height: 40px;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  margin: auto auto auto 0;
  padding: 12px 32px;
  pointer-events: all;
}

.promo-cta:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.promo-wrapper {
  margin-top: 44px;
  margin-bottom: 20px;
  padding: 0;
}

@media screen and (max-width: 800px) {
  .product-promo.drop-shadow.flx.al-cntr.jst-cntr.promo-mobile::after {
    display: none;
  }

  .promo-wrapper {
    padding: 0 24px;
  }

  .product-promo {
    background-image: none !important;
    padding: 42px;
  }

  .promo-content {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .promo-body {
    max-width: 400px;
  }

  .promo-copy {
    padding-right: 0;
  }

  .promo-content::before {
    margin: auto auto 16px auto;
  }

  .promo-headline {
    font-size: 32px;
  }
}

@media screen and (max-width: 500px) {
  .product-promo {
    padding: 42px 24px;
  }

  .promo-headline {
    font-size: 28px;
  }
}
