.remove-dash {
  &-status {
    font-size: 14px;
  }
  &-update {
    text-align: right;
    color: var(--grey5);
    font-size: 12px;
  }
  &-results-container {
    margin-top: 34px;
  }
  &-results-list-item {
    background-color: white;
    border-radius: 8px;
    padding: 32px 24px;
    margin-top: 18px;
    &:first-child {
      margin-top: 0;
    }
  }
  &-results-list-icon {
    height: 24px;
    width: auto;
  }
  &-results-site-name-container {
    margin-left: 12px;
  }
  &-results-site-name {
    @include ff-metropolis;
    font-size: 22px;
  }
  &-results-site-status {
    font-size: 14px;
    line-height: 26px;
    color: var(--grey5);
  }
  &-results-status-el {
    margin-left: 25px;
    &:first-child {
      margin-left: 0;
    }
  }
  &-results-status-time {
    font-size: 14px;
    color: var(--grey5);
  }
  &-results-risk {
    font-size: 12px;
    font-weight: 600;
    padding: 6px;
    border-radius: 4px;
    text-align: center;
    &.risk-high {
      color: var(--alertRed);
      border: 1px solid var(--alertRed);
    }
    &.risk-low {
      color: var(--grey10);
      border: 1px solid var(--grey10);
    }
  }
}

.remove-filter {
  &-container {
    padding: 24px 0;
    border-bottom: 1px solid var(--grey2);
  }
  &-key-list-item {
    border: 1px solid var(--grey3);
    padding: 7px 10px;
    height: 32px;
    border-radius: 16px;
    margin-left: 12px;
    &:first-child {
      margin-left: 0;
    }
  }
  &-key-list-title {
    @include ff-metropolis;
    font-size: 14px;
    color: var(--grey10);
    margin-left: 4px;
  }

  &-list-item {
    margin-left: 16px;
    &:first-child {
      margin-left: 0;
    }
  }
}

.remove-dashboard {
  &-container {
    margin: 0;
  }
  &-card-container {
    margin: 0 auto;
  }
  &-card {
    margin: 0 auto;
    width: 100%;
    &-body {
      margin: 10px 0 0;
      color: #42425a;
      line-height: 22px;
      font-size: 14px;
      &:first-child {
        margin-top: 0;
      }
    }
    &-border {
      padding: 28px 0;
      margin: 0.15rem;
      overflow: hidden;
    }
    &-content::before {
      background-image: url("/img/svg/data-removal-small.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      height: 100%;
      width: 35%;
      margin-right: 28px;
      content: "";
      display: inline-block;
      align-self: center;
      @include breakpoint(mobile) {
        display: none;
      }
    }
  }
  &-section-container {
    @include breakpoint(mobile) {
      padding-left: 0;
      padding-right: 0;
    }
  }
  &-section {
    background-color: white;
    padding: 50px 16%;
    border-radius: 8px;
    @include breakpoint(mobile) {
      border-radius: 0;
      padding-left: 24px;
      padding-right: 24px;
    }
  }
  &-form-loc {
    @include breakpoint(mobile) {
      flex-wrap: wrap;
    }
  }
  &-form {
    .input-group {
      margin-top: 32px;
    }
    .input-group-field {
      margin-top: 16px;
      &#remove-dashboard-form-loc-city {
        flex: 1;
      }
      &#remove-dashboard-form-loc-state {
        width: 20%;
        max-width: 20%;
      }
      &#remove-dashboard-form-loc-country {
        width: 33.3334%;
        max-width: 33.3334%;
      }
      @include breakpoint(mobile) {
        width: 100% !important;
        max-width: 100% !important;
        margin-left: 0;
      }
    }
    .input-group-label {
      font-size: 15px;
      line-height: 24px;
      font-weight: var(--fw-600);
    }

    .input-group-submit {
      margin-top: 60px;
    }
  }
  &-form-rqd {
    font-size: 14px;
  }
  &-form-disclaimer {
    font-size: 13px;
  }
  &-kanary-container {
    margin-top: 320px;
    margin-bottom: 50px;
  }
  &-kanary-disclaimer {
    color: var(--ink);
    font-size: 14px;
  }
}

//application form success screen
.remove-success {
  &-section {
    margin-top: 56px;
  }
  &-text-section {
    margin-top: 35px;
  }
  &-icon {
    width: 170px;
  }
}

.tmp-select-output {
  background-color: var(--grey0);
  border-radius: var(--br-input);
  padding: 0 16px;
}

.tmp-select-email {
  font-size: 18px;
  line-height: 24px;
  color: var(--grey7);
  border: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 12px 0;
}

.tmp-select-helper {
  color: var(--grey5);
  font-size: 12px;
  line-height: 24px;
}

.tmp-select-arrow {
  margin-left: 20px;
  transform: rotate(90deg);
  color: var(--grey5);
}
