.remove-dashboard {
  &-container {
    margin: 0;
  }
  &-card-container {
    margin: 0 auto;
  }
  &-card {
    margin: 0 auto;
    width: 100%;
    &-body {
      margin: 10px 0 0;
      color: #42425a;
      line-height: 22px;
      font-size: 14px;
      &:first-child {
        margin-top: 0;
      }
    }
    &-border {
      padding: 28px 0;
      margin: 0.15rem;
      overflow: hidden;
    }
    &-content::before {
      background-image: url("/img/svg/data-removal-small.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center center;
      height: 100%;
      width: 35%;
      margin-right: 28px;
      content: "";
      display: inline-block;
      align-self: center;
      @include breakpoint(mobile) {
        display: none;
      }
    }
  }
  &-section {
    background-color: white;
    padding: 50px 11vw;
    border-radius: 8px;
  }
  &-form {
    .input-group {
      margin-top: 32px;
    }
    .input-group-field {
      margin-top: 16px;
      &#remove-dashboard-form-loc-city {
        flex: 1;
      }
      &#remove-dashboard-form-loc-state {
        width: 20%;
      }
      &#remove-dashboard-form-loc-country {
        width: 33.3334%;
      }
    }
    .input-group-label {
      font-size: 15px;
      line-height: 24px;
      font-weight: var(--fw-600);
    }

    .input-group-submit {
      margin-top: 60px;
    }
  }
  &-form-rqd {
    font-size: 14px;
  }
  &-form-disclaimer {
    font-size: 13px;
  }
  &-kanary-container {
    margin-top: 320px;
    margin-bottom: 50px;
  }
  &-kanary-disclaimer {
    color: var(--ink);
    font-size: 14px;
  }
}

//application form success screen
.remove-success {
  &-section {
    margin-top: 56px;
  }
  &-text-section {
    margin-top: 35px;
  }
  &-icon {
    width: 20%;
    max-width: 170px;
    @include breakpoint(mobile) {
      width: 170px;
    }
  }
}

.tmp-select-output {
  background-color: var(--grey0);
  border-radius: var(--br-input);
  padding: 0 16px;
}

.tmp-select-email {
  font-size: 18px;
  line-height: 24px;
  color: var(--grey7);
  border: 0;
  background-color: transparent;
  width: 100%;
  height: 100%;
  padding: 12px 0;
}

.tmp-select-helper {
  color: var(--grey5);
  font-size: 12px;
  line-height: 24px;
}

.tmp-select-arrow {
  margin-left: 20px;
  transform: rotate(90deg);
  color: var(--grey5);
}
