.dashboard-stats-and-welcome {
  background-color: white;
  padding: 24px 0;

  @include breakpoint(mobile) {
    padding: 60px 0 24px 0; //TODO: MH: fixed header and fixed promotion banners - would ideally like to avoid having to use javascript to adjust the underlying elements position. Best way would be to make sure fixed elements have a dependable fixed height
  }

  &-inner {
    flex-direction: row;

    @include breakpoint(mobile) {
      flex-direction: column;
    }
  }
}

.dashboard-welcome-container {
  @include col(3);

  align-items: center;

  @include breakpoint(mobile) {
    @include col(12);

    align-items: flex-start;
  }
}

.dashboard-welcome-back {
  font-size: 14px;
  line-height: 1.5;
  color: var(--grey8);
  margin: 0;
}
