@import "../../../../../../../../../tokens";

.triggerButton {
  border-style: none;
  background-color: transparent;
  color: $color-purple-70;
  aspect-ratio: 1 / 1;
  cursor: pointer;
}

.dialogContents {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  color: $color-grey-50;

  .confirmButtonWrapper {
    align-self: center;
    display: flex;
    flex-direction: column;
    min-width: $content-xs;
    padding-block-start: $spacing-md;
  }
}
