@use "../../../../../../tokens";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: tokens.$spacing-md;

  .sectionTitle {
    h3 {
      font: tokens.$text-title-3xs;
    }

    p {
      color: tokens.$color-grey-40;
    }
  }

  .radioGroup {
    display: flex;
    flex-direction: column;
    gap: tokens.$spacing-md;

    .emailAlertsOptions {
      padding-inline-start: tokens.$spacing-lg;
      display: flex;
      flex-direction: column;
      gap: tokens.$spacing-sm;
    }

    .radioButton {
      stroke: tokens.$color-black;
    }

    label {
      display: flex;
      gap: tokens.$spacing-xs;
      div {
        display: flex;
        flex-direction: column;

        b {
          font-weight: 600;
        }

        p {
          color: tokens.$color-grey-40;
        }
      }

      svg {
        flex: 0 0 auto;
      }
    }

    .focusRing {
      stroke: tokens.$color-blue-50;
    }

    .selectedFill {
      fill: tokens.$color-black;
    }
  }
}
