@import "../../../../../../tokens";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: $spacing-md;

  .sectionTitle {
    h3 {
      font: $text-title-3xs;
    }

    p {
      color: $color-grey-40;
    }
  }

  .radioGroup {
    display: flex;
    flex-direction: column;
    gap: $spacing-md;

    .emailAlertsOptions {
      padding-left: $spacing-lg;
      display: flex;
      flex-direction: column;
      gap: $spacing-sm;

      &.disabled {
        display: none;
      }
    }

    .radioButton {
      stroke: $color-black;
    }

    label {
      display: flex;
      gap: $spacing-xs;

      dl {
        display: flex;
        flex-direction: column;

        dt {
          font-weight: 600;
        }

        dd {
          color: $color-grey-40;
        }
      }

      svg {
        flex: 0 0 auto;
      }
    }

    .focusRing {
      stroke: $color-blue-50;
    }

    .selectedFill {
      fill: $color-black;
    }
  }
}
