@use "../../../../../../tokens";

.dialogContents {
  display: flex;
  flex-direction: column;
  gap: tokens.$spacing-md;

  .description {
    text-align: center;
  }
}

.newEmailAddressForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: tokens.$spacing-md;

  label {
    font-weight: 600;
    width: 100%;
  }

  input {
    border: 1px solid tokens.$color-grey-30;
    border-radius: tokens.$border-radius-sm;
    color: tokens.$color-black;
    padding: tokens.$spacing-sm tokens.$spacing-md;
    width: 100%;
  }

  .btn {
    width: 300px;
  }
}
