@use "../../../../../../tokens";

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: tokens.$spacing-lg;
  padding: tokens.$layout-2xs;

  @media screen and (min-width: tokens.$screen-lg) {
    flex-direction: row;
    padding: tokens.$layout-lg;
  }

  @media screen and (min-width: tokens.$screen-sm) {
    padding: tokens.$layout-sm;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: tokens.$layout-xs;

  h2 {
    font: tokens.$text-title-xs;
  }

  & [role="tab"]::after {
    width: calc(100% - 24px - tokens.$spacing-xs);
  }

  @media screen and (min-width: tokens.$screen-lg) {
    flex: 0 0 tokens.$content-xs;
  }
}

.content {
  align-items: flex-start;
  background-color: tokens.$color-white;
  border-radius: tokens.$border-radius-md;
  box-shadow: tokens.$box-shadow-xs;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: tokens.$spacing-lg;
  overflow: hidden;
  padding: tokens.$spacing-lg;
}
