@import "../../../../../../tokens";

.main {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: $spacing-lg;
  padding: $layout-2xs;

  @media screen and (min-width: $screen-lg) {
    flex-direction: row;
    padding: $layout-lg;
  }

  @media screen and (min-width: $screen-sm) {
    padding: $layout-sm;
  }
}

.header {
  display: flex;
  flex-direction: column;
  gap: $layout-xs;

  h2 {
    font: $text-title-xs;
  }

  & [role="tab"]::after {
    width: calc(100% - 24px - $spacing-xs);
  }

  @media screen and (min-width: $screen-lg) {
    flex: 0 0 $content-xs;
  }
}

.content {
  align-items: flex-start;
  background-color: $color-white;
  border-radius: $border-radius-md;
  box-shadow: $box-shadow-xs;
  display: flex;
  flex-direction: column;
  flex: 1 0 0;
  gap: $spacing-lg;
  overflow: hidden;
  padding: $spacing-lg;
}
