@import "../../../../../../tokens";

.wrapper {
  width: 100%;
  height: 100%;
  background-color: $color-grey-05;
}

.wrapper main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: $spacing-2xl;
  padding: $spacing-2xl;

  .title {
    flex: 0 0 $content-xs;

    h2 {
      font: $text-title-xs;
    }
  }

  .content {
    flex: 1 0 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: $spacing-lg;

    h3 {
      font: $text-title-3xs;
    }

    .description {
      color: $color-grey-40;
    }

    hr {
      align-self: stretch;
      border-style: none;
      border-top: 1px solid $color-grey-10;
    }
  }
}

.emailList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
}

.cancelSection,
.deactivateSection,
.deleteAccountSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-sm;

  a {
    display: flex;
    align-items: center;
    gap: $spacing-xs;
    color: $color-blue-50;
    font-weight: 600;

    &:hover {
      color: $color-blue-70;
    }
  }
}

.dialogLead {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  text-align: center;
}
