@use "../../../../../../tokens";

.wrapper {
  width: 100%;
  height: 100%;
  background-color: tokens.$color-grey-05;
}

.wrapper .main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: tokens.$spacing-2xl;
  padding: tokens.$spacing-2xl;

  .title {
    flex: 0 0 tokens.$content-xs;

    h2 {
      font: tokens.$text-title-xs;
    }
  }

  .content {
    flex: 1 0 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: tokens.$spacing-lg;

    h3 {
      font: tokens.$text-title-3xs;
    }

    .description {
      color: tokens.$color-grey-40;
    }

    hr {
      align-self: stretch;
      border-style: none;
      border-top: 1px solid tokens.$color-grey-10;
    }
  }
}

.emailList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: tokens.$spacing-lg;
}

.cancelSection,
.deleteAccountSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: tokens.$spacing-sm;

  a {
    display: flex;
    align-items: center;
    gap: tokens.$spacing-xs;
    color: tokens.$color-blue-50;
    font-weight: 600;

    &:hover {
      color: tokens.$color-blue-70;
    }
  }
}

.dialogLead {
  display: flex;
  flex-direction: column;
  gap: tokens.$spacing-lg;
  text-align: center;
}
