receivers:
  otlp:
    protocols:
      http:
        endpoint: '0.0.0.0:4318' # http port for receiving traces, metrics, and logs over http

exporters:
  debug:

  otlp/tempo:
    endpoint: tempo:4317
    tls:
      insecure: true

  prometheus:
    endpoint: 0.0.0.0:9464
    
service:
  pipelines:
    traces:
      receivers: [otlp]
      exporters: [debug, otlp/tempo]
    metrics:
      receivers: [otlp]
      exporters: [debug, prometheus]
