@use "../../tokens";

.toggleContainer {
  border: none;
  border-radius: tokens.$border-radius-xl;
  padding: tokens.$spacing-xs;
  display: flex;
  align-items: center;
  align-self: center;
  gap: tokens.$spacing-xs;

  &:focus-within {
    outline-style: solid;
    outline-width: 2px;
  }

  .option {
    border-radius: tokens.$border-radius-xl;
    // Add a bit more space: The next spacing step is too much.
    padding: tokens.$spacing-sm calc(tokens.$spacing-md * 1.5);
    line-height: 1.25em;
    font-weight: 500;
    color: tokens.$color-grey-50;
    cursor: pointer;

    &.isSelected {
      font-weight: 600;
    }
  }

  &.purple {
    border: 2px solid tokens.$color-purple-70;
    background-color: tokens.$color-grey-05;

    &:focus-within {
      outline-color: tokens.$color-purple-10;
    }

    .option {
      &.isFocused {
        background-color: tokens.$color-purple-10;
      }

      &:hover {
        background-color: tokens.$color-purple-20;
      }

      &.isSelected {
        background-color: tokens.$color-purple-40;
        color: tokens.$color-white;
        font-weight: 600;
      }
    }
  }

  &.blue {
    background-color: #f0f0f4;

    &:focus-within {
      outline-color: tokens.$color-informational-focus;
    }

    .option {
      &.isFocused {
        background-color: tokens.$color-blue-20;
      }

      &:hover {
        background-color: #e0e0e6;
      }

      &.isSelected {
        background-color: tokens.$color-white;
        color: tokens.$color-blue-50;
        font-weight: 600;
      }
    }
  }
}
