@import "../../tokens";

.toggleContainer {
  background-color: $color-grey-10;
  border-radius: $border-radius-xl;
  border: 1px solid $color-grey-30;
  padding: $spacing-sm;
  display: flex;
  align-items: center;
  gap: $spacing-sm;

  .option {
    border-radius: $border-radius-xl;
    padding: $spacing-xs $spacing-md;
    font-weight: 500;
    color: $color-grey-50;
    cursor: pointer;

    &.isFocused {
      outline: 4px solid $color-purple-70;
      background-color: $color-purple-10;
    }
    &:hover {
      background-color: $color-purple-20;
    }

    &.isSelected {
      background-color: $color-white;
      color: $color-blue-50;
    }
  }
}
