@use "../../tokens";

.chartContainer {
  text-align: center;
  display: flex;
  gap: tokens.$spacing-md;
  flex-direction: column;

  @media screen and (min-width: tokens.$screen-lg) {
    align-items: flex-end;
  }

  figcaption {
    text-align: center;
    display: flex;
    align-items: center;
    gap: tokens.$spacing-xs;
    font: tokens.$text-body-xs;
    font-style: italic;

    button {
      @include tokens.question-mark-circle-btn;
    }
  }
}

.modalBodyContent {
  display: flex;
  flex-direction: column;
  gap: tokens.$spacing-sm;

  .confirmButtonWrapper {
    align-self: center;
    display: flex;
    flex-direction: column;
    min-width: tokens.$content-xs;
    padding-block-start: tokens.$spacing-md;
  }
}

.gutter {
  stroke: tokens.$color-white;
}

.chartAndLegendWrapper {
  display: flex;
  flex-direction: column;
  gap: tokens.$spacing-md;

  @media screen and (min-width: tokens.$screen-lg) {
    flex-direction: row;
    gap: tokens.$spacing-xl;
  }

  .chart {
    align-self: center;
    max-width: 200px;
    width: 100%;

    // Font size set in Chart.tsx
    .headingNr {
      font-family: var(--font-inter);
      font-weight: 600;
    }
    .headingLabel {
      font-family: var(--font-inter);
    }

    .slice {
      @media (prefers-reduced-motion: no-preference) {
        transition: stroke-dashoffset 1s ease;
      }
    }
  }

  .legend {
    align-self: center;
    flex-direction: column;
    display: flex;
    gap: tokens.$spacing-sm;

    .prompt {
      font: tokens.$text-body-xs;
      display: flex;
      text-align: start;
      flex-direction: column;
      gap: tokens.$spacing-xs;
      border: 1px solid tokens.$color-purple-70;
      padding: tokens.$spacing-sm;
      align-items: flex-start;
    }

    thead {
      // These styles are taken from
      // https://react-spectrum.adobe.com/react-aria/VisuallyHidden.html
      border: 0;
      clip: rect(0 0 0 0);
      clip-path: inset(50%);
      height: 1px;
      margin: 0 -1px -1px 0;
      overflow: hidden;
      padding: 0;
      position: absolute;
      width: 1px;
      white-space: nowrap;
    }

    tbody tr {
      text-align: start;
      color: tokens.$color-grey-40;
      font: tokens.$text-body-xs;

      td {
        padding-block: tokens.$spacing-xs;
        padding-inline: tokens.$spacing-xs;
      }

      svg {
        width: 15px;
        height: 15px;
      }
    }
  }
}

/* stylelint-disable no-descending-specificity */
// We start at 2, because element 1 is .gutter
.slice:nth-child(2) {
  stroke: tokens.$color-purple-90;
}
.legend tbody tr:nth-child(1) {
  .chartAndLegendWrapper:has(.slice:nth-child(2):hover) & {
    color: tokens.$color-purple-90;
  }

  rect {
    fill: tokens.$color-purple-90;
  }
}
.slice:nth-child(3) {
  stroke: tokens.$color-purple-70;
}
.legend tbody tr:nth-child(2) {
  .chartAndLegendWrapper:has(.slice:nth-child(3):hover) & {
    color: tokens.$color-purple-70;
  }

  rect {
    fill: tokens.$color-purple-70;
  }
}
.slice:nth-child(4) {
  stroke: tokens.$color-purple-50;
}
.legend tbody tr:nth-child(3) {
  .chartAndLegendWrapper:has(.slice:nth-child(4):hover) & {
    color: tokens.$color-purple-50;
  }

  rect {
    fill: tokens.$color-purple-50;
  }
}
.slice:nth-child(5) {
  stroke: tokens.$color-purple-30;
}
.legend tbody tr:nth-child(4) {
  .chartAndLegendWrapper:has(.slice:nth-child(5):hover) & {
    color: tokens.$color-purple-30;
  }

  rect {
    fill: tokens.$color-purple-30;
  }
}
.slice:nth-child(6) {
  stroke: tokens.$color-purple-10;
}
.legend tbody tr:nth-child(5) {
  .chartAndLegendWrapper:has(.slice:nth-child(6):hover) & {
    color: tokens.$color-purple-10;
  }

  rect {
    fill: tokens.$color-purple-10;
  }
}
.slice:nth-child(7) {
  stroke: tokens.$color-purple-80;
}
.legend tbody tr:nth-child(6) {
  .chartAndLegendWrapper:has(.slice:nth-child(7):hover) & {
    color: tokens.$color-purple-80;
  }

  rect {
    fill: tokens.$color-purple-80;
  }
}
.slice:nth-child(8) {
  stroke: tokens.$color-purple-60;
}
.legend tbody tr:nth-child(7) {
  .chartAndLegendWrapper:has(.slice:nth-child(8):hover) & {
    color: tokens.$color-purple-60;
  }

  rect {
    fill: tokens.$color-purple-60;
  }
}
.slice:nth-child(9) {
  stroke: tokens.$color-purple-40;
}
.legend tbody tr:nth-child(8) {
  .chartAndLegendWrapper:has(.slice:nth-child(9):hover) & {
    color: tokens.$color-purple-40;
  }

  rect {
    fill: tokens.$color-purple-40;
  }
}
.slice:nth-child(10) {
  stroke: tokens.$color-purple-20;
}
.legend tbody tr:nth-child(9) {
  .chartAndLegendWrapper:has(.slice:nth-child(10):hover) & {
    color: tokens.$color-purple-20;
  }

  rect {
    fill: tokens.$color-purple-20;
  }
}
.slice:nth-child(11) {
  stroke: tokens.$color-violet-90;
}
.legend tbody tr:nth-child(10) {
  .chartAndLegendWrapper:has(.slice:nth-child(11):hover) & {
    color: tokens.$color-violet-90;
  }

  rect {
    fill: tokens.$color-violet-90;
  }
}
/* stylelint-enable no-descending-specificity */
