@import "../../tokens";

.exposureCard {
  font: $text-body-sm;
  border: 2px solid rgba($color-purple-70, 0.2);
  border-radius: $border-radius-md;
  max-width: $content-xl;

  .exposureHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-sm $spacing-md;
    gap: $layout-xs;

    @media screen and (min-width: $screen-md) {
      gap: $layout-md;
    }

    .chevronDown {
      cursor: pointer;
      color: rgba($color-purple-70, 0.7);
      height: 20px; //height of down chevron

      .isOpen {
        transition: transform 0.2s ease-out;
        rotate: (180deg);
      }
    }
  }

  ul.exposureHeaderList {
    list-style: none;
    display: flex;
    align-items: center;
    padding-left: 0;
    gap: $layout-md;
    margin: 0;
    width: 100%;
    justify-content: space-between;

    li {
      display: flex;
      align-items: center;

      @media screen and (min-width: $screen-md) {
        flex: 1; 
      }  
      
      .exposureImage {
        width: 120px;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .exposureDetailsSection {
    margin: 0;
    overflow: hidden;
    padding: 0 $layout-lg;
    height: 0;

    a,
    span {
      color: $color-blue-50;

      svg {
        display: inline; 
        margin: 0 $spacing-xs;
      }
    }

    &.isOpen {
      border-top: 2px solid rgba($color-purple-70, 0.2);
      overflow: auto;
      height: auto;
      padding: $spacing-lg;
    }

    .exposureListOfExposureTypes {
      padding-top: $spacing-md;
      display: flex;
      flex-direction: row;
      flex-direction: column;
      gap: $layout-xs;

      @media screen and (min-width: $screen-md) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: $layout-md;
      }

      dl {
        font: $text-body-sm;
        justify-content: space-between;
        margin-left: 0;
        padding-left: 0;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: $spacing-sm;
        
        @media screen and (min-width: $screen-md) {
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        div + div {
         padding-left: 23px; // restore the offset of the exposure icon which is -23px
             
          @media screen and (min-width: $screen-md) {
            padding-left: $layout-md;
          }
        }

        div:first-child {
          grid-column: 1 / -1;
        }

        .detailsFoundItem {
          dt {
            display: flex;
            gap: $spacing-sm;
            align-items: center;
            position: relative;

            .exposureTypeIcon {
              color: $color-purple-60;
              position: absolute;
              margin-top: 2px;
              margin-left: -23px; // offset the exposure icon
            }
          }

          dl {
            font: $text-body-xs;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.hideOnMobile {
  display: none !important;
  visibility: hidden;

  @media screen and (min-width: $screen-md) {
    display: block !important;
    visibility: visible;
  }
}
