@import "../../tokens";

.exposureCard {
  // Variables
  --exposureDetailsIconWidth: 28px;

  font: $text-body-sm;
  background-color: $color-white;
  border: 2px solid rgba($color-purple-70, 0.2);
  border-radius: $border-radius-md;

  .exposureHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-md $spacing-md;
    gap: $layout-xs;

    @media screen and (min-width: $screen-lg) {
      gap: $layout-md;
    }

    .chevron {
      flex-shrink: 0;
      all: unset;
      cursor: pointer;
      color: rgba($color-purple-70, 0.7);
      height: 20px; //height of down chevron

      .isOpen {
        transition: transform 0.2s ease-out;
        rotate: (180deg);
      }
    }
  }

  dl.exposureHeaderList {
    display: flex;
    align-items: center;
    padding-left: 0;
    gap: $layout-md;
    margin: 0;
    width: 100%;
    justify-content: space-between;
    height: 30px; // fixed height to standardize image/icon heights

    dd {
      display: flex;
      align-items: center;

      &.hideOnMobile {
        display: none;
      }

      .exposureCompanyTitle {
        font: $text-body-sm;
        max-width: 120px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      @media screen and (min-width: $screen-lg) {
        flex: 1 1 0%;

        &.hideOnMobile {
          display: block;
        }
      }

      .exposureImage {
        max-width: 120px;
        height: 100%;
      }
    }
  }

  .exposureDetailsSection {
    margin: 0;
    overflow: hidden;
    padding: 0 $layout-lg;
    height: 0;

    a,
    span {
      color: $color-blue-50;

      svg {
        display: inline;
        margin: 0 $spacing-xs;
      }
    }

    &.isOpen {
      border-top: 2px solid rgba($color-purple-70, 0.2);
      overflow: auto;
      height: auto;
      padding: $spacing-lg;
    }

    .exposedInfoContainer {
      padding-top: $spacing-md;
      display: flex;
      flex-direction: column;
      gap: $layout-xs;

      .exposedInfoWrapper {
        display: flex;
        flex-direction: column;
        gap: $spacing-md;

        @media screen and (min-width: $screen-lg) {
          flex: 1 1 0;

          .fixItBtn {
            width: 150px;
            flex: 1 1 0;
          }
        }

        .exposedInfoTitle {
          @media screen and (min-width: $screen-lg) {
            align-self: center;
            flex: 0 0 150px; // 150px is the width of categories title
          }
        }
      }

      @media screen and (min-width: $screen-lg) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: $layout-md;

        .exposedInfoWrapper {
          flex-direction: row;
          gap: $spacing-lg;
        }
      }

      dl {
        font: $text-body-sm;
        justify-content: space-between;
        margin-left: 0;
        padding-left: 0;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: $spacing-sm;

        @media screen and (min-width: $screen-sm) {
          grid-template-columns: 1fr 1fr 1fr;
        }

        @media screen and (min-width: $screen-lg) {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: $layout-xs;
          flex-wrap: wrap;
          justify-content: flex-start;
        }

        .detailsFoundItem {
          dt {
            display: flex;
            align-items: center;

            .exposureTypeIcon {
              width: var(--exposureDetailsIconWidth);
              color: $color-purple-60;
              display: flex;
              justify-content: flex-start;

              .secondaryFill {
                color: $color-red-20;
              }
            }
          }

          dd {
            padding-inline-start: var(--exposureDetailsIconWidth);
            font: $text-body-xs;
            font-weight: 600;
          }
        }
      }
    }
  }
}

.visuallyHidden {
  @include visually-hidden;
}
