@import "../../tokens";

.stepsWrapper {
  @include no-focus-outline;
  margin-block-end: $layout-lg;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-inline: $spacing-lg;

  @media screen and (min-width: $screen-md) {
    height: 33%;
  }

  @media screen and (min-width: $screen-md) {
    padding-inline: $spacing-2xl;
  }

  @media screen and (min-width: $screen-lg) {
    padding-inline: $layout-xl;
  }

  .steps {
    @include no-focus-outline;
  }
}

@media screen and (min-width: $screen-md) {
  .steps {
    $stepGap: $layout-xl;
    $iconDiameter: 40px;
    $checkIconDiameter: 15px;
    $iconBorderWidth: 4px;
    $connectingLineHeight: 4px;

    padding-inline-start: 0;
    list-style-type: none;
    display: flex;
    gap: $stepGap;
    position: relative;
    max-width: $content-md;
    align-items: center;

    .progressBarLineContainer {
      position: absolute;
      width: 100%;
      left: 0;
      right: 0;
      margin: auto;

      .progressBarLineWrapper {
        width: 100%;
        height: 3px;
        background-color: $color-grey-30;
        position: relative;

        .activeProgressBarLine {
          background-color: $color-purple-10;
          height: 3px;
          position: absolute;

          &.hasFourSteps {
            // These are not arbitrary "magic numbers." The width represents an increment of 100/6 due to the progress bar's ratio.
            &.duringDataBrokerProfiles {
              width: calc(100% / 6 + $iconDiameter);
            }
            &.beginHighRiskDataBreaches {
              width: 100% / 6 * 2;
            }
            &.duringHighRiskDataBreaches {
              width: 100% / 6 * 3;
            }
            &.beginLeakedPasswords {
              width: 100% / 6 * 4;
            }
            &.duringLeakedPasswords {
              width: calc(100% / 6 * 5 - $iconDiameter);
            }
            &.beginSecurityRecommendations {
              width: 100%;
            }
          }

          &.hasThreeSteps {
            &.duringHighRiskDataBreaches {
              width: 100% / 3;
            }
            &.beginLeakedPasswords {
              width: 50%;
            }
            &.duringLeakedPasswords {
              width: 100% / 3 * 2;
            }
            &.beginSecurityRecommendations {
              width: 100%;
            }
          }
        }
      }
    }

    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: $spacing-xs;
      text-align: center;
      font: $text-body-xs;
      font-weight: 400;
      color: $color-grey-30;

      &.navigationItem {
        // Overlap the horizontal line
        z-index: 1;
      }

      .stepIcon {
        width: $iconDiameter;
        height: $iconDiameter;
        margin-block: $iconBorderWidth;
        pointer-events: none;
        user-select: none;
        box-sizing: border-box;

        & > * {
          width: 100%;
          height: 100%;
          border-radius: 100%;
          padding: $spacing-sm;
          background-color: $color-grey-30;

          &.checkIcon {
            color: $color-white;
            padding: 12px; // Specific padding for check mark icon
          }
        }
      }

      &[aria-current="step"] .stepIcon > * {
        outline: $iconBorderWidth solid $color-purple-10;
      }

      .stepLabel {
        padding-top: $layout-md;
        position: absolute;
        width: 100px;
      }

      &[aria-current="step"] .stepLabel {
        padding-top: calc($layout-md + $spacing-sm);
      }

      &.isCompleted,
      &[aria-current="step"] {
        color: $color-purple-70;

        .stepIcon > * {
          background-color: $color-purple-70;
        }
      }
    }
  }
}
@media screen and (max-width: calc($screen-md - 1px)) {
  .steps {
    padding-inline-start: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    gap: $spacing-sm;

    li {
      .stepIcon {
        // On mobile, the actual step images aren't actually shown; instead, we
        // display flat horizontal lines, which we simulate by giving the images
        // a 0 height and a border. The images are <1kB in size, so that
        // shouldn't matter too much.
        height: 0;
        border: 3px solid $color-grey-30;
        border-radius: 3px;
        min-width: $layout-sm;
        width: 100%;
        pointer-events: none;
        user-select: none;

        svg {
          display: none;
        }
      }

      &[aria-current="step"] .stepIcon {
        border-color: $color-purple-10;
      }

      &.isCompleted .stepIcon {
        border-color: $color-purple-70;
      }

      .stepLabel {
        padding-block: $spacing-sm;
        padding-inline: $spacing-md;
        color: $color-purple-70;
        font: $text-body-xs;
        font-weight: 600;
        top: $spacing-lg;
      }

      &:not([aria-current="step"]) .stepLabel {
        @include visually-hidden;
      }
    }
  }
}
