@use "../../tokens";

.input,
.comboBox {
  background: tokens.$color-white;
  display: flex;
  flex-direction: column;
  position: relative;

  .inputFieldWrapper {
    position: relative;
  }

  .floatingLabel {
    background: tokens.$color-white;
    border-radius: tokens.$border-radius-sm;
    color: tokens.$color-black;
    display: inline-block;
    // Add a bit more space: The next spacing step is too much.
    left: calc(tokens.$spacing-sm * 1.5);
    line-height: 1em;
    padding: 0 calc(tokens.$spacing-xs * 0.5);
    pointer-events: none;
    position: absolute;
    top: 50%;
    transform-origin: top left;
    transform: translate(-0.05em, -50%) scale(1);
    transition: transform 0.2s ease-in-out;
    user-select: none;
  }

  .inputField {
    border: 1px solid tokens.$color-grey-30;
    border-radius: tokens.$border-radius-sm;
    color: tokens.$color-black;
    // Add a bit more space: The next spacing step is too much.
    padding: calc(tokens.$spacing-sm * 1.5);
    width: 100%;

    &.noValue {
      color: tokens.$color-grey-40;
    }

    &.hasError {
      border-color: tokens.$color-error;

      &:focus {
        border: 1px solid tokens.$color-error;
        outline: tokens.$border-focus-width solid tokens.$color-error-focus;
      }
    }

    &:focus {
      border: 1px solid tokens.$color-informational-active;
      outline: tokens.$border-focus-width solid
        tokens.$color-informational-focus;
    }

    &:disabled {
      background: none;
      border: 1px solid tokens.$color-grey-10;
    }
  }

  &:has(.floatingLabel) {
    ::placeholder {
      @include tokens.visually-hidden;
    }
    .inputField {
      // Move the value string off-center.
      padding: calc(tokens.$spacing-md * 1.25) calc(tokens.$spacing-sm * 1.5)
        tokens.$spacing-xs;
    }
  }

  &:focus-within,
  &:not(:has(:placeholder-shown)) {
    .floatingLabel {
      color: tokens.$color-grey-40;
      // Make the floating label visually align with the input value.
      transform: translate(-0.05em, -115%) scale(0.75);
    }
  }

  .inputLabel {
    font-weight: 600;
    margin-bottom: tokens.$spacing-sm;
  }

  .buttonIcon {
    position: absolute;
    right: tokens.$spacing-xs;
    top: 50%;
    transform: translateY(-50%);

    &:hover button {
      color: tokens.$color-error;
    }
  }

  .inputMessage {
    display: flex;
    align-items: center;
    color: tokens.$color-grey-40;
    gap: tokens.$spacing-xs;
    background: inherit;
    border-radius: tokens.$border-radius-sm;
    bottom: 0;
    font: tokens.$text-body-xs;
    left: 0;
    margin: 0 tokens.$spacing-sm;
    padding: 0 tokens.$spacing-sm;
    position: absolute;
    // the negative y-offset is 50% of the line-height plus a bit extra for
    // visual balance in relation to the input border endings left and right
    transform: translateY(calc(100% - 0.85em));
  }

  &:has([aria-invalid="true"]) .inputMessage {
    color: tokens.$color-error;
  }
}
