@import "../../tokens";

.input {
  background: $color-white;
  display: flex;
  flex-direction: column;
  position: relative;

  .inputField {
    border: 1px solid $color-grey-30;
    border-radius: $border-radius-sm;
    color: $color-black;
    padding: calc($spacing-sm * 1.5) $spacing-md;

    &::placeholder,
    &.noValue {
      color: $color-grey-40;
    }

    &.hasError {
      border-color: $color-error;
    }
  }

  .inputLabel {
    font-weight: 600;
    margin-bottom: $spacing-sm;
  }

  .inputMessage {
    background: inherit;
    bottom: 0;
    color: $color-error;
    font: $text-body-xs;
    left: 0;
    margin: 0 $spacing-sm;
    padding: 0 $spacing-sm;
    position: absolute;
    transform: translateY(calc(100% - 0.85em));
  }
}
