@import "../../tokens";

.button {
  width: 18px;
  height: 18px;

  div {
    width: 18px;
    height: 18px;
    border: 4px solid $color-white;
    border-color: $color-white transparent transparent transparent;
  }
}

.loader {
  width: 30px;
  height: 30px;

  div {
    width: 30px;
    height: 30px;
    border: 4px solid $color-purple-40;
    border-color: $color-purple-40 transparent transparent transparent;
  }
}

.ldsRing {
  margin: 0 auto;
}

.ldsRing div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.ldsRing div:nth-child(1) {
  animation-delay: -0.45s;
}
.ldsRing div:nth-child(2) {
  animation-delay: -0.3s;
}
.ldsRing div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
