@import "../../tokens";

.locationItem {
  font: $text-body-sm;
  // Add a bit more vertical space: The next spacing step is too much.
  padding: $spacing-sm calc($spacing-sm * 1.5);

  strong {
    // Space small bold letters a bit wider for legibility.
    letter-spacing: 0.01em;
  }

  span {
    color: $color-grey-40;
    font: $text-body-xs;
    margin-left: 0.5em;
  }
}
