@import "../../tokens";

.modalUnderlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
  display: flex;
  align-items: center;
  justify-content: center;

  .modal {
    font: $text-body-md;
    background-color: $color-grey-05;
    padding: $spacing-lg;
    border-radius: $border-radius-md;
    max-width: $content-md;
    position: relative;

    .dismissButton {
      position: absolute;
      top: 0;
      right: 0;
      padding: $spacing-md;
      color: $color-grey-40;
      background: none;
      border: none;
      cursor: pointer;

      &:hover {
        color: $color-grey-30;
      }
    }

    .modalContent {
      padding-top: $spacing-lg;

      dt {
        font: $text-title-3xs;
      }

    }
  }
}
