@import "../../tokens";

.underlay {
  position: fixed;
  inset: 0;
}

.popover {
  background: $color-white;
  box-shadow: none;
  border-radius: $border-radius-sm;

  &.isOpen {
    box-shadow: $box-shadow-sm;
  }
}
