@import "../../tokens";

.container {
  display: flex;
}

.tabs {
  display: flex;
  gap: $spacing-sm;

  &[aria-orientation="vertical"] {
    flex-direction: column;
  }
}

.tab {
  cursor: pointer;
  border-radius: $border-radius-sm;
  display: flex;
  gap: $spacing-xs;
  padding: $spacing-sm;
  position: relative;

  &::after {
    bottom: 0;
    content: "";
    height: $border-focus-width;
    position: absolute;
    right: 0;
    width: 100%;
  }

  &:hover,
  &:focus {
    outline: 2px solid $color-blue-50;
    &::after {
      background: none;
    }
  }

  &[aria-selected="true"] {
    color: $color-purple-70;

    // Only show the tab underline when the item
    // is selected and not hovered or focussed.
    &:not(:hover, :focus) {
      &::after {
        background: $color-purple-70;
      }
    }
  }
}

.secondary {
  .tabs {
    align-items: flex-start;
    gap: $spacing-sm;
  }

  .tab {
    color: $color-grey-40;
    padding: $spacing-xs 0;

    &[aria-selected="true"] {
      color: $color-purple-50;

      // Only show the tab underline when the item
      // is selected and not hovered or focussed.
      &:not(:hover, :focus) {
        &::after {
          background: $color-purple-50;
          height: 2px;
        }
      }
    }
  }
}
