@import "../../../../../../../../tokens";

.triggerButton {
  @include question-mark-circle-btn;
}

.dialogContents {
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
  color: $color-grey-50;

  .confirmButtonWrapper {
    align-self: center;
    display: flex;
    flex-direction: column;
    min-width: $content-xs;
    padding-block-start: $spacing-md;
  }
}
