@import "../../../tokens";

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.nav {
  display: flex;
  align-items: center;
  padding: $spacing-lg $layout-xl;
  background-color: $color-grey-05;

  h1 {
    font: $text-title-3xs;
  }
}

.hero {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: $spacing-lg;
  padding-inline: $spacing-md;
  padding-block-start: $spacing-xl;
  width: 100%;
  background-position: bottom center;
  background-size: cover;
  background-image: radial-gradient(
    circle at center,
    rgba(184, 51, 225, 0.08) 0,
    rgba(144, 89, 255, 0.08) 37.1%,
    rgba(91, 109, 248, 0.08) 61.4%,
    rgba(0, 144, 237, 0.08) 100%
  );

  @media screen and (min-width: $screen-lg) {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: $layout-lg;
    padding-inline: $layout-lg;

    .heroContent {
      flex: 1 1 $content-sm;
    }

    .heroImage {
      flex: 1 1 $content-sm;
      align-self: flex-end;
    }
  }

  @media screen and (min-width: $screen-xl) {
    gap: $layout-xl;
    padding-inline: $layout-xl;
  }

  .heroContent {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: $spacing-md;
    max-width: $screen-xl / 2;

    h1 {
      font: $text-title-md;
      color: $color-grey-60;
    }

    p {
      font: $text-body-lg;
      color: $color-grey-50;
    }
  }

  .heroImage {
    position: relative;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    max-width: min($screen-xl / 2, 100%);
    padding-inline: $spacing-md;

    .heroImageBadge {
      position: absolute;
      top: 33%;
      left: -1 * $layout-xs;
      background-color: $color-green-90;
      color: $color-white;
      border-radius: $border-radius-md;
      box-shadow: $box-shadow-sm;
      aspect-ratio: 1 / 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: $spacing-sm;

      @media screen and (max-width: $screen-xs) {
        display: none;
      }

      .nr {
        font: $text-title-md;
      }

      .description {
        font: $text-body-sm;
        width: $layout-xl;
      }
    }
  }
}

.plans {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-lg;
  background-color: $color-grey-05;
  padding: $layout-lg 0;

  .planName,
  .lead,
  table {
    width: $content-lg;
    max-width: 100%;
  }

  .planName,
  .lead {
    padding-inline: $spacing-lg;
    text-align: center;
  }
}

.quoteWrapper {
  padding: $layout-lg $spacing-md;
  display: flex;
  justify-content: center;

  @media screen and (min-width: $content-md) {
    padding: $layout-lg;
  }

  .quote {
    max-width: $content-lg;
    text-align: center;
<<<<<<< HEAD
    font: $text-title-2xs;
    line-height: 1.5;
    font-family: var(--font-inter);
    font-weight: normal;

    b {
      em {
        font-style: normal;
=======
    font: $text-title-3xs;
    line-height: 1.4;
    font-family: var(--font-inter);
    font-weight: normal;

    h2 {
      .emphasis {
>>>>>>> e19efd7a5 (MNTOR-2647 - Quote LP)
        display: inline;
        color: $color-violet-50;
      }
    }
  }
}

.valuePropositionWrapper {
  .item {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-2xl $spacing-md;
    gap: $spacing-lg;

    &.grayBg {
      background: $color-grey-05;
    }

    .exposureTypeList {
      font-weight: 600;
      color: $color-purple-70;
      display: inline;
    }

    @media screen and (min-width: $screen-md) {
      padding-inline: $layout-lg;
      padding-block: $layout-sm;
      flex-direction: row;
      gap: $spacing-xl;

      &.reverseRow {
        flex-direction: row-reverse;
      }

      @media screen and (min-width: $screen-lg) {
        padding-inline: $layout-lg;
        gap: $layout-xl;

        @media screen and (min-width: $screen-xl) {
          padding-inline: $layout-xl;
        }
      }
    }

    span {
      gap: $spacing-md;
      display: flex;
      flex-direction: column;

      h2 {
        font: $text-title-xs;
        font-family: var(--font-inter);
        font-weight: 600;
      }

      p {
        font: $text-body-lg;
      }
    }

    .illustration {
      width: 100%;
      display: flex;
      justify-content: center;

      img {
        height: auto;
      }
      @media screen and (min-width: $screen-md) {
        flex: 1;
      }
    }

    @media screen and (min-width: $screen-md) {
      span,
      .illustration {
        flex: 1;
      }
    }
  }
}

.socialProofWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $spacing-2xl $spacing-md;
  gap: $spacing-sm;

  .socialProofDescription {
    font: $text-body-xs;
  }

  .pressLogos {
    padding-top: $layout-md;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: $spacing-lg;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: $content-md) {
      flex-direction: row;
      flex-wrap: nowrap;
    }

    .asSeenIn {
      flex-basis: 100%;
      font: $text-body-sm;
      text-transform: uppercase;
      color: $color-grey-30;
      font-weight: 600;
      text-align: center;

      @media screen and (min-width: $content-md) {
        flex-basis: auto;
      }
    }
  }
}
