<span class="dashboard-email-sent bold"> {{ getString "email-verified" }}</span>
<h1>{{ getString "email-added-to-subscription" email=email }}</h1>
{{{ getString "email-verified-view-dashboard" sign-in-link='<a href="/oauth/init">Sign in</a>'}}}
