<section id="email-add" class="email-add section-wrapper drop-shadow">
  <div class="whole">
    <form action="/user/email" method="post" id="email-add-form" class="form-group">
      <div class="input-group">
        <input id="email-add" class="input-group-field" type="email" name="email" placeholder="Enter Email Address" aria-label="Enter Email Address" autocomplete="off">
      </div>
      <div class="input-group-button">
        <input id="email-add-submit" type="submit" class="button submit transparent-button" value="{{getString "email-add-button"}}" tabindex="1" />
      </div>
    </form>
  </div>
</section>
