<section id="unsubscribe" class="half">
    {{> dashboards/remove-kan-headline-subhead }}
    <button class="remove-kan btn-transparent btn-red btn-small" data-form-action="remove-kan" data-csrf-token="{{ csrfToken }}" data-primary-token="{{ primaryToken }}" data-primary-hash="{{ primaryHash }}" href="#">{{ getString "remove-kan" }}</button>
</section>
