<div class="remove-dash-results-list-item-header flx flx-col">
  <div class="remove-dash-results-summary-container flx space-between">
    <div class="remove-dash-results-site-container flx flx-cntr">
      <div class="remove-dash-results-status-el">
        {{getRemoveString "remove-dash-header-status"}}
      </div>

      <div class="remove-dash-results-site-name-container remove-dash-results-status-el flx flx-col">
        {{getRemoveString "remove-dash-header-site"}}
      </div>
    </div>
    <div class="remove-dash-results-status-container flx flx-cntr">
      <div class="remove-dash-results-status-el hidden-mobile">
        {{getRemoveString "remove-dash-header-updated"}}
      </div>

      <div
        class="remove-dash-results-toggle-container remove-dash-results-status-el"
      >
        <img
          src="/img/removal/chevron-down-grey.svg"
          alt="{{getRemoveString "remove-results-toggle-alt"}}"
          class="remove-dash-results-toggle-img"
        />
      </div>
    </div>
  </div>
</div>