<div class="mw-860 flx flx-col remove-pending-container">
  <div class="flx jst-cntr">
    <img
      class="remove-success-icon"
      src="/img/removal/remove-form-success-icon.svg"
      alt="{{getRemoveString "remove-form-success-alt"}}"
    />
  </div>
  <div class="flx flx-col jst-cntr">
    <h2>{{getRemoveString "remove-pending-title"}}</h2>
    <p>{{getRemoveString "remove-pending"}}</p>
  </div>
</div>