<button
  class="info-trigger remove-question-trigger"
  data-micromodal-trigger={{modal}}
>
  <img
    class="remove-question-img"
    src="/img/removal/remove-question.svg"
    alt="{{alt}}"
  />
</button>