<li
  class="remove-dash-results-list-item drop-shadow flx flx-col"
  data-status="completed"
>
  <div class="remove-dash-results-summary-container flx space-between">
    <div class="remove-dash-results-site-container flx flx-cntr">

      <img
        src="/img/svg/remove-filter-key-completed-icon.svg"
        alt="{{getString "remove-filter-completed"}}"
        class="remove-dash-results-list-icon"
      />

      <div class="remove-dash-results-site-name-container flx flx-col">
        <span class="remove-dash-results-site-name">{{getString
            "remove-complete"
          }}</span>
      </div>
    </div>
  </div>
</li>