<div class="remove-dash-results-list-item-header flx flx-col">
  <div class="remove-dash-results-summary-container flx space-between">
    <div class="remove-dash-results-site-container flx flx-cntr">
      <div class="remove-dash-results-status-el">
        STATUS
      </div>

      <div class="remove-dash-results-site-name-container flx flx-col">
        NAME OF SITE
      </div>
    </div>
    <div class="remove-dash-results-status-container flx flx-cntr">
      <div class="remove-dash-results-status-el hidden-mobile">
        LAST UPDATE
      </div>

      <div class="remove-dash-results-status-el --risk">
        RISK LEVEL
      </div>

      <div
        class="remove-dash-results-toggle-container remove-dash-results-status-el"
      >
        <img
          src="/img/svg/chevron-down-grey.svg"
          alt="{{getString "remove-results-toggle-alt"}}"
          class="remove-dash-results-toggle-img"
        />
      </div>
    </div>
  </div>
</div>