/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */
@import "../../tokens";

.hero {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  gap: $layout-sm;

  h1 {
    font: $text-title-lg;
  }

  h3 {
    font: $text-title-3xs;
  }

  > :first-child {
    flex-basis: 51%;
    flex-grow: 999;
  }

  > :last-child {
    flex-basis: 44%;
    flex-grow: 1;
  }

  .exposureScan {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: $layout-2xs;

    /* stylelint-disable-next-line selector-class-pattern */
    .fx-relay-email-input-wrapper {
      /* note: visual fix for the Relay add-on injected icon */
      max-width: 80%;
      position: relative;
      overflow: hidden;
    }

    input[type="email"] {
      width: 100%;
      padding: $spacing-md;
      border-radius: $border-radius-sm;
      border: 1px solid $color-grey-30;
    }
  }
}

.howItWorks {
  h2 {
    text-align: center;
  }

  h3 {
    font: $text-title-3xs;
  }

  ol {
    display: flex;
    flex-wrap: wrap;
    margin: $layout-sm 0;
    gap: $layout-sm;
    list-style: none;
    counter-reset: li;

    li {
      --img-h: 150px;
      position: relative;
      flex-grow: 1;
      flex-basis: calc((800px - 100%) * 999);
      padding: 0 $spacing-2xl;

      &::before {
        content: counter(li);
        counter-increment: li;
        position: absolute;
        top: calc(var(--img-h) - 16px);
        left: 0;
        line-height: $spacing-lg;
        width: $layout-xs;
        color: $color-purple-70;
        border: 1px solid;
        border-radius: 50%;
        text-align: center;
      }

      img {
        height: var(--img-h);
        margin: 0 auto $spacing-xl;
        object-fit: contain;
        object-position: bottom;
      }
    }
  }
}
.whyUseMonitor {
  h2,
  p {
    text-align: center;
  }

  h3 {
    font: $text-title-3xs;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    gap: $layout-sm;
    list-style: none;
    margin: $spacing-xl 0;

    li {
      flex-grow: 1;
      flex-basis: calc((800px - 100%) * 999);

      :first-child {
        display: flex;
        align-items: center;
        min-height: 40px;
        padding-left: 48px;
        margin: 0 0 $spacing-xl;
        background: no-repeat left center / 40px;
      }

      :last-child {
        margin: 0;
      }

      &:nth-of-type(1) {
        :first-child {
          background-image: url("../../../client/images/icon-shield.svg");
        }
      }

      &:nth-of-type(2) {
        :first-child {
          background-image: url("../../../client/images/icon-mask.svg");
        }
      }

      &:nth-of-type(3) {
        :first-child {
          background-image: url("../../../client/images/icon-megaphone.svg");
        }
      }
    }
  }
}

.safeWithUs {
  position: relative;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  gap: $layout-sm;
  color: white;

  &::before {
    content: "";
    position: absolute;
    left: min(0px, 50% - 50vw);
    top: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
    background: linear-gradient(74deg, #e53fb0 15%, #a260f7 121%);
  }

  :first-child {
    flex-basis: 47%;
    flex-grow: 999;
  }

  :last-child {
    flex: 1 1 48%;
    max-width: 539px;
    padding: $layout-sm 0;
  }
}

.topQuestionsAboutMonitor {
  display: flex;
  flex-flow: wrap;
  gap: $layout-sm;

  h3 {
    font: $text-title-3xs;
  }

  * {
    flex: 1 1 $screen-xs;
  }

  a {
    color: $color-informational;
  }

  details {
    padding: $spacing-md 0;
    border-bottom: 1px solid $color-grey-10;

    summary {
      position: relative;
      font: $text-title-2xs;
      padding-right: $layout-lg;
      list-style: none;
      cursor: pointer;

      &::-webkit-details-marker {
        /* Safari 16 */
        display: none;
      }

      &::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        background: url("../../../client/images/icon-plus.svg") no-repeat 50%
          50% / 30px 30px;
        width: 30px;
        height: 100%;
        transition: transform 0.2s ease-out;
      }
    }

    p {
      margin: $spacing-md 0 $spacing-sm;
      color: $color-grey-40;
    }
  }

  details[open] {
    summary {
      &::after {
        transform: rotate(45deg);
      }
    }

    p {
      animation: fade-in 0.5s ease-out;
    }
  }
}

.seeIfDataBreach {
  position: relative;
  color: white;
  text-align: center;
  padding: $layout-lg $layout-md;

  .hibpAttribution {
    margin: $layout-sm 0 0;
    font: $text-body-sm;
  }

  &::before {
    content: "";
    position: absolute;
    left: min(0px, 50% - 50vw);
    top: 0;
    width: 100vw;
    height: 100%;
    z-index: -1;
    background: linear-gradient(74deg, #e53fb0 15%, #a260f7 121%);
  }
}

.mobile .seeIfDataBreach .button {
  display: block;
}
