@import "../../../../../../tokens";

.emailListing {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: $spacing-md;

  div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    small {
      font: $text-body-sm;
      color: $color-grey-40;
    }

    .verificationCallout {
      display: flex;
      align-items: center;
      gap: $spacing-sm;
      padding: $spacing-sm $spacing-xs;
      color: $color-red-60;
      font-weight: 600;
    }

    .reverifyButton {
      display: flex;
      align-items: center;
      gap: $spacing-sm;
      padding: 0;
      text-decoration: underline;
      color: $color-blue-50;

      &:hover {
        color: $color-blue-70;
      }

      &:disabled {
        color: $color-grey-50;
        text-decoration: none;
        cursor: default;
      }
    }
  }

  button {
    flex: 0 0 auto;
    background-color: transparent;
    border-style: none;
    border-radius: $border-radius-sm;
    text-decoration: underline;
    font-weight: 600;
    cursor: pointer;

    &:hover {
      color: $color-blue-50;
    }
  }
}
