@use "../../../../../tokens";

.unSubscribeMonthlyReportContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: tokens.$spacing-lg tokens.$spacing-sm;
  gap: tokens.$spacing-lg;
  text-align: center;

  @media screen and (min-width: tokens.$screen-md) {
    max-width: tokens.$content-lg;
  }

  h1 {
    font: tokens.$text-title-md;
  }

  .cta {
    max-width: tokens.$content-xs;
  }
}

.tryAgain {
  color: tokens.$color-white;
  font-weight: 600;
  text-decoration: underline;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
}
