@use "../../../../../tokens";

.wrapper {
  display: flex;
  flex-direction: column;
  gap: tokens.$spacing-2xl;
  background-color: tokens.$color-grey-05;
  height: 100%;
  padding: tokens.$layout-lg tokens.$layout-2xl;

  @media screen and (max-width: tokens.$screen-lg) {
    padding: tokens.$spacing-lg;
  }
}

.header {
  font: tokens.$text-title-xs;
  font-weight: normal;

  b {
    font-weight: bold;
  }
}

.table {
  border: solid thin;
}

.col {
  border: solid thin;
}
