[data-partial='addEmail'] {
  text-align: center;
}

[data-partial='addEmail'] form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-lg);
}

[data-partial='addEmail'] a {
  color: var(--blue-50);
}

[data-partial='addEmail'] b {
  color: var(--purple-90);
}

[data-partial='addEmail'] p {
  margin: 0;
}

[data-partial='addEmail'] p.add-email-success {
  min-height: var(--form-height);
  animation: fade-in 0.5s ease-out;
}
