.all-breaches-front-matter {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-md);
  padding: var(--padding-xl) var(--padding-md);
}

.all-breaches-header {
  max-width: var(--max-width-p);
  text-align: center;
}

.all-breaches-filter {
  position: relative;
}

.all-breaches-filter label {
  position: absolute;
  display: flex;
  align-items: center;
  height: 2.5rem;
  left: var(--padding-sm);
}

.all-breaches-filter input {
  --search-icon-width: 16px;

  font-size: 1.25rem;
  height: 2.5rem;
  line-height: 2.5rem;
  padding-left: calc(
    var(--padding-sm) + var(--search-icon-width) + var(--padding-sm)
  );
  padding-right: var(--padding-sm);
  border: 1px solid var(--gray-20);
  border-radius: var(--border-radius);
}

.card-container {
  align-items: start;
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(var(--min-width), 1fr));
}

.breach-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px var(--gray-20);
  border-radius: calc(2 * var(--border-radius));
  text-decoration: none;
  height: 100%;
  border: 1px solid transparent;
  transition: border-color 200ms ease;
}

.breach-card:hover {
  border-color: var(--gray-10);
}

.breach-card h3 {
  display: flex;
  align-items: center;
  gap: var(--padding-md);
  padding: var(--padding-md) var(--padding-lg);
  margin: 0;
  font: var(--h4-font);
  font-size: 1rem;
  background-color: var(--gray-5);

  /* Matching `.breach-card` border-radius */
  border-top-left-radius: calc(2 * var(--border-radius));
  border-top-right-radius: calc(2 * var(--border-radius));
}

.breach-card .logo-wrapper {
  width: var(--padding-lg);
  text-align: right;
}

.breach-card .breach-logo {
  height: 1.75rem;
  display: inline-block;
}

.breach-card span.breach-logo {
  line-height: 1.75rem;
  width: 1.75rem;
  border-radius: 1.75rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.breach-card .breach-main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--padding-sm);
  padding: var(--padding-md);

  /* `.breach-card h3` padding-left + `.breach-card h3` gap + `.breach-card .logo-wrapper` width: */
  padding-left: calc(var(--padding-lg) + var(--padding-md) + var(--padding-lg));
}

.breach-card .breach-main dl {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.breach-card .breach-main > div {
  display: flex;
  flex-direction: column;
  gap: var(--padding-sm);
}

.breach-card .breach-main dt {
  color: var(--gray-50);
  font-size: 0.75rem;
}

.breach-card .breach-main dd {
  font-weight: 700;
}

.breach-card .breach-main .breach-detail-link {
  color: var(--blue-50);
  font-weight: 700;
  font-size: 0.875rem;
}

.breach-card .breach-main:hover .breach-detail-link {
  text-decoration: underline;
}
