/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.animation-container hr {
  margin: var(--padding-md) 0;
}

.animation-controls {
  align-items: flex-end;
  display: flex;
  justify-content: space-between;
}

.animation-canvas {
  background-color: var(--gray-5);
}
