/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

.breaches-header {
  width: min(720px, 100%);
  max-width: 100%;
  margin: auto;
  padding: var(--padding-md);
  border: 1px solid var(--gray-10);
  border-radius: var(--border-radius);
  text-align: center;
}

.breaches-header > h1 {
  font: var(--h3-font);
}

.breaches-header > figure {
  display: inline-flex;
  align-items: center;
  font-size: 0.75rem;
  margin: var(--padding-md) var(--padding-lg);
  vertical-align: middle;
  text-align: left;
}

.breaches-header > figure:nth-of-type(2) {
  flex-direction: column;
  text-align: center;
}

.breaches-header figcaption > * {
  display: block;
}

.breaches-header figcaption > strong {
  white-space: nowrap;
}

.breaches-header .email-stats button[data-dialog] {
  color: var(--blue-50);
  margin: auto;
}

.breaches-filter {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: min(640px, 100%);
  margin: 0 auto;
  border: none;
  font-size: 0.75rem;
}

.breaches-filter[hidden] {
  display: none;
}

.breaches-filter output {
  display: block;
  font: var(--h2-font);
}

.breaches-filter input[type='radio'] {
  display: none;
}

.breaches-filter label {
  padding: var(--padding-sm) 0;
  color: var(--gray-40);
  border-bottom: 2px solid var(--gray-20);
  text-align: center;
  cursor: pointer;
}

.breaches-filter input[type='radio']:checked + label {
  color: var(--purple-90);
  border-color: currentcolor;
  transition: border-color 0.3s ease-out;
}

.breaches-table {
  margin-top: 0;
}

.breaches-table details {
  box-shadow: 0 0 0 1px var(--gray-10); /* use shadow to avoid extra width – disrupts responsive sync between rows */
  border-radius: var(--border-radius);
  margin: var(--padding-md) 0;
  opacity: 0;
  animation: fade-in 0.5s var(--delay) ease-out forwards;
}

.breaches-table header,
.breaches-table summary {
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  align-items: baseline;
  gap: var(--gap);
}

.breaches-table header {
  height: calc(1.125rem + var(--padding-sm) * 2);
  padding: var(--padding-sm) var(--padding-md);
  padding-right: var(--padding-xl);
  border-bottom: 1px solid var(--gray-10);
  font-size: 0.75rem;
  font-weight: bold;
}

.breaches-table summary {
  position: relative;
  height: calc(1.5rem + var(--padding-md) * 2); /* required to hide cells that don't fit */
  padding: var(--padding-md);
  padding-right: var(--padding-xl);
  list-style: none;
  cursor: pointer;
}

.breaches-table header > *,
.breaches-table summary > * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.breaches-table header > :nth-child(1),
.breaches-table summary > :nth-child(1) {
  flex: 1 1 100px;
  font-weight: bold;
}

.breaches-table header > :nth-child(2),
.breaches-table summary > :nth-child(2) {
  flex: 2 1 200px;
}

.breaches-table header > :nth-child(3),
.breaches-table summary > :nth-child(3) {
  flex: 1 0 80px;
  display: flex;
  justify-content: flex-end;
}

.breaches-table header > :nth-child(4),
.breaches-table summary > :nth-child(4) {
  flex-basis: 100px;
}

.breaches-table summary > :nth-child(2),
.breaches-table summary > :nth-child(3),
.breaches-table summary > :nth-child(4) {
  font-size: clamp(0.75rem, 1.25vw, 1rem);
}

.mobile .breaches-table header > :nth-child(2),
.mobile .breaches-table summary > :nth-child(2) {
  display: none;
}

.breaches-table summary::-webkit-details-marker {
  display: none; /* Safari 16 */
}

.breaches-table summary::after {
  content: '';
  position: absolute;
  top: 0;
  right: var(--padding-md);
  background: url('../../images/icon-chevron-down.svg') no-repeat 0% 50%/16px 16px;
  width: 16px;
  height: 100%;
  transition: transform 0.2s ease-out;
}

.breaches-table details[open] > summary::after {
  transform: rotate(-180deg);
}

.resolution-badge {
  display: inline-block;
  padding: var(--padding-xs) var(--padding-md);
  border-radius: var(--border-radius);
  font-weight: 600;

  /* Ensure the badge is not taller than the rest of the text in a `summary`,
     so that everything remains vertically-aligned, and the badge still
     disappears when getting flex-wrapped on small screens.
  */
  font-size: 0.6875rem;
}

.resolution-badge.is-active {
  /* #99bff2 is var(--blue-50) with an alpha value of 0.4 */
  background-color: #99bff2;
  color: var(--blue-90);
}

.resolution-badge.is-resolved {
  background-color: var(--green-05);
  color: var(--green-90);
}

.breach-row[data-status='resolved'] .resolution-badge.is-active {
  display: none;
}

.breach-row[data-status='unresolved'] .resolution-badge.is-resolved {
  display: none;
}

.breaches-table details > article {
  padding: var(--padding-md);
  border-top: 1px solid var(--gray-10);
  font-size: 0.875rem;
}

.breaches-table details > article a {
  text-decoration: none; /* TODO: remove this when anchor tags are fixed with localization changes */
}

.breaches-table details > article p:first-of-type {
  margin-top: 0;
}

.breaches-table details .resolve-list {
  list-style-position: outside;
  margin-left: 1rem;
  padding-left: 0;
}

.breaches-table details .resolve-list-item {
  position: relative;
  padding-right: calc(var(--padding-lg) * 2 + var(--checkbox-w));
}

.breaches-table details .resolve-list-item input {
  position: absolute;
  right: var(--padding-lg);
  accent-color: var(--green-80);
}

.breaches-table details .resolve-list-item input:checked + p {
  text-decoration-line: line-through;
  opacity: 0.33;
  transition: opacity 0.5s;
}

.breaches-table details .resolve-list-item i {
  color: var(--gray-40);
}

.breaches-table details[open] > article {
  animation: fade-in 0.5s ease-out;
}

.zero-state {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-lg);
  text-align: center;
}

.zero-state h2 {
  font: var(--h3-font);
}

.zero-state p {
  max-width: var(--max-width-p);
}

.zero-state .add-email-cta > span:first-of-type {
  display: block;
  padding-bottom: var(--padding-md);
}
