.breach-rows details {
  margin: var(--padding-md) 0;
  padding: var(--padding-md);
  border: 1px solid var(--gray-10);
  border-radius: var(--border-radius);
}

.breach-rows details > summary {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  height: 1.5rem; /* required to hide cells that don't fit */
  align-items: center;
  gap: var(--gap);
  padding-right: var(--padding-xl);
  list-style: none;
  cursor: pointer;
}

.breach-rows details > summary > .company {
  flex: 2 0 100px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.breach-rows details > summary > .data-types {
  flex: 4 1 100px;
  font-size: clamp(0.75rem, 1.5vw, 1rem);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mobile .breach-rows details > summary > .data-types {
  display: none;
}

.breach-rows details > summary > .date {
  flex: 1;
  font-size: clamp(0.75rem, 1.5vw, 1rem);
  white-space: nowrap;
}

.breach-rows details > summary::-webkit-details-marker {
  /* Safari 16 */
  display: none;
}

.breach-rows details > summary::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: url('../../images/icon-chevron-down.svg') no-repeat 50% 50%/16px 16px;
  width: 16px;
  height: 100%;
  transition: transform 0.2s ease-out;
}

.breach-rows details[open] > summary::after {
  transform: rotate(-180deg);
}

.breach-rows details > div {
  margin: var(--padding-md) 0 var(--padding-sm);
  color: var(--gray-40);
}

.breach-rows details[open] > div {
  animation: fade-in 0.5s ease-out;
}
