[data-partial='cancelSubscriptionSurvey'] {
  text-align: center;
}

[data-partial='cancelSubscriptionSurvey'] header, 
[data-partial='cancelSubscriptionSurvey'] form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

[data-partial='cancelSubscriptionSurvey'] form {
  padding: 0 var(--padding-sm);
  margin: 0 auto;
  gap: var(--padding-md);
  max-width: 400px;
}

[data-partial='cancelSubscriptionSurvey'] textarea {
  width: 100%;
  font-family: var(--body-font);
  padding: var(--padding-sm);
  height: 100px;
  font-size: 0.8rem;
}

[data-partial='cancelSubscriptionSurvey'] .warning {
  font-size: 0.8rem;
}

[data-partial='cancelSubscriptionSurvey'] a {
  color: var(--blue-50);
}

[data-partial='cancelSubscriptionSurvey'] p {
  margin: 0;
}
