.error-page {
  background-image: url('/images/error-bg.svg');
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-xl);
}

.error-page h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--padding-sm);
}

.error-page .error-code {
  font: var(--h3-font);
  font-weight: bold;
  font-size: 10rem;
  color: var(--purple-60);
  text-shadow: 0.75rem 0 0 var(--purple-20);
}
