@keyframes appear {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

#exposure-scan-loading {
  animation-name: appear;
  animation-iteration-count: 1;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: both;
}

#exposure-scan-loading,
#exposure-scan-error {
  padding: var(--padding-lg);
}

.exposure-scan-results:not([hidden]) {
  display: flex;
  flex-direction: column;
  gap: var(--padding-xl);
  padding: var(--padding-md);
}

.exposure-scan-hero {
  display: flex;
  align-items: center;
  gap: var(--gap);
}

.mobile .exposure-scan-hero img {
  display: none;
}

.exposure-scan-hero-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap);
  max-width: 100%;
}

.exposure-scan-hero-content > * {
  margin: 0;
  padding: 0;
}

.exposure-scan-hero h1 {
  font: var(--h1-font);
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.exposure-scan-hero .breach-result-email {
  /* The `display: block` ensures that the ellipsis has the same purple colour. */
  display: block;
  color: var(--purple-50);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.exposure-scan-hero .breach-result-count {
  color: var(--purple-50);
}

.exposure-scan-breaches {
  align-items: flex-start;
  display: grid;
  grid-gap: var(--gap);
  grid-template-columns: repeat(auto-fit, minmax(var(--min-width), 1fr));
}

.exposure-scan-breach {
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 8px var(--gray-20);
  border-radius: calc(2 * var(--border-radius));
  text-decoration: none;
  height: auto;
}

#exposure-scan-results-none .exposure-scan-breach {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--padding-md);
  padding: var(--padding-xl) var(--padding-xl);
  font-weight: 700;
  box-shadow: none;
}

@media screen and (prefers-reduced-motion: no-preference) {
  @keyframes bounce-in {
    from {
      transform: scale(1);
    }

    80% {
      transform: scale(1.05);
    }

    to {
      transform: scale(1);
    }
  }

  #exposure-scan-results-overflow .exposure-scan-breach,
  #exposure-scan-results-some .exposure-scan-breach {
    animation-name: appear, bounce-in;
    animation-fill-mode: both;
    animation-iteration-count: 1;
    animation-duration: 500ms, 300ms;
    animation-timing-function: ease-in;
  }

  .exposure-scan-breach:nth-child(1) {
    animation-delay: calc(1 * 50ms);
  }

  .exposure-scan-breach:nth-child(2) {
    animation-delay: calc(2 * 50ms);
  }

  .exposure-scan-breach:nth-child(3) {
    animation-delay: calc(3 * 50ms);
  }

  .exposure-scan-breach:nth-child(4) {
    animation-delay: calc(4 * 50ms);
  }

  .exposure-scan-breach:nth-child(5) {
    animation-delay: calc(5 * 50ms);
  }

  .exposure-scan-breach:nth-child(6) {
    animation-delay: calc(6 * 50ms);
  }
}

.exposure-scan-breach h3 {
  display: flex;
  align-items: center;
  gap: var(--padding-md);
  padding: var(--padding-md) var(--padding-lg);
  margin: 0;
  font: var(--h4-font);
  font-size: 1rem;
  background-color: var(--gray-5);

  /* Matching `.exposure-scan-breach` border-radius */
  border-top-left-radius: calc(2 * var(--border-radius));
  border-top-right-radius: calc(2 * var(--border-radius));
}

.exposure-scan-breach h3 .exposure-scan-breach-company-logo {
  width: var(--padding-lg);
  text-align: right;
}

.exposure-scan-breach h3 .breach-logo {
  height: 1.75rem;
  display: inline-block;
}

.exposure-scan-breach h3 span.breach-logo {
  line-height: 1.75rem;
  width: 1.75rem;
  border-radius: 1.75rem;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.exposure-scan-breach-main {
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--padding-sm);
  padding: var(--padding-md);

  /* `.exposure-scan-breach h3` padding-left + `.exposure-scan-breach h3` gap + `.exposure-scan-breach .exposure-scan-breach-company-logo width: */
  padding-left: calc(var(--padding-lg) + var(--padding-md) + var(--padding-lg));
}

.exposure-scan-breach-main dl {
  display: flex;
  flex-direction: column;
  gap: var(--gap);
}

.exposure-scan-breach-main > div {
  display: flex;
  flex-direction: column;
  gap: var(--padding-sm);
}

.exposure-scan-breach-main dt {
  color: var(--gray-50);
  font-size: 0.75rem;
}

.exposure-scan-breach-main dd {
  font-weight: 700;
}

.exposure-scan-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: var(--gap);
}

.exposure-scan-footer .hibp-attribution {
  color: var(--gray-40);
}

.exposure-scan-footer .hibp-attribution a {
  font-weight: 700;
  text-decoration: none;
}

.exposure-scan-footer .hibp-attribution a:hover {
  text-decoration: underline;
}
