/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

[data-partial='landing'] h3 {
  font: var(--h4-font);
}

.hero {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  gap: var(--gap);
}

.hero > :first-child {
  flex-basis: 51%;
  flex-grow: 999;
}

.hero > :last-child {
  flex-basis: 44%;
  flex-grow: 1;
}

.mobile .hero .button {
  display: block;
}

.hero form.exposure-scan {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: var(--padding-md);
}

.hero form.exposure-scan input[type='email'] {
  width: 100%;
  padding: var(--padding-sm) var(--padding-md);
  border-radius: var(--border-radius);
  border: 1px solid var(--gray-30);
}

.why-use-monitor > h2,
.why-use-monitor > p {
  text-align: center;
}

.why-use-monitor > ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  list-style: none;
  margin: var(--padding-lg) 0;
}

.why-use-monitor > ul > li {
  flex-grow: 1;
  flex-basis: calc((800px - 100%) * 999);
}

.why-use-monitor > ul > li > :first-child {
  display: flex;
  align-items: center;
  min-height: 40px;
  padding-left: 48px;
  margin: 0 0 var(--padding-md);
  background: no-repeat left center / 40px;
}

.why-use-monitor > ul > li > :last-child {
  margin: 0;
}

.why-use-monitor > ul > li:nth-of-type(1) > :first-child {
  background-image: url('../../images/icon-shield.svg');
}

.why-use-monitor > ul > li:nth-of-type(2) > :first-child {
  background-image: url('../../images/icon-mask.svg');
}

.why-use-monitor > ul > li:nth-of-type(3) > :first-child {
  background-image: url('../../images/icon-megaphone.svg');
}

.how-it-works > h2 {
  text-align: center;
}

.how-it-works > ol {
  display: flex;
  flex-wrap: wrap;
  margin: var(--padding-lg) 0;
  gap: var(--gap);
  list-style: none;
  counter-reset: li;
}

.how-it-works > ol > li {
  --img-h: 150px;

  position: relative;
  flex-grow: 1;
  flex-basis: calc((800px - 100%) * 999);
  padding: 0 48px;
}

.how-it-works > ol > li::before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: calc(var(--img-h) - 16px);
  left: 0;
  line-height: 24px;
  width: 24px;
  color: var(--purple-70);
  border: 1px solid;
  border-radius: 50%;
  text-align: center;
}

.how-it-works > ol > li > img {
  height: var(--img-h);
  margin: 0 auto var(--padding-lg);
  object-fit: contain;
  object-position: bottom;
}

.safe-with-us {
  position: relative;
  display: flex;
  flex-flow: wrap;
  align-items: center;
  justify-content: center;
  gap: var(--gap);
  color: white;
}

.safe-with-us::before {
  content: '';
  position: absolute;
  left: min(0px, 50% - 50vw);
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
  background: linear-gradient(74deg, #e53fb0 15%, #a260f7 121%);
}

.safe-with-us > :first-child {
  flex-basis: 47%;
  flex-grow: 999;
}

.safe-with-us > :last-child {
  flex: 1 1 48%;
  max-width: 539px;
  padding: var(--padding-lg) 0;
}

.top-questions-about-monitor {
  display: flex;
  flex-flow: wrap;
  gap: var(--gap);
}

.top-questions-about-monitor > * {
  flex: 1 1 var(--min-width);
}

.top-questions-about-monitor a {
  color: var(--blue-50);
}

.top-questions-about-monitor details {
  padding: var(--padding-md) 0;
  border-bottom: 1px solid var(--gray-10);
}

.top-questions-about-monitor details > summary {
  position: relative;
  font-size: 1.25rem;
  padding-right: var(--padding-xl);
  list-style: none;
  cursor: pointer;
}

.top-questions-about-monitor details > summary::-webkit-details-marker {
  /* Safari 16 */
  display: none;
}

.top-questions-about-monitor details > summary::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  background: url('../../images/icon-plus.svg') no-repeat 50% 50%/30px 30px;
  width: 30px;
  height: 100%;
  transition: transform 0.2s ease-out;
}

.top-questions-about-monitor details[open] > summary::after {
  transform: rotate(45deg);
}

.top-questions-about-monitor details > p {
  margin: var(--padding-md) 0 var(--padding-sm);
  color: var(--gray-40);
}

.top-questions-about-monitor details[open] > p {
  animation: fade-in 0.5s ease-out;
}

.see-if-data-breach {
  position: relative;
  color: white;
  text-align: center;
  padding: var(--padding-xl) var(--padding-lg);
}

.see-if-data-breach::before {
  content: '';
  position: absolute;
  left: min(0px, 50% - 50vw);
  top: 0;
  width: 100vw;
  height: 100%;
  z-index: -1;
  background: linear-gradient(74deg, #e53fb0 15%, #a260f7 121%);
}

.mobile .see-if-data-breach .button {
  display: block;
}
