.pie-chart {
  align-items: center;
  display: flex;
  gap: var(--padding-md);
}

.pie-chart-title {
  margin: 0 0 var(--padding-sm) 0;
}

.pie-chart-item {
  align-items: center;
  color: var(--gray-40);
  display: flex;
  gap: var(--padding-sm);
  position: relative;
}

.pie-chart-item::before {
  color: inherit;
  content: '\2B24'; /* Black Large Circle */
  font-size: 0.65em;
  padding-bottom: 0.175em;
}

.pie-chart-wrapper {
  height: 150px;
  width: 150px;
}

.pie-chart-wrapper svg {
  border-radius: 50%;
  height: 100%;
  transform: rotate(-90deg);
  width: 100%;
}

.pie-chart-wrapper circle {
  cx: 50%;
  cy: 50%;
  fill: none;
  r: 50%;
}

.pie-chart-wrapper text {
  font-family: metropolis, sans-serif;
  font-weight: 700;
  text-anchor: middle;
  transform: rotate(90deg);
  transform-origin: center;
}
