.pie-chart {
  align-items: center;
  border: 1px solid red;
  display: flex;
  gap: var(--padding-md);
}

.pie-chart svg {
  display: block;
}

.pie-chart svg .chart-percentage {
  font-family: metropolis, sans-serif;
  font-weight: 700;
}

.chart-wrapper {
  display: flex;
  min-height: 150px;
  min-width: 150px;
  justify-content: center;
}

.chart-title {
  margin: 0 0 var(--padding-xs) 0;
}

.chart-list {
}

.chart-list-item {
  align-items: center;
  color: var(--gray-40);
  display: flex;
  gap: var(--padding-sm);
  position: relative;
}

.chart-list-item::before {
  color: inherit;
  content: '\2B24'; /* Black Large Circle */
  font-size: 0.65em;
  padding-bottom: 0.175em;
}

.test-chart {
  height: 150px;
  position: relative;
  width: 150px;
}

.test-chart svg {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: rotate(-90deg);
}

.test-chart svg text {
  font-family: metropolis, sans-serif;
  font-weight: 700;
  text-anchor: middle;
  transform: rotate(90deg);
  transform-origin: center;
}

.test-chart circle {
  fill: none;
  r: 50%;
  cx: 50%;
  cy: 50%;
}
