.settings {
  display: flex;
  flex-direction: row;
  padding: var(--padding-lg);
}

.settings-title,
.settings-section-title {
  color: black;
}

.settings-title {
  flex: 1;
}

.settings-section-title {
  margin: var(--padding-sm) 0 var(--padding-md) 0;
}

.settings-content {
  color: var(--gray-40);
  font-size: 0.875rem;
  flex: 2;
}

.settings-content > section {
  padding: var(--padding-md) 0 var(--padding-lg) 0;
}

.settings-radio-input {
  align-items: center;
  display: flex;
  gap: var(--padding-sm);
}

.settings-radio-input input[type='radio'] {
  border-radius: 50%;
  border: 2px solid var(--purple-90);
  height: 1.2rem;
  min-width: 1.2rem;
  outline: none;
  width: 1.2rem;
  -webkit-appearance: none;
}

.settings-radio-input input[type='radio']::before {
  box-sizing: border-box;
  background: none;
  border: 2px solid white;
  border-radius: 50%;
  content: '';
  display: block;
  height: 100%;
  width: 100%;
}

.settings-radio-input input[type='radio']:checked::before {
  background: var(--purple-90);
}

.settings-email-list {
  margin-top: var(--padding-lg);
}

.settings-alert-options,
.settings-email-list,
.settings-email-item {
  display: flex;
  flex-direction: column;
  gap: var(--padding-md);
  position: relative;
}

.settings-alert-options {
  margin-top: var(--padding-lg);
}

.settings-email-item {
  border: 1px solid var(--gray-10);
  border-radius: var(--border-radius);
  gap: var(--padding-sm);
  padding: calc(var(--padding-lg) * 0.75);
  padding-right: var(--padding-lg);
}

.settings-email-item strong {
  color: black;
  font: 600 1em/1.2 inter, sans-serif;
}

.settings-email-remove-button {
  border-radius: var(--border-radius);
  padding: 0.75em;
  position: absolute;
  right: var(--padding-sm);
  top: 50%;
  transition: background-color 150ms ease;
  transform: translateY(-50%);
}

.settings-email-remove-button:hover {
  background-color: var(--gray-5);
}

.settings-email-modal {
  height: 75vh;
  left: 50%;
  padding: 10px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;
}

.settings-email-modal::backdrop {
  background: rgba(0 0 0 / 0.7);
}

.verification-required,
.settings-resend-email,
.settings-link-fxa {
  color: var(--blue-50);
  font: 600 1em/1.2 inter, sans-serif;
}

.verification-required {
  background-image: url('/images/icon-error.svg');
  background-position: -0.2em 50%;
  background-repeat: no-repeat;
  color: var(--red-60);
  padding-left: 1.75em;
}

.settings-resend-email {
  margin-top: var(--padding-md);
}

button.primary.settings-add-email-button {
  padding-left: var(--padding-lg);
  margin-top: var(--padding-lg);
  position: relative;
}

.settings-add-email-button::before {
  content: '+';
  position: absolute;
  display: block;
  font-size: 2em;
  left: var(--padding-sm);
  line-height: 0.35em;
  top: 50%;
  transform: translateY(-50%);
}

.mobile .settings {
  flex-direction: column;
}
