* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  width: 100vw;
  color: rgba(254, 254, 254, 1);
  font-family: 'Fira Sans', helvetica, arial, sans-serif;
  font-weight: 400;
  box-sizing: border-box;
  font-size: 100%;
  line-height: 1.5;
  -webkit-overflow-scrolling: touch;

  --roundedCorners: 2px;
  --gap: 20px;
  --columnSpacing: 60px;
  --grey90: #0c0c0d;
  --grey90a1: rgba(12, 12, 13, 0.1);
  --grey90a3: rgba(12, 12, 13, 0.3);
  --grey90a4: rgba(12, 12, 13, 0.4);
  --grey90a5: rgba(12, 12, 13, 0.5);
  --grey90a6: rgba(12, 12, 13, 0.6);
  --blue40: #45a1ff;
  --blue50: #0a84ff;
  --blue60: #0060df;
  --blue70: #003eaa;
  --blue80: #002275;
  --red50: #ff0039;
  --red60: #d70022;
  --red70: #a4000f;
  --green60: #12bc00;
  --green70: #058b00;
}

body {
  position: relative;
  background: #07081e;
  background-image:
    url("/img/wave-header.svg"),
    linear-gradient(
      177deg,
      #002275,
      #23113d 95.11%
    );
  background-repeat: no-repeat;
  background-position: 0 -5%, center center;
  background-attachment: scroll, fixed;
  background-size: contain, cover;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-size: 17px;
  overflow-y: scroll;
  overflow-x: hidden;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.section-headline {
  line-height: 1.3;
  font-size: 1.9375rem;
  display: block;
  margin-bottom: calc(var(--gap) / 2);
}

.section-sub-head {
  font-size: 17px;
  font-weight: 500;
}

h1,
.section-headline {
  letter-spacing: -0.77px;
}

.secondary-title {
  margin-bottom: 10px;
  font-size: 20px;
}

h1 {
  white-space: nowrap;
}

div,
form,
h1,
h2,
h3,
h4,
h5,
h6,
li,
ol,
p,
ul {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  line-height: inherit;
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  transition: opacity 0.15s cubic-bezier(0.07, 0.95, 0, 1);
}

a:hover {
  opacity: 0.8;
  transition: opacity 0.15s cubic-bezier(0.07, 0.95, 0, 1);
}

a img {
  border: 0;
}

img {
  user-select: none;
  -webkit-user-select: none;
  display: inline-block;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

.nowrap {
  white-space: nowrap;
}

/* Disable pointer events on elements nested inside analytics triggering links */

ul.social-media-sharing-buttons span,
footer img {
  pointer-events: none;
}

/* Flexbox Content Wrappers */

.section-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: var(--columnSpacing);
  width: 100%;
  max-width: 1050px;
  margin: auto;
  overflow: hidden;
}

.wrap-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.whole {
  margin: auto;
  flex: 0 0 calc(100% - var(--columnSpacing));
}

.fourth {
  flex: 1 1 calc(25% - var(--columnSpacing));
}

.three-fourths {
  flex: 1 1 calc(75% - var(--columnSpacing));
}

.third {
  flex: 1 1 calc(33.3% - var(--columnSpacing));
  min-width: 200px;
  max-width: 300px;
}

.two-thirds {
  flex: 1 1 calc(66.7% - var(--columnSpacing));
  display: flex;
}

.half {
  flex: 1 1 calc(50% - var(--columnSpacing));
  min-width: 300px;
  max-width: 500px;
}

.fourth,
.third,
.two-thirds,
.half,
.three-fourths {
  margin: calc(var(--columnSpacing) / 2);
}

.whole,
.half,
.third,
.two-thirds,
.fourth {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.banner {
  background-color: rgba(0, 0, 0, 0.2);
}

.drop-shadow {
  background-color: rgba(255, 255, 255, 0.01);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
}

.hide {
  display: none !important;
}

/* FXA_ENABLED */

.row-wrapper {
  display: flex;
  padding: calc(var(--columnSpacing) / 2) var(--columnSpacing) 0;
  max-width: 1050px;
  justify-content: space-between;
  flex-wrap: wrap-reverse;
  margin: auto;
}

header .section-wrapper {
  padding-top: 0;
  padding-bottom: 0;
  max-width: 100%;
  justify-content: space-between;
}

.stack {
  margin: calc(var(--columnSpacing) / 4)  calc(var(--columnSpacing) / 2);
  align-items: center;
  flex: 1 1 auto;
}

header .firefox-monitor-logo {
  justify-content: flex-start;
  display: inline-flex;
}

.login-btn.transparent-button {
  font-size: 13px;
  width: auto;
  min-height: auto;
  border-radius: 2px;
}

.global-navigation {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.avatar-wrapper {
  border-radius: 50%;
  display: inline-flex;
  position: relative;
}

.avatar-wrapper::after {
  content: '';
  display: inline-block;
  width: 13px;
  height: 13px;
  background-image: url("/img/caret.svg");
  background-size: contain;
  position: absolute;
  top: 0;
  bottom: 0;
  right: -20px;
  margin: auto;
}

.avatar-wrapper img {
  width: 40px;
  height: 40px;
}

span.user-email {
  font-size: 14px;
  margin-right: calc(var(--gap) / 2);
}

.fxa-user-info {
  position: relative;
  display: flex;
  align-items: center;
  padding-right: 20px;
}

.fxa-menu {
  display: hidden;
  position: absolute;
  right: 0;
  top: 100%;
  width: 100%;
  text-align: right;
  padding-top: calc(var(--gap) / 1.25);
  visibility: hidden;
}

.fxa-user-info:hover .fxa-menu {
  visibility: visible;
  padding-top: var(--gap);
}

.fxa-user-info .fxa-menu a {
  color: rgba(0, 0, 0, 0);
  font-size: 13px;
  text-align: left;
  width: 100%;
  pointer-events: none;
  padding: 5px 0;
  display: inline-block;
}

.fxa-user-info:hover .fxa-menu a {
  color: rgba(0, 0, 0, 0.9);
  pointer-events: all;
}

.fxa-links::before {
  background: rgba(255, 255, 255, 0.5);
  top: -4px;
  right: 14%;
  content: '';
  height: 10px;
  width: 10px;
  position: absolute;
  transform: rotate(45deg);
  z-index: 2;
}

.fxa-user-info:hover .fxa-links,
.fxa-user-info:hover .fxa-links::before {
  background-color: rgba(255, 255, 255, 1);
}

.fxa-links {
  background-color: rgba(255, 255, 255, 0);
  padding: calc(var(--gap) / 2) var(--gap);
  min-width: 200px;
  border-radius: 2px;
  z-index: 2;
  position: relative;
}

.fxa-menu,
.fxa-links,
.fxa-user-info:hover .fxa-menu,
.fxa-user-info:hover .fxa-links,
.fxa-user-info .fxa-menu a,
.fxa-user-info:hover .fxa-menu a {
  transition: all 0.125s ease;
}

.fxa-user-info .fxa-links::before,
.fxa-user-info:hover .fxa-links::before {
  transition: all 0.1s ease;
}

/* FORMS */

form,
.form-group {
  width: 100%;
}

.modal-container.fxa-enabled .modal-content-wrap button,
button.internal-link,
button.close-modal,
input.transparent-button,
input[type="email"],
input[type="submit"],
input::placeholder {
  font-size: 15px;
}

input[type="submit"],
input[type="email"] {
  height: 45px;
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-family: inherit;
  border-radius: var(--roundedCorners);
}

input[type="submit"] {
  color: rgba(255, 255, 255, 1);
  font-weight: 500;
  line-height: 40px;
  border: 1px solid rgba(255, 255, 255, 0);
  cursor: pointer;
}

input[type="email"] {
  border: 1px solid var(--grey90a3);
  background-color: #fefefe;
  color: var(--grey90);
  overflow: visible;
  text-indent: 8px;
}

input:focus,
button:focus,
.button:focus,
.radio-button-group:focus {
  border: 1px solid var(--blue50);
  box-shadow: 0 0 0 1px #0a84ff, 0 0 0 4px rgba(10, 132, 255, 0.3);
  outline: none;
}

input[type="email"]:hover,
input[type="password"]:hover,
input[type="text"]:hover {
  border: 1px solid var(--grey90a4);
}

.input-group {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
}

.input-group-button {
  margin-top: calc(var(--gap) / 2);
  position: relative;
}

input:-webkit-autofill {
  -webkit-box-shadow: inset 0 0 0 9999px #fff;
}

/* RADIO BUTTONS  */

input[type="radio"] {
  height: 0;
  width: 0;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

.radio-button-group {
  border: 1px solid rgba(255, 255, 255, 0);
  margin-top: var(--gap);
  margin-bottom: var(--gap);
  min-height: 30px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
}

.radio-button-group label {
  width: 100%;
  line-height: 1.2;
  font-size: 15px;
  padding-left: 30px;
  cursor: pointer;
  user-select: none;
}

span.radio-dot {
  height: 19px;
  width: 19px;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(255, 255, 255, 0);
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  pointer-events: none;
}

.radio-button-group:hover span.radio-dot,
.radio-button-group:focus span.radio-dot {
  background-color: rgba(255, 255, 255, 0.5);
  border: 4px solid rgba(255, 255, 255, 0.4);
}

.radio-button-group input:checked ~ .radio-dot {
  background-color: rgba(255, 255, 255, 0.3);
  border: 5px solid rgba(255, 255, 255, 1);
}

.radio-button-group:focus label,
.radio-button-group:hover label {
  color: rgba(255, 255, 255, 1);
}

.radio-button-group .radio-dot,
.radio-button-group:hover .radio-dot,
.radio-button-group:focus .radio-dot,
.radio-button-group label,
.radio-button-group:hover label,
.radio-button-group:focus label {
  transition: color 0.1s ease, background-color 0.1s ease, border 0.1s ease;
}

/* CHECKBOXES */

input[type="checkbox"] {
  flex: 0 0 auto;
  width: 20px;
  height: 20px;
  pointer-events: none;
  border: 1px solid var(--grey90a3);
  border-radius: var(--roundedCorners);
  margin: 12px 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("/img/checkbox-check.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 70%;
}

.checkbox-group {
  align-items: flex-start;
  display: flex;
  pointer-events: all;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: var(--blue60);
  border: 1px solid var(--blue60);
}

.checkbox-group:hover input[type="checkbox"] {
  border-color: var(--grey90a4);
}

.checkbox-group:hover input[type="checkbox"]:checked {
  border-color: 1px solid var(--blue60);
}

.checkbox-group label {
  font-size: 13px;
  margin: 12px;
  cursor: pointer;
  pointer-events: none;
  white-space: normal;
  text-align: left;
  color: var(--grey90a6);
}

/* BUTTONS */

button,
a.button {
  width: 100%;
  line-height: 1.2;
  min-height: 55px;
  min-width: 150px;
  padding: 10px;
  -webkit-appearance: none;
  border: none;
  border-radius: var(--roundedCorners);
  cursor: pointer;
  text-align: center;
  text-indent: 0;
  white-space: normal;
  background-color: var(--green60);
  color: rgba(254, 254, 254, 1);
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
}

a.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button:hover,
.button:hover {
  background-color: var(--green70);
}

button[type="button"],
button[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  border-radius: var(--roundedCorners);
}

button:focus::-moz-focus-inner,
input:focus::-moz-focus-inner {
  border: 0;
}

.transparent-button,
input[type="submit"].transparent-button {
  background-color: rgba(255, 255, 255, 0);
  border: 2px solid rgba(255, 255, 255, 1);
  color: rgba(255, 255, 255, 1);
  border-radius: 0;
}

.transparent-button:hover,
input[type="submit"].transparent-button:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border: 2px solid rgba(255, 255, 255, 1);
}

button.transparent-button:active,
input[type="submit"].transparent-button:active {
  background-color: rgba(0, 0, 0, 0.08) !important;
}

.blue-button {
  background-color: var(--blue60);
}

.blue-button:hover {
  background-color: var(--blue70);
}

/* /////// ERROR MESSAGES */

.form-group .error-message {
  display: block;
  background: var(--red60);
  border-radius: var(--roundedCorners);
  color: #fff;
  padding: 5px 12px;
  position: absolute;
  bottom: -44px;
  left: -1px;
  z-index: 3;
  font-size: 13px;
  opacity: 0;
  pointer-events: none;
}

.form-group .error-message::before {
  opacity: 0;
  background: #d70022;
  top: -7px;
  content: '.';
  height: 16px;
  position: absolute;
  text-indent: -999px;
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  white-space: nowrap;
  width: 16px;
  z-index: -1;
}

/* INVALID FORM STYLING */

.form-group.invalid .error-message,
.form-group.invalid .error-message::before {
  opacity: 1;
}

.form-group.invalid input[type="email"] {
  border: 1px solid var(--red50);
  box-shadow: 0 0 0 1px rgba(255, 0, 55, 0.514), 0 0 0 4px rgba(255, 0, 55, 0.3);
}

.form-group.invalid input:focus {
  outline: none;
}

/* // FORM-LOADING  */

.form-group img {
  z-index: 1;
  position: absolute;
  left: 12px;
  margin: auto;
  top: 0;
  bottom: 0;
  opacity: 1;
  pointer-events: none;
}

.form-group .loader {
  visibility: hidden;
  height: 0;
  width: 0;
  opacity: 0;
  left: 0;
  right: 0;
}

.form-group.loading-data .button,
.form-group.loading-data input::placeholder,
.form-group.loading-data input {
  color: rgba(0, 0, 0, 0) !important;
}

.form-group.loading-data .loader {
  display: block;
  opacity: 0.58;
  width: 25px;
  height: auto;
  visibility: visible;
}

.form-group.loading-data .search-icon {
  opacity: 0;
}

/* ///////// PRIVACY POLICY  */

.privacy-policy {
  display: block;
  font-size: 13px;
  margin-top: calc(var(--gap) / 2);
}

/* typography */

h1,
h2,
h3,
h4,
h5,
.section-headline {
  font-weight: 300;
}

.demi {
  font-weight: 400;
}

.medium {
  font-weight: 500;
}

.bold {
  font-weight: 600;
}

/* internal link styling  */

.internal-link {
  color: var(--blue60);
}

.internal-link:hover {
  text-decoration: underline;
}

.internal-link:active {
  color: var(--blue70);
}

.internal-link:focus {
  box-shadow: 0 0 0 2px #0a84ff, 0 0 0 6px rgba(10, 132, 255, 0.3);
}

/* // download firefox top bar  */

.download-firefox-bar {
  text-align: center;
  font-size: 15px;
}

.download-firefox-bar p {
  width: 100%;
}

.download-firefox-bar .section-wrapper {
  padding-top: 15px;
  padding-bottom: 15px;
  justify-content: center;
  align-items: center;
}

.download-firefox-bar .whole {
  justify-content: center;
  flex-direction: column;
  margin-top: 0;
  margin-bottom: 0;
}

.download-firefox-bar a.internal-link {
  color: var(--blue40);
  margin-left: 5px;
}

.download-firefox.banner .secondary-title {
  margin-bottom: 0;
}

/* header **************** */

header.section-wrapper {
  padding-top: 0;
  padding-bottom: 0;
  height: 10vh;
  min-height: 90px;
  max-height: 150px;
}

header .half:first-of-type a:hover {
  opacity: 1;
}

header .half:last-of-type {
  justify-content: flex-end;
}

header a h1 {
  font-size: calc(23px + 0.6vw);
}

.firefox-logo {
  background: url("/img/gradient-sprites.png") -331px 0;
  min-width: 55px;
  width: 55px;
  height: 55px;
}

.firefox-logo.firefox-monitor {
  background: url("/img/gradient-sprites.png") -422px 0;
  min-width: 60px;
  height: 60px;
}

.firefox-logo,
.firefox-logo.firefox-monitor {
  margin-right: calc(var(--gap) / 2);
  background-repeat: no-repeat;
  background-size: cover;
}

main .half {
  flex-direction: column;
  align-items: normal;
  margin-bottom: 0;
  margin-top: 0;
}

main.landing-content .section-wrapper .half:first-of-type {
  justify-content: space-between;
}

main.landing-content .section-wrapper .half:last-of-type {
  justify-content: flex-end;
}

main h2.section-headline {
  font-weight: 300;
  font-size: 30px;
}

/* changing font-weight here to avoid changing another string */
main h2.section-headline span.bold {
  font-weight: 400;
}

main.landing-content .half.featured .sign-up-button,
main.landing-content .half.featured form {
  margin: var(--gap) 0 0 0;
}

main .sensitive-breach-email-required {
  font-size: 13px;
  margin-top: calc(var(--gap) / 2);
}

main .half.featured button#sign-up,
main .sensitive-breach-email-required {
  max-width: 300px;
}

main .section-headline {
  max-width: 400px;
}

main #no-breaches + p {
  max-width: 500px;
}

main.landing-content .half p {
  margin-top: calc(var(--gap) * 1.25);
  max-width: 550px;
}

main span.demi.form-desc {
  margin-top: calc(var(--gap) / 2);
  margin-bottom: calc(var(--gap) / 2);
}

main.scan-results .section-wrapper .half {
  align-items: flex-start;
  justify-content: flex-start;
}

main.scan-results .breach-container .half.listings {
  margin-left: 0;
  margin-right: 0;
}

.half.listings .wrap-row {
  align-items: flex-start;
}

main #featured-breach {
  margin: 0 auto auto auto;
}

/* BREACH LISTING */

.account .image-wrap {
  align-self: flex-start;
  margin-right: var(--gap);
  overflow: hidden;
  max-width: 50px;
  width: 50px;
  min-width: 50px;
}

.image-wrap img {
  margin-top: 5px;
  margin-bottom: calc(var(--gap / 2));
  width: 100%;
}

span.breach-info {
  display: block;
}

/* FEATURED BREACH LISTING */

main .breach-headline {
  font-size: 22px;
}

/*  SIGN UP BUTTON GROUP  */

#sign-up-banner .fourth,
#sign-up-banner .half {
  margin-top: calc(var(--gap) / 2);
  margin-bottom: calc(var(--gap) / 2);
}

#sign-up-banner .subscribe-icon-wrapper {
  justify-content: flex-start;
  max-width: 200px;
  min-width: 150px;
}

.subscribe-icon-wrapper svg {
  height: 80px;
  max-width: 140px;
}

#sign-up-banner .half {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 0;
}

/* COMPROMISED ACCOUNTS -  *************************** */

.tip,
#password-advice,
.tip > * {
  flex-direction: column;
  text-align: center;
}

.tip,
.tip > * {
  height: 100%;
  margin-bottom: var(--gap);
}

#password-advice p {
  margin: var(--gap) 0 var(--gap) 0;
  max-width: 800px;
}

#password-advice h3 {
  margin-bottom: 0;
}

.section-wrapper.tips {
  justify-content: center;
}

.tip-icon-1 {
  background: url(/img/gradient-sprites.png) 0 0;
}

.tip-icon-2 {
  background: url(/img/gradient-sprites.png) -85px 0;
}

.tip-icon-3 {
  background: url(/img/gradient-sprites.png) -170px 0;
}

.tip-icon-4 {
  background: url(/img/gradient-sprites.png) -255px 0;
}

.tip-icon-5 {
  background: url(/img/gradient-sprites.png) -340px 0;
}

.tip-icon-6 {
  background: url(/img/gradient-sprites.png) -425px 0;
}

.tip-icon {
  height: 85px;
  width: 85px;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: auto;
  margin-right: auto;
}

/* ////// subscribe window */

body.show-subscribe-modal {
  overflow-y: hidden;
}

.modal-container,
.modal-content,
.modal-content > * {
  pointer-events: none;
  margin: auto;
}

.modal-container,
.modal-content-wrap,
body.show-subscribe-modal .modal-content,
body.show-subscribe-modal .modal-content .modal-content-wrap,
.modal-content span.resent-email {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease, visibility 0.1s ease;
}

body.show-subscribe-modal .modal-container,
body.show-subscribe-modal .modal-content.show,
body.show-subscribe-modal .modal-content.show .modal-content-wrap,
.modal-content.show.sent span.resent-email {
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease, visibility 0.1s ease;
}

.modal-container {
  position: fixed;
  z-index: 4;
  background-color: rgba(12, 12, 13, 0.6);
  pointer-events: none;
}

.modal-content {
  position: absolute;
  color: var(--grey90);
  text-align: center;
  cursor: auto;
}

.modal-container,
.modal-content {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
}

/* lets user click shadowed background to close modal */
body.show-subscribe-modal .modal-container,
.modal-content.show > * {
  pointer-events: all;
}

body.show-subscribe-modal .modal-container {
  cursor: pointer;
}

.modal-content-wrap {
  background-color: rgba(255, 255, 255, 1);
  padding: var(--columnSpacing);
  border-radius: var(--roundedCorners);
  box-shadow: 0 2px 13px rgba(0, 0, 0, 0.28);
  margin: auto;
  width: 100%;
  max-width: 550px;
  min-height: 450px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.modal-container.fxa-enabled .modal-content-wrap {
  min-height: 200px;
}

.modal-container.fxa-enabled .modal-content-wrap .blue-button {
  margin-top: var(--columnSpacing);
}

.modal-container.fxa-enabled .modal-content-wrap .blue-button,
.modal-container.fxa-enabled .modal-content-wrap .internal-link {
  margin-bottom: 0;
}

.modal-content h3,
.modal-content p,
.modal-content label,
.modal-content span {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

.modal-content .section-headline {
  font-size: 1.5375rem;
}

.modal-content-wrap > * {
  margin-bottom: var(--gap);
}

.modal-content-wrap form,
.modal-content-wrap > *:last-child {
  margin-bottom: 0;
}

.modal-content-wrap form {
  margin-top: var(--gap);
}

.modal-content .internal-link,
.modal-content p {
  font-weight: 300;
  display: block;
}

.modal-content button.internal-link {
  /* transparent border prevents jumping on button focus */
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(0, 0, 0, 0);
  color: var(--blue60);
  font-weight: 400;
  min-height: 30px;
  margin-top: calc(var(--gap) / 2);
}

.modal-content .error-message {
  z-index: 5;
  bottom: -34px;
}

.modal-content.form-group .error-message::before {
  z-index: 4;
  top: -4px;
}

.modal-content .input-group-button {
  margin-top: 0;
}

.confirm-your-account-icon {
  padding-right: 14%;
}

.confirm-your-account-icon svg {
  max-width: 127px;
  max-height: 94px;
}

.resend-data {
  padding-left: calc(var(-var(--columnSpacing) / 2));
  padding-right: calc(var(-var(--columnSpacing) / 2));
  margin-bottom: 0;
}

.modal-content.show.sending .modal-content-wrap p,
.modal-content.show.sent .modal-content-wrap p,
.modal-content.show.sending .confirm-your-account-icon,
.modal-content.show.sent .confirm-your-account-icon,
.modal-content.show.sending .close-modal,
.modal-content.show.sending h3,
.modal-content.show.sent h3 {
  opacity: 0.35;
  transition: all 0.3s ease;
}

.modal-content.show.sent .close-modal,
.modal-content.show.sent button.resend-data span.resent-email {
  opacity: 1;
}

.modal-content.show.sending button#resend-data:focus,
.modal-content.show.sent button#resend-data:focus {
  outline: none;
  border: 0;
  box-shadow: none;
}

.modal-content.show.sending button.resend-data,
.modal-content.show.sent button.resend-data {
  pointer-events: none;
  color: rgba(0, 0, 0, 0);
}

span.resent-email {
  margin: auto;
  position: absolute;
  color: #0060df;
  left: 0;
  right: 0;
}

/* ///// compromised accounts  */

.compromised-accounts .section-wrapper {
  padding: 0;
  margin-top: calc(var(--gap) * 2);
  justify-content: center;
}

.half.listings {
  margin-bottom: var(--gap);
}

#show-additional-breaches {
  margin: calc(var(--columnSpacing) / 2);
  margin-bottom: 0;
  max-width: 500px;
}

#show-additional-breaches.hide,
#additional-breaches {
  visibility: hidden;
  min-height: 0;
  max-height: 0;
  height: 0;
  margin: 0 auto;
  transition: all 0.25s ease-out;
}

#additional-breaches,
#additional-breaches .account {
  opacity: 0;
  transition: all 0.25s ease;
}

#additional-breaches.section-wrapper.show-breaches {
  height: auto;
  max-height: 100%;
  align-content: start;
}

#additional-breaches.show-breaches,
#additional-breaches.show-breaches .account {
  opacity: 1;
  visibility: visible;
  transition: all 0.25s ease;
}

.compromised-acounts .account h4,
span.breach-info .medium {
  letter-spacing: 0.5px;
  color: #fff;
  padding-right: 6px;
}

.compromised-accounts .account h4 {
  font-size: 19px;
}

/* //// WHAT TO DO  */

#what-to-do .section-wrapper {
  justify-content: center;
  margin-top: var(--columnSpacing);
}

#what-to-do .half {
  align-items: flex-start;
}

#what-to-do .half p.medium {
  margin-bottom: calc(var(--gap) / 4);
}

#what-to-do .section-headline {
  text-align: center;
  margin-bottom: var(--gap);
}

#what-to-do .section-wrapper > * {
  max-width: 600px;
}

.num-icon {
  margin-right: var(--gap);
}

/* //// HIBP ATTRIBUTION */

.source-info {
  width: 100%;
  font-size: 13px;
  text-align: center;
  padding: 0;
  margin-top: var(--columnSpacing);
}

.half .source-info {
  text-align: left;
  padding-left: 70px;
  margin-top: var(--gap);
}

.breach-container .source-info {
  margin-top: var(--gap);
}

.source-info a {
  font-weight: 600;
  color: var(--blue40);
}

/* /// SOCIAL MEDIA SHARING BUTTONS  */

ul.social-media-sharing-buttons {
  display: flex;
  justify-content: flex-end;
  font-size: 14px;
}

ul.social-media-sharing-buttons li {
  margin-left: var(--gap);
}

ul.social-media-sharing-buttons li:first-of-type {
  margin-left: 0;
}

ul.social-media-sharing-buttons a {
  height: 100%;
  padding: 3px;
  border: 1px solid rgba(0, 0, 0, 0);
  outline: 1px solid rgba(0, 0, 0, 0);
  min-height: 30px;
}

ul.social-media-sharing-buttons a span,
ul.social-media-sharing-buttons li a svg {
  vertical-align: middle;
  display: inline-block;
}

.facebook svg {
  height: 21px;
  max-width: 10px;
  margin-right: 5px;
}

.twitter svg {
  height: 21px;
  width: 31px;
}

/* //// FOOTER */

footer {
  min-height: 50px;
  font-size: 13px;
  background-color: rgba(0, 0, 0, 1);
}

footer .section-wrapper {
  padding-top: var(--gap);
  padding-bottom: var(--gap);
  flex-direction: row;
}

footer .section-wrapper:last-of-type {
  justify-content: flex-end;
}

footer .third {
  flex-direction: column;
  text-align: left;
  justify-content: flex-start;
  align-items: flex-start;
}

footer .two-thirds {
  max-width: 660px;
}

footer ul li,
footer ul li a {
  font-weight: 400;
  display: block;
  min-height: 40px;
  line-height: 1.7;
  width: 100%;
}

footer li a {
  opacity: 0.8;
  background-color: rgba(255, 255, 255, 0);
  padding-top: 10px;
  padding-bottom: 10px;
}

footer a svg {
  max-width: 120px;
  max-height: 40px;
}

footer li a:hover {
  opacity: 1;
}

footer ul li:first-of-type {
  font-weight: 500;
  font-size: 17px;
}

footer ul li a svg {
  min-width: 20px;
  max-width: 20px;
}

footer ul li:first-of-type,
.footer-logo-wrapper {
  line-height: 40px;
  height: 40px;
  min-width: 120px;
}

footer .copyright-info a {
  color: var(--blue40);
  display: block;
}

/* SUBPAGES */

body.sub .download-firefox-bar,
body.sub .social-media-sharing-buttons {
  display: none;
}

body.sub .content-wrap {
  overflow-x: visible !important;
  overflow-y: visible !important;
}

.subpage {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 55vh;
  margin-top: 0;
}

.subpage .section-wrapper {
  overflow: visible;
}

.subpage .section-wrapper > * {
  margin-bottom: var(--gap);
  display: block;
  margin-top: 0;
}

.subpage p {
  padding-right: 30%;
}

/* CONFIRMATION */

.confirmation.whole {
  margin-top: calc(var(--gap) / 2);
  margin-bottom: 0;
}

.sharing-options li {
  width: 100%;
  max-width: 200px;
  flex: 1 1 20%;
  display: inline-block;
  margin-right: calc(var(--gap) / 2);
}

.sharing-options li a,
.sharing-options li a span {
  display: flex;
  align-content: center;
  justify-content: center;
}

.confirmation a span {
  pointer-events: none;
}

.sharing-options li a,
.email-options {
  border: 3px solid white;
  border-radius: 3px;
}

.sharing-options li a {
  font-weight: 500;
  width: 100%;
  padding: 10px;
  background-color: rgba(255, 255, 255, 0);
  transition: background-color 0.25s ease;
}

.sharing-options li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  transition: background-color 0.15s ease;
}

.sharing-options li a:active {
  background-color: rgba(255, 255, 255, 0.15);
  transition: background-color 0.15s ease;
}

.show-email-options {
  position: relative;
  overflow: visible;
}

.email-options {
  opacity: 0;
  width: 100%;
  visibility: hidden;
  transform: translateY(-4px);
  position: absolute;
  display: flex;
  flex-direction: column;
  margin-top: 4px;
  background-color: rgba(255, 255, 255, 0.2);
  transition: opacity 0.3s ease, transform 0.15s ease, visibility 0.4s ease;
}

.sharing-options div.email-options a {
  border: 0 solid white;
}

.sharing-options li:hover .email-options,
.sharing-options li:focus .email-options {
  visibility: visible;
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.15s ease, transform 0.15s ease, visibility 0.01s ease;
}

/* confirmation sprites */

.email::before {
  background: url("/img/confirm-sprites.png") -2px 0;
  margin-right: 4px;
}

.twitter::before {
  background: url("/img/confirm-sprites.png") -34px 0;
}

.facebook::before {
  background: url("/img/confirm-sprites.png") -56px 0;
}

.gmail::before {
  background: url("/img/confirm-sprites.png") -113px 0;
}

.yahoo::before {
  background: url("/img/confirm-sprites.png") -83px 0;
}

.outlook::before {
  background: url("/img/confirm-sprites.png") -141px 0;
}

.default-email-client::before {
  background: url("/img/confirm-sprites.png") 0 0;
}

.confirmation ul li span::before {
  content: '';
  display: inline-block;
  background-size: cover;
  background-repeat: no-repeat;
  height: 23px;
  width: 28px;
  min-width: 25px;
}

.email-option::before {
  margin-right: 3px;
}

/* UNSUBSCRIBE CONTENT */

form span.secondary-title.whole {
  display: block;
}

#unsubscribe-survey-form .error-message {
  top: -36px;
  bottom: auto;
}

#unsubscribe-survey-form .error-message::before {
  bottom: -7px;
  top: auto;
}

form .thank-you-message {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  min-height: 45px;
  line-height: 1.2;
  font-size: 22px;
  font-weight: 300;
  pointer-events: none;
}

form.show-thankyou input[type="submit"]:hover {
  background-color: rgba(0, 0, 0, 0);
  color: rgba(0, 0, 0, 0);
  transition: all 0.1s ease;
}

form.show-thankyou .radio-button-group {
  pointer-events: none;
}

form.show-thankyou label,
form.show-thankyou span.secondary-title,
form.show-thankyou span.radio-dot {
  opacity: 0.4;
  transition: opacity 0.1s ease;
}

form.show-thankyou input[type="submit"] {
  visibility: hidden;
  background-color: rgba(0, 0, 0, 0);
  opacity: 0;
  transition: all 0.1s ease;
}

form.show-thankyou span.thank-you-message {
  opacity: 1;
  transition: all 0.1s ease;
}

#unsubscribe-survey-form .input-group-button {
  margin-top: 30px;
  max-width: 500px;
}

/* WAVES GRAPHIC */

.content-wrap {
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  height: 100%;
  pointer-events: none;
  min-height: 75vh;
  background-image: url("/img/wave-footer.svg");
  background-position: 0 100%;
  background-size: contain;
  background-repeat: no-repeat;
}

.content-wrap > * {
  pointer-events: all;
}

/* //media screens */

@media screen and (min-width: 2200px) {
  body {
    background-position: 0  -8%, center center;
  }

  .content-wrap {
    background-position: 0 120%;
  }

  /* background wave positioning on subpages */
  body.sub {
    background-position: 0 -24%;
  }

  body.sub .content-wrap {
    background-position: 0 240%;
  }
}

@media screen and (max-width: 2300px) {
  body {
    background-position: 0  -5%, center center;
  }

  .content-wrap {
    background-position: 0 105%;
  }

  body.sub {
    background-position: 0 -10%;
  }

  body.sub .content-wrap {
    background-position: 0 140%;
  }
}

@media screen and (max-width: 1300px) {
  body,
  body.sub {
    background-position: 0 -3%, center center;
  }

  .content-wrap,
  body.sub .content-wrap {
    background-position: 0 110%;
  }
}

@media screen and (max-width: 1200px) {
  body {
    background-position: 0 0, center center;
  }

  #sign-up-banner .half {
    margin-left: calc(var(--columnSpacing) / 2);
  }
}

@media screen and (max-width: 1100px) {
  footer .section-wrapper {
    flex-wrap: nowrap;
  }
}

@media screen and (max-width: 850px) {
  .half,
  .third {
    max-width: 100%;
  }

  main .section-wrapper {
    margin-top: calc(var(--columnSpacing) / 2);
    margin-bottom: calc(var(--columnSpacing) / 2);
    padding-top: var(--gap);
    padding-bottom: var(--gap);
  }

  main .section-wrapper .half {
    padding: 0;
  }

  main .section-wrapper div.half:first-of-type {
    margin-bottom: var(--gap);
    padding-top: var(--gap);
  }

  main.landing-content .section-wrapper div.half:last-of-type {
    padding-bottom: var(--gap);
  }

  main.scan-results div.half.no-found-breaches {
    margin-bottom: 0;
    padding-bottom: var(--gap);
  }

  header .social-media-sharing-buttons {
    display: none;
  }

  button,
  #sign-up {
    width: 100%;
    max-width: 100%;
  }

  .modal-container.fxa-enabled .modal-content-wrap button,
  button.internal-link,
  button.close-modal,
  input.transparent-button,
  input[type="email"],
  input[type="submit"],
  input::placeholder {
    font-size: 14px;
  }

  main.scan-results #sign-up {
    margin-top: var(--gap);
  }

  main .half p.landing-blurb {
    margin-top: 0;
  }

  .download-firefox-bar {
    margin-bottom: 0;
  }

  .download-firefox-bar.banner .section-wrapper > * {
    margin-bottom: 0;
    margin-top: 0;
  }

  footer .section-wrapper {
    flex-wrap: wrap;
    flex-direction: column-reverse;
  }

  footer .section-wrapper:first-of-type {
    padding-bottom: 0;
  }

  footer .third {
    margin-bottom: 0;
  }

  footer .copyright-info {
    padding-top: 0;
    margin-top: 0;
    text-align: left;
  }

  .subpage p {
    padding-right: 0;
  }

  .confirmation ul li {
    width: 30%;
    max-width: 100%;
    min-width: 120px;
    margin-bottom: var(--gap);
  }

  /* sharing-option titles */
  .confirmation ul.sharing-options li span {
    min-width: 80px;
  }
}

@media screen and (max-width: 680px) {
  main .compromised-accounts .section-wrapper {
    margin-top: var(--gap);
  }

  #what-to-do .section-wrapper {
    margin-top: 0;
  }

  #sign-up-banner .section-wrapper {
    flex-direction: column;
  }

  footer .copyright-info br {
    display: none;
  }

  a span.nowrap {
    white-space: normal;
  }

  .confirmation ul.sharing-options li {
    display: block;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
  }

  .confirmation .email-options {
    display: none;
  }

  body.sub .content-wrap {
    overflow: hidden !important;
  }
}

@media screen and (max-width: 575px) {
  body {
    --columnSpacing: 40px;
  }

  header ul.social-media-sharing-buttons {
    display: none;
  }

  .tip.third:last-of-type {
    margin-bottom: 0;
  }

  .resend-data {
    line-height: 120%;
  }

  .modal-content-wrap {
    justify-content: center;
  }
}

@media screen and (max-width: 480px) {
  body {
    font-size: 16px;

    --columnSpacing: 30px;
  }

  h2,
  h3,
  .section-headline,
  .half.featured h2.section-headline {
    font-size: 1.68rem;
    line-height: 1.3;
  }

  .third,
  .fourth,
  .half {
    min-width: 250px !important;
  }

  .account,
  #what-to-do .half {
    flex-direction: column;
  }

  .account .image-wrap,
  .num-icon {
    margin-bottom: calc(var(--gap) / 2);
  }

  .half .source-info {
    padding-left: 0;
  }

  form span.thank-you-message {
    font-size: 17px;
  }
}

@media screen and (max-width: 375px) {
  body {
    --gap: 15px;
  }

  .modal-container.fxa-enabled .modal-content-wrap button,
  .radio-button-group label,
  button.internal-link,
  input.transparent-button,
  input[type="submit"],
  input::placeholder,
  .checkbox-group label {
    font-size: 13px;
  }

  .section-wrapper {
    padding-left: var(--gap);
    padding-right: var(--gap);
  }

  .half,
  .third {
    min-width: 200px !important;
  }
}

a,
a:hover,
button,
.button,
button:hover,
.button:hover {
  transition: background-color 0.1s ease, opacity 0.1s ease;
}

.form-group input,
.form-group.invalid input,
.form-group img,
.form-group .button,
.form-group.invalid img,
.form-group.invalid .button,
.form-group .error-message,
.form-group.invalid .error-message,
.form-group .error-message::before,
.form-group.invalid .error-message::before {
  transition: all 0.1s ease;
}
