@import "../../../tokens";

.dialog {
  background-color: $color-white;
  border-radius: $border-radius-md;
  display: flex;
  flex-direction: column;
  max-height: calc(100% - (2 * $spacing-md));
  max-width: $content-lg;
  outline: none;
  overflow-y: auto;
  position: relative;
  width: calc(100% - (2 * $spacing-md));

  .header,
  .content {
    align-items: center;
  }

  .header {
    @include no-focus-outline;
    display: flex;
    flex-direction: column;
    gap: $spacing-md;
    padding: $layout-sm $layout-sm $spacing-sm;

    @media screen and (min-width: $screen-lg) {
      padding: $layout-md $layout-xl $spacing-sm;
    }
  }

  .content {
    padding: $spacing-sm $layout-sm $layout-sm;

    @media screen and (min-width: $screen-lg) {
      padding: $spacing-sm $layout-xl $layout-md;
    }
  }

  .title {
    color: $color-grey-50;
    font: $text-title-2xs;
    text-align: center;
  }

  &.horizontal {
    @media screen and (min-width: $screen-lg) {
      flex-direction: row;
    }

    .header {
      background-color: $color-grey-05;
      flex-direction: column-reverse;
      gap: $spacing-xl;
      justify-content: center;
      text-align: left;

      @media screen and (min-width: $screen-lg) {
        padding: $layout-md $layout-sm $layout-md $layout-xl;
      }
    }

    .content {
      @media screen and (min-width: $screen-lg) {
        padding: $layout-md $layout-xl $layout-md $layout-sm;
      }
    }

    .title {
      text-align: left;
    }
  }

  .dismissButton {
    background: none;
    border: none;
    color: $color-grey-40;
    cursor: pointer;
    padding: $spacing-md;
    position: absolute;
    right: 0;
    top: 0;

    &:hover {
      color: $color-grey-30;
    }
  }

  .illustrationWrapper {
    display: flex;
    justify-content: center;
    pointer-events: none;
    user-select: none;
  }

  ul,
  ol {
    display: flex;
    flex-direction: column;
    gap: $spacing-sm;
  }
}
