<div id="breaches-loader" class="ab-bg breaches-loader"></div>
<div class="ab-bg top-level">
  <main class="all-breaches-main clear-header" data-page-label="All Breaches">
    <div class="row">
      <div class="col-12 no-vertical-padding">
        <h2 class="top-headline all-breaches-headline txt-cntr mw-500">{{ getString "all-breaches-headline" }}</h2>
      </div>
    </div>
  </main>
  <section class="all-breaches-wrapper">
    <div class="row flx-col">
      <div class="col-12 txt-cntr no-vertical-padding">
        {{> fuzzy-find }}
        {{> hibp-attribution }}
      </div>
    </div>
    <div class="row flx-col">
      <span id="no-results-blurb" class="no-results-blurb">{{ getString "no-results-blurb" }}</span>
      <!-- breach cards -->
      <div id="all-breaches" class="all-breaches flx"></div>
      <button id="show-hidden-breaches" class="btn-violet-primary show-all-breaches" data-event-category="All Breaches: Show All Button">{{ getString "show-all" }}</button>
    </div>
  </section>
</div>

<div id="breach-array-json" hidden=true data-breach-array="{{ getBreachArray }}"></div>
