<main id="removal-pilot-privacy" class="remove-page remove-faq clear-header flx flx-col" data-page-label="Removal Pilot Privacy">
  <div class="flx flx-col remove-faq__header">
    <div class="mw-860 flx flx-col">
      <h2 class="remove-faq__title">{{getRemoveString "remove-pilot-title"}} {{getRemoveString "remove-enroll-privacy-link"}}</h2>
    </div>
  </div>
  <div class="remove-faq__content-container">
    <div class="mw-860">
      <div class="remove-faq__content">
        <h3 class="remove-faq__content-title">Firefox Monitor (with Kanary Data Removal Pilot) Privacy Notice</h3>
        <p>Version 0.1, effective January 18, 2022</p>
        <p>When Mozilla receives information from you, our <a href="https://www.mozilla.org/en-US/privacy/" target='_blank' rel='noopener noreferrer'>Mozilla Privacy Policy</a> describes how we handle that information. </p>
        <p>Here are the key things you should know about the Firefox Monitor Data Removal Pilot:</p>
        <p>
          <ul class="remove-faq__terms-list">
            <li>This Pilot is powered by a third-party called Kanary. This means that Kanary carries out your data removal requests. Through the Pilot, Mozilla temporarily receives your first name, middle initial (optional), last name, your city and state location, and your birth year. We then share this information with Kanary who will store it to process your removal requests. We delete it from our systems after we share it with Kanary. Read about Kanary’s privacy practices here. </li>
            <li>This service requires a Firefox Account which sends Mozilla your email address, locale, and IP address. Learn more about Firefox Account data practices.</li>
            <li>Mozilla also receives basic technical and interaction data—like, when you joined the Pilot and when click to view your removal results—to improve performance and stability for our users, and to measure the Data Removal Pilot’s performance.</li>
            <li>This is a temporary pilot for three months. When we end the pilot, we will terminate all user Kanary accounts, and delete users’ personally identifying information</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
  {{> dashboards/remove-form-kanary-footer}}
</main>

