<main
  id="remove-faq"
  class="remove-page remove-faq clear-header flx flx-col"
  data-page-label="Remove FAQ Page"
>
  <div class="flx flx-col remove-faq__header">
    <div class="mw-860">
      <h2 class="remove-faq__title">Data Removal Pilot</h2>
      <div class="remove-faq__nav-container flx">
        <div class="remove-faq__nav-col">
          <ul class="remove-faq__nav-list">
            <li class="remove-faq__nav-item">
              <a href="#pilot-details" class="remove-faq__nav-link">Pilot
                Details</a>
            </li>
            <li class="remove-faq__nav-item">
              <a href="#pilot-partner" class="remove-faq__nav-link">About our
                partner: Kanary</a>
            </li>
          </ul>
        </div>
        <div class="remove-faq__nav-col">
          <ul class="remove-faq__nav-list">
            <li class="remove-faq__nav-item">
              <a href="#data-brokers" class="remove-faq__nav-link">About the
                Scanned Sites</a>
            </li>
            <li class="remove-faq__nav-item">
              <a href="#risk" class="remove-faq__nav-link">Risk Levels Explained</a>
            </li>
            <li class="remove-faq__nav-item">
              <a href="#process" class="remove-faq__nav-link">Data Removal
                Process</a>
            </li>
            <li class="remove-faq__nav-item">
              <a href="#faq" class="remove-faq__nav-link">FAQ</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="remove-faq__content-container">
    <div class="mw-860">
      <div id="pilot-details" class="remove-faq__anchor"></div>
      <div class="remove-faq__content">
        <h3 class="remove-faq__content-title">Pilot Details</h3>
        <p>Mozilla has been working with
          <a href="http://thekanary.com" target="_blank">Kanary</a>
          to evaluate implementing a new feature into Firefox Monitor that
          allows users to automate the search and removal of personal
          information from a list of websites that expose people’s personal
          information without their knowledge or consent.</p>
        <h4 class="remove-faq__subtitle">Participation</h4>
        <p>We will be piloting this feature with a maximum of 1000 Monitor users
          who expressed interest in being on the waitlist for the data removal
          service. Participants must be based in the U.S. due to current service
          limitations.</p>
        <h4 class="remove-faq__subtitle">Duration</h4>
        <p>Each pilot group will have access to the service for 90 days. At the
          end of the trial period any outstanding removal requests will be
          suspended and all data removal information held by Mozilla or our
          partner Kanary will be deleted. The user will be given the option to
          continue the data removal service directly with Kanary at that time.</p>
        <p>Pilot participants may discontinue the data removal service at any
          point within the 90-day pilot period.</p>
      </div>
      <div id="pilot-partner" class="remove-faq__anchor"></div>
      <div class="remove-faq__content">
        <h3 class="remove-faq__content-title">About Our Partner</h3>
        <p>Kanary is our partner providing the data removal service. Kanary
          scans the internet, shows which sites expose your information, and
          helps you protect your safety and wellbeing by removing it. You can
          learn more about them
          <a href="https://www.thekanary.com/faq" target="_blank">on their
            website.</a></p>
      </div>
      <div id="data-brokers" class="remove-faq__anchor"></div>
      <div class="remove-faq__content">
        <h3 class="remove-faq__content-title">About The Scannned Sites</h3>
        <p>The information you provide to the service is used to scan sites that
          post data about you, many of them without your consent, and some of
          which are very difficult to remove your information from.</p>
      </div>
      <div id="risk" class="remove-faq__anchor"></div>
      <div class="remove-faq__content">
        <h3 class="remove-faq__content-title">Risk Levels Explained</h3>
        <p>The sites your information appear on are assigned a risk level, based
          on the sensitivity of the information they list, the difficulty in
          getting that information removed, and whether they sell or provide
          your information to other sites.</p>
      </div>
      <div id="process" class="remove-faq__anchor"></div>
      <div class="remove-faq__content">
        <h3 class="remove-faq__content-title">Data Removal Process</h3>
        <p>Removal requests are made automatically on your behalf for the sites
          that are found listing your info. Data removal is not guaranteed, but
          Kanary continues to follow up, even on blocked requests.
        </p>
      </div>
      <div id="faq" class="remove-faq__anchor"></div>
      <div class="remove-faq__content">
        <h3 class="remove-faq__content-title">Frequently Asked Questions</h3>
      </div>
      <div class="remove-faq__questions-container">
        <ul class="remove-faq__list">
          <li class="remove-faq__list-item drop-shadow flx flx-col">
            <div class="remove-faq__title-container flx cntr space-between">
              <h4 class="remove-faq__q-title">What type of sites do you scan
                for?</h4>
              <div class="remove-faq__toggle-container">
                <a href="" class="remove-faq__toggle js-remove-faq-toggle">
                  <img
                    src="/img/svg/chevron-down-grey.svg"
                    alt="View Answer to this Question"
                    class="remove-faq__toggle-img"
                  />
                </a>
              </div>
            </div>
            <div class="remove-faq__details-container">
              <p>We scan for sites that collect and sell personal data like
                names, addresses, and phone numbers.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

</main>