<main class="all-breaches-main clear-header" data-page-label="All Breaches">
  <div class="row">
    <div class="col-12 no-vertical-padding">
      <h2 class="top-headline all-breaches-headline txt-cntr mw-500">{{getString
          "all-breaches-headline"
        }}</h2>
    </div>
  </div>
</main>