<main id="removal-pilot-terms" class="remove-page remove-faq clear-header flx flx-col" data-page-label="Removal Pilot Terms">
  <div class="flx flx-col remove-faq__header">
    <div class="mw-860 flx flx-col">
      <h2 class="remove-faq__title">{{getRemoveString "remove-pilot-title"}} {{getRemoveString "remove-enroll-terms-link"}}</h2>
    </div>
  </div>
  <div class="remove-faq__content-container">
    <div class="mw-860">
      <div class="remove-faq__content">
        <h3 class="remove-faq__content-title">
          Firefox Monitor (with Kanary Data Removal Pilot) Terms of Service
        </h3>
        <p>Version 0.1, effective January 12, 2022</p>
        <p>Firefox Monitor is testing a temporary, experimental offering in collaboration with a third-party called Kanary (the “Service”). In addition to the usual Firefox Monitor functionality, Mozilla’s partnership with Kanary helps you find websites that are revealing information about you and helps you delete that data. </p>
        <p>Please read these Terms of Service carefully because they explain important information about your use of the Service.</p>
        <section>
          <h4 class="remove-faq__q-title">You’ll Need A Firefox Account</h4>
          <p>A Firefox Account is required to use the Service. To create a Firefox Account, you will also need to agree to the <a href="https://www.mozilla.org/en-US/about/legal/terms/services/" target="_blank" rel="noreferrer noopener">Terms of Service</a> and <a href="https://www.mozilla.org/en-US/privacy/firefox/" target="_blank" rel="noreferrer noopener">Privacy Notice</a> for your Firefox Account.</p>
          <h4 class="remove-faq__q-title">Your Privacy</h4>
          <p>
            <span class="bold">Your Privacy. </span>The <a href="/removal-pilot-privacy" target="_blank" rel="noreferrer noopener">Privacy Notice</a> for the Firefox Monitor with Kanary Pilot explains what information is sent when you use the Service and how we handle and share that information. Kanary also has its own <a href="https://www.thekanary.com/privacy_and_security" target="_blank" rel="noopener noreferrer">Privacy Notice</a>.
          </p>
        </section>
        <section>
          <h4 class="remove-faq__q-title">Permissions Necessary to Provide the Service</h4>
          <p><span class="bold">Your Use of the Service. </span>Mozilla gives you permission to use the Service according to these Terms of Service. This permission is only for your personal use. You may not transfer, sublicense, resell, or commercially exploit the Service. You also agree that your use of the Service will comply with Mozilla’s <a href="https://www.mozilla.org/en-US/about/legal/acceptable-use/" target="_blank" rel="noreferrer noopener">Conditions of Use</a>. You are solely responsible for the Content you transmit and the consequences.</p>
          <p>You give Mozilla and its partner, Kanary, all rights necessary to operate the Service, including processing your personal information, and authority to act on your behalf to request deletion of your information from various websites. You assure Mozilla and Kanary that you have the authority to grant these rights. You may only submit personally identifying information for yourself or a person who has given you permission to act for them. </p>
          <p>This also includes processing your email addresses for scans, breach reports, and safety tips.</p>
          <p><span class="bold">Basic Scan: </span>These results display most publicly known breaches. They exclude “Sensitive Breaches” (those including minors’ data or participants of adult and dating sites) in order to protect the privacy of those account holders.</p>
          <p><span class="bold">Full Report: </span>This includes a complete list of publicly known hacks, including Sensitive Breaches. </p>
          <p><span class="bold">Breach Alerts: </span>This notifies you if your email address appears in a new data breach.   </p>
          <p><span class="bold">Safety Tips: </span>This sends you occasional online safety tips from Mozilla.</p>
          <p>To learn more about how the Service works, you can see Mozilla’s <a href="https://github.com/mozilla/blurts-server/tree/main-kanary" target='_blank' rel='noopener noreferrer'>source code</a>.</p>
          <p><span class="bold">Your Feedback and Suggestions. </span>If you give Mozilla any ideas, suggestions, or feedback about the Service, you give Mozilla permission to use them for free and without any additional obligations.</p>
          <p><span class="bold">Mozilla’s Intellectual Property. </span>Neither Mozilla nor its licensors grant you any intellectual property rights in the Service that are not specifically stated in these Terms. For example, these Terms do not provide the right to use any copyrights, trademarks, or other distinctive brand features of Mozilla or its licensors. The Mozilla software is distributed under and subject to the current version of the Mozilla Public License, or other similarly permissive licenses.</p>
        </section>
        <section>
          <h4 class="remove-faq__q-title">You May Cancel Your Subscription at Any Time</h4>
          <p><span class="bold">Cancellation. </span>You may cancel your subscription to the Service at any time by deactivating your account. You can do this by clicking “Review My Info” in the upper right of the Data Removal Dashboard and then clicking “Cancel Service” at the bottom of the personal information page.</p>
        </section>
        <section>
          <h4 class="remove-faq__q-title">You Are Responsible For the Consequences of Your Use of the Service</h4>
          <p>
            <ul class="remove-faq__terms-list">
              <li>Although Firefox Monitor, <a href="https://haveibeenpwned.com/" target='_blank' rel='noopener noreferrer'>Have I Been Pwned?</a>, and Kanary, strive to have current data, there is no guarantee that either will have complete or timely records of all public data aggregators and breaches.</li>
              <li>You assure Mozilla that you will not use the Service to infringe anyone’s rights or violate any law.</li>
              <li>To the extent permitted by applicable law, you agree that Mozilla will not be liable in any way for any inability to use the Service, for any limitations of the service, or for any claim arising out of these terms. Mozilla specifically disclaims the following: Indirect, special, incidental, consequential, or exemplary damages, direct or indirect damages for loss of goodwill, work stoppage, lost profits, loss of data, or computer malfunction. Any liability for Mozilla under this agreement is limited to $500.</li>
              <li>You agree to indemnify and hold Mozilla harmless for any liability or claim that results from your participation in the Service, to the extent permitted by applicable law.</li>
              <li>Mozilla provides the service “as is.” To the extent permitted by applicable law, Mozilla specifically disclaims any legal guarantees or warranties such as “merchantability,” “fitness for a particular purpose,” “non-infringement,” and warranties arising out of a course of dealing, usage, or trade.</li>
              <li>You may have other rights under your own country’s laws. Nothing in these Terms of Service is intended to affect those rights, if they apply.</li>
            </ul>
          </p>
        </section>
        <section>
          <h4 class="remove-faq__q-title">This Pilot is Temporary</h4>
          <p>This Service is a temporary pilot program. It will last for three months from the date of the invitation. After that date, we will end the service, terminate user accounts, and delete users’ personally identifying information. </p>
          <p>If Mozilla decides to make this Service a permanent product, you may sign up for the new service. </p>
        </section>
        <section>
          <h4 class="remove-faq__q-title">Updating or Ending These Terms</h4>
          <p>
            <ul class="remove-faq__terms-list">
              <li><span class="bold">Mozilla Can Update These Terms. </span>Mozilla may decide to update these Terms. We will post the updated Terms online. We will take your continued use of the Service as acceptance of such changes. We will post an effective date at the top of this page to make it clear when we made our most recent update.</li>
              <li><span class="bold">Termination. </span>These Terms apply until either you or Mozilla decide to end them. You can choose to end them at any time for any reason by stopping your use of the Service and deleting the Service. Mozilla can suspend or end anyone’s access to the Service at any time for any reason, including if Mozilla decides to end the Service. If we decide to suspend or end your access, we will try to notify you at the email address associated with your account or the next time you attempt to access your Account.</li>
              <li><span class="bold">Choice of Law. </span>California law applies to this contract, except for California’s conflict of law. If there is any conflict between this English version of the contract and a translation, this English version applies.</li>
            </ul>
          </p>
        </section>
        <section>
          <h4 class="remove-faq__q-title">Contact Mozilla:</h4>
          <p>
            Mozilla Corporation<br/>
            Attn: Mozilla – Legal Notices<br/>
            2 Harrison St. #175,<br/>
            San Francisco, CA 94105<br/>
            <a href="mailto:legal-notices@mozilla.com">legal-notices@mozilla.com</a>
          </p>
        </section>

      </div>
    </div>
  </div>
  {{> dashboards/remove-form-kanary-footer}}
</main>

