<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" class="icon-inline">
  <title>@ Symbol Icon</title>
  <path d="M12.68 16.13c0 2.64 1.15 4.24 3.06 4.24s3.18-1.62 3.18-4.24-1.22-4.24-3.17-4.24-3.07 1.58-3.07 4.24M31 14.35c0 5.73-2.71 9.42-7.15 9.42-2.26 0-4-1.09-4.39-2.86h-.25a4.42 4.42 0 0 1-4.39 2.81c-3.78 0-6.32-3.08-6.32-7.7 0-4.42 2.5-7.45 6.14-7.45A4.56 4.56 0 0 1 19 11.16h.25V9h3.69v9.74c0 1.26.59 2.06 1.73 2.06 1.79 0 3-2.28 3-6.15C27.7 8 23.13 3.71 16.23 3.71S4.31 8.77 4.31 16.09c0 7.66 5.11 12.14 12.61 12.14a16.47 16.47 0 0 0 5-.64v2.92a19.18 19.18 0 0 1-5.24.67C7.44 31.18 1 25.41 1 16 1 7 7.27.82 16.36.82 25 .82 31 6.24 31 14.34" fill="#fff" fill-rule="evenodd"/>
</svg>
