@import "../../../../../tokens";

.banner {
  background-color: $color-grey-05;
  border-radius: $border-radius-xl;
  display: flex;
  justify-content: center;
  padding: $layout-sm;
  width: 100%;

  &Content {
    display: flex;
    flex-direction: column;
    gap: $layout-sm;
    max-width: $content-lg;

    & > form {
      max-width: $content-md;

      button {
        flex: 0 0 auto;
      }
    }
  }

  &Header {
    align-items: flex-start;
    flex-direction: column;
    display: flex;
    gap: $spacing-sm;

    h2 {
      font-weight: 700;
    }

    strong {
      color: $color-purple-70;
    }
  }
}
