@import "../../../../../tokens";

.infoBlock {
  align-items: center;
  background-color: $color-grey-05;
  border-radius: $border-radius-xl;
  display: flex;
  flex-direction: column;
  gap: $layout-sm;
  padding: $layout-sm;
  width: 100%;
}

.infoHero {
  display: block;
  max-width: $content-sm;
  width: 100%;

  @media screen and (min-width: $screen-md) {
    display: none;
  }
}

.infoImageWrapper {
  display: none;
  flex: 1 1 5%;
  overflow: hidden;
  position: relative;

  @media screen and (min-width: $screen-md) {
    display: block;
  }

  @media screen and (min-width: $screen-lg) {
    flex: 1 1 10%;
  }

  img {
    display: block;
    height: auto;
    left: 0;
    min-height: 100%;
    min-width: 100%;
    padding: 0 10%;
    position: absolute;
    top: 0;
    width: 100%;
  }
}

.infoRow {
  display: flex;
  gap: $layout-xs;
  max-width: $content-lg;
  width: 100%;

  &:nth-child(odd) {
    @media screen and (min-width: $screen-md) {
      flex-direction: row-reverse;
    }

    .infoImageWrapper {
      flex: 1 1 10%;

      img {
        padding: 0;
      }

      @media screen and (min-width: $screen-lg) {
        flex: 1 1 20%;
      }
    }
  }
}

.infoText {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex: 2;
  gap: $spacing-md;

  @media screen and (min-width: $screen-md) {
    padding: $layout-sm 0;
  }
}

.infoLabel {
  background-color: $color-grey-10;
  border-radius: $border-radius-lg;
  padding: $spacing-xs calc($spacing-md + $spacing-xs);
}
