@import "../../../../../tokens";

.logoSection {
  background-color: $color-grey-05;
  padding: $layout-sm;

  h2 {
    font-weight: 700;
  }
}

.logoContent,
.logoHeader {
  display: flex;
  flex-direction: column;
  gap: $layout-sm;
  max-width: $content-lg;
}

.logoHeader {
  align-items: center;
  gap: $spacing-sm;
}

.logosWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-md;
  justify-content: center;

  .logo {
    align-items: center;
    display: flex;
  }
}
