@import "../../../../../tokens";

.section {
  h2 {
    font-weight: 700;
  }
}

.content,
.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: $layout-sm;
  max-width: $content-lg;
}

.header {
  gap: $spacing-sm;
  text-align: center;
}
