<div class="dashboard-stats-and-welcome flx jst-cntr">
  <div class="mw-860 flx dashboard-stats-and-welcome-inner">
    <div class="dashboard-welcome-container flx flx-cntr">
      <span class="dashboard-welcome-back">{{ welcomeMessage }}</span>
    </div>
    {{> breach-stats addClasses="user-stats"}}
  </div>
</div>