<a href="/user/preferences" class="manage-emails {{ variableClass }} btn-violet-secondary btn-transparent btn-small flx" {{> analytics/internal-link eventLabel="Manage Email Addresses" }}>{{ getString "manage-email-addresses" }}</a>
