{{#if hasNewBreaches }}
  <div class="flx new-breach-message-wrapper {{ variableClass }}">
    {{> svg/new-breach-icon }}
      <span class="new-breach-message">{{ newBreachMessage }}</span>
  </div>
{{/if}}
