      <div class="privacy-defender">
        <a target="_blank" class="priv-def-link ff-Met" href="https://dev.fxprivaterelay.nonprod.cloudops.mozgcp.net/">Relay</a>
        <a target="_blank" class="priv-def-link ff-Met" href="https://stage.guardian.nonprod.cloudops.mozgcp.net/">Private Network</a>
      </div>
