      <div class="privacy-defender">
        <a target="_blank" class="priv-def-link ff-Met" href="{{ RELAY_HOST_URL }}/accounts/fxa/login/?process=login&auth_params=%26prompt%3Dnone%26login_hint%3D{{ req.session.user.primary_email }}">Add Relay to your Monitor account</a>
      </div>
