<div class="remove-dashboard-kanary-container remove-kanary-footer flx flx-col flx-cntr">
  <p class="remove-dashboard-kanary-disclaimer">
    <a class="blue-link remove-kanary-footer-link" href="https://www.thekanary.com/privacy_and_security" target="_blank">{{ getString "dash-remove-kanary-discalimer"}}</a>
    • <a class="blue-link remove-kanary-footer-link" href="/user/remove-sites-list">Data Broker List</a>
  </p>
</div>