<section
  class="remove-dashboard-kanary-container remove-kanary-footer flx flx-col flx-cntr mw-860"
>
  <p class="remove-dashboard-kanary-disclaimer">
    <a
      class="blue-link remove-kanary-footer-link"
      href="https://www.thekanary.com/privacy_and_security"
      target="_blank"
    >{{getString "dash-remove-kanary-discalimer"}}</a>
    •
    <a
      class="blue-link remove-kanary-footer-link"
      href="/user/remove-risk-level"
    >{{getString "dash-remove-link-risk"}}</a>
    •
    <a
      class="blue-link remove-kanary-footer-link"
      href="/user/remove-sites-list"
    >{{getString "dash-remove-link-broker"}}</a>
  </p>
</section>