<main id="remove-error" class="remove-page dashboard clear-header flx flx-col" data-page-label="Data Removal Error">
  <div class="mw-860 flx flx-col remove-general-container remove-error-container ">
    <h2 class="remove-enroll-title">{{getString "remove-error-title"}}</h2>
    <p>{{error}}</p>
  </div>
  {{> dashboards/remove-form-kanary-footer}}
</main>

