<div class="remove-dashboard-kanary-container flx flx-col flx-cntr">
  <p class="remove-dashboard-kanary-disclaimer"><a class="blue-link" href="https://www.thekanary.com/privacy_and_security" target="_blank">{{ getString "dash-remove-kanary-discalimer"}}</a></p>
</div>