<section class="container monitor-features bg-dark">
  <div class="row flx-col jst-cntr">
    <div class="col-12 flx-cntr txt-cntr">
      <h2 class="skinny-headline">{{getString "monitor-your-online-accounts"}}</h2>
        {{> sign-up-button buttonValue="sign-up-for-alerts"}}
        <p class="desc">{{getString "create-a-fxa"}}</p>
    </div>
  </div>
</section>
