        <div class="breach-detail-sign-up sign-up-banner drop-shadow fxa-signup-gradient">
          <div class="sign-up-headline-list-wrapper flx flx-col">
            <h2 class="sign-up-headline">{{ getString "sign-up-headline-1" }}</h2>
            {{> feature-list}}
          </div>
          <div class="flx flx-col sign-up-cta">
            {{> sign-up-button buttonValue="sign-up-for-alerts"}}
            {{> sign-up-banners/browser-not-required }}
          </div>
        </div>
