<p class="have-an-account txt-cntr">{{ getString "have-an-account" }}<button class="open-oauth text-link" {{>analytics/fxa id="fx-monitor-log-in-link"}} data-event-category="Log In Link">{{ getString "login-link" }}{{> svg/arrow-head-right }}</button></p>
