
      <div class="mw-860 sign-up-wrapper {{ additionalClasses }}">
        <div class="scan-res sign-up-banner">
          <div class="sign-up-headline-list-wrapper flx flx-col">
            <h2 class="sign-up-headline">{{ getString "sign-up-headline-1" }}</h2>
            {{> feature-list}}
          </div>
          <div class="flx flx-col sign-up-cta">
            <button class="open-oauth btn-white btn-transparent btn-big"  {{> analytics/fxa id="fx-monitor-alert-me-btn" }} data-event-category="Alert me about new breaches">
              {{ getString "alert-about-new-breaches" }}
            </button>
            {{> sign-up-banners/browser-not-required }}
          </div>
        </div>
      </div>
