
    <div class="col-9 sign-up-wrapper">
      <div class="scan-res sign-up-banner drop-shadow">
        <div class="sign-up-headline-list-wrapper flx flx-col">
          <h2 class="sign-up-headline">{{ getString "sign-up-headline-1" }}</h2>
          {{> feature-list }}
        </div>
        <div class="flx flx-col sign-up-cta">
          {{> sign-up-button buttonValue="sign-up-for-alerts"}}
          <span class="account-not-required">
            {{ getString "account-not-required" }}
          </span>
          {{> sign-up-banners/login-link }}
        </div>
      </div>
    </div>
