<section class="container scan-results-sign-up">
  <div class="row jst-cntr">
    <div class="col-9 sign-up-wrapper">
      <div class="sign-up-banner">
        <div class="sign-up-headline-list-wrapper flx flx-col">
          <h2 class="sign-up-headline">{{ getString "sign-up-headline-1" }}</h2>
          {{> feature-list }}
        </div>
        <div class="flx flx-col sign-up-cta">
          {{> sign-up-button buttonValue="sign-up-for-alerts"}}
          <span class="account-not-required">
            {{ getString "account-not-required" }}
          </span>
        </div>
      </div>
    </div>
  </div>
</section>
