    <div class="col-9 sign-up-wrapper monitor-landing-sign-up">
      <div class="sign-up-banner warm-gradient">
        <h2 class="sign-up-headline">{{ getString "get-alerted" }}</h2>
        <div class="flx flx-col sign-up-cta wide">
          {{> sign-up-button buttonValue="sign-up-for-alerts"}}
          <span class="account-not-required">
            {{ getString "account-not-required" }}
          </span>
        </div>
      </div>
    </div>
