<p class="have-an-account txt-cntr">{{ getString "have-an-account" }}<button class="open-oauth text-link" {{>analytics/fxa id="fx-monitor-sign-in-link"}} data-event-category="Sign in Link">{{ getString "sign-in" }}{{> svg/arrow-head-right }}</button></p>
