.hero {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  gap: var(--gap);
}

.hero > :first-child {
  flex-basis: calc(var(--min-width) - var(--padding-lg) * 2);
  flex-grow: 999;
}

.hero > :last-child {
  flex-basis: 50%;
  flex-grow: 1;
}

.mobile .hero .button {
  display: block;
}

.why-use-monitor > h2,
.why-use-monitor > p {
  text-align: center;
}

.why-use-monitor > ul {
  display: flex;
  flex-wrap: wrap;
  gap: var(--gap);
  list-style: none;
  margin: var(--padding-lg) 0;
}

.why-use-monitor li {
  flex-grow: 1;
  flex-basis: calc((800px - 100%) * 999);
}

.why-use-monitor li > :first-child {
  display: flex;
  align-items: center;
  min-height: 40px;
  padding-left: 48px;
  margin: 0 0 var(--padding-md);
  background: no-repeat left center / 40px;
}

.why-use-monitor li > :last-child {
  margin: 0;
}

.why-use-monitor li:nth-of-type(1) > :first-child {
  background-image: url('../images/icon-shield.svg');
}

.why-use-monitor li:nth-of-type(2) > :first-child {
  background-image: url('../images/icon-mask.svg');
}

.why-use-monitor li:nth-of-type(3) > :first-child {
  background-image: url('../images/icon-megaphone.svg');
}

.how-it-works > h2 {
  text-align: center;
}

.how-it-works > ol {
  display: flex;
  flex-wrap: wrap;
  margin: var(--padding-lg) 0;
  gap: var(--gap);
  list-style: none;
  counter-reset: li;
}

.how-it-works li {
  --img-h: 150px;

  position: relative;
  flex-grow: 1;
  flex-basis: calc((800px - 100%) * 999);
  padding: 0 48px;
}

.how-it-works li::before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: calc(var(--img-h) - 16px);
  left: 0;
  line-height: 24px;
  width: 24px;
  color: var(--purple-70);
  border: 1px solid;
  border-radius: 50%;
  text-align: center;
}

.how-it-works li > img {
  height: var(--img-h);
  margin: 0 auto var(--padding-lg);
  object-fit: contain;
  object-position: bottom;
}
