/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

 .recruitment-banner {
    text-align: center;
    position: relative;
    padding: var(--padding-md) var(--padding-md) 1.5rem;
    background-color: var(--purple-50);
}

.recruitment-banner ul {
  list-style-type: none;
}

#recruitment-banner {
    color: white;
    text-decoration: underline;
    display: inline-block;
    padding: 0 var(--padding-md);

    /* Width of the dismiss button: */
    padding-right: var(--padding-xl);
    max-width: var(--max-width-p);
    margin: 0 auto;
}

#recruitment-banner:hover {
    cursor: pointer;
    text-decoration: none;
}

.recruitment-banner::after {
    height: 1px;
    background: var(--monitor-gradient);
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: .3;
}

.recruitment-banner .dismiss-btn {
    position: absolute;
    top: 0;
    bottom: 0;
    right: var(--padding-md);
    margin: auto;
    outline: none;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid transparent;
    padding: var(--padding-xs);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: var(--padding-xl);
    cursor: pointer;
    transition: border-color 0.3s ease-out;
}

.recruitment-banner .dismiss-btn:hover {
    border-color: var(--purple-70);
}

.recruitment-banner .dismiss-btn .x-close-icon path {
  fill: white;
}  
