/* This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/. */

:root {
  --multiplier: 1;
  --max-width: 1200px;
  --max-width-p: 800px;
  --min-width: 320px;
  --mobile-breakpoint: 480px;
  --border-radius: 4px;
  --checkbox-w: 20px;
  --padding-xs: calc(4px * var(--multiplier));
  --padding-sm: calc(8px * var(--multiplier));
  --padding-md: calc(16px * var(--multiplier));
  --padding-lg: calc(32px * var(--multiplier));
  --padding-xl: calc(64px * var(--multiplier));
  --gap: calc(32px * var(--multiplier));
  --h1-font: 700 2.5rem/1 metropolis, sans-serif;
  --h2-font: 700 1.75rem/1 metropolis, sans-serif;
  --h3-font: 700 1.25rem/1 metropolis, sans-serif;
  --h4-font: 700 1.125rem/1 metropolis, sans-serif;
  --gray-5: #f9f9fa;
  --gray-10: #e7e7e7;
  --gray-20: #cececf;
  --gray-30: #9e9e9e;
  --gray-40: #6d6d6e;
  --gray-50: #3d3d3d;
  --blue-5: #aaf2ff;
  --blue-50: #0060df;
  --blue-60: #0250bb;
  --blue-90: #09204d;
  --purple-5: #e7dfff;
  --purple-20: #cb9eff;
  --purple-40: #ab71ff;
  --purple-50: #9059ff;
  --purple-60: #7542e5;
  --purple-70: #592acb;
  --purple-90: #321c64;
  --green-05: #e3fff3;
  --green-80: #00a49a;
  --green-90: #00736c;
  --violet-5: #f7e2ff;
  --orange-5: #fff4de;
  --yellow-5: #ffc;
  --red-5: #ffdfe7;
  --red-60: #e22850;
  --red-70: #c50042;
  --pink-5: #ffdef0;
  --monitor-gradient: linear-gradient(-90deg, #ff9100, #f10366 50%, #6173ff);
}

@media (max-width: 480px) {
  :root {
    --multiplier: 0.75;
  }
}

@media screen and (prefers-reduced-motion: no-preference) {
  :root {
    --section-animation-opacity: 0;
    --section-animation-y: var(--padding-lg);
  }
}
