            <form action="/user/email" method="post" id="add-another-email-form" class="form-group add-new-email-form" data-event-category="Add Another Email Form">
              <div class="input-group">
                <input id="email-add" class="input-group-field" type="email" name="email" placeholder="Enter Email Address" aria-label="Enter Email Address" autocomplete="off">
                {{> forms/error-message }}
              </div>
              <div class="input-group-button">
                <input id="email-add-submit" type="submit" value="{{ getString "send-verification" }}" tabindex="1" />
                {{> forms/loader }}
              </div>
            </form>
