                  <form action="/user/remove-email" method="POST" class="remove-email svg-wrap" data-event-category="Remove Email Form"  aria-label="{{ getString "stop-monitor-this" }}">
                    <input type="hidden" name="emailId" value="{{ id }}" />
                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                    <input class="remove-email-submit" type="submit" value="" />{{> svg/trash-can}}
                  </form>
