                  <form action="/user/remove-email" method="POST" class="remove-email svg-wrap" aria-label="{{ getString "stop-monitor-this" }}">
                    <input type="hidden" name="emailId" value="{{ id }}" />
                    <input class="remove-email-submit" type="submit" value="" />{{> svg/x-close }}
                  </form>
