.sr {
  background-size: auto;
  padding-bottom: 40px;
}

.sr .headline {
  font-size: 32px;
}

.field {
  width: 100%;
  max-width: 600px;
  align-self: center;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding: 6px 24px;
  gap: 3px;
}

.field dl {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.field dl dt {
  font-weight: 400;
}

.field.scan-results-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.field.scan-results-wrapper .scan-result {
  overflow: hidden;
  width: 100%;
  box-shadow: 0 8px 12px 1px rgba(29, 17, 51, 0.04), 0 3px 16px 2px rgba(9, 32, 77, 0.12), 0 5px 10px -3px rgba(29, 17, 51, 0.12);
  background-color: white;
  border-radius: 8px;
}

.field.scan-results-wrapper .scan-result .scan-result-header {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 24px;
  height: auto;
}

.field.scan-results-wrapper .scan-result .scan-result-header h4 {
  font-family: "Metropolis", sans-serif;
  font-weight: 400;
  font-size: 16px;
  margin: 0;
  width: 100%;
}

.field.scan-results-wrapper .scan-result .scan-result-header .status {
  padding: 6px;
  border: 2px solid currentColor;
  border-radius: 3px;
  font-weight: 500;
  flex: 1 0 auto;
}

.field.scan-results-wrapper .scan-result .scan-result-header .status .is-new {
  color: var(--orange1);
}

.field.scan-results-wrapper .scan-result .scan-result-header .status.is-optout_in_progress,
.field.scan-results-wrapper .scan-result .scan-result-header .status.is-waiting_for_verification {
  color: var(--purple);
}

.field.scan-results-wrapper .scan-result .scan-result-header .status.is-removed {
  color: var(--violet3);
  background-image: url("../../img/svg/purple-check.svg");
  background-size: 16px auto;
  background-position: 4px center;
  background-repeat: no-repeat;
  padding-left: calc(4px + 16px + 4px);
}

.field.scan-results-wrapper .scan-result .scan-result-header .toggle-scan-result-button {
  position: relative;
  border: 2px solid transparent;
  width: 28px;
  height: 28px;
  padding: 4px;
}

.field.scan-results-wrapper .scan-result .scan-result-header .toggle-scan-result-button :focus {
  border-color: #0060df;
}

.field.scan-results-wrapper .scan-result .scan-result-header .toggle-scan-result-button svg {
  transition: transform 0.2s;
}

.field.scan-results-wrapper .scan-result .scan-result-body {
  max-height: 0;
  visibility: hidden;
  transition-property: max-height, padding;
  transition-duration: 0.2s, 0s;

  /* When collapsing, delay the padding removal until it's fully collapsed: */
  transition-delay: 0s, 0.2s;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 0;
}

.field.scan-results-wrapper .scan-result .scan-result-body p,
.field.scan-results-wrapper .scan-result .scan-result-body dl {
  margin: 0;
}

.field.scan-results-wrapper .scan-result .scan-result-body a:focus {
  outline: auto;
}

.field.scan-results-wrapper .scan-result.is-expanded .toggle-scan-result-button svg {
  transform: rotate(180deg);
}

.field.scan-results-wrapper .scan-result.is-expanded .scan-result-body {
  visibility: visible;
  max-height: 100vh;
  padding: 24px;

  /* When expanding, the increased padding should be applied immediately: */
  transition-delay: 0s;
}

form.profile-data input:not([type=submit]),
form.profile-data select {
  padding: 6px;
  background-color: white;
  border: 1px solid var(--grey3);
  border-radius: 3px;
  font-size: 16px;
  width: 250px;
}

form.profile-data input[type=submit] {
  width: 250px;
}

h3.scan-results-heading {
  font-size: 36px;
  margin-bottom: 0;
}
