{{#ifCompare foundBreaches.length ">" 1}}
  <div class="compromised-accounts">
    <div class="section-wrapper">
      {{#if fullReport}} <!-- show all breaches without button -->
        {{#each foundBreaches}}
          {{> breach_listing req=../req}}
        {{/each}}
      {{else}}
        <!--show first 4 breaches-->
        {{#eachFromTo foundBreaches 0 4 }}
          {{> breach_listing req=../req}}
        {{/eachFromTo}}
        <!--display "Show More" button and show remaining breaches onclick if foundBreaches.length > 4-->
        {{#ifCompare foundBreaches.length ">" 4}}
          <div id="additional-breaches" class="section-wrapper additional-breaches">
            {{#eachFromTo foundBreaches 4 foundBreaches.length }}
              {{> breach_listing req=../req}}
            {{/eachFromTo}}
          </div>
          <div class="whole">
            {{#if userDash}} <!-- show Full Report button on latest breaches page -->
              {{> fxa_enabled/see_full_report_button class="whole"}}
            {{else}}
              <button id="show-additional-breaches" class="button transparent-button">{{fluentFormat req.supportedLocales "show-all"}}</button>
            {{/if}}
          </div>
        {{/ifCompare}}
      {{/if}}
      {{> hibp_attribution additionalClasses="whole"}}
    </div>
  </div>
{{/ifCompare}}
