        <div class="half">
          {{#eachFromTo foundBreaches 0 1}}
            {{> breach_listing req=../req}}
          {{/eachFromTo}}
          {{> hibp_attribution additionalClasses="align-left"}}
        </div>
