@use "../../../../../tokens";

.wrapper {
  background-color: tokens.$color-grey-05;
  display: flex;
  flex-direction: column;
  gap: tokens.$spacing-lg;
  min-height: 100%;
  padding: tokens.$layout-lg tokens.$layout-2xl;

  @media screen and (max-width: tokens.$screen-lg) {
    padding: tokens.$spacing-lg;
  }
}

.header {
  font: tokens.$text-title-xs;
  font-weight: normal;

  b {
    font-weight: bold;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: tokens.$spacing-lg;

  .userPicker {
    flex: 1 0 auto;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: tokens.$spacing-lg;

    label {
      display: flex;
      flex-direction: column;
      gap: tokens.$spacing-sm;
      min-width: 50%;
    }

    input {
      padding: tokens.$spacing-sm;
      font: tokens.$text-body-md;
    }
  }
}

.actions {
  display: flex;
  flex-wrap: wrap;
  gap: tokens.$spacing-md;

  button {
    flex: 1 1 25%;
  }
}

.status {
  background-color: tokens.$color-yellow-05;
  border: 2px solid tokens.$color-yellow-20;
  border-radius: tokens.$border-radius-sm;
  padding: tokens.$spacing-md tokens.$spacing-lg;
  font: tokens.$text-body-md;
}
