<!-- Emails use the XHTML Strict doctype -->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width"/>
  </head>
  <body style="padding: 0; margin: 0; width: 100%; height: 100%; color: #333333;">
    <div align="center" style="min-height: 100%; height: 100%; margin: 0 auto; text-aling: left; max-width: 603px; width: 100%;">
      <div style="border: 1px solid #dddddd; text-align: left; width: 100%; padding-bottom: 30px; margin-top:20px;">
        {{>email_header_image}}
        {{{ body }}}
      </div>
    </div>
  </body>
</html>
