<div id="confirm-your-account" class="modal-content confirm-your-account">
  <h3 class="section-headline">Verify Your Subscription</h3>
  <div class="confirm-your-account-icon">
    {{> sprite symID="confirm-sending"}}
  </div>
  <p>Check your email for the verification link sent to <span id="submitted-email" class="medium"></span></p>
  <button id="resend-data" class="resend-data internal-link">Not in inbox or spam folder? Resend</button>
  <button data-analytics-label="After Sign Up" class="close-modal blue-button">Close</button>
</div>
