<div id="confirm-your-account" class="modal-content">
  <h3 class="section-headline">Verify Your Subscription</h3>
  <img class="confirm-your-account-icon" src="img/confirm-your-account.svg" />
  <p>Check your email for the verification link sent to <span id="submitted-email" class="medium"></span></p>
  <button id="resend-data" class="resend-data internal-link">Not in inbox or spam folder? Resend</button>
  <button class="close-modal blue-button">Close</button>
</div>
