<div id="confirm-your-account" class="modal-content">
  <h3 class="section-headline">Confirm Your Account</h3>
  <img src="img/confirm-your-account.svg" />
  <p>Check your email for a verification link.</p>
  <button class="close-modal blue-button">Close</button>
</div>
