<div id="subscribe-to-ffxm" class="modal-content">
  <h3 class="section-headline">Sign Up for Firefox Monitor</h3>
  <p>Sign up for your full report, alerts when new breaches happen, and safety tips from Firefox&nbsp;Monitor. <a {{> analytics/link_event eventLabel="Terms & Privacy - Sign Up Modal"}} class="internal-link" href="https://www.mozilla.org/privacy/firefox-monitor/" target="_blank" rel="noopener">Terms&nbsp;and&nbsp;Privacy</a></p>
  
  {{#if FXA_ENABLED }}
    <button id="subscribe-fxa-btn" class="button">Subscribe with Firefox Account</button>
  {{/if}}
  
  <form action="/user/add" id="subscribe-form" class="form-group" method="post" novalidate data-no-csrf>
    <div class="input-group">
      <input id="subscribe-email-input" class="input-group-field" type="email" name="email" placeholder="Enter email" minlength="1" aria-label="Enter email"  autocomplete="off" />
      <span id="invalid-signup-email-message" class="error-message">Must be a valid email.</span>
    </div>
    <div class="checkbox-group">
      <input id="additional-emails-checkbox" type="checkbox" name="additional-emails" value="additional-emails" />
      <label for="additional-emails-checkbox">Get the latest news from Mozilla and Firefox.</label>
    </div>
    <div class="input-group-button">
      <img class="loader" src="/img/loader.gif" alt="loading data" />
      <input id="subscribe-submit" type="submit" class="button submit-email blue-button" value="Sign Up"  />
    </div>
  </form>
  <button data-analytics-label="Before Sign Up" class="close-modal internal-link">Close</button>
</div>
