@use "../../../tokens";

.pageContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* makes sure the container takes up at least the full height of the viewport */

  .contentContainer {
    flex: 1;
    background-color: tokens.$color-grey-05;
    padding: tokens.$layout-lg 0;
  }

  .topBar {
    width: 100%;
    display: flex;
    align-items: flex-start;
    padding: tokens.$spacing-lg tokens.$spacing-2xl;
    background-color: tokens.$color-white;

    img {
      cursor: pointer;
    }
  }

  .footer {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: tokens.$color-white;
    padding: tokens.$spacing-lg tokens.$spacing-md;
    margin-top: auto; /* keep sticky */
    flex-direction: row-reverse;
    justify-content: space-between;

    @media screen and (min-width: tokens.$screen-md) {
      flex-direction: row;
      justify-content: flex-start;
      padding: tokens.$spacing-lg tokens.$spacing-2xl;
    }

    ul {
      list-style: none;
      display: flex;
      flex-direction: column;
      padding: 0;
      gap: tokens.$spacing-md;

      @media screen and (min-width: tokens.$screen-md) {
        flex-direction: row;
        margin-left: tokens.$layout-md;
        gap: tokens.$spacing-lg;
      }

      li {
        a {
          text-decoration: none;
          color: tokens.$color-grey-50;

          &:hover {
            color: tokens.$color-grey-30;
          }
        }
      }
    }
  }
}
