.dash-tabs {
  &-list {
    margin: 0;
  }
  &-item {
    padding: 13px 0;
    margin: 0 20px;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    &.active {
      border-bottom: 5px solid var(--blue3);
    }
    @include breakpoint(mobile) {
      margin: 0;
      width: 50%;
    }
  }
  &-link {
    font-size: 18px;
    color: var(--grey5);
    margin: 0 auto;
    .active & {
      color: var(--blue3);
    }
  }
  &-beta {
    font-size: 12px;
    color: var(--grey5);
    border: 1px solid var(--grey3);
    padding: 4px;
    border-radius: 4px;
  }
}
