@import "../../tokens";

.wrapper {
  display: flex;
  height: 100%;
}

.mainMenu {
  flex: 0 0 250px;
  box-shadow: 0px 4px 12px 0px $color-grey-10;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 1px;

  @media (prefers-reduced-motion: no-preference) {
    transition: flex 400ms;
  }

  .hasClosedMenu & {
    flex: 0 0 0;
    overflow: hidden;
  }

  hr {
    border-color: $color-grey-10;
    border-style: solid;
    border-bottom-style: none;
    margin-inline: 10%;
  }

  .collapseButtonWrapper {
    display: flex;
    justify-content: flex-end;
    padding: 4px;

    .collapseButton {
      padding: 3px 2px;
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: transparent;
      border-style: none;
      border-radius: 2px;

      svg {
        transform: rotate(180deg);
        fill: $color-grey-50;
      }

      &:hover {
        cursor: pointer;

        svg {
          fill: $color-blue-50;
        }
      }
    }
  }

  .homeLink {
    width: 100%;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.content {
  flex: 1 0 auto;
  align-self: stretch;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 500px) {
    .hasOpenMenu & {
      cursor: pointer;
      opacity: 0.7;
      background-color: $color-grey-50;
      flex: 1 1 0;
      overflow-x: hidden;
      transition: background-color 200ms, opacity 200ms;

      &:hover {
        background-color: $color-grey-40;
        opacity: 0.8;
      }
    }
  }

  .header {
    display: flex;
    align-items: center;

    .firstHalf {
      flex: 1 0 auto;
      display: flex;
      align-items: center;

      .mainControls {
        display: flex;
        align-items: center;

        .expandButton,
        .homeLink {
          transition: flex 500ms, opacity 500ms;

          .hasClosedMenu & {
            flex: 1 1 auto;
            opacity: 1;
          }

          .hasOpenMenu & {
            flex: 0 1 0;
            opacity: 0;
            display: none;
          }
        }

        .expandButton {
          background-color: transparent;
          border-style: none;
          cursor: pointer;
          padding: 4px;

          &:hover svg {
            fill: $color-blue-50;
          }
        }
      }
    }
  }

  .page {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
  }
}
