@font-face {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: local("Metropolis-Bold"),
    url("./Metropolis/Metropolis-Bold.woff2") format("woff2");
}

@font-face {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 600;
  font-display: optional;
  src: local("Metropolis-SemiBold"),
    url("./Metropolis/Metropolis-SemiBold.woff2") format("woff2");
}

@font-face {
  font-family: Metropolis;
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: local("Metropolis-Medium"),
    url("./Metropolis/Metropolis-Medium.woff2") format("woff2");
}
