    <header>
      <section class="row-full-width">
        <a class="flx-cntr" href="/" {{> analytics/internal-link eventLabel="Fx-Monitor-Logo" }}>
          <div class="sprite fx-monitor-logo"><!--Firefox Monitor logo--></div>
          <h1 class="fx-monitor"><span>Firefox</span> Monitor</h1>
        </a>
        <nav class="desktop-menu flx-cntr">
          {{> header/nav-links }}
          {{#if req.session.user}}
            {{> header/fxa-menu }}
          {{else}}
            <button id="sign-in-btn" class="open-oauth sign-in">{{ getString "sign-in" }}</button>
          {{/if}}
        </nav>
      </section>
      <!--mobile navigation-->
      <section class="mobile-nav show-mobile">
        <span class="nav-link drop-down-menu">Menu</span>
        <nav class="mobile-menu flx-cntr row-full-width">
          {{> header/nav-links }}
        </nav>
      </section>
    </header>
