
  <table class="email-logo" bgcolor="#19347a" align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="padding: 30px; max-width: 603px; text-align: left; background-image: url('{{ SERVER_URL }}/img/email_images/wave-header.png'), linear-gradient(155deg, #072d8f 3%,#221232 50%); background-repeat: no-repeat, no-repeat; background-position: -40px -50px, top center; background-size: 850px auto, cover; background-attachment: scroll, scroll;">
    <tr>
      <td class="logomark-wrapper" valign="top" style="text-align: left; padding-top: 5px; width: 70px;">
        <img class="firefox-monitor-logomark" width="60" style="width: 60px;" src="{{ SERVER_URL }}/img/firefox-monitor-logo.png" />
      </td>
      <td valign="center" style="text-align: left;">
        <h1 class="firefox-monitor-logotype" style="color: #ffffff; padding: 0px; margin: 0px; font-size: 30px; font-weight: 400;">Firefox <span style="color:#ffffff; font-weight: 300;">Monitor</span></h1>
      </td>
    </tr>
  </table>
