
  <table align="center" class="email-button-table" align="center" border="0" cellpadding="0" cellspacing="0" width="100%" style="max-width: 400px;" >
    <tr>
      <td>
        <table align="center" width="100%">
          <tr>
            <td width="100%" class="email-button-wrapper" align="center" bgcolor="#0060df" style="width: 100%; border-radius: 8px; font-family: sans-serif;">
              <a class="email-button" href="{{ href }}" rel="noopener" style="text-align: center; text-decoration: none; color: #ffffff; padding-top: 12px; padding-right: 30px; padding-left: 30px; padding-bottom: 12px; display: inline-block; font-size: 15px; box-sizing: border-box; width: 100%;">
                {{ getEmailCTA }}
              </a>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
