{{!< default_email }}

  <table align="center" class="verify-email" border="0" cellspacing="0" cellpadding="0" width="100%" style="text-align: center; margin: 0px; outline: none; border-width: 0px;">
    <tr>
      <td valign="top" style="padding-top: 30px; padding-bottom: 10px;">
        <p class="body-copy" style="font-weight: 300; width: 100%; font-size: 17px; margin: 0px; color: #333333;">
          {{fluentFormat supportedLocales "click-to-verify"}}
        </p>
      </td>
    </tr>
  </table>
  <table border="0" cellspacing="0" cellpadding="0" width="100%" style="width: 100%; padding-top: 30px; padding-bottom: 30px;">
    <tr>
      <td>
        {{>email_partials/email_button href=verificationHref fluentStringID="verify-my-email"}}
      </td>
    </tr> 
  </table>
