<table cellpadding="8"
    style="margin-top: 32px; padding-bottom:32px; border-bottom:1px solid #eee; font: 15px/1.2 sans-serif; text-align:left">
    <caption style="font-size: 19px">Protect yourself with more of our products</caption>
    <tr>
        <td align="center" border="0">
            <img align="center" src="{{ @root.SERVER_URL }}/img/email_images/products-vpn.png" width="201" height="201"
                style="width:100px; height:auto">
        </td>
        <td>Protection for your whole device, on every device. <br><a href="https://www.mozilla.org/en-US/products/vpn/"
                style="display:block; color: #0250bb; margin-top: 8px; text-decoration:none">Get
                Mozilla VPN</a></td>
    </tr>
    <tr>
        <td align="center" border="0">
            <img align="center" src="{{ @root.SERVER_URL }}/img/email_images/products-relay.png" width="220"
                height="142" style="width:100px; height:auto">
        </td>
        <td>Hide your real email address to help protect your identity. <br><a href="https://relay.firefox.com/"
                style="display:block; color: #0250bb; margin-top: 8px; text-decoration:none">Get Firefox
                Relay</a></td>
    </tr>
</table>