<tr class="email-faq" style="padding-top: 15px; font-family: sans-serif;"">
  <td colspan="2" valign="top" style="padding-top: 10px;">
    <p class="body-copy email-sub-head" style="color: #333333; font-weight: 300; font-size: 22px; padding-top: 30px; margin: 0px; ">
      {{ getString "frequently-asked-questions" }}
    </p>
  </td>
</tr>
 {{#getBreachAlertFaqs}}
  <tr class="email-faq-link">
    <td valign="top" style="width: 60px;">
    </td>
    <td valign="top" style="padding-top: 10px;">
      <a href="{{ href }}" style="color: #0060df; font-weight: 400; font-size: 14px; padding: 0px; margin: 0px; ">
        {{ linkTitle }}
      </a>
    </td>
  </tr>
{{/getBreachAlertFaqs}}
 <tr style="padding-top: 30px;"></tr>
