<table style="border-top: 1px solid #eee; padding: 30px 0 0 0;">
  <tr class="email-faq">
    <td colspan="2" valign="top" style="padding-bottom: 10px;">
      <p class="faq-header" style="color: #20123a; font-family: sans-serif; font-weight: 400; font-size: 20px; margin: 0px; text-align: left;">
        {{ getString "frequently-asked-questions" }}
      </p>
    </td>
  </tr>
  {{#getBreachAlertFaqs}}
    <tr>
      <td class="email-faq-bullet" valign="top" width="10px" style="padding-top: 10px;">
        <p style="margin: 0; padding: 0; font-size: 20px; font-weight: 700;  color: #20123a; font-family: sans-serif;">&bull;</p>
      </td>
      <td class="email-faq-link" valign="top" align="center" style="text-align: left; padding: 10px;">
        <a href="{{ href }}" class="faq-link body-copy" style="color: #0060df; font-family: sans-serif; font-weight: 400; font-size: 15px; display: inline-block; margin: 0px; text-decoration: none; line-height: 1.5;">
          {{ linkTitle }}
        </a>
      </td>
    </tr>
  {{/getBreachAlertFaqs}}
</table>
