                  <table class="breach-stat"  width="100%" border="0" cellpadding="0" cellspacing="0" style="background-color: #f0f0f4; border-radius: 10px; padding: 20px;">
                    <tr>
                      <td class="breach-stat-number-wrap" valign="center" align="center" style="text-align: center; width: 70px;">
                        <p class="breach-stat-number" style="color: #20123a; font-size: 35px; font-family: sans-serif; font-weight: 600; margin: 0;">{{ statNumber }}</p>
                      </td>
                      <td valign="center" style="text-align: left; padding: 0 20px;">
                        <p class="breach-stat-title" style="color: #42425a; font-size: 16px; line-height: 1.5; font-family: sans-serif; font-weight: 400; margin: 0; padding: 0;">{{ statTitle }}</p>
                      </td>
                    </tr>
                  </table>
