{{!< default_email }}

  <table align="center" class="verify-email" width="100%" style="max-width: 400px; text-align: center; padding-bottom: 30px;">
    <tr>
      <td align="center">
        <p class="email-subhead" style="font-weight: 300; font-size: 17px; margin: 0px; color: #20123a; font-family: sans-serif; line-height: 1.5;">{{ getString "email-verify-blurb" }}</p>
      </td>
    </tr>
  </table>
