        <tr>
          <td><!--empty cell to align HIBP attribution with other table items--></td>
          <td>
            <span class="source-info">{{{getEmailString supportedLocales "hibp-attribution" hibp-link='<a id="hibp-link" href="https://www.haveibeenpwned.com" target="_blank" rel="noopener noreferrer">Have I Been Pwned</a>'}}}</span>
          </td>
        </tr>
