<tr>
  <td style="color: black; background: #F9F9FA; padding: 36px 0 24px;">
    <p>{{ getString "email-verify-simply-click" }}</p>
    <a href="{{ ctaHref }}"
      style="display: inline-block; margin: auto; color: white; background-color: #0060DF; border-radius: 4px; padding: 12px 24px; margin: 24px 0">{{
      getString "verify-email-cta" }}</a>
    <p>
      <strong>{{ getString "email-link-expires" }}</strong>
    </p>
  </td>
  </tr>
