{{!< removal_email }}

<!--report subhead-->
<table width="100%">
  <tr>
    <td align="center" style="max-width: 450px;">
      <p
        class="email-subhead"
        style="color: rgb(32, 18, 58); font-size: 16px; font-weight: 400; font-family: sans-serif; text-align: center; margin: 0; padding: 0 0 20px 0; line-height: 1.5;"
      >
        {{{getString "removal-fxa-email-signup"}}}
      </p>
    </td>
  </tr>
</table>