@import "../../../../tokens";

.brokersEmphasis {
  display: inline;
  color: $color-violet-50;
}
.breachesEmphasis {
  display: inline;
  color: $color-purple-70;
}

.header {
  padding: $layout-lg $spacing-md;
  display: flex;
  justify-content: center;
  span {
    width: 100%;
    max-width: $content-xl;
  }
  @media screen and (min-width: $content-md) {
    padding: $layout-lg;
  }
  .title {
    font: $text-title-lg;
    color: $color-grey-60;
  }
  h2 {
    color: $color-grey-60;
    font: $text-title-md;
  }
  p {
    color: $color-grey-40;
    font: $text-body-xl;
  }
}
.sectionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  &.grayBG {
    background: $color-grey-05;
  }
  ul {
    list-style-type: none;
    padding: 0;
  }
  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: $content-xl;
    padding: $spacing-sm;
    @media screen and (min-width: $content-md) {
      padding: $spacing-2xl 0;
      gap: $spacing-lg;
    }
    .introContent {
      gap: $spacing-md;
      display: flex;
      flex-direction: column;
      h2 {
        color: $color-grey-60;
        font: $text-title-md;
      }
      p {
        color: $color-grey-40;
        font: $text-body-xl;
      }
      .horizontalRule {
        border: 1px solid $color-grey-20;
        margin: $spacing-md 0;
      }
    }
    .introCTA {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      gap: $spacing-lg;
      padding-inline: $spacing-md;
      padding-block-start: $spacing-xl;
      width: 100%;
      h3 {
        color: $color-grey-50;
        font: $text-title-xs;
        flex: auto;
        max-width: $content-xl;
        @media screen and (min-width: $screen-md) {
          width: $content-sm;
        }
      }
    }
  }
  .step {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: $content-xl;
    &.reversedStep {
      flex-direction: column-reverse;
    }
    .stepTextContainer {
      max-width: $content-sm;
      padding: $spacing-sm;
      .stepTitle {
        font: $text-title-2xs;
        padding-block-start: $spacing-xl;
      }
      .stepSubtitle {
        color: $color-grey-50;
        font: $text-title-xs;
        padding-block-start: $spacing-md;
      }
      .stepBody {
        color: $color-grey-50;
        padding-block-start: $spacing-md;
      }
      .stepGroupTitleAfter1st {
        padding-block-start: $spacing-2xl;
      }
      .privateInfoRow {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: $spacing-xs;
        padding-block-start: $spacing-sm;
        width: 100%;
        .privateInfoText {
          color: $color-grey-50;
        }
        img {
          width: 30px;
          margin-top: $spacing-sm;
          margin-right: $spacing-sm;
        }
        .boldedText {
          font-weight: 700;
        }
      }
    }
    @media screen and (min-width: $screen-md) {
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      padding: $spacing-md;
      gap: $spacing-lg;
      &.reversedStep {
        flex-direction: row;
      }
      .stepTextContainer {
        max-width: $content-xs;
      }
      img {
        max-width: $content-xs;
      }
    }
    @media screen and (min-width: $screen-lg) {
      padding: $spacing-xs;
      .stepTextContainer {
        max-width: $content-sm;
      }
      img {
        max-width: $content-sm;
      }
    }
    @media screen and (min-width: $screen-xl) {
      padding: $spacing-xs;
      .stepTextContainer {
        max-width: $content-md;
      }
      img {
        max-width: $content-sm;
      }
    }
  }
  .sectionCTAButton {
    display: grid;
    max-width: $content-sm;
    width: 100%;
    margin: $spacing-md 0;
    button {
      padding: $spacing-md $spacing-xl;
    }
    a {
      margin-inline: $spacing-lg;
    }
    &.breachesCTAButton {
      padding-inline: $spacing-md;
      margin-top: -$spacing-2xl;
      margin-bottom: $spacing-xl;
    }
    @media screen and (min-width: $screen-md) {
      width: unset;
      max-width: unset;
      a {
        margin: unset;
      }
    }
  }
  @media screen and (min-width: $screen-md) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: unset;
    margin-bottom: $layout-lg;
    a {
      margin: $layout-md;
    }
    button {
      margin: $layout-md;
    }
  }
  @media screen and (min-width: $screen-lg) {
    padding-inline: $layout-lg;
  }
}
.footerSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: $color-purple-05;
  padding: $spacing-xl $spacing-md;
  .footerSectionCTA {
    color: $color-black;
    font: $text-title-md;
  }
  .footerSectionCTAInput {
    display: flex;
    flex-wrap: wrap;
    gap: $spacing-lg;
    margin-top: $spacing-md;
    margin-bottom: $spacing-md;
    input {
      flex: 1 0 auto;
      border-radius: $border-radius-md;
      border: 1px solid $color-grey-20;
      padding: $spacing-md;
      font: $text-body-md;
    }
    button {
      flex: 1 0 auto;
      font: $text-body-md;
      font-weight: 600;
    }
  }
  .note {
    color: $color-grey-40;
    font: $text-body-sm;
    margin-top: $spacing-md;
  }
  @media screen and (min-width: $screen-md) {
    .footerSectionCTAInput {
      input {
        padding: $spacing-md $spacing-xl $spacing-md $spacing-md;
        margin-right: $spacing-lg;
      }
    }
  }
  @media screen and (min-width: $screen-lg) {
    padding: $layout-xl $spacing-md;
    .footerSectionCTAInput {
      margin-top: $spacing-md;
      margin-bottom: $spacing-2xl;
    }
    .note {
      margin-top: $spacing-2xl;
    }
  }
}
