@import "../../../../tokens";

.header {
  padding: $layout-lg $spacing-md;
  display: flex;
  justify-content: center;

  @media screen and (min-width: $content-md) {
    padding: $layout-lg;
  }
  .title {
    font: $text-title-lg;
    color: $color-grey-60;
  }
  h2 {
    color: $color-grey-60;
    font: $text-title-md;
  }
  p {
    color: $color-grey-40;
    font: $text-body-xl;
  }
}

.brokersEmphasis {
  display: inline;
  color: $color-violet-50;
}
.breachesEmphasis {
  display: inline;
  color: $color-purple-70;
}
.boldedText {
  font-weight: 700;
}
.horizontalRule {
  border: 1px solid $color-grey-20;
  margin: $spacing-md 0;
}

.footer {
  background: $color-purple-05;
  .footerCTA {
    color: $color-black;
    font: $text-title-md;
  }
  .note {
    color: $color-grey-40;
    font: $text-body-sm;
  }
}

.item {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: space-between;
  padding: $spacing-2xl $spacing-md;
  gap: $spacing-lg;

  .exposureTypeList {
    font-weight: 600;
    color: $color-purple-70;
    display: inline;
  }
}
.sectionWrapper {
  &.grayBG {
    background: $color-grey-05;
  }

  .intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-2xl $spacing-md;
    gap: $spacing-lg;

    @media screen and (min-width: $content-md) {
      padding: $layout-lg;
    }
    .introContent {
      gap: $spacing-md;
      display: flex;
      flex-direction: column;

      h2 {
        color: $color-grey-60;
        font: $text-title-md;
      }

      p {
        color: $color-grey-40;
        font: $text-body-xl;
      }

      .horizontalRule {
        border: 1px solid $color-grey-20;
        margin: $spacing-md 0;
      }
    }
    .introCTA {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      gap: $spacing-lg;
      padding-inline: $spacing-md;
      padding-block-start: $spacing-xl;
      width: 100%;
      h3 {
        color: $color-grey-50;
        font: $text-title-xs;
        flex: auto;
        max-width: $content-xl;
      }
    }
  }

  .step {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-2xl;
    gap: $spacing-lg;

    .stepTextContainer {
      width: 50%;

      .stepTitle {
        font: $text-title-2xs;
        padding-block-start: $spacing-xl;
      }
      .stepSubtitle {
        color: $color-grey-50;
        font: $text-title-xs;
        padding-block-start: $spacing-md;
      }
      .stepBody {
        color: $color-grey-50;
        padding-block-start: $spacing-md;
      }
      .stepGroupTitleAfter1st {
        padding-block-start: $spacing-xl;
      }

      .privateInfoRow {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: start;
        gap: $spacing-lg;
        padding-block-start: $spacing-sm;
        width: 100%;
        .privateInfoText {
          color: $color-grey-50;
        }
        img {
          margin-top: $spacing-sm;
        }
      }
    }
  }

  @media screen and (min-width: $screen-md) {
    padding-inline: $layout-lg;
    padding-block: $layout-sm;
    flex-direction: row;
    gap: $spacing-xl;

    &.reverseRow {
      flex-direction: row-reverse;
    }

    @media screen and (min-width: $screen-lg) {
      padding-inline: $layout-lg;
      gap: $layout-xl;

      @media screen and (min-width: $screen-xl) {
        padding-inline: $layout-xl;
      }
    }
  }
  .sectionCTAButton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: $layout-lg;
  }
}

.resolveDataBreachesWrapper {
  @media screen and (min-width: $screen-md) {
    padding-inline: $layout-lg;
    padding-block: $layout-sm;
    flex-direction: row;
    gap: $spacing-xl;

    &.reverseRow {
      flex-direction: row-reverse;
    }

    @media screen and (min-width: $screen-lg) {
      padding-inline: $layout-lg;
      gap: $layout-xl;

      @media screen and (min-width: $screen-xl) {
        padding-inline: $layout-xl;
      }
    }
  }
}
