@import "../../../../tokens";

.removeFromDataBrokersWrapper {
  background: $color-grey-05;
  .header {
    h2 {
      .emphasis {
        display: inline;
        color: $color-violet-50;
      }
    }
    .horizontalRule {
      border: 1px solid $color-grey-20;
      margin: $spacing-md 0;
    }
  }

  .item {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: space-between;
    padding: $spacing-2xl $spacing-md;
    gap: $spacing-lg;

    .exposureTypeList {
      font-weight: 600;
      color: $color-purple-70;
      display: inline;
    }
  }

  @media screen and (min-width: $screen-md) {
    padding-inline: $layout-lg;
    padding-block: $layout-sm;
    flex-direction: row;
    gap: $spacing-xl;

    &.reverseRow {
      flex-direction: row-reverse;
    }

    @media screen and (min-width: $screen-lg) {
      padding-inline: $layout-lg;
      gap: $layout-xl;

      @media screen and (min-width: $screen-xl) {
        padding-inline: $layout-xl;
      }
    }
  }
}
