<nav id="fxa-navigation" class="fxa-navigation">
  {{#if req.session.user }}
    {{> fxa_enabled/menu/fxa_menu_icon}}
    <div id="fxa-user-info" class="fxa-user-info">
      <span id="user-email" class="user-email hide-mobile">{{ req.session.user.email }}</span>
        {{> fxa_enabled/menu/fxa_avatar addClass="hide-mobile"}}
        {{> fxa_enabled/menu/fxa_links class="fxa-menu desktop" }}
    </div> 
  {{else}}
    <button id="login-btn" class="login-btn open-oauth transparent-button" data-event-category="Sign In Button" {{>analytics/fxa id="fx-monitor-sign-in-button"}}>
      {{getString "sign-in"}}
    </button>
  {{/if}}
</nav>
