@import "../../../../../../../tokens";

.recommendations {
  padding-top: $spacing-md;
  p {
    font: $text-body-sm;
  }
  ul,
  ol {
    padding-top: $spacing-md;
    padding-left: $spacing-lg;

    li {
      margin-bottom: $spacing-xs;
      align-items: flex-start;
    }
  }
}

.breachItemsWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: $spacing-xs;

  .breachItem {
    font: $text-body-sm;
    font-weight: 600;
    background: $color-grey-10;
    padding: $spacing-xs $spacing-sm;
    border-radius: $border-radius-md;

    .date {
      font-weight: 400;
    }
  }
}
