@import "../../../tokens";

.button {
  font: $text-body-md;
  font-weight: 600;
  border: 0;
  padding: $spacing-md $spacing-lg;
  border-radius: $border-radius-sm;
  cursor: pointer;
  display: inline-block;
  line-height: 1;

  &.primary {
    color: $color-white;
    background-color: $color-blue-50;
  }

  &.secondary {
    color: $color-blue-50;
    border: solid 2px $color-blue-50;
    background-color: transparent;
  }

  &.large {
    font: $text-body-lg;
    color: $color-white;
    background-color: $color-blue-50;
  }
}
