@import "../../../tokens";

.exposureCard {
  font: $text-body-md;
  border: 2px solid rgba($color-purple-70, 0.2);
  border-radius: $border-radius-md;
  max-width: $content-xl;
  .exposureHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: $spacing-sm 0;
    gap: $layout-md;

    .chevronDown {
      padding-right: $spacing-lg;
    }
  }
  ul.exposureHeaderList {
    list-style: none;
    display: flex;
    align-items: center;
    gap: $layout-md;
    margin: 0;
    padding: 0 $spacing-sm;
    width: 100%;

    li {
      flex: 1;
      display: flex;
      align-items: center;
    }

    .exposureImage {
      max-width: 150px;
      height: 100%;
    }
  }

  .exposureDetailsSection {
    margin: 0;
    padding: 0 $spacing-sm;
    overflow: hidden;
    height: 0;

    &.isOpen {
      border-top: 2px solid rgba($color-purple-70, 0.2);
      overflow: auto;
      height: auto;
    }

    ul {
      justify-content: space-between;
      list-style: none;
      margin-left: 0;
      padding-left: 0;
      display: flex;
      align-items: center;
      gap: $layout-md;
    }
  }
}
