@import "../../../tokens.scss";

.falseDoorTestWrapper {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding-inline: $spacing-2xl;
  padding-block: $spacing-md;
  width: 100%;
  align-items: center;
  background-color: #ffdff0;
  display: flex;
  flex: row;
  justify-content: space-between;
  gap: $spacing-xl;

  .dismiss {
    align-self: flex-start;
    margin-left: auto;
    color: $color-grey-40;
  }

  .content {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding-left: $spacing-xl;
    align-items: center;
    gap: $spacing-md;
    width: 100%;
    justify-content: space-between;

    .logo {
      width: 50px;
      height: 50px;
    }

    p {
      margin: 0;
    }

    .cta {
      margin-left: auto;
      padding-inline: $spacing-xl;
      padding-block: $spacing-md;
      background: $color-blue-50;
      font-weight: 600;
      color: $color-white;
      border-radius: $border-radius-xs;
    }
  }
}
