name: Build

permissions: {}

on: [push]

jobs:
  npm-build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          persist-credentials: false
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20.19.x'
      - run: npm ci
      - run: npm run build-glean
      # Verify that the build (incl. type-checking) succeeds
      # Upload sourcemaps to Sentry
      - run: npm run build
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
