name: Build Docker image check

permissions: {}

on:
  pull_request:
jobs:
  docker_build:
    name: Build Docker image
    runs-on: ubuntu-latest
    steps:
      - name: Check Docker Version
        run: docker --version

      - name: Install Latest Docker
        run: |
          curl -fsSL https://download.docker.com/linux/ubuntu/gpg | sudo apt-key add -
          sudo add-apt-repository "deb [arch=amd64] https://download.docker.com/linux/ubuntu  $(lsb_release -cs)  stable"
          sudo apt-get update
          sudo apt-get install docker-ce

      - name: Check out the repo
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Build Docker image
        run: docker build .
        env:
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          NEXTAUTH_SECRET: "Unused, like the build result — we're just verifying that a build can succeed."
          SENTRY_DSN: "Unused, like the build result — we're just verifying that a build can succeed."
          EMAIL_FROM: "Unused, like the build result — we're just verifying that a build can succeed."
          HIBP_KANON_API_TOKEN: "Unused, like the build result — we're just verifying that a build can succeed."
          ONEREP_API_KEY: "Unused, like the build result — we're just verifying that a build can succeed."
          S3_BUCKET: "Unused, like the build result — we're just verifying that a build can succeed."
