name: Lint

on: [push]

jobs:
  npm-lint:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22.5.x'
      - run: npm ci
      - run: npm run build-glean
      - run: npm run build-nimbus
      # Mirror old linter from CircleCI, verifies that linter succeeds
      - run: npm run lint
      - run: node scripts/check-node-version-alignment.js
