name: Lint Reference Files
on:
  push:
    paths:
      - 'locales/en/**.ftl'
    branches:
      - main
      - localization
  pull_request:
    paths:
      - 'locales/en/**.ftl'
    branches:
      - main
      - localization ]
  workflow_dispatch:
jobs:
  linter:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v3
      - name: Set up Python 3
        uses: actions/setup-python@v3
        with:
          python-version: '3.10'
          cache: 'pip'
      - name: Install Python dependencies
        run: |
          pip install -r .github/requirements.txt
      - name: Lint reference
        run: |
          moz-fluent-lint ./locales/en --config .github/linter_config.yml
