name: Lint Reference Files

permissions: {}

on:
  push:
  pull_request:
  workflow_dispatch:
jobs:
  l10n-lint:
    runs-on: ubuntu-latest
    steps:
      - name: Clone repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false
      - name: Set up Python 3
        uses: actions/setup-python@v6
        with:
          python-version: '3.10'
          cache: 'pip'
      - name: Install Python dependencies
        run: |
          pip install -r .github/requirements.txt
      - name: Lint reference strings
        run: |
          moz-fluent-lint ./locales/en/ --config .github/linter_config.yml
      - name: Lint pending strings
        if: always() # This step should run even if the previous one fails
        run: |
          moz-fluent-lint ./locales-pending/ --config .github/linter_config.yml
