name: Retag and Push Docker Image on Release

permissions: {}

# GH release should always create a tag automatically
on:
  push:
    tags:
      - '*'

jobs:
  retag-and-push:
    runs-on: ubuntu-latest

    steps:
    - name: Check out the repo
      uses: actions/checkout@v5
      with:
        persist-credentials: false

    - name: Log in to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@v5
      with:
        images: mozilla/blurts-server
        tags: type=sha,format=short,prefix=

    - name: Pull Docker image with commit tag
      env:
        TAGS: ${{ steps.meta.outputs.tags }}
      run: docker pull $TAGS

    - name: Tag Docker image with release tag
      env:
        TAGS: ${{ steps.meta.outputs.tags }}
      run: docker tag $TAGS mozilla/blurts-server:${{ github.ref_name }}

    - name: Push Docker image with release tag
      run: docker push mozilla/blurts-server:${{ github.ref_name }}
