@import "../../../../../tokens";

.container {
  background-color: $color-white;
  background-image: url("./images/dashboard-top-banner-wave.svg");
  background-position: center;
  background-size: cover;
  border-radius: $border-radius-md;
  border: 1px solid rgba($color-purple-50, 0.2);
  display: flex;
  flex-direction: column;
  gap: $layout-xs;
  padding: $layout-xs;

  @media screen and (min-width: $screen-lg) {
    padding: $layout-md;
    flex-direction: row;
  }

  .explainerContentWrapper {
    align-items: center;
    display: flex;
    justify-content: center;

    @media screen and (min-width: $screen-md) {
      justify-content: center;
      flex: 0.5 1 0%;

      @media screen and (min-width: $screen-xl) {
        flex: 1 1 0%;
      }
    }

    .explainerContent {
      display: flex;
      gap: $spacing-md;
      flex-direction: column;

      @media screen and (min-width: $screen-md) {
        max-width: $content-sm;
      }

      h3 {
        font: $text-title-2xs;
      }

      .cta {
        align-self: start;
      }
    }
  }

  .chart {
    @media screen and (min-width: $screen-md) {
      flex: 1 1 0%;
    }
  }
}
