@import "../../../../../tokens";

.wrapper {
  width: 100%;
  height: 100%;
  background-color: $color-grey-05;
}

.dashboardContent {
  padding-block: $spacing-2xl;
  padding-inline: $spacing-xl;
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
}

.exposuresArea {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;

  .exposuresAreaHeadline {
    font: $text-body-xl;
    font-weight: 600;
  }

  .exposuresAreaDescription {
    font: $text-body-md;
  }

  .exposuresFilterWrapper {
    padding-block: $spacing-md;
  }
}

.exposureList {
  list-style-type: none;
  padding-inline: 0;
  display: flex;
  flex-direction: column;
  gap: $spacing-lg;
}

.visuallyHidden {
  // These styles are taken from
  // https://react-spectrum.adobe.com/react-aria/VisuallyHidden.html
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: 0 -1px -1px 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
