@import "../../../../../../tokens";

.fixWrapper {
  margin: 0 auto $spacing-2xl;
  max-width: $content-xl;
  border-radius: $border-radius-md;
  padding: $layout-lg $spacing-xl $spacing-2xl;
  background-color: $color-white;
  background-image: url("./images/content-background.svg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.fixSection {
  position: relative;

  @media screen and (min-width: $screen-md) {
    // Add horizontal padding to account for next/prev arrow placement on larger screens
    padding: 0 $spacing-2xl;
  }

  @media screen and (min-width: $screen-xl) {
    padding: 0;
  }
}

.navArrowBack {
  position: absolute;
  left: $spacing-md;
  top: $layout-xl;
  appearance: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  display: none;
}

.navArrowNext {
  position: absolute;
  right: $spacing-md;
  top: $layout-xl;
  display: none;
}

.navArrowBack,
.navArrowNext {
  @media screen and (min-width: $screen-md) {
    display: block;
  }
}

.navClose {
  position: absolute;
  right: $spacing-md;
  top: $spacing-md;
}
