@use "../../../tokens";

.toolbar {
  background: tokens.$color-white;
  height: tokens.$tab-bar-height;
  border-bottom: 1px solid tokens.$color-grey-20;
  box-shadow: tokens.$box-shadow-xs;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 1;

  .start {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
    padding-inline: tokens.$spacing-xl;
  }

  .end {
    padding-inline: tokens.$spacing-xl;
    display: flex;
    align-items: center;
    gap: tokens.$spacing-md;
  }

  @media screen and (max-width: tokens.$screen-md) {
    .start {
      justify-content: center;
    }

    .end {
      display: none;
    }
  }
}
